<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-between align-items-center">
            <a
              class="btn btn-outline-secondary"
              href="javascript:void()"
              role="button"
              (click)="cargarReporte()"
            >
              <i *ngIf="cargando" class="fas fa-spinner   fa-spin "></i>
              Actualizar
            </a>
            <a
              class="btn btn-outline-secondary"
              
              role="button"
              (click)="imprimir(this.reportes)"
            >
              <i  class="fas fa-print "></i>
              Imprimir
            </a>

            <h3>
              Ultima actualizacion:
              {{ actualizacion | fecha: 'LLLL' | titlecase }}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-reporte-de-faltantes-producto-terminado-base-imprimible
              [reportes]="reportes"
            ></app-reporte-de-faltantes-producto-terminado-base-imprimible>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
