<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" class="no-imprimir">
  <app-pre-loader></app-pre-loader>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <!-- ============================================================== -->
  <!-- Page Wrapper -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->

      <router-outlet></router-outlet>
      <!-- <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-body">
                                  This is some text within a card block.
                              </div>
                          </div>
                      </div>
                  </div> -->
      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- END Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- END Page wrapper -->
  <!-- ============================================================== -->
</div>

<!-- Modal upload -->
<app-modal-upload></app-modal-upload>

<!-- 
      =====================================
       version
      =====================================
      -->
<div
  class="modal fade zoomInDown no-imprimir"
  id="modelId"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>IMPERIUMsic</b> 2021</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>
          Cambios de la version {{ guiVersion }} [
          <span class="text-muted">{{ apiVersion }}</span> ]
        </h1>
        <markdown [data]="changelogData"></markdown>

        <ng-container *ngIf="'SUPER_ADMIN' | contieneElPermiso">
          <ng-container *ngIf="changelogService.editando">
            <div class="form-group">
              <label for="">CHANGELOG</label>
              <textarea
                [(ngModel)]="changelogData"
                class="form-control"
                name=""
                id=""
                rows="20"
              ></textarea>
            </div>

            <a
              (click)="guardarChangeLog(changelogData)"
              class="btn btn-primary btn-sm"
              href="javascript:void(0)"
            >
              <i *ngIf="!changelogService.guardando" class="fas fa-save"></i>
              <i
                *ngIf="changelogService.guardando"
                class="fas fa-sync fa-spin-fast"
              ></i>

              Guardar</a
            >
          </ng-container>

          <a
            *ngIf="!changelogService.editando"
            (click)="changelogService.editando = !changelogService.editando"
            class="btn btn-secondary"
            href="javascript:void(0)"
            role="button"
          >
            Editar changelog</a
          >
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 
      =====================================
       END version
      =====================================
      -->

<!-- 
      =====================================
       Visor de imagenes
      =====================================
      -->
<app-visor-de-imagenes-general></app-visor-de-imagenes-general>

<!-- 
      =====================================
       END Visor de imagenes
      =====================================
      -->

<app-gestor-de-impresiones> </app-gestor-de-impresiones>
