<div class="d-flex align-items-center justify-content-center">
  <i class="fas fa-star-half fa-5x mr-3 text-secondary"></i>
  <span>
    <h1 class="display-6">
      <b class="text-secondary">Parcialidad</b> recibida
      <span *ngIf="historialEstatus.estatus.fechaEntregaParcialidad">
        el
        <span class="text-muted">
          {{ historialEstatus.estatus.fechaEntregaParcialidad | fecha: "LLLL" }}
        </span>
      </span>
      <br />
      <small class="text-muted">
        Cantidad recibida:

        <b class="text-dark">{{
          historialEstatus.estatus.cantidadEntregadaALaFecha | number: "0.0-2"
        }}</b>
      </small>
    </h1>

    <h4>
      <ng-container
        *ngIf="
          historialEstatus.estatus.imagenesFacturas.length > 1;
          else facturasTemplate
        "
      >
        Facturas registradas hasta el momento:
      </ng-container>
      <ng-template #facturasTemplate>
        Factura regisgrada hasta el momento:
      </ng-template>
    </h4>

    <div class="row">
      <div
        *ngFor="let objetoImg of historialEstatus.estatus.imagenesFacturas"
        class="col-lg-3 col-md-6 m-b-20"
      >
        <img
          (click)="mostrarImagen(objetoImg.imagen)"
          [src]="objetoImg.imagen | imagen: 'facturas'"
          class="img-responsive radius shadow pointer"
        />
        <span
          title="Factura recibida el {{ objetoImg.fecha | fecha: 'LLL' }}"
          class="sl-date"
        >
          {{ objetoImg.fecha | date: "dd/MM/yy HH:mm" }}
        </span>
      </div>
    </div>

    <div>
      <a class="link"
        >Recibida por
        {{ historialEstatus.usuarioQueModifica.nombre | titlecase }}
        <img
          [src]="historialEstatus.usuarioQueModifica.img | imagen"
          alt="usuario"
          class="profile-pic img-50"
        />

        <br /> </a
      ><span class="sl-date">
        el {{ historialEstatus.fechaModificacion | fecha: "LLLL" }}</span
      >
    </div>
  </span>
</div>
