<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Folio {{folio.numeroDeFolio}}</h4>


                <ng-container *ngIf="!sePuedenGenerarOrdenes; else elseTemplate">
                    <h6>Imposible generar las órdenes.</h6>

                </ng-container>
                <ng-template #elseTemplate>
                    <h6 class="card-subtitle">Antes de generar las órdenes modifica la información que requieras.</h6>
                    <button (click)="guardarOrdenes( )" class="btn btn-success "><i class="fa fa-check"></i> Generar las órdenes de este folio.</button>
                    <app-pre-loader></app-pre-loader>
                </ng-template>

            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="sePuedenGenerarOrdenes">
    <div class="row" *ngFor="let linea of folio.folioLineas">
        <div class=" col-12 ">
            <div class="card ">
                <div class="card-body ">
                    <div class="table-responsive ">
                        <table class="table color-table dark-table table-bordered ">
                            <thead>

                                <tr>
                                    <th class="align-middle ">Modelo</th>
                                    <th class="align-middle text-center ">Cantidad</th>
                                    <th class="align-middle text-center ">Prioridad</th>
                                    <th class="align-middle text-center ">Laser del cliente</th>
                                    <th class="align-middle text-center ">Surtir de almacen</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="align-middle ">
                                        {{linea.modeloCompleto?.modelo.modelo}} {{linea.modeloCompleto?.tamano.tamano}} {{linea.modeloCompleto?.color.color}} {{linea.modeloCompleto?.terminado.terminado}}
                                        <span *ngIf="linea.modeloCompleto?.laserAlmacen.laser ">-</span>{{linea.modeloCompleto?.laserAlmacen.laser}}
                                        <span *ngIf="linea.modeloCompleto?.versionModelo.versionModelo ">-</span>{{linea.modeloCompleto?.versionModelo.versionModelo}}
                                    </th>
                                    <th class="align-middle text-center ">{{linea.cantidad}}</th>
                                    <th class="align-middle text-center ">
                                        {{linea.nivelDeUrgencia}}
                                    </th>
                                    <th class="align-middle text-center ">{{linea.laserCliente?.laser}}</th>
                                    <th class="text-center align-middle ">
                                        <i *ngIf="linea.almacen " class="fa fa-check fa-2x text-success "></i>
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between mb-3 ">
                            <button class="btn btn-outline-warning " (click)="transformarEnMedias( linea ) ">
                                <i class="fa fa-exchange "></i> Convertir a  
                                <span *ngIf="!linea.modeloCompleto?.mediasGeneradas "> medias ordenes</span> 
                                <span *ngIf="linea.modeloCompleto?.mediasGeneradas "> ordenes completas</span>
                            </button>


                        </div>
                        <table class="table color-table red-table table-striped table-fit ">
                            <thead>

                                <tr>
                                    <th class="fit align-middle text-center ">#</th>
                                    <th class=" align-middle text-center ">Unidad</th>
                                    <th class=" align-middle text-center ">Pzs</th>
                                    <th class="align-middle ">Modelo</th>
                                    <th class="align-middle text-center ">Marca Laser</th>
                                    <th class="align-middle text-center ">Prioridad</th>
                                    <th class="align-middle ">Observaciones</th>
                                    <th class="align-middle text-center ">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let orden of linea.ordenes " class="justify-content-center " [ngClass]="{ 'bg-dark text-white animated zoomIn': orden.editando} ">
                                    <td class="align-middle text-center fit ">{{orden.numeroDeOrden}}/{{linea.ordenes.length}}</td>
                                    <td class="align-middle text-center ">
                                        <span *ngIf="!orden.editando "> {{orden.unidad}}</span>
                                        <input *ngIf="orden.editando " max="1 " min="0.0001 " step=".01 " #f1 type="number " class="form-control " (ngModelChange)="recalcularUnidad( f1.value, orden, linea ) " [(ngModel)]="orden.unidad " name="orden.unidad ">
                                    </td>
                                    <td class="align-middle text-center align-content-center w-auto ">
                                        <span *ngIf="!orden.editando "> {{orden.piezasTeoricas}}</span>
                                        <input class=" w-auto form-control " *ngIf="orden.editando " onkeypress="return event.charCode>= 48 && event.charCode
        <=5 7 " #f2 min="1 " step="1 " type="number " (ngModelChange)="recalcularPiezas( f2.value, orden, linea ) " [(ngModel)]="orden.piezasTeoricas " name="orden.unidad ">
                                    </td>
                                    <td class="align-middle ">
                                        {{linea.modeloCompleto?.modelo.modelo}} {{linea.modeloCompleto?.tamano.tamano}} {{linea.modeloCompleto?.color.color}} {{linea.modeloCompleto?.terminado.terminado}}
                                        <span *ngIf="linea.modeloCompleto?.laserAlmacen.laser ">-</span>{{linea.modeloCompleto?.laserAlmacen.laser}}
                                        <span *ngIf="linea.modeloCompleto?.versionModelo.versionModelo ">-</span>{{linea.modeloCompleto?.versionModelo.versionModelo}}
                                    </td>
                                    <td class="align-middle text-center ">{{linea.laserCliente?.laser}}</td>
                                    <td class="align-middle text-center ">
                                        <span class="align-middle " *ngIf="!orden.editando ">{{orden.nivelDeUrgencia}}</span>

                                        <select [disabled]="linea.nivelDeUrgencia==='URGENTE' " *ngIf="orden.editando " [ngClass]="{ 'disable': true} " class="form-control text-center w-auto " [(ngModel)]="orden.nivelDeUrgencia " name="nivelDeUrgencia ">
                                            <option value="URGENTE">URGENTE</option>
                                            <option  value="PRODUCCIÓN">PRODUCCIÓN</option>
                                            <option  *ngIf="!(linea.nivelDeUrgencia==='PRODUCCIÓN' ) "value="ALMACEN">ALMACEN</option>
                                        </select>


                                    </td>
                                    <td class="align-middle ">
                                        <span *ngIf="!orden.editando ">{{orden.observaciones}}</span>

                                        <div class="input-group ">
                                            <textarea class="form-control " *ngIf="orden.editando " [(ngModel)]="orden.observaciones " name="orden.observacion "></textarea>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center ">
                                        <button class="btn btn-outline-warning " (click)="editarOrden( orden ) ">
                                            <i *ngIf="!orden.editando " class="fa fa-edit "></i>
                                            <i *ngIf="orden.editando " class="fa fa-check "></i>
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
</ng-container>