.salto {
    page-break-after: always;
    page-break-before: always;
}

table {
    font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
}

.fuentePequena {
    font-size: 6pt;
}

.bg-light {
    background-color: grey;
}