<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-between align-items-center">
            <a
              class="btn btn-outline-secondary"
              href="javascript:void()"
              role="button"
              (click)="cargarReporte()"
            >
              <i *ngIf="cargando" class="fas fa-spinner   fa-spin "></i>
              Actualizar
            </a>
            <a
              class="btn btn-outline-secondary"
              role="button"
              (click)="imprimir(this.reportes)"
            >
              <i class="fas fa-print "></i>
              Imprimir
            </a>

            <h3>
              Ultima actualizacion:
              {{ actualizacion | fecha: 'LLLL' | titlecase }}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-reporte-de-faltantes-alamcen-de-produccion-base-imprimible
              [reportes]="reportes"
              (detalleSalida)="detalleSalida = $event"
            ></app-reporte-de-faltantes-alamcen-de-produccion-base-imprimible>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="detalleDeSalidas"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ">
          {{ detalleSalida?.reporte.nombre }} <br />
          <small
            >Detalle de salidas ultimos {{ detalleSalida?.dias }} dias</small
          >
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table
          *ngIf="detalleSalida?.salidas.length > 0"
          class="table table-hover"
        >
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Departamento</th>
              <th>Observaciones</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let salida of detalleSalida?.salidas">
              <td>{{ salida.cantidad | number: '0.0-3' }}</td>
              <td>{{ salida.departamento }}</td>
              <td>{{ salida.observaciones }}</td>
              <td>{{ salida.fecha | fecha: 'LLLL' | titlecase }}</td>
            </tr>
          </tbody>
        </table>
        <h3 *ngIf="detalleSalida?.salidas.length === 0">Sin salidas</h3>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
