<div class="row fadeIn animated">
  <div class="col-12">
    <div class="card">
      <div class="card-body shadow">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class=""><strong>Requisiciones</strong> en proceso</h1>

          <div class="d-flex align-items-center">
            <a
              (click)="recargar()"
              title="Recargar pagina"
              class="btn btn-outline-dark btn-sm mr-3"
            >
              <i
                [ngClass]="{ 'fa-spin': buscando }"
                class="fas fa-sync-alt fa-sm"
              ></i>
            </a>
            <a
              [routerLink]="['crear']"
              href="javascript:void(0)"
              class="btn btn-success text-white"
            >
              <i class="fas fa-plus"></i> Crear requisicion</a
            >

            <a
              class="btn btn-primary ml-3 text-white"
              data-toggle="collapse"
              href="#collapsarFiltros"
            >
              <i class="fas fa-filter"></i> Filtros</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="collapsarFiltros" class="row collapse">
  <div class="col-12">
    <div class="card">
      <div class="card-body shadow">
        <app-requisicion-filtros
          (obtenerFiltros)="cargarRequisiciones($event, undefined, true)"
        >
        </app-requisicion-filtros>
      </div>
    </div>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col-12 m-0 t-0">
    <div class="card m-0 t-0" style="background-color: transparent;">
      <div class="card-body m-0 t-0">
        <paginador
          class="pull-right"
          [totalDeElementos]="requisicionService.total"
          [campoDeOrdenamiento]="paginacion.campoDeOrdenamiento"
          [tipoDeOrden]="paginacion.orden"
          [cargando]="keys(cargando).length > 0"
          (actualizarConsulta)="cargarRequisiciones(this.filtros, $event)"
        ></paginador>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="keys(cargando).length === 0; else cargandoTemplate"
  class="row fadeIn animated"
>
  <div class="col-12">
    <div class="card">
      <div class="card-body shadow">
        <table
          *ngIf="requisiciones.length > 0"
          class="table table-hover table-responsive"
        >
          <thead>
            <tr>
              <th></th>
              <th title="Fecha en la que se hizo la requisicion">
                Fecha
              </th>
              <th title="Numero de folio">
                FOL
              </th>
              <th title="Nombre del articulo">
                Articulo
              </th>
              <th
                title="La cantidad pendiente por recibir en el almacen con respecto a las unidades"
              >
                Por recibir
              </th>
              <th title="Presentancion en que se solicita el producto">
                Presentacion que el proveedor surte:
              </th>
              <th title="Fecha en la que se hizo la requisicion">
                Tipo
              </th>
              <th title="Usuario que hace la requisicion">
                Quien encarga
              </th>

              <th title="Estatus actual de la requisicion">
                Estatus
              </th>

              <th title="Eliminar requisicion">
                <i class="fas fa-times"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let requisicion of requisiciones"
              [ngClass]="{
                'bg-light-success active': requisicion.estatus.esTerminada,
                ' active text-muted': requisicion.estatus.esCancelada
              }"
            >
              <td class="fit">
                <a
                  href="javascript:void(0)"
                  [routerLink]="['detalle', requisicion._id]"
                  routerLinkActive="router-link-active"
                  class="btn text-white btn-primary btn-xs mr-1"
                  role="button"
                >
                  <i class="fas fa-eye"></i>
                </a>

                <a
                  *ngIf="mostrarBtnEditarRequisicion(requisicion)"
                  id="button2"
                  class="btn text-white btn-success btn-xs mr-1"
                  role="button"
                  title="Editar requisicion"
                  [routerLink]="['modificar', requisicion._id]"
                >
                  <i class="fas fa-edit"></i>
                </a>

                <a
                  *ngIf="mostrarBtnGenerarCompra(requisicion)"
                  class="btn text-white btn-info btn-xs mr-1"
                  role="button"
                  title="Generar compra"
                  (click)="generarCompra(requisicion)"
                >
                  <i class="fas fa-dollar-sign"></i>
                </a>
                <a
                  *ngIf="mostrarBtnRecibirParcialidad(requisicion)"
                  class="btn btn-secondary btn-xs mr-1"
                  role="button"
                  title="Recibir una parcialidad de esta requisicion"
                  data-toggle="modal"
                  data-target="#recibirParcialidad"
                  (click)="recibirParcialidad(requisicion)"
                >
                  <i class="fas fa-star-half"></i>
                </a>
                <a
                  *ngIf="mostrarBtnTerminarRequisicion(requisicion)"
                  class="btn text-white btn-success btn-xs mr-1"
                  role="button"
                  title="Dar por terminado esta orden"
                  data-toggle="modal"
                  data-target="#recibirTerminacion"
                  (click)="recibirTerminacion(requisicion)"
                >
                  <i class="fas fa-check-circle"></i>
                </a>
                <a
                  *ngIf="mostrarBtnCancelarRequisicion(requisicion)"
                  class="btn text-white btn-danger btn-xs mr-1"
                  role="button"
                  title="Cancelar requisicion"
                  data-toggle="modal"
                  data-target="#recibirCancelacion"
                  (click)="recibirCancelacion(requisicion)"
                >
                  <i class="fas fa-times-circle"></i>
                </a>
              </td>
              <td
                class="no-wrap"
                title="{{ requisicion.createdAt | fecha: 'LLL' }}"
              >
                {{ requisicion.createdAt | date: 'dd/MM/yy' }}
              </td>
              <td class="no-wrap fit">{{ requisicion.folio }}</td>
              <td class="text-right">
                {{ requisicion.articulo.nombre }}
              </td>
              <td class="no-wrap">
                {{
                  requisicion.cantidad -
                    requisicion.estatus.cantidadEntregadaALaFecha
                    | number: '0.0-2'
                }}
                ({{ requisicion.articulo.unidad }})
              </td>
              <td>
                {{ requisicion.articulo.presentacion }}
              </td>

              <td>
                <span *ngIf="requisicion.gastosYServicios"
                  >Gastos/Servicios</span
                >
                <span *ngIf="requisicion.consumibles">Consumible</span>
                <span *ngIf="requisicion.materiaPrima">Materia prima</span>
              </td>

              <td>
                {{ requisicion.usuario.nombre }}
              </td>

              <td>
                <i
                  [class]="
                    'fas ' +
                    requisicionService.estatusActual(requisicion.estatus).fa
                  "
                ></i>
                {{ requisicionService.estatusActual(requisicion.estatus).msj }}
              </td>

              <td class="fit">
                <a
                  *ngIf="permisos['requisicion:eliminar'] | contieneElPermiso"
                  id="buttonX"
                  class="btn text-white btn-danger btn-xs"
                  role="button"
                  title="Eliminar requisicion"
                  (click)="eliminar(requisicion)"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="requisiciones.length === 0 && keys(cargando).length === 0"
  class="row"
>
  <div class="col-12">
    <div class="card">
      <div class="card-body shadow">
        <h1 class="display-1">No hay <b>requisiciones</b> para mostrar</h1>
      </div>
    </div>
  </div>
</div>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body text-center">
          <h1 class="display-1 w-100 text-center">
            <i class="fas fa-sync fa-spin-fast"></i>
          </h1>
          <h2 *ngFor="let dato of cargando | keyvalue">{{ dato.value }}</h2>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- 
=====================================
 Modal detalle proveedor
=====================================
-->

<!-- 
=====================================
 Modal recibir parcialidad
=====================================
-->
<div
  class="modal fade"
  id="recibirParcialidad"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-recibir-parcialidad
          [requisicion]="requsicionRecibirParcialidad"
          (guardar)="recibirParcialidadGuardar()"
          (esteComponente)="componenteRecibirParcialidad = $event"
        >
        </app-recibir-parcialidad>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 END Modal recibir parcialidad
=====================================
-->
<!-- 
=====================================
 Modal terminar requisicion
=====================================
-->
<div
  class="modal fade"
  id="recibirTerminacion"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-body">
          <app-recibir-terminacion
            [requisicion]="requsicionRecibirTerminacion"
            (guardar)="recibirTerminacionGuardar()"
            (esteComponente)="componenteRecibirTerminacion = $event"
          >
          </app-recibir-terminacion>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 END Modal terminar requisicion
=====================================
-->

<!-- 
=====================================
 Modal cancelar requisicion
=====================================
-->
<div
  class="modal fade"
  id="recibirCancelacion"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-recibir-cancelacion
          [requisicion]="requsicionRecibirCancelacion"
          (guardar)="recibirCancelacionGuardar()"
          (esteComponente)="componenteRecibirCancelacion = $event"
        >
        </app-recibir-cancelacion>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 END Modal cancelar requisicion
=====================================
-->
