<div *ngIf="keys(cargando).length === 0; else cargandoTemplate" class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="justify-content-between d-flex aling-items-center">
          <h1 *ngIf="requisicion?._id">
            Folio #<b>{{ requisicion.folio }}</b>
          </h1>
          <h1>
            <span class="text-success" *ngIf="!requisicion?._id">
              <i class="fas fa-plus-square"></i> Crear <b>requisicion</b> </span
            ><span class="text-warning" *ngIf="requisicion?._id">
              <i class="fas fa-pen-square"></i> Modificar <b>requisicion</b>
            </span>
          </h1>
        </div>

        <br />

        <form [formGroup]="formulario">
          <div class="row">
            <div class="col-12">
              <div
                class="mb-5 d-flex justify-content-start align-content-center"
              >
                <!-- 
            =====================================
            materiaPrima
            =====================================
            -->
                <div class="form-check">
                  <input
                    (click)="soloUnCheckBox('materiaPrima')"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('materiaPrima')),
                      'is-valid': vs.valid(f('materiaPrima'))
                    }"
                    class="form-check-input"
                    type="checkbox"
                    id="materiaPrima"
                    formControlName="materiaPrima"
                  />
                  <label class="form-check-label" for="materiaPrima">
                    Materia prima
                  </label>
                  <br />
                  <app-validacion-inputs
                    [campo]="f('materiaPrima')"
                  ></app-validacion-inputs>
                </div>
                <!-- 
                =====================================
                END materiaPrima
                =====================================
                -->

                <!-- 
                =====================================
                consumibles
                =====================================
                -->
                <div class="form-check">
                  <input
                    (click)="soloUnCheckBox('consumibles')"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('consumibles')),
                      'is-valid': vs.valid(f('consumibles'))
                    }"
                    class="form-check-input"
                    type="checkbox"
                    id="consumibles"
                    formControlName="consumibles"
                  />
                  <label class="form-check-label" for="consumibles">
                    Consumibles
                  </label>
                  <br />
                  <app-validacion-inputs
                    [campo]="f('consumibles')"
                  ></app-validacion-inputs>
                </div>
                <!-- 
                =====================================
                END consumibles
                =====================================
                -->

                <!-- 
                =====================================
                gastosYServicios
                =====================================
                -->
                <div class="form-check">
                  <input
                    (click)="soloUnCheckBox('gastosYServicios')"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('gastosYServicios')),
                      'is-valid': vs.valid(f('gastosYServicios'))
                    }"
                    class="form-check-input"
                    type="checkbox"
                    id="gastosYServicios"
                    formControlName="gastosYServicios"
                  />
                  <label class="form-check-label" for="gastosYServicios">
                    Gastos y servicios
                  </label>
                  <br />
                  <app-validacion-inputs
                    [campo]="f('gastosYServicios')"
                  ></app-validacion-inputs>
                </div>

                <!-- 
                  =====================================
                  END gastosYServicios
                  =====================================
                  -->
              </div>
            </div>

            <!-- 
                  =====================================
                  articulo
                  =====================================
                  -->
            <div class="col-12 col-sm-6 col-lg-6">
              <div class="form-group">
                <app-data-list
                  (ejecutarBusquedaDeItems)="
                    ejecutarOperacionesDeBusquedaArticulos($event)
                  "
                  (elementoSeleccionado)="articuloSeleccionado($event)"
                  [valid]="vs.valid(f('articulo'))"
                  [invalid]="vs.invalid(f('articulo'))"
                  (touched)="f('articulo').markAsTouched()"
                  [cargarModifcacion]="crearModificacionDeItem()"
                  (esteComponente)="dataListComponent = $event"
                ></app-data-list>
                <input type="hidden" formControlName="articulo" />
                <small id="helpId" class="form-text text-muted">Articulo</small>
                <app-validacion-inputs
                  [campo]="f('articulo')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
                  =====================================
                  END articulo
                  =====================================
                  -->

            <!-- 
                  =====================================
                   cantidad
                  =====================================
                  -->
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="form-group">
                <input
                  [ngClass]="{
                    'is-invalid': vs.invalid(f('cantidad')),
                    'is-valid': vs.valid(f('cantidad'))
                  }"
                  type="text"
                  class="form-control"
                  formControlName="cantidad"
                  mask="separator"
                  thousandSeparator=","
                />
                <small id="helpId" class="form-text text-muted">
                  <ng-container
                    *ngIf="
                      !articuloSeleccionadoParaInput;
                      else cantidadTemplate
                    "
                  >
                    Cantidad a solicitar
                  </ng-container>
                  <ng-template #cantidadTemplate>
                    <span class="font-bold">Unidades en las que se pide:</span>
                    {{ articuloSeleccionadoParaInput.unidad }}
                    <br />
                    <span class="font-bold"
                      >Presentacion en la que se recibe:</span
                    >
                    {{ articuloSeleccionadoParaInput.presentacion }}
                  </ng-template>
                </small>

                <app-validacion-inputs
                  [campo]="f('cantidad')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
                  =====================================
                   END cantidad
                  =====================================
                  -->

            <!-- 
                  =====================================
                   observaciones
                  =====================================
                  -->
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <textarea
                  [ngClass]="{
                    'is-invalid': vs.invalid(f('observaciones')),
                    'is-valid': vs.valid(f('observaciones'))
                  }"
                  class="form-control"
                  formControlName="observaciones"
                  cols="30"
                  rows="10"
                ></textarea>

                <small id="helpId" class="form-text text-muted"
                  >Observaciones</small
                >
                <app-validacion-inputs
                  [campo]="f('observaciones')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
                  =====================================
                   END observaciones
                  =====================================
                  -->
          </div>

          <hr />

          <button
            (click)="submit(formulario.value, formulario.invalid, $event)"
            class="text-white btn btn-success mr-3 active"
            role="button"
          >
            <i class="fas fa-save"></i> Guardar
          </button>
          <a
            href="javascript:void(0)"
            (click)="location.back()"
            class="text-white btn btn-danger active"
            role="button"
          >
            <i class="fas fa-times"></i> Cancelar</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body text-center">
          <h1 class="display-1 w-100 text-center">
            <i class="fas fa-sync fa-spin-fast"></i>
          </h1>
          <h2 *ngFor="let dato of cargando | keyvalue">{{ dato.value }}</h2>
        </div>
      </div>
    </div>
  </div>
</ng-template>
