<div *ngIf="mostrarLista" class="row animated faster" [ngClass]="{'slideInDown': !crearModificar , 'slideOutUp': crearModificar  }">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <ng-container *ngIf="this.mostrarBuscador">
                    <div class="form-group">
                        <label for=""></label>
                        <input #i (keyup)="buscar(i.value)" type="text" class="form-control input-lg" name="" id="" aria-describedby="helpId" placeholder="Empieza a escribir para buscar.">
                        <small id="helpId" class="form-text text-muted">Buscar un elemento dentro de la lista.</small>
                    </div>
                    <hr>

                </ng-container>


                <a (click)="crear()" class="btn btn-outline-success"> <i class="fas fa-plus"></i> Crear </a>

                <hr>
                <app-paginador [paginador]=paginador></app-paginador>

                <ng-content></ng-content>

                <app-paginador [paginador]=paginador></app-paginador>

            </div>
        </div>
    </div>
</div>