<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <h1>
          Configurar usuario administrador
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h1>
          Actualizar los permisos

          <a
            (click)="actualizarPermisos()"
            class="btn btn-primary"
            href="javascript:void(0)"
            role="button"
          >
            <i
              *ngIf="actaulizandoPermisos"
              class="fas fa-sync fa-spin-fast"
            ></i> 

            Actualizar</a
          >
        </h1>
      </div>
    </div>
  </div>
</div>
