<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row d-flex justify-content-between align-items-baseline">
                    <div class="col-auto">
                        <div class="h1">Pedidos pendientes por trabajar en Quimica</div>
                    </div>

                    <div *ngIf="reporteQuimica" class="col-auto">
                        <h5>Total de ordenes: <strong>{{reporteQuimica.totalDeOrdenes()}}</strong></h5>
                        Ultima Actualizacion: {{ultimaActualizacion | date: 'hh:MM:ss' }}
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered table-hover ">
                            <thead class='bg-dark text-white fit text-center '>
                                <tr>

                                    <th>CLIENTE</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="La fecha en que se creo el folio." class="fas fa-question-circle   "></i>F.PED</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="El numero de pedido." class="fas fa-question-circle   "></i>PED</th>
                                    <th> MOD</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="Define si el modelo es de baston." class="fas fa-question-circle   "></i>B</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="La marca laser que llevara el boton." class="fas fa-question-circle   "></i>M.L.</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="El nivel de urgencia del pedido. " class="fas fa-question-circle   "></i>PRIORIDAD</th>
                                    <th> OBSERVACIONES</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="La cantidadd pendiente por trabajar en quimica." class="fas fa-question-circle   "></i>P.T.Q</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="mostrarReporte">
                                <tr *ngFor="let keyPedido of keys(reporteQuimica.pedidos)">
                                    <td class='fit text-center'>{{ reporteQuimica.pedidos[keyPedido].cliente.nombre }}</td>
                                    <td class='fit text-center'>{{ reporteQuimica.pedidos[keyPedido].fechaPedido | fecha}}</td>
                                    <td class='fit text-center'>{{ keyPedido }}</td>
                                    <td class='fit text-center'>{{ reporteQuimica.pedidos[keyPedido].modeloCompleto | modeloCompleto}}</td>
                                    <td class='fit text-center'><span *ngIf=" reporteQuimica.pedidos[keyPedido].esBaston"><strong>B</strong></span></td>
                                    <td class='fit text-center'>
                                        <ng-container *ngIf=" reporteQuimica.pedidos[keyPedido].laserCliente">
                                            {{ reporteQuimica.pedidos[keyPedido].laserCliente.laser}}
                                        </ng-container>

                                    </td>
                                    <td class='fit text-center'>
                                        <app-nivel-urgencia [nivel]=' reporteQuimica.pedidos[keyPedido].prioridad'></app-nivel-urgencia>
                                    </td>
                                    <td class='fit text-center'>{{ reporteQuimica.pedidos[keyPedido].observaciones}}</td>
                                    <td class='fit text-center'>

                                        <span *ngIf="reporteQuimica.pedidos[keyPedido].pendientes.length>0">
                                          Pendientes: <strong>{{ reporteQuimica.pedidos[keyPedido].pendientes.length }}</strong> 
                                          <hr *ngIf="reporteQuimica.pedidos[keyPedido].disponibles.length>0">
                                        </span>
                                        <span *ngIf="reporteQuimica.pedidos[keyPedido].disponibles.length>0">
                                           Disponibles: <strong>{{ reporteQuimica.pedidos[keyPedido].disponibles.length }}</strong> 
                                           <hr  *ngIf="reporteQuimica.pedidos[keyPedido].trabajando.length>0">
                                        </span>
                                        <span *ngIf="reporteQuimica.pedidos[keyPedido].trabajando.length>0">
                                           Trabajando: <strong>{{ reporteQuimica.pedidos[keyPedido].trabajando.length }}</strong> 
                                        </span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>