<div class="row">
    <div class="col-sm-6">
        <div class="card card-body">
            <h4 class="card-title">Registrar un nuevo modelo</h4>
            <h6 class="card-subtitle"> Ingresa los datos para el nuevo modelo. </h6>
            <form class="form-horizontal m-t-40">
                <div class="form-group">
                    <label>Modelo</label>
                    <input [(ngModel)]="modeloLigero.modelo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tamaño</label>
                    <input [(ngModel)]="modeloLigero.modelo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input [(ngModel)]="modeloLigero.modelo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Terminado</label>
                    <input [(ngModel)]="modeloLigero.modelo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Marca laser</label>
                    <input [(ngModel)]="modeloLigero.modelo" type="text" class="form-control">
                </div>

                <button class="btn btn-success" (click)="guardar()"><i class="fa fa-save"></i> Guardar</button>

            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>MOD</th>
                                <th>TAM</th>
                                <th>COL</th>
                                <th>TER</th>
                                <th>LASER</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mod of modelos">
                                <td><button class="btn btn-success"><i class="fa fa-edit"></i></button></td>
                                <td>{{mod.modelo.modelo}}</td>
                                <td>{{mod.tamano.tamano}}</td>
                                <td>{{mod.color.color}}</td>
                                <td>{{mod.terminado.terminado}}</td>
                                <td>{{mod.laserAlmacen.laser}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>