<div class="row" *ngIf="formulario">
  <div class="col-12">
    <form [formGroup]="formulario">
      <div class="row">
        <div class="col-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h5
                    class="w-100 d-flex justify-content-between align-items-center"
                  >
                    <ng-container *ngIf="pedido?._id; else elseTemplate">
                      #FOL [{{ pedido?._id }}]
                    </ng-container>
                    <ng-template #elseTemplate>
                      # [ CREANDO PEDIDO ]
                    </ng-template>

                    <small class="text-muted">{{
                      pedido?.createdAt | date
                    }}</small>
                  </h5>
                </div>
                <div class="col-12 d-flex justify-content-between">
                  <h3>
                    <ng-container *ngIf="pedido.contacto">
                      <a
                        *ngIf="!esDetalle"
                        (click)="reiniciarPedido()"
                        class="btn btn-danger btn-sm"
                        href="javascript:void(0)"
                        role="button"
                      >
                        <i class="fas fa-times-circle"></i> Reiniciar pedido</a
                      >
                      <hr />
                      <small class="text-muted"> Cliente: </small>
                      <br />
                      {{
                        f('contacto').value?.nombre ??
                          f('contacto').value?.razonSocial
                      }}
                    </ng-container>
                    <ng-container *ngIf="!pedido.contacto">
                      <a
                        *ngIf="!esDetalle"
                        (click)="modalService.open(idModalContacto)"
                        class="btn btn-success mr-3 btn-sm"
                        href="javascript:void(0)"
                        role="button"
                      >
                        <i class="fas fa-user"></i> Contacto</a
                      >
                    </ng-container>
                  </h3>
                  <ng-container *ngIf="lista">
                    <span class="text-mutes">Lista de precios: </span>
                    <span class="text-danger">
                      '{{ lista.nombre }}', {{ lista.iva }}% IVA
                    </span>
                  </ng-container>
                </div>

                <!--
                    =====================================
                     observaciones
                    =====================================
                    -->
                <div class="col-12 col-md-6">
                  <div
                    *ngIf="!esDetalle; else observacionTemplate"
                    class="form-group"
                  >
                    <textarea
                      [ngClass]="{
                        'is-invalid': vs.invalid(f('observaciones')),
                        'is-valid': vs.valid(f('observaciones'))
                      }"
                      class="form-control input-sm"
                      formControlName="observaciones"
                      type="text"
                    ></textarea>
                    <small id="helpId" class="form-text text-muted"
                      >Observaciones</small
                    >
                    <codice-validaciones
                      [campo]="f('observaciones')"
                    ></codice-validaciones>
                  </div>

                  <ng-template #observacionTemplate>{{
                    f('observaciones').value
                  }}</ng-template>
                </div>
                <!--
                    =====================================
                     END observaciones
                    =====================================
                    -->
              </div>

              <a
                (click)="mostrarObservaciones = !mostrarObservaciones"
                class="btn"
                [ngClass]="{
                  'btn-light': !mostrarObservaciones,
                  'btn-success': mostrarObservaciones
                }"
                href="javascript:void(0)"
                role="button"
              >
                <i *ngIf="mostrarObservaciones" class="fas fa-check-square"></i>
                <i *ngIf="!mostrarObservaciones" class="fas fa-square"></i>
                Mostrar observaciones
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 mb-0 pb-0">
          <div *ngIf="articulosSeleccionados.length > 0" class="row">
            <div class="col-12">
              <div class="card shadow">
                <div class="card-body">
                  <codice-buscador
                    (termino)="
                      filtrarFoliosPorArticulo($event); terminoSku = $event
                    "
                    (escucharCarga)="estaCargandoBuscadorFolio = $event"
                    [encodeURIComponent]="false"
                    [mostrar_boton_de_busqueda]="false"
                  >
                  </codice-buscador>

                  <span *ngIf="noMostrarArticulos.length > 0">
                    Folios ocultos: {{ noMostrarArticulos.length }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
          =====================================
           Array articulos
          =====================================
          -->
        <ng-container formArrayName="articulos">
          <ng-container
            *ngFor="let dummy of fa('articulos').controls; let i = index"
          >
            <ng-container [formGroupName]="i">
              <!--
          =====================================
           TEMPLATES
          =====================================
          -->
              <ng-template #folioTemplate>
                <b>LIN# [ </b>{{ i + 1 | number: '3.0' }} ]
              </ng-template>

              <ng-template #importeTemplate>
                <h6 class="text-right">
                  $ {{ dummy.get('precio').value | number: '0.2' }}
                </h6>
                <small id="helpId" class="form-text text-muted"
                  >Costo unitario</small
                >
              </ng-template>

              <ng-template #costoVenta>
                <h6 class="text-right">
                  $
                  {{ dummy.get('importe').value | number: '0.2' }}
                </h6>
                <small id="helpId" class="form-text text-muted">Importe</small>
              </ng-template>

              <!--
          =====================================
           END TEMPLATES
          =====================================
          -->

              <div *ngIf="mostrar(i)" class="col-12 m-0 b-0">
                <div class="card shadow mt-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <a
                          *ngIf="!esDetalle"
                          (click)="eliminar(i)"
                          class="btn btn-link text-danger"
                          href="javascript:void(0)"
                          role="button"
                        >
                          <i class="fas fa-times"></i
                        ></a>

                        <ng-container
                          *ngIf="false; else folioTemplate"
                        ></ng-container>

                        {{ dummy.get('sku').value?.nombreCompleto }}
                      </div>

                      <!--
            =====================================
             cantidad
            =====================================
            -->
                      <div
                        *ngIf="!esDetalle"
                        class="col-4 col-md-3 text-center p-0"
                      >
                        <div class="form-group">
                          <input
                            [ngClass]="{
                              'is-invalid': vs.invalid(dummy.get('cantidad')),
                              'is-valid': vs.valid(dummy.get('cantidad'))
                            }"
                            type="text"
                            class="text-center cantidad"
                            formControlName="cantidad"
                            mask="separator.2"
                            thousandSeparator=","
                            (keyup)="agregar(i, 0)"
                          />
                          <small
                            id="helpId"
                            class="form-text text-muted font-12"
                            >Cantidad:
                            <span *ngIf="dummy.get('sku').value?.unidad">
                              [{{ dummy.get('sku').value?.unidad }}]</span
                            >
                          </small>
                          <codice-validaciones
                            [campo]="dummy.get('cantidad')"
                          ></codice-validaciones>
                        </div>
                      </div>
                      <!--
            =====================================
             END cantidad
            =====================================
            -->
                      <ng-container *ngIf="!esDetalle">
                        <div class="col-8 text-center p-0 m-0">
                          <a
                            *ngFor="let item of [10, 50, 100]"
                            (click)="agregar(i, +item)"
                            class="btn btn-primary font-10"
                            href="javascript:void(0)"
                            role="button"
                          >
                            {{ item }}
                          </a>
                          <a
                            (click)="agregar(i, -1)"
                            class="btn btn-info"
                            href="javascript:void(0)"
                            role="button"
                          >
                            <i class="fas fa-minus-circle"></i
                          ></a>
                          <a
                            (click)="agregar(i, +1)"
                            class="btn btn-primary"
                            href="javascript:void(0)"
                            role="button"
                          >
                            <i class="fas fa-plus-circle"></i
                          ></a>
                        </div>
                      </ng-container>
                      <!--
            =====================================
             observaciones
            =====================================
            -->
                      <ng-container
                        *ngIf="
                          !esDetalle && mostrarObservaciones;
                          else templateObservaciones
                        "
                      >
                        <div class="col-12 col-md-3 mt-2">
                          <div class="form-group">
                            <input
                              [ngClass]="{
                                'is-invalid': vs.invalid(
                                  dummy.get('observaciones')
                                ),
                                'is-valid': vs.valid(dummy.get('observaciones'))
                              }"
                              class="form-control input-sm"
                              formControlName="observaciones"
                              type="text"
                            />

                            <small id="helpId" class="form-text text-muted"
                              >Observaciones</small
                            >
                            <codice-validaciones
                              [campo]="dummy.get('observaciones')"
                            ></codice-validaciones>
                          </div>
                        </div>
                      </ng-container>

                      <ng-template #templateObservaciones>
                        <p>{{ dummy.get('obseraciones') }}</p>
                      </ng-template>
                      <!--
            =====================================
             END observaciones
            =====================================
            -->
                    </div>

                    <div class="col-12 m-0 p-0">
                      <table class="table table-bordered text-center">
                        <thead>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Costo unitario</th>
                          <th scope="col">Importe</th>
                        </thead>

                        <tbody>
                          <td>
                            {{ dummy.get('cantidad').value | number: '0.2' }}
                          </td>
                          <td>
                            $ {{ dummy.get('precio').value | number: '0.2' }}
                          </td>
                          <td>
                            $
                            {{
                              dummy.get('cantidad').value *
                                dummy.get('precio').value | number: '0.2'
                            }}
                          </td>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div *ngIf="dummy.get('observaciones').value" class="col-12">
                    <hr />
                    {{ dummy.get('observaciones').value }}
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <div class="compensacion-inferior"></div>
        </ng-container>
        <!--
          =====================================
           END Array articulos
          =====================================
          -->

        <ng-container *ngIf=" pedido.contacto">
          <div
            *ngIf="mostrarBarraSticki()"
            class="col-12 fixed-bottom text-center barra-inferior"
          >
            <div class="row">
              <div class="col-3"
              >
                <div
                [ngStyle]="{'display': esDetalle ? 'none' : 'block'}"
                (click)="submit(formulario.value, formulario.invalid)" class="pseudo-btn-0"></div>
              </div>
              <div
                (click)="abrir_total_modal()"
                class="col-6 m-0 p-0 text-center"
              >
                <span class="text-muted font-14"> Importe sin IVA </span>
                <br />
                <span class="font-bold font-18">
                  $ {{ importe() | number: '1.2' }}

                  <i class="fas fa-eye"></i>
                </span>
              </div>
              <div
              [ngStyle]="{'display': esDetalle ? 'none' : 'block'}"
              (click)="agregarArticulo()" class="col-3">
                <div class="pseudo-btn-1"></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>

<codice-modal
  [id]="idModalDetalleTotal"
  (cerrado)="total_modal_abierto = false"
  *ngIf="formulario"
>
  <div class="row text-center">
    <div class="col-12">
      <h3>
        <small class="text-muted">Importe</small>
        <br>
        <span class="font-bold"> $ {{ importe() | number: '1.2' }} </span>
        <hr>
      </h3>
      <h3>
        <small class="text-muted">IVA</small>
        <br>
        <span class="font-bold"> $ {{ iva() | number: '1.2' }} </span>
        <hr>
      </h3>
      <h1>
        <small class="text-muted">Total</small>
        <br>
        <span class="font-bold"> $ {{ total() | number: '1.2' }} </span>
      </h1>
    </div>
  </div>
</codice-modal>

<codice-modal [id]="idModalContacto" (cerrado)="contacto_modal_abierto = false">
  <div class="row">
    <div class="col-12">
      <h3>Seleccionar cliente</h3>
      <hr />
    </div>

    <div class="col-12">
      <codice-buscador
        (termino)="buscarContacto($event)"
        (escucharCarga)="estaCargandoBuscadorContacto = $event"
        [encodeURIComponent]="false"
      >
      </codice-buscador>
    </div>

    <div class="col-12 m-0 p-0">
      <div class="list-group">
        <a
          href="javascript:void(0)"
          *ngFor="let contacto of contactos"
          (click)="seleccionarContacto(contacto)"
          class="list-group-item list-group-item-action flex-column align-items-start"
        >
          [ {{ contacto.codigo }} ]
          <h5 class="mb-1 font-bold">
            <i class="fas fa-user fa-2x"></i>
            {{ contacto.razonSocial }}
          </h5>
          <p class="mb-1">
            {{ contacto.nombre }}
          </p>
          <ng-container *ngFor="let domicilio of contacto.domicilios">
            <i class="fas fa-map-marker-alt"></i>
            {{ domicilio.calle }} {{ domicilio.numeroExterior }}
            {{ domicilio.numeroInterior }} {{ domicilio.colonia }}
            {{ domicilio.ciudad }}
            {{ domicilio.estado }}
          </ng-container>
        </a>
      </div>
    </div>
  </div>
</codice-modal>

<codice-modal [id]="idModalSku" (cerrado)="sku_modal_abierto = false">
  <div class="row">
    <div class="col-12">
      <h3>Seleccionar SKU</h3>
      <hr />
    </div>

    <div class="col-12">
      <codice-buscador
        (termino)="buscarSku($event); terminoSku = $event"
        (escucharCarga)="estaCargandoBuscadorSku = $event"
        [encodeURIComponent]="false"
      >
      </codice-buscador>
    </div>

    <div class="col-12">
      <app-sku-lista
        [termino]="terminoSku"
        [lista_de_precios]="lista"
        [soloSeleccionable]="true"
        (skuSeleccionado)="seleccionarSku($event)"
        [offline]="true"
        [permitirVerDetalle]="false"
        [capturarCantidad]="true"
        [mostrar_existencias]="false"
      ></app-sku-lista>
    </div>
  </div>
</codice-modal>
