<div class="row" *ngIf="formulario">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="formulario">
          <div class="row">
            <div class="col-12 justify-content-between d-flex">
              <h1>{{ pedido?._id }}</h1>
              <h3>{{ pedido?.createdAt | date }}</h3>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <h3>
                <ng-container *ngIf="pedido.contacto"
                  >{{ pedido.contacto?.nombre }}
                </ng-container>
                <ng-container *ngIf="!pedido.contacto"
                  >No has seleccionado un cliente
                </ng-container>
                <a
                  *ngIf="!esDetalle"
                  (click)="modalService.open(idModalContacto)"
                  class="btn btn-success mr-3"
                  href="javascript:void(0)"
                  role="button"
                  ><i class="fas fa-plus"></i
                ></a>
                <b class="pull-right">$ {{ total() | number: '1.2' }}</b>
              </h3>
            </div>
            <div class="col-12">
              <hr />
            </div>

            <!-- 
            =====================================
             observaciones
            =====================================
            -->
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input
                  [ngClass]="{
                    'is-invalid': vs.invalid(f('observaciones')),
                    'is-valid': vs.valid(f('observaciones'))
                  }"
                  class="form-control input-sm"
                  formControlName="observaciones"
                  type="text"
                />
                <small id="helpId" class="form-text text-muted"
                  >Observaciones</small
                >
                <codice-validaciones
                  [campo]="f('observaciones')"
                ></codice-validaciones>
              </div>
            </div>
            <!-- 
            =====================================
             END observaciones
            =====================================
            -->

            <div class="col-12">
              <hr />
            </div>

            <!-- 
          =====================================
           Array articulos 
          =====================================
          -->
            <ng-container formArrayName="articulos">
              <ng-container
                *ngFor="let dummy of fa('articulos').controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="col-12">
                    <h4>
                      <b
                        >{{ i + 1 | number: '3.0' }}
                        <i class="fas fa-arrow-right"></i>
                      </b>
                      {{ articulosSeleccionados[i]?.nombreCompleto }}
                      <a
                        *ngIf="!esDetalle"
                        (click)="eliminar(i)"
                        class="btn btn-danger"
                        href="javascript:void(0)"
                        role="button"
                      >
                        <i class="fas fa-times"></i
                      ></a>
                    </h4>
                  </div>

                  <!-- 
          =====================================
           cantidad
          =====================================
          -->
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <input
                        [ngClass]="{
                          'is-invalid': vs.invalid(dummy.get('cantidad')),
                          'is-valid': vs.valid(dummy.get('cantidad'))
                        }"
                        type="text"
                        class="form-control input-sm"
                        formControlName="cantidad"
                        mask="separator.2"
                        thousandSeparator=","
                      />
                      <small id="helpId" class="form-text text-muted"
                        >Cantidad</small
                      >
                      <codice-validaciones
                        [campo]="dummy.get('cantidad')"
                      ></codice-validaciones>
                    </div>
                  </div>
                  <!-- 
          =====================================
           END cantidad
          =====================================
          -->

                  <!-- 
          =====================================
           observaciones
          =====================================
          -->
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <input
                        [ngClass]="{
                          'is-invalid': vs.invalid(dummy.get('observaciones')),
                          'is-valid': vs.valid(dummy.get('observaciones'))
                        }"
                        class="form-control input-sm"
                        formControlName="observaciones"
                        type="text"
                      />

                      <small id="helpId" class="form-text text-muted"
                        >Observaciones</small
                      >
                      <codice-validaciones
                        [campo]="dummy.get('observaciones')"
                      ></codice-validaciones>
                    </div>
                  </div>
                  <!-- 
          =====================================
           END observaciones
          =====================================
          -->
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <h6 class="text-right">
                        $
                        {{
                          articulosSeleccionados[i]?.costoVenta | number: '0.2'
                        }}
                      </h6>
                      <small id="helpId" class="form-text text-muted"
                        >Costo unitario</small
                      >
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <h6 class="text-right">
                        $
                        {{
                          articulosSeleccionados[i]?.costoVenta *
                            dummy.get('cantidad').value | number: '0.2'
                        }}
                      </h6>
                      <small id="helpId" class="form-text text-muted"
                        >Importe</small
                      >
                    </div>
                  </div>

                  <div class="col-12">
                    <hr />
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- 
          =====================================
           END Array articulos 
          =====================================
          -->
            <div class="col-12">
              <a
                *ngIf="!esDetalle"
                (click)="agregarArticulo()"
                class="btn btn-primary"
                href="javascript:void(0)"
                role="button"
                ><i class="fas fa-plus"></i> Agregar articulo</a
              >
            </div>

            <div class="col-12">
              <hr />
            </div>

            <div class="col-12">
              <a
                *ngIf="!esDetalle"
                (click)="submit(formulario.value, formulario.invalid)"
                class="btn btn-success"
                href="javascript:void(0)"
                role="button"
              >
                <i class="fas fa-save"></i> Guardar
              </a>

              <h3 class="pull-right">
                <b>$ {{ total() | number: '1.2' }}</b>
              </h3>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<codice-modal [id]="idModalContacto">
  <div class="row">
    <div class="col-12">
      <h3>Seleccionar cliente</h3>
      <hr />
    </div>

    <div class="col-12">
      <codice-buscador
        (termino)="buscarContacto($event)"
        (escucharCarga)="estaCargandoBuscadorContacto = $event"
        [encodeURIComponent]="false"
      >
      </codice-buscador>
    </div>

    <div class="col-12 m-0 p-0">
      <div class="list-group">
        <a
          href="javascript:void(0)"
          *ngFor="let contacto of contactos"
          (click)="seleccionarContacto(contacto)"
          class="
            list-group-item list-group-item-action
            flex-column
            align-items-start
          "
        >
          <div class="d-flex w-100 justify-content-between">
            <i class="fas fa-user fa-2x"></i>
            <h5 class="mb-1">
              <br />
              {{ contacto.razonSocial }}
            </h5>
          </div>
          <p class="mb-1">
            {{ contacto.nombre }}
          </p>
        </a>
      </div>
    </div>
  </div>
</codice-modal>

<codice-modal [id]="idModalSku" (cerrado)="skuModalCerrado()">
  <div class="row">
    <div class="col-12">
      <h3>Seleccionar SKU</h3>
      <hr />
    </div>

    <div class="col-12">
      <codice-buscador
        (termino)="buscarSku($event); terminoSku = $event"
        (escucharCarga)="estaCargandoBuscadorSku = $event"
        [encodeURIComponent]="false"
      >
      </codice-buscador>
    </div>

    <div class="col-12">
      <app-sku-lista
        [termino]="terminoSku"
        [soloSeleccionable]="true"
        (skuSeleccionado)="seleccionarSku($event)"
      ></app-sku-lista>
    </div>
  </div>
</codice-modal>
