<div *ngIf="cargando" class="row animated fadeIn slow">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center">
        <h1 class="display-1">
          <i class="fas fa-spinner fa-spin animated "></i> <strong>CARGANDO</strong>
        </h1>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!cargando">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body d-flex flex-column align-items-center ">
          <button
            (click)="recivirYEntregar()"
            class="btn btn-outline-success btn-lg"
          >
            <h1>
              <i class="fa fa-check"></i> Recibir y entregar todas las ordenes.
            </h1>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-lista-de-ordenes> </app-lista-de-ordenes>
</ng-container>
