<!-- 
=====================================
 input
=====================================
-->
<ng-container *ngIf="!leyendaInputDeshabilitado">
  <div class="input-group mb-1">
    <input
      [ngClass]="{
        'is-invalid': invalid,
        'is-valid': valid
      }"
      #inputBuscarNativo
      [formControl]="inputBusqueda"
      type="text"
      class="form-control mr-0 pr-0"
      placeholder="Escribe para buscar"
    />
    <div class="input-group-append">
      <button
        class="btn btn-sm {{
          cargando ? 'btn-outline-secondary' : 'btn-outline-danger'
        }}"
        type="button"
        (click)="cancelarBusqueda()"
      >
        <i *ngIf="!cargando" class="fas fa-times-circle  "></i>
        <i *ngIf="cargando" class="fas fa-sync fa-spin "></i>
      </button>
    </div>
  </div>
</ng-container>

<div *ngIf="leyendaInputDeshabilitado" class="input-group mb-3">
  <input
    [ngClass]="{
      'is-invalid': invalid,
      'is-valid': valid
    }"
    [(ngModel)]="leyendaInputDeshabilitado"
    type="text"
    class="form-control"
    disabled="true"
  />
  <div class="input-group-append">
    <button
      (click)="cancelarBusqueda()"
      class="btn btn-danger btn-sm"
      type="button"
    >
      <i class="fas fa-times-circle    "></i>
    </button>
  </div>
</div>

<!-- 
=====================================
 END input
=====================================
-->

<!-- 
=====================================
  Lista
=====================================
-->
<div *ngIf="mostrarLista" class="list-group list-scroll animated fadeIn faster">
  <a
    *ngFor="let dato of datosParaLista"
    (click)="seleccionarElemento(dato)"
    class="list-group-item list-group-item-action flex-column align-items-start shadow "
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ dato.leyendaPrincipal }}</h5>
      <span style="width: 20px;"></span>
      <small>{{ dato.leyendaSecundaria }}</small>
    </div>
    <p class="mb-1">
      {{ dato.descripcionPrincipal }}
    </p>
    <small>{{ dato.descripcionSecundaria }}</small>
  </a>
  <a
    (click)="cancelarBusqueda()"
    *ngIf="mostrarLista && datosParaLista.length === 0"
    class="list-group-item  list-group-item-action list-group-item-info bg-info text-white text-left"
  >
    <i class="fas fa-times-circle animated tada   "></i> No hubo coincidencias
  </a>
</div>

<!-- 
=====================================
  END Lista
=====================================
-->
