<div class="row fadeIn animated">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class=""><strong>Departamentos</strong></h1>

          <div class="d-flex  align-items-center ">
            <a
              (click)="crear()"
              data-toggle="modal"
              data-target="#departamentoCrearModificar"
              class="btn btn-success text-white"
            >
              <i class="fas fa-plus "></i> Crear departamento</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="departamentos.length > 0" class="row fadeIn animated">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <table *ngIf="departamentos.length > 0" class="table table-hover ">
          <thead>
            <tr>
              <th></th>
              <th title="Nombre del departamento">
                Departamento
              </th>
              <th title="Nombre del area">
                Area
              </th>
              <th title="Eliminar departamento">
                <i class="fas fa-times    "></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let departamento of departamentos">
              <td class="fit">
                <a
                  id="button0"
                  (click)="asignarDetalle(departamento)"
                  class="btn  text-white btn-primary btn-xs mr-1"
                  role="button"
                  data-toggle="modal"
                  data-target="#departamentoDetalle"
                >
                  <i class="fas fa-eye    "></i>
                </a>

                <a
                  id="button2"
                  class="btn  text-white btn-success btn-xs mr-1"
                  role="button"
                  title="Editar departamento"
                  data-toggle="modal"
                  data-target="#departamentoCrearModificar"
                  (click)="editar(departamento)"
                >
                  <i class="fas fa-edit    "></i>
                </a>
              </td>

              <td class=" no-wrap">
                {{ departamento.nombre }}
              </td>
              <td class=" no-wrap">
                {{ departamento.area.nombre }}
              </td>

              <td class="fit">
                <a
                  id="buttonX"
                  class="btn  text-white btn-danger btn-xs"
                  role="button"
                  title="Eliminar departamento"
                  (click)="eliminar(departamento)"
                >
                  <i class="fas fa-times "></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="departamentos.length === 0" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="display-1">No hay <b>departamentos</b> para mostrar</h1>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 modal detalle
=====================================
-->

<div
  class="modal fade"
  id="departamentoDetalle"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-departamento-detalle
          [departamento]="departamentoDetalle"
        ></app-departamento-detalle>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 END modal detalle
=====================================
-->

<!-- 
=====================================
 modal crearModificar
=====================================
-->

<div
  class="modal fade"
  id="departamentoCrearModificar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-departamento-crear-modificar
          (esteComponente)="departamentoCrearModificarComponent = $event"
          (guardado)='cargarDepartamentos()'
        ></app-departamento-crear-modificar>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 END modal crearModificar
=====================================
-->
