<table class="table">
  <thead>
    <tr>
      <th>Quebrados</th>
      <th>Reves</th>
      <th>Despostillado</th>
      <th>Sin laser</th>
      <th>Sin hoyos</th>
      <th>Efecto malo</th>
      <th>Otros</th>
      <th>Descripcion de otros</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ trayecto.seleccion.quebrados }}</td>
      <td>{{ trayecto.seleccion.reves }}</td>
      <td>{{ trayecto.seleccion.despostillado }}</td>
      <td>{{ trayecto.seleccion.sinLaser }}</td>
      <td>{{ trayecto.seleccion.sinHoyos }}</td>
      <td>{{ trayecto.seleccion.efectoMalo }}</td>
      <td>{{ trayecto.seleccion.otros }}</td>
      <td>{{ trayecto.seleccion.descripcionDeOtro }}</td>
    </tr>
  </tbody>
</table>
