<!-- 
=====================================
 Gestión de costos por proceso
=====================================
-->
<div class="row" *ngIf="!editando()">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-pre-loader></app-pre-loader>
                <div class="d-flex w-100 justify-content-between mb-3">
                    <h1>Costo por proceso</h1>
                    <small>Gestión de costos por procesos y personal</small>
                </div>

                <div class="list-group">
                    <ng-container *ngFor="let proceso of procesosNormales; let i_p_g = index;">

                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">

                                <a data-toggle="collapse" href="#{{proceso._id+'_f_'+i_p_g}}" (click)="proceso.ver = !proceso.ver">
                                    <h3 class="mb-1"><i class="fa mr-2" [ngClass]="{'fa-plus': !proceso.ver, 'fa-minus': proceso.ver}"></i> {{proceso.nombre}} <br> <small class="text-secondary">{{proceso.departamento.nombre}}</small> </h3>
                                </a>

                                <div class=" flex-column align-items-end">
                                    <small class="ml-2" *ngIf="proceso.editado">Cambios sin guardar.<a class="btn btn-link btn-outline-success btn-sm" (click)="guardarModificacionesAEsteProceso(proceso)"><i class="fa fa-save"></i></a></small>
                                    <small class="ml-2">Costo de proceso por min: {{_calculosDeCostoService.procesoHora( proceso )}} </small>
                                    <small class="ml-2"><a class="btn btn-link btn-outline-inverse btn-sm" (click)="procesoEditandose = proceso; proceso.editado = true">Editar</a></small>
                                </div>
                            </div>

                            <div class="collapse" id="{{proceso._id+'_f_'+i_p_g}}">
                                <h5>Gastos del proceso.</h5>
                                <ng-container *ngFor="let gastoConsumo of proceso.gastos; let i = index;">

                                    <div class=" col-12 pt-3" [ngClass]="{'bg-light-extra': i%2===0}">
                                        <div class="d-flex w-100 justify-content-between align-content-center">
                                            <span> <strong> {{gastoConsumo.gasto.nombre}} </strong> {{gastoConsumo.gasto.unidadPorHora}}</span>
                                            <span> <strong> Consumo: </strong> {{gastoConsumo.consumo}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                                <h5>Máquinas del proceso.</h5>
                                <ng-container *ngFor="let maquina of proceso.maquinas; let i = index;">
                                    <div class=" col-12 pt-3" [ngClass]="{'bg-light-extra': i%2===0}">
                                        <div class="d-flex w-100 justify-content-between align-content-center">
                                            <span> <strong> {{maquina.clave}} </strong> {{maquina.nombre + ' ' + maquina.anio}}</span>
                                            <span> <strong> Costo por hora de máquina. </strong> {{maquina.nombre + ' ' + maquina.anio}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
=====================================
 FIN gestión de costos por proceso. 
=====================================
-->

<!-- 
=====================================
 Gestión de Maqúinas
=====================================
-->
<div class="row" *ngIf="!editando()">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-pre-loader></app-pre-loader>
                <div class="d-flex w-100 justify-content-between mb-3">
                    <div>
                        <h1>Máquinas</h1>
                        <small>Gestión de máquinas y sus gastos. </small>
                    </div>
                    <div>
                        <button (click)="nuevaMaquina()" class="btn btn-outline-success">
                                <i class="fa fa-plus"></i> 
                                Crear nueva máquina
                        </button>

                    </div>
                </div>

                <div class="list-group">
                    <ng-container *ngFor="let maquina of maquinas; let i_p_n = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">

                                <a data-toggle="collapse" href="#{{maquina._id+'_f_'+i_p_n}}" (click)="maquina.ver = !maquina.ver">
                                    <h3 class="mb-1"><i class="fa mr-2" [ngClass]="{'fa-plus': !maquina.ver, 'fa-minus': maquina.ver}"></i> {{maquina.clave}} <br> <small class="text-secondary">{{maquina.nombre}}</small> </h3>
                                </a>

                                <div class=" flex-column align-items-end">
                                    <small class="ml-2" *ngIf="maquina.editado">Cambios sin guardar.<a class="btn btn-link btn-outline-success btn-sm" (click)="guardarModificacionesAEstaMaquina(maquina)"><i class="fa fa-save"></i></a></small>
                                    <small class="ml-2">Costo de maquina por min: $costo </small>
                                    <small class="ml-2"><a class="btn btn-link btn-outline-inverse btn-sm" (click)="maquinaEditandose = maquina; maquina.editado = true">Editar</a></small>
                                    <small *ngIf="!maquina._id" class="ml-2"><a class="btn btn-link btn-outline-danger btn-sm" (click)="eliminarMaquina( i_p_n )"> <i class="fa fa-times"></i> </a></small>
                                </div>
                            </div>

                            <div class="collapse" id="{{maquina._id+'_f_'+i_p_n}}">
                                <h5 class="mt-3">Consumos por gasto.</h5>
                                <ng-container *ngFor="let gastoConsumo of maquina.gastos; let i = index;">
                                    <div class=" col-12 pt-3" [ngClass]="{'bg-light-extra': i%2===0}">
                                        <div class="d-flex w-100 justify-content-between align-content-center">
                                            <span> <strong>{{gastoConsumo.consumo}}</strong> {{gastoConsumo.gasto.unidadPorHora}} de <strong> {{gastoConsumo.gasto.nombre}} </strong> </span>
                                        </div>
                                    </div>
                                </ng-container>
                                <h5 class="mt-3">Departamentos de acción de la máquina.</h5>
                                <ng-container *ngFor="let departamento of maquina.departamentos; let i = index;">
                                    <div class=" col-12 pt-3" [ngClass]="{'bg-light-extra': i%2===0}">
                                        <div class="d-flex w-100 justify-content-between align-content-center">
                                            <strong> {{departamento.nombre}} </strong>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
=====================================
 FIN gestión de máquinas. 
=====================================
-->


<!-- 
=====================================
 Gestión de gastos
=====================================
-->
<div class="row" *ngIf="!editando()">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-pre-loader></app-pre-loader>
                <div class="d-flex w-100 justify-content-between mb-3">
                    <div>
                        <h1>Gastos</h1>
                        <small>Gestión de gastos.</small>
                    </div>
                    <div>
                        <button (click)="nuevoGasto()" class="btn btn-outline-success">
                            <i class="fa fa-plus"></i> 
                            Crear nuevo gasto
                        </button>

                    </div>
                </div>

                <div class="list-group">
                    <ng-container *ngFor="let gasto of gastos; let i_p_g = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">

                                <a data-toggle="collapse" href="#{{gasto._id+'_f_'+i_p_g}}" (click)="gasto.ver = !gasto.ver">
                                    <h3 class="mb-1"><i class="fa mr-2" [ngClass]="{'fa-plus': !gasto.ver, 'fa-minus': gasto.ver}"></i> {{gasto.nombre}} {{ gasto.unidadPorHora}} </h3>
                                </a>

                                <div class=" flex-column align-items-end">
                                    <small class="ml-2" *ngIf="gasto.editandose">Cambios sin guardar.<a class="btn btn-link btn-outline-success btn-sm" (click)="guardarModificacionesAGasto(gasto)"><i class="fa fa-save"></i></a></small>
                                    <small class="ml-2">Costo: $<strong>{{gasto.costoPorHora/60 | number:'1.4-4' }}</strong>/min</small>
                                    <small class="ml-2"><a class="btn btn-link btn-outline-inverse btn-sm" (click)="gastoEditandose = gasto; gasto.editandose = true">Editar</a></small>
                                    <small *ngIf="!gasto._id" class="ml-2"><a class="btn btn-link btn-outline-danger btn-sm" (click)="eliminarGasto( i_p_g )"> <i class="fa fa-times"></i> </a></small>
                                </div>
                            </div>

                            <div class="collapse" id="{{gasto._id+'_f_'+i_p_g}}">
                                <small class="text-secondary">Costo por hora: {{gasto.costoPorHora}}</small>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
=====================================
    FIN gestión de gastos. 
=====================================
-->

<!-- 
=====================================
 Edición de procesos
=====================================
-->


<div class="row" *ngIf="procesoEditandose !== null">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Editar proceso: {{procesoEditandose.nombre}}</h1>

                <h3>Gastos del proceso.</h3>
                <div class="list-group">
                    <a *ngIf="procesoEditandose.gastos.length === 0" class="bg-danger text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <i class="fa fa-exclamation-circle animated tada infinite fa-2x"></i> <strong> Este proceso no tiene gastos asignados. </strong>
                    </a>
                    <ng-container *ngFor="let gastoConsumo of procesoEditandose.gastos, let i = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span class="w-75">
                                        
                                     <h3  class="text-inverse"><i class="fa fa-check animated rollIn text-success fa-2x" *ngIf="!gastoConsumo.editando"></i> {{gastoConsumo.gasto.nombre}} </h3>
                                    <br>
                                    Consumo: <b>{{gastoConsumo.consumo}}</b> {{gastoConsumo.gasto.unidadPorHora}}
                                    <div *ngIf="gastoConsumo.editando" class="form-group">
                                        <input type="number" class="form-control" [(ngModel)]="gastoConsumo.consumo">
                                        <small class="form-text text-muted">Ingresa el consumo </small>
                                    </div>
                                </span>
                                <div class="text-right">
                                    <button *ngIf="!gastoConsumo.editando" (click)="gastoConsumo.editando = !gastoConsumo.editando" class="animated fadeIn btn btn-outline-primary btn-sm"><i class="fa fa-edit"></i></button>
                                    <button *ngIf="gastoConsumo.editando" (click)="gastoConsumo.editando = !gastoConsumo.editando" class="animated fadeIn btn btn-outline-success"><i class="fa fa-check fa-2x"></i></button>
                                    <button *ngIf="!gastoConsumo.editando" (click)="procesoEditandose.gastos.splice(i, 1)" class="animated fadeIn ml-3 btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>

                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <h3>Gastos disponibles</h3>
                <div class="list-group">
                    <a *ngIf="procesoEditandose.gastos.length === gastos.length" class=" bg-light list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <h4 class="text-muted">No hay más gastos para asignar.</h4>
                        </div>
                    </a>
                    <ng-container *ngFor="let gasto of gastos, let i = index;">
                        <a *ngIf="!procesoContieneGasto( gasto )" class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span>
                                    {{gasto.nombre}} {{gasto.unidadPorHora}}
                                </span>
                                <button (click)="agregarGastoAProceso( gasto )" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <h3>Máquinas del proceso</h3>
                <div class="list-group">
                    <a *ngIf="procesoEditandose.maquinas.length === 0" class="bg-danger text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <i class="fa fa-exclamation-circle animated tada infinite fa-2x"></i> <strong> Este proceso no tiene máquinas asignadas. </strong>
                    </a>
                    <ng-container *ngFor="let maquina of procesoEditandose.maquinas, let i = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <h3 class="text-inverse"><i class="fa fa-check animated rollIn text-success fa-2x" *ngIf="!maquina.editando"></i> {{maquina.clave}} - {{maquina.nombre}} {{maquina.anio}} </h3>
                                <div class="text-right">
                                    <button *ngIf="!maquina.editando" (click)="procesoEditandose.maquinas.splice(i, 1)" class="animated fadeIn ml-3 btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <h3>Máquinas disponibles</h3>
                <div class="list-group">
                    <a *ngIf="procesoEditandose.maquinas.length === maquinas.length" class=" bg-light list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <h4 class="text-muted">No hay más máquinas para asignar.</h4>
                        </div>
                    </a>
                    <ng-container *ngFor="let maquina of maquinas, let i = index;">
                        <a *ngIf="!procesoContieneMaquina( maquina )" class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span>
                                        {{maquina.clave}} - {{maquina.nombre}} {{maquina.anio}}
                                </span>
                                <button (click)="this.procesoEditandose.maquinas.push( maquina );" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <br><br>
                <button (click)="guardarModificacionesAEsteProceso(procesoEditandose)" class="btn btn-success  mt-3 mr-3"><i class="fa fa-save"></i> Guardar</button>
                <button class="btn btn-danger mt-3 " (click)="procesoEditandose = null"><i class="fa fa-times"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- 
=====================================
 FIN edición procesos. 
=====================================
-->

<!-- 
=====================================
 Edición de maquinas
=====================================
-->
<div class="row" *ngIf="maquinaEditandose !== null">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Editar máquina: {{maquinaEditandose.nombre}}</h1>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="maquinaEditandose.nombre" required minlength="4" #nombre="ngModel">
                    <small class="form-text text-muted">Este nombre afecta como se muestra la máquina</small>
                    <ng-container *ngIf="nombre.invalid">
                        <ng-container *ngIf="nombre?.errors.required">
                            <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="maquinaEditandose.clave" required #clave="ngModel">
                    <small class="form-text text-muted">La clave con la que se máneja la máquina</small>
                    <ng-container *ngIf="clave.invalid">
                        <ng-container *ngIf="clave?.errors.required">
                            <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="maquinaEditandose.numeroDeSerie">
                    <small class="form-text text-muted">El número de serie de la máquina. </small>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" [(ngModel)]="maquinaEditandose.anio">
                    <small class="form-text text-muted">Año de fabricación </small>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" [(ngModel)]="maquinaEditandose.costo" required #costo="ngModel">
                    <small class="form-text text-muted">Costo de la máquina en MX</small>
                    <ng-container *ngIf="costo.invalid">
                        <ng-container *ngIf="costo?.errors.required">
                            <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                        </ng-container>
                    </ng-container>

                </div>
                <div class="form-group">
                    <input type="number" min="1" max="20" class="form-control" [(ngModel)]="maquinaEditandose.depreciacion" #depreciacion="ngModel" required>
                    <small class="form-text text-muted">Años para depreciación</small>
                    <ng-container *ngIf="depreciacion.invalid">
                        <ng-container *ngIf="depreciacion?.errors.required">
                            <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="form-group mt-3">
                    <textarea class="form-control" [(ngModel)]="maquinaEditandose.observaciones"></textarea>
                    <small class="form-text text-muted">Observaciones </small>
                </div>


                <h3>Gastos de la máquina </h3>
                <div class="list-group">
                    <a *ngIf="maquinaEditandose.gastos.length === 0" class="bg-danger text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <i class="fa fa-exclamation-circle animated tada infinite fa-2x"></i> <strong> Esta máquina no tiene gastos asignados. </strong>
                    </a>
                    <ng-container *ngFor="let gastoConsumo of maquinaEditandose.gastos, let i = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span class="w-75">
                                        
                                     <h3  class="text-inverse"><i class="fa fa-check animated rollIn text-success fa-2x" *ngIf="!gastoConsumo.editando"></i> {{gastoConsumo.gasto.nombre}} </h3>
                                    <br>
                                    Consumo: <b>{{gastoConsumo.consumo}}</b> {{gastoConsumo.gasto.unidadPorHora}}
                                    <div *ngIf="gastoConsumo.editando" class="form-group">
                                        <input type="number" class="form-control" [(ngModel)]="gastoConsumo.consumo">
                                        <small class="form-text text-muted">Ingresa el consumo </small>
                                    </div>
                                </span>
                                <div class="text-right">
                                    <button *ngIf="!gastoConsumo.editando" (click)="gastoConsumo.editando = !gastoConsumo.editando" class="animated fadeIn btn btn-outline-primary btn-sm"><i class="fa fa-edit"></i></button>
                                    <button *ngIf="gastoConsumo.editando" (click)="gastoConsumo.editando = !gastoConsumo.editando" class="animated fadeIn btn btn-outline-success"><i class="fa fa-check fa-2x"></i></button>
                                    <button *ngIf="!gastoConsumo.editando" (click)="eliminarGastoConsumo(i)" class="animated fadeIn ml-3 btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>

                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <h3>Gastos disponibles</h3>
                <div class="list-group">
                    <a *ngIf="maquinaEditandose.gastos.length === gastos.length" class=" bg-light list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <h4 class="text-muted">No hay más gastos para asignar.</h4>
                        </div>
                    </a>
                    <ng-container *ngFor="let gasto of gastos, let i = index;">
                        <a *ngIf="!maquinaContieneGasto( gasto )" class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span>
                                    {{gasto.nombre}} {{gasto.unidadPorHora}}
                                </span>
                                <button (click)="agregarGasto( gasto )" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <h3>Departamentos de acción de la máquina </h3>
                <div class="list-group">
                    <a *ngIf="maquinaEditandose.departamentos.length === 0" class="bg-danger text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <i class="fa fa-exclamation-circle animated tada infinite fa-2x"></i> <strong> Esta máquina no tiene departamentos asignados. </strong>
                    </a>
                    <ng-container *ngFor="let departamento of maquinaEditandose.departamentos, let i = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <h3> <i class="fa fa-check animated rollIn text-success fa-2x"></i>{{departamento.nombre}}</h3>
                                <div class="text-right">
                                    <button (click)="eliminarDepartamento(i)" class="animated fadeIn ml-3 btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <h3>Departamentos disponibles</h3>
                <div class="list-group">

                    <a *ngIf="maquinaEditandose.departamentos.length === departamentos.length" class=" bg-light list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <h4 class="text-muted">No hay más departamentos para asignar.</h4>
                        </div>
                    </a>
                    <ng-container *ngFor="let departamento of departamentos, let i = index;">
                        <a *ngIf="!maquinaContieneDepartamento( departamento )" class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span>
                                            {{departamento.nombre}} 
                                        </span>
                                <button (click)="maquinaEditandose.departamentos.push(departamento) " class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                        </a>
                    </ng-container>
                </div>

                <br><br>
                <button (click)="guardarModificacionesAEstaMaquina(maquinaEditandose)" class="btn btn-success  mt-3 mr-3"><i class="fa fa-save"></i> Guardar</button>
                <button class="btn btn-danger mt-3 " (click)="maquinaEditandose = null"><i class="fa fa-times"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- 
=====================================
 FIN edición de máquinas.
=====================================
-->

<!-- 
=====================================
 Edición de Gastos
=====================================
-->


<div class="row" *ngIf="gastoEditandose !== null">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Editar costo: {{gastoEditandose.nombre}}</h1>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="gastoEditandose.nombre" required #nombre="ngModel">
                    <small class="form-text text-muted">El nombre del gasto</small>
                    <ng-container *ngIf="nombre.invalid">
                        <ng-container *ngIf="nombre?.errors.required">
                            <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" [(ngModel)]="gastoEditandose.costoPorHora" required #costoPorHora="ngModel">
                    <small class="form-text text-muted">El costo por hora del gasto.</small>
                    <ng-container *ngIf="costoPorHora.invalid">
                        <ng-container *ngIf="costoPorHora?.errors.required">
                            <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="gastoEditandose.unidadPorHora" required #unidadPorHora>
                    <small class="form-text text-muted">La únidad por hora ( unidad/h )</small>
                    <ng-container *ngIf="unidadPorHora.invalid && (unidadPorHora.dirty || unidadPorHora.touched)">
                        <ng-container *ngIf="unidadPorHora.errors.required">
                            <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                        </ng-container>
                    </ng-container>

                </div>

                <div class="demo-checkbox">
                    <input [(ngModel)]="gastoEditandose.gastoDirecto" type="checkbox" id="md_checkbox_11" class="chk-col-light-green" checked="">
                    <label for="md_checkbox_11">Gasto directo</label>

                </div>


                <br><br>
                <button (click)="guardarModificacionesAGasto(gastoEditandose)" class="btn btn-success  mt-3 mr-3"><i class="fa fa-save"></i> Guardar</button>
                <button class="btn btn-danger mt-3 " (click)="gastoEditandose = null"><i class="fa fa-times"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- 
=====================================
 FIN de edición de Gastos
=====================================
-->