<div class="sl-item" style="min-height: 70px;">
  <div class="sl-left">
    <div
      class="shadow d-flex align-items-center justify-content-center text-info"
      style="width: 70px; height: 70px; background-color: #fff; border-radius: 50%;"
    >
      <i class="fas fa-2x {{ icono }} "> </i>
    </div>
  </div>

  <div class="sl-right">
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <span class="text-info font-bold">{{ mensaje }}</span>
        <span class="sl-date">{{ fecha | fecha: 'LLLL' }} </span>
      </div>
      <ng-content></ng-content>
    </div>

  </div>
</div>
