<small class="text-muted">Lista de todos los SKU´s registrados</small>
<hr />

<div
  *ngIf="!cargando; else precarga"
  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 card-deck"
>
  <div *ngFor="let sku of skus" class="col mb-4">
    <div class="card shadow">
      <a
        [codice-title-options]="{ stylesRoot: [['position', 'relative']] }"
        codice-title="Ver detalle de item"
        href="javascript:void(0)"
        (click)="verDetalle(sku)"
      >
        <img [codice-src]="sku?.imagenes[0]?.path" class="card-img-top" />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ sku.nombreCompleto }}</h5>
        <p class="card-text">{{ sku.descripcion }}</p>

        <div class="row">
          <div class="col-12">
            <span
              *ngFor="let etiqueta of sku.etiquetas; let i = index"
              [codice-tag]="etiqueta"
              [codice-tag-click]="filtrarPorEtiquetas(etiqueta)"
              [codice-tag-click-icon-class]="obtenerIconoDeEtiqueta(etiqueta)"
            >
            </span>
          </div>
        </div>

        <hr />

        <div class="w-100 d-flex justify-content-center align-items-center">
          <a
            codice-title="Modificar este item"
            class="btn btn-primary m-1"
            href="javascript:void(0)"
            role="button"
            (click)="modificar(sku)"
          >
            <i class="fas fa-edit"></i
          ></a>
          <a
            (click)="gestionarImagenes(sku)"
            codice-title="Agregar o quitar imagenes"
            class="btn btn-primary m-1"
            href="javascript:void(0)"
            role="button"
          >
            <i class="fas fa-camera-retro"></i
          ></a>

          <a
            codice-title="Ver detalle de item"
            (click)="verDetalle(sku)"
            class="btn btn-info m-1"
            href="javascript:void(0)"
            role="button"
          >
            <i class="fas fa-search-plus"></i
          ></a>

          <a
            (click)="etiquetasEditar(sku)"
            codice-title="Editar etiquetas de este item"
            class="btn btn-outline-secondary m-1"
            href="javascript:void(0)"
            role="button"
          >
            <i class="fas fa-tags"></i>
          </a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <div class="row">
            <span class="col-4 text-center font-bold">
              <span
                codice-title="Existencia mínima para resurtir este item [ {{
                  sku.stockMinimo | number: '0.0-2'
                }} ]"
                >MIN</span
              >
            </span>
            <span class="col-4 text-center font-bold">
              <span
                codice-title="Existencia actual [ {{
                  sku.existencia | number: '0.0-2'
                }} ] "
                >EXI</span
              >
            </span>
            <span class="col-4 text-center font-bold">
              <span
                codice-title="Existencia máxima permitida para este item [ {{
                  sku.stockMaximo | number: '0.0-2'
                }} ]"
                >MAX</span
              >
            </span>
          </div>
          <div class="row">
            <span class="col-4 text-center">{{
              sku.stockMinimo | number: '0.0-2'
            }}</span>
            <span class="col-4 text-center">{{
              sku.existencia | number: '0.0-2'
            }}</span>
            <span class="col-4 text-center">{{
              sku.stockMaximo | number: '0.0-2'
            }}</span>
          </div>
        </small>
      </div>
    </div>
  </div>
</div>

<ng-template #precarga>
  <div class="w-25">
    <codice-ux-precarga></codice-ux-precarga>
  </div>
</ng-template>

<codice-modal id="editarEtiquetas">
  <ng-container *ngIf="skuEtiquetas">
    <div class="row">
      <div class="col-12">
        <h3>Editar etiquetas</h3>
        <h5>{{ skuEtiquetas.nombreCompleto }}</h5>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="">Agregar etiqueta</label>
          <input
            #input
            (keyup.enter)="etiquetaGuardar(skuEtiquetas, input)"
            type="text"
            class="form-control"
            placeholder="Escribe la nueva etiqueta"
            [disabled]="cargandoEtiqueta"
          />
          <small id="helpId" class="form-text text-muted"
            >Presiona enter para guardar
            <i *ngIf="cargandoEtiqueta" class="fas fa-sync fa-spin-fast"></i
          ></small>
        </div>
      </div>

      <div class="col-12">
        <span
          *ngFor="let tag of skuEtiquetas.etiquetas"
          [codice-tag]="tag"
          [codice-tag-click]="etiquetaEliminar(skuEtiquetas, tag)"
          [codice-tag-click-icon-class]="[
            'fas',
            'fa-times-circle',
            'text-danger',
            'mr-1'
          ]"
        >
        </span>
      </div>
    </div>
  </ng-container>
</codice-modal>
