<small class="text-muted">Lista de todos los SKU´s registrados</small>
<hr />

<div
  *ngIf="!cargando; else precarga"
  class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 card-deck"
>
  <div *ngFor="let sku of skus" class="col mb-4">
    <div class="card shadow">
      <a
        *ngIf="verDetalle"
        [codice-title-options]="{ stylesRoot: [['position', 'relative']] }"
        codice-title="Ver detalle de item"
        href="javascript:void(0)"
        (click)="verDetalle(sku)"
      >
        <img [codice-src]="sku?.imagenes[0]?.path" class="card-img-top" />
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <div class="row">
            <div class="col-12">
              {{ sku.nombreCompleto }}
            </div>
            <div class="col-12 text-muted">
              $ {{ sku.costoVenta | number: '0.2' }} | {{ sku.unidad }}
            </div>
          </div>
        </h5>

        <p class="card-text">{{ sku.descripcion }}</p>

        <div class="row">
          <div class="col-12">
            <span
              *ngFor="let etiqueta of sku.etiquetas; let i = index"
              [codice-tag]="etiqueta"
              [codice-tag-click]="filtrarPorEtiquetas(etiqueta)"
              [codice-tag-click-icon-class]="obtenerIconoDeEtiqueta(etiqueta)"
            >
            </span>
          </div>
        </div>

        <hr />

        <div class="w-100 d-flex justify-content-center align-items-center">
          <a
            *ngIf="soloSeleccionable"
            codice-title="Seleccionar este item"
            class="btn btn-outline-success m-1"
            href="javascript:void(0)"
            role="button"
            (click)="skuSeleccionado.emit(sku)"
          >
            <i class="fas fa-check-double"></i
          ></a>

          <ng-container *ngIf="!soloSeleccionable">
            <a
              codice-title="Modificar este item"
              class="btn btn-primary m-1"
              href="javascript:void(0)"
              role="button"
              (click)="modificar(sku)"
            >
              <i class="fas fa-edit"></i
            ></a>
            <a
              (click)="gestionarImagenes(sku)"
              codice-title="Agregar o quitar imagenes"
              class="btn btn-primary m-1"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-camera-retro"></i
            ></a>

            <a
              codice-title="Ver detalle de item"
              (click)="verDetalle(sku)"
              class="btn btn-info m-1"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-search-plus"></i
            ></a>

            <a
              (click)="abrirModal(sku, idModEtiquetas)"
              codice-title="Editar etiquetas de este item"
              class="btn btn-outline-secondary m-1"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-tags"></i>
            </a>
          </ng-container>
        </div>

        <ng-container *ngIf="!soloSeleccionable">
          <hr />
          <div class="w-100 d-flex justify-content-center align-items-center">
            <a
              codice-title="Modificar stock"
              href="javascript:void(0)"
              (click)="abrirModal(sku, idModStock)"
              class="btn btn-outline-primary mr-1"
            >
              <i class="fas fa-boxes"></i
            ></a>
            <a
              codice-title="Agregar una entrada manual"
              href="javascript:void(0)"
              (click)="abrirModal(sku, idModEntrada)"
              class="btn btn-outline-success mr-1"
            >
              <i class="fas fa-plus"></i
            ></a>
            <a
              codice-title="Agregar una salida manual"
              href="javascript:void(0)"
              (click)="abrirModal(sku, idModSalidas)"
              class="btn btn-outline-warning"
            >
              <i class="fas fa-minus"></i
            ></a>
          </div>
        </ng-container>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <div class="row">
            <span class="col-4 text-center font-bold">
              <span
                codice-title="Existencia mínima para resurtir este item [ {{
                  sku.stockMinimo | number: '0.0-2'
                }} ]"
                >MIN</span
              >
            </span>
            <span class="col-4 text-center font-bold">
              <span
                codice-title="Existencia actual [ {{
                  sku.existencia | number: '0.0-2'
                }} ] "
                >EXI</span
              >
            </span>
            <span class="col-4 text-center font-bold">
              <span
                codice-title="Existencia máxima permitida para este item [ {{
                  sku.stockMaximo | number: '0.0-2'
                }} ]"
                >MAX</span
              >
            </span>
          </div>
          <div class="row">
            <span class="col-4 text-center">{{
              sku.stockMinimo | number: '0.0-2'
            }}</span>
            <span class="col-4 text-center">{{
              sku.existencia | number: '0.0-2'
            }}</span>
            <span class="col-4 text-center">{{
              sku.stockMaximo | number: '0.0-2'
            }}</span>
          </div>
        </small>
      </div>
    </div>
  </div>
</div>

<ng-template #precarga>
  <div class="w-25">
    <codice-ux-precarga></codice-ux-precarga>
  </div>
</ng-template>

<codice-modal [id]="idModStock">
  <app-sku-stock-minimo-maximo [sku]="skuTraslado">
  </app-sku-stock-minimo-maximo>
</codice-modal>

<codice-modal [id]="idModEtiquetas">
  <app-sku-etiquetas [sku]="skuTraslado"> </app-sku-etiquetas>
</codice-modal>

<codice-modal [id]="idModSalidas">
  <app-sku-salida [sku]="skuTraslado"></app-sku-salida>
</codice-modal>

<codice-modal [id]="idModEntrada">
  <app-sku-entrada [sku]="skuTraslado"></app-sku-entrada>
</codice-modal>
