a<ng-container
  *ngIf="!editandoFormulario && !seleccionandoMaquinas"
  cdkDropListGroup
>
  <div class="row fadeIn animated">
    <div class="col-12">
      <div class="card shadow">
        <div
          class="card-body d-flex justify-content-between align-items-center"
        >
          <h1>
            <i class="fas fa-qrcode"></i>
            Gestion de estaciones de escaneo
          </h1>

          <a
            (click)="submit()"
            class="btn btn-success"
            href="javascript:void(0)"
            role="button"
          >
            <i class="fas fa-save fa-sm"></i> Guardar
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <ul class="list-group">
            <li
              class="list-group-item active app-lista-scroll-encabezado d-flex align-items-start"
            >
              <div
                class="w-100 d-flex justify-content-between align-items-center"
              >
                <span>
                  <i class="fas fa-qrcode"></i> Escaners habilitados ({{
                    departamentosSeleccionados.length
                  }})</span
                >
                <input
                  [formControl]="inputDepartamentosSeleccionados"
                  type="text"
                  class="form-control w-50"
                />
              </div>
            </li>
            <li
              *ngFor="let g of mostrarDepartamentosSeleccionados; let i = index"
              class="list-group-item"
            >
              <i class="fas fa-qrcode text-success"></i>

              <span class="font-bold font-20">
                {{ g.departamento.nombre }}
              </span>

              <hr class="thin" />

              <a
                (click)="departamentoParaFormulario(g)"
                class="btn btn-xs mr-1"
                href="javascript:void(0)"
                role="button"
                [ngClass]="{
                  'btn-outline-secondary': g.inputsFormulario.length === 0,
                  'btn-success': g.inputsFormulario.length > 0
                }"
              >
                <i
                  *ngIf="g.inputsFormulario.length === 0"
                  class="fas fa-square"
                ></i>
                <i
                  *ngIf="g.inputsFormulario.length > 0"
                  class="fas fa-check-square"
                ></i>
                Formulario
              </a>
              <a
                (click)="g.ponerATrabajar = !g.ponerATrabajar"
                class="btn btn-xs mr-3"
                [ngClass]="{
                  'btn-outline-secondary': !g.ponerATrabajar,
                  'btn-success': g.ponerATrabajar
                }"
                href="javascript:void(0)"
                role="button"
              >
                <i *ngIf="!g.ponerATrabajar" class="fas fa-square"></i>
                <i *ngIf="g.ponerATrabajar" class="fas fa-check-square"></i>
                Poner a trabajar
              </a>
              <a
                (click)="seleccionarMaquinas(g)"
                data-toggle="modal"
                data-target="#selectorMaquinas"
                class="btn btn-xs mr-3"
                [ngClass]="{
                  'btn-outline-secondary': g.maquinas?.length === 0,
                  'btn-success': g.maquinas?.length > 0
                }"
                href="javascript:void(0)"
                role="button"
              >
                <i
                  *ngIf="!g.ponerATrabajarConMaquina"
                  class="fas fa-square"
                ></i>
                <i
                  *ngIf="g.ponerATrabajarConMaquina"
                  class="fas fa-check-square"
                ></i>
                Poner a trabajar con maquina
              </a>
              <a
                (click)="g.recibirTodo = !g.recibirTodo"
                class="btn btn-xs mr-3"
                [ngClass]="{
                  'btn-outline-secondary': !g.recibirTodo,
                  'btn-success': g.recibirTodo
                }"
                href="javascript:void(0)"
                role="button"
              >
                <i *ngIf="!g.recibirTodo" class="fas fa-square"></i>
                <i *ngIf="g.recibirTodo" class="fas fa-check-square"></i>
                Recibir todo
              </a>
              <a
                (click)="g.registrarTodo = !g.registrarTodo"
                class="btn btn-xs mr-3"
                [ngClass]="{
                  'btn-outline-secondary': !g.registrarTodo,
                  'btn-success': g.registrarTodo
                }"
                href="javascript:void(0)"
                role="button"
              >
                <i *ngIf="!g.registrarTodo" class="fas fa-square"></i>
                <i *ngIf="g.registrarTodo" class="fas fa-check-square"></i>
                Registrar todo
              </a>
              <a
                (click)="definirUltimoDepartamento(g)"
                class="btn btn-xs mr-3"
                [ngClass]="{
                  'btn-outline-secondary': !g.ultimoDepartamento,
                  'btn-success': g.ultimoDepartamento
                }"
                href="javascript:void(0)"
                role="button"
              >
                <i *ngIf="!g.ultimoDepartamento" class="fas fa-square"></i>
                <i *ngIf="g.ultimoDepartamento" class="fas fa-check-square"></i>
                Ultimo departamento
              </a>

              <br />

              <ul
                cdkDropList
                [id]="g.departamento._id"
                [cdkDropListData]="g.usuarios"
                (cdkDropListDropped)="drop($event)"
                class="list-group mt-3"
              >
                <li class="list-group-item bg-danger text-white py-0">
                  Usuarios con permiso
                </li>
                <li
                  cdkDrag
                  *ngFor="let u of g.usuarios; let i = index"
                  class="list-group-item justify-content-md-between d-md-flex align-items-md-center"
                >
                  <span>
                    <i class="fas fa-user-check text-success"></i>
                    {{ u.nombre }}
                  </span>
                  <a
                    (click)="g.usuarios.splice(i, 1)"
                    class="btn btn-danger btn-xs"
                    href="javascript:void(0)"
                    role="button"
                    ><i class="fas fa-trash"></i
                  ></a>
                </li>
                <li
                  *ngIf="g.usuarios.length === 0"
                  class="list-group-item disabled"
                >
                  Sin permisos
                </li>
              </ul>
            </li>
            <li
              *ngIf="departamentosSeleccionados.length === 0"
              class="list-group-item disabled"
            >
              No hay departamentos
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <ul class="list-group app-lista-scroll">
            <li
              class="list-group-item active app-lista-scroll-encabezado d-flex align-items-start"
            >
              <div
                class="w-100 d-flex justify-content-between align-items-center"
              >
                <span
                  ><i class="fas fa-cogs"></i> Departamentos ({{
                    departamentos.length
                  }})</span
                >
                <input
                  [formControl]="inputDepartamento"
                  type="text"
                  class="form-control w-50"
                />
              </div>
            </li>
            <li
              [ngStyle]="{
                display: mostrarDepartamentos.includes(g.departamento._id)
                  ? ''
                  : 'none'
              }"
              *ngFor="let g of departamentos"
              class="list-group-item"
            >
              <a
                (click)="agregarOQuitarDepartamento(g)"
                class="btn btn-xs btn-success"
                href="javascript:void(0)"
                role="button"
                [ngClass]="{
                  'btn-danger': contieneElDepartamento(g.departamento._id)
                }"
              >
                <i
                  *ngIf="contieneElDepartamento(g.departamento._id)"
                  class="fas fa-times-circle"
                ></i>
                <i
                  *ngIf="!contieneElDepartamento(g.departamento._id)"
                  class="fas fa-check-circle"
                ></i>
              </a>
              {{ g.departamento.nombre }}
            </li>
            <li
              *ngIf="departamentos.length === 0"
              class="list-group-item disabled"
            >
              No hay departamentos
            </li>
          </ul>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-body">
          <ul
            cdkDropList
            #usuariosList="cdkDropList"
            [cdkDropListData]="usuarios"
            [cdkDropListConnectedTo]="relacionesParaUsuarios"
            (cdkDropListDropped)="drop($event)"
            cdkDropListSortingDisabled
            class="list-group mt-3 app-lista-scroll"
          >
            <li
              class="list-group-item active app-lista-scroll-encabezado d-flex align-items-start"
            >
              <div
                class="w-100 d-flex justify-content-between align-items-center"
              >
                <span
                  ><i class="fas fa-users"></i> Usuarios ({{
                    usuarios.length
                  }})</span
                >
                <input
                  [formControl]="inputUsuarios"
                  type="text"
                  class="form-control w-50"
                />
              </div>
            </li>
            <li
              [ngStyle]="{
                display: mostrarUsuarios.includes(u._id) ? '' : 'none'
              }"
              cdkDrag
              [cdkDragData]="'copiar'"
              *ngFor="let u of usuarios"
              class="list-group-item"
            >
              <i class="fas fa-user-slash"></i> {{ u.nombre }}
            </li>
            <li *ngIf="usuarios.length === 0" class="list-group-item disabled">
              No hay usuarios
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-creador-de-formularios
  *ngIf="editandoFormulario"
  [departamento]="depaSeleccinadoParaCrearFormulario"
  (volver)="volver()"
>
</app-creador-de-formularios>

<div *ngIf="seleccionandoMaquinas" class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <h1>
          {{ scannerParaSeleccionarMaquinas.departamento.nombre }}
          <a
            (click)="cerrarSeleccionandoMaquina()"
            class="btn btn-outline-info"
            href="javascript:void(0)"
            role="button"
          >
            Volver</a
          >
        </h1>

        <div class="col-12"><hr /></div>

        <div cdkDropListGroup class="row">
          <div class="col-12 col-md-6">
            <ul
              cdkDropList
              [cdkDropListData]="scannerParaSeleccionarMaquinas.maquinas"
              (cdkDropListDropped)="
                dropMaquinas($event, scannerParaSeleccionarMaquinas)
              "
              class="list-group app-lista-scroll"
            >
              <li class="list-group-item active app-lista-scroll-encabezado">
                <div
                  class="w-100 d-flex justify-content-between align-items-center"
                >
                  <span> Maquinas Seleccionadas</span>
                  <input type="text" class="form-control w-50" />
                </div>
              </li>
              <li
                cdkDragDisabled
                cdkDrag
                *ngFor="
                  let maquina of scannerParaSeleccionarMaquinas.maquinas;
                  let i = index
                "
                class="list-group-item"
              >
                <span class="d-flex justify-content-between align-items-center">
                  <span>
                    <a
                      (click)="
                        scannerParaSeleccionarMaquinas.maquinas.splice(i, 1)
                      "
                      class="btn btn-danger btn-xs mr-3"
                      href="javascript:void(0)"
                      ><i class="fa fa-trash"></i></a
                    >{{ maquina.nombre }}</span
                  >
                  <b>{{ maquina.clave }}</b>
                </span>
              </li>
              <li
                *ngIf="scannerParaSeleccionarMaquinas.maquinas.length === 0"
                class="list-group-item disabled"
              >
                No hay maquinas seleccionadas
              </li>
            </ul>
          </div>

          <div class="col-12 col-md-6">
            <ul
              cdkDropList
              [cdkDropListData]="maquinas"
              (cdkDropListDropped)="
                dropMaquinas($event, scannerParaSeleccionarMaquinas)
              "
              cdkDropListSortingDisabled
              class="list-group app-lista-scroll"
            >
              <li class="list-group-item active app-lista-scroll-encabezado">
                <div
                  class="w-100 d-flex justify-content-between align-items-center"
                >
                  <span> Maquinas disponibles</span>
                  <input type="text" class="form-control w-50" />
                </div>
              </li>
              <li
                cdkDrag
                *ngFor="let maquina of maquinas"
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <span>
                  {{ maquina.nombre }}
                </span>

                <span>{{ maquina.clave }}</span>
              </li>
              <li
                *ngIf="maquinas.length === 0"
                class="list-group-item disabled"
              >
                No hay maquinas disponibles
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
