<div class="d-flex align-items-center justify-content-center">
  <i class="fas fa-shipping-fast fa-5x mr-3 text-info"></i>
  <span>
    <h1 class="display-6">
      Orden de compra <b class="text-info">en proceso</b>
      <span *ngIf="historialEstatus?.estatus.fechaDeGeneracionDeOrdenDeCompra">
        desde el
        <span class="text-muted">
          {{
            historialEstatus.estatus.fechaDeGeneracionDeOrdenDeCompra
              | fecha: "LLLL"
          }}
        </span>
      </span>
    </h1>
    <div>
      <a class="link"
        >Compra realizada por
        {{ historialEstatus.usuarioQueModifica.nombre | titlecase }}
        <img
          [src]="historialEstatus.usuarioQueModifica.img | imagen"
          alt="usuario"
          class="profile-pic img-50"
        />

        <br /> </a
      ><span class="sl-date">
       el  {{ historialEstatus.fechaModificacion | fecha: "LLLL" }}</span
      >
    </div>
  </span>
</div>
