<div class="row" [ngClass]="{'oculto': !_qrScannerService.leyendo}">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <app-qr-scanner></app-qr-scanner>
            </div>
        </div>
    </div>
</div>

<div class="row animated tada" *ngIf="_qrScannerService.lecturaCorrecta">
    <div class="col-12">
        <div class="card border-dark">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        <h3 class="box-title m-b-0"><strong>Pastilla</strong></h3>
                        <p class="text-white m-b-30 font-13"> Registra los datos de la órden </p>

                    </div>
                    <div class="col-6">
                        <h2>
                            <strong>
                                <app-modelo-completo class="mr-3" *ngIf="linea" [linea]="linea"></app-modelo-completo>
                            </strong>
                            <app-nivel-urgencia [nivel]="orden?.nivelDeUrgencia"></app-nivel-urgencia>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <form #f (ngSubmit)="onSubmit(pastillaForm)" [formGroup]="pastillaForm">

                            <ng-container *ngFor="let cp of cantidadesPastilla; let i = index ;trackBy:trackByFn">

                                <!-- PESO DE 10 BOTONES -->
                                <div class="row">
                                    <div class="form-group col">
                                        <input [formControlName]="'peso10Botones'+i" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(this.pastillaForm.get('peso10Botones'+i)), 'is-valid':_validacionesService.valid(this.pastillaForm.get('peso10Botones'+i))}"
                                            type="number" placeholder="Peso de 10 botones">
                                        <app-validacion-inputs [campo]="this.pastillaForm.get('peso10Botones'+i)"></app-validacion-inputs>
                                    </div>
                                    <!-- PESO TOTAL DE BOTÓN -->
                                    <div class="form-group col">
                                        <input [formControlName]="'pesoTotalBoton'+i" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(this.pastillaForm.get('pesoTotalBoton'+i)), 'is-valid':_validacionesService.valid(this.pastillaForm.get('pesoTotalBoton'+i))}"
                                            type="number" placeholder="Peso del botón">
                                        <app-validacion-inputs [campo]="this.pastillaForm.get('pesoTotalBoton'+i)"></app-validacion-inputs>
                                    </div>
                                    <!-- ESPESOR DE PASTILLA -->
                                    <div class="form-group col">
                                        <input [formControlName]="'espesorPastilla'+i" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(this.pastillaForm.get('espesorPastilla'+i)), 'is-valid':_validacionesService.valid(this.pastillaForm.get('espesorPastilla'+i))}"
                                            type="number" placeholder="Espesor de la pastilla">
                                        <app-validacion-inputs [campo]="this.pastillaForm.get('espesorPastilla'+i)"></app-validacion-inputs>
                                    </div>
                                    <div class="form-group col-2 d-flex align-items-center">
                                        <h3><small>Piezas: </small> {{ (cantidadesPastilla[i].pesoTotalBoton*1000)/(cantidadesPastilla[i].peso10Botones/10) | number:'1.0-0'}}</h3>
                                    </div>

                                    <div class="form-group col-1 d-flex align-items-center ">
                                        <a (click)="agregarCantidades()" *ngIf="i === (cantidadesPastilla.length-1)" class="btn btn-outline-success "><i class="fa fa-plus"></i></a>
                                        <a (click)="eliminarCantidades(i)" *ngIf="i !== (cantidadesPastilla.length-1)" class="btn btn-outline-danger "><i class="fa fa-times"></i></a>
                                    </div>

                                </div>
                            </ng-container>



                            <h3>Contado por:</h3>
                            <ng-container *ngFor="let empleado of empleados; let i = index">
                                <input type="radio" [id]="i" formControlName="conto" [value]="empleado._id">
                                <label [for]="i">{{empleado.nombre}}</label>
                                <br>
                            </ng-container>

                            <br>
                            <br>

                            <button type="submit" [ngClass]="{'btn-success': pastillaForm.valid, 'btn-outline-dark': pastillaForm.invalid}" [disabled]="pastillaForm.invalid" class="btn  btn-lg mr-3 "><i class="fa fa-save "></i> Guardar</button>
                            <button (click)="limpiar() " class="btn btn-danger btn-lg mr-3 "><i class="fa fa-times "></i> Escannear de nuevo</button>

                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-lista-de-ordenes *ngIf="_qrScannerService.leyendo "> </app-lista-de-ordenes>