<app-qr-scanner></app-qr-scanner>

<div class="row animated tada" *ngIf="_qrScannerService.lecturaCorrecta">
    <!-- <div class="row animated tada"> -->
    <div class="col-12">
        <div class="card border-dark">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        <h3 class="box-title m-b-0"><strong>Pastilla</strong></h3>
                        <p class="text-white m-b-30 font-13"> Registra los datos de la órden </p>

                    </div>
                    <div class="col-6">
                        <h2>
                            <strong>
                                {{ linea.modeloCompleto | modeloCompleto }}
                            </strong>
                            <app-nivel-urgencia [nivel]="orden?.nivelDeUrgencia"></app-nivel-urgencia>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <form #f (ngSubmit)="onSubmit(formulario.value, formulario.valid,$event)" [formGroup]="formulario" novalidate>
                            <span formArrayName='cantidades'>

                                <ng-container *ngFor="let cp of formulario?.controls['cantidades'].controls; let i = index;">
    
                                    <!-- PESO DE 10 BOTONES -->
                                    <div class="row" [formGroupName]="i">
                                        <div class="form-group col">
                                            <input formControlName="peso10Botones" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(cp.controls.peso10Botones), 'is-valid':_validacionesService.valid(cp.controls.peso10Botones)}"
                                                type="number" placeholder="Peso de 10 botones">
                                            <app-validacion-inputs [campo]="cp.controls.peso10Botones"></app-validacion-inputs>
                                        </div>
                                        <!-- PESO TOTAL DE BOTÓN -->
                                        <div class="form-group col">
                                            <input formControlName="pesoTotalBoton" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(cp.controls.pesoTotalBoton), 'is-valid':_validacionesService.valid(cp.controls.pesoTotalBoton)}"
                                                type="number" placeholder="Peso del botón">
                                            <app-validacion-inputs [campo]="cp.controls.pesoTotalBoton"></app-validacion-inputs>
                                        </div>
                                        <!-- ESPESOR DE PASTILLA -->
                                        <div class="form-group col">
                                            <input formControlName="espesorPastilla" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(cp.controls.espesorPastilla), 'is-valid':_validacionesService.valid(cp.controls.espesorPastilla)}"
                                                type="number" placeholder="Espesor de la pastilla">
                                            <app-validacion-inputs [campo]="cp.controls.espesorPastilla"></app-validacion-inputs>
                                        </div>
                                        <div class="form-group col-2 d-flex align-items-center">
                                            
                                            <h3><small>Piezas: </small> <br> {{ (cp.controls.pesoTotalBoton.value*1000)/(cp.controls.peso10Botones.value/10) | number:'1.0-0'}}</h3>
                                        </div>
    
                                        <div class="form-group col-1 d-flex align-items-center ">
                                            <a (click)="agregarCantidades()" *ngIf="i === (formulario?.controls['cantidades'].controls.length-1)" class="btn btn-outline-success "><i class="fa fa-plus"> </i></a>
                                            <a (click)="eliminarCantidades(i)" *ngIf="i !== (formulario?.controls['cantidades'].controls.length-1)" class="btn btn-outline-danger "><i class="fa fa-times"></i></a>
                                        </div>
    
                                    </div>
                                </ng-container>

                            </span>

                            <div class="row">

                                <div class="col-6">
                                    <h3>Contado por:</h3>
                                    <ng-container *ngFor="let empleado of empleados; let i = index">
                                        <input type="radio" [id]="i" formControlName="conto" [value]="empleado._id">
                                        <label [for]="i">{{empleado.nombre}}</label>
                                        <br>
                                    </ng-container>

                                </div>
                                <div class="col-6 text-right">

                                    <h1><small>Total de pastilla: </small> <strong>{{ totalBoton() | number:'1.0-0'}} </strong></h1>
                                </div>
                            </div>




                            <br>
                            <br>

                            <button type="submit" [ngClass]="{'btn-success': formulario.valid, 'btn-outline-dark': formulario.invalid}" [disabled]="formulario.invalid" class="btn  btn-lg mr-3 "><i class="fa fa-save "></i> Guardar</button>
                            <button (click)="limpiar() " class="btn btn-danger btn-lg mr-3 "><i class="fa fa-times "></i> Escannear de nuevo</button>

                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-lista-de-ordenes *ngIf="_qrScannerService.leyendo "> </app-lista-de-ordenes>