<div class="input-group mb-3 animated fadeIn" *ngIf="input">
    <!-- <div class="input-group-prepend"> -->

    <span class="input-group-addon" id="basic-addon1" *ngIf="!s.mostrarCarga && !s.termino"> 
        <i *ngIf="!s.mostrarCarga" class="fa  fa-search"></i> 
      </span>
    <span class="input-group-btn">
      <button [disabled]="s.mostrarCarga" (click)="s.limpiarTodo()" *ngIf="s.termino " class="btn btn-danger ">
          <i *ngIf="s.mostrarCarga " class="fa fa-spinner fa-spin"></i> 
          <i *ngIf="!s.mostrarCarga " class="fa fa-times"></i> 
          
        </button>

    </span>
    <!-- </div> -->
    <input [disabled]='s.elementoSeleccionado' #inputBuscador [(value)]='s.termino' (keyup)="s.buscar(inputBuscador.value, $event)" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="list-group mb-3 animated fadeIn delay-1s" *ngIf="lista">

    <span class="list-group-item bg-dark text-white text-acenter">
      <!-- <h5 class="text-muted"> -->
        <span *ngIf="!s.mostrarCarga && s.elementos?.length===0 && s.termino ==='' && !s.elementoSeleccionado"   ><i class="fa fa-search"></i> Comienza a escribir para buscar un {{s.nombreDeElemento}}.</span>
    <span *ngIf="s.elementos?.length>0 && !s.mostrarCarga && !s.elementoSeleccionado"> <i class="fa fa-check"></i>  Selecciona un {{s.nombreDeElemento}} de la lista.  </span>
    <span *ngIf="!s.elementos.length && s.termino.length && !s.mostrarCarga"> <i class="fa fa-times "></i> No hubo coincidencias. </span>
    <span *ngIf="s.mostrarCarga">
          <i class="fa fa-spin fa-spinner"></i> Buscando coincidencias para {{s.termino}}
        </span>
    <!-- </h5> -->
    <h3 *ngIf="s.elementoSeleccionado " class="text-white d-flex justify-content-between align-items-center">
        <span class="text-left">
            <i class="fa fa-check text-success animated fadeIn delay-0-5s"></i>
            <strong  class="ml-3">{{s.elementoSeleccionado.nombre}} </strong> 
        </span>
        <a (click)='s.limpiarTodo()' class="btn btn-link btn-sm text-danger animated fadeIn delay-2s"><i class="fa fa-times"></i></a>
    </h3>
    </span>


    <a *ngFor='let ele of s.elementos; let i of index;' (click)='s.seleccionarElemento(ele)' class="list-group-item list-group-item-action bg-light d-flex justify-content-between align-items-center" [ngClass]="{'bg-dark text-white ': ele.atenuar}"> 
      {{ele.nombre}} <small [class]=ele.claseAtenuacion>{{ele?.mensajeAtenuacion}}</small>
    </a>


    <small *ngIf="s.elementos.length && s.termino.length" class="d-flex justify-content-between align-items-center mt-1">
    <span class="text-muted">Pagina <strong>{{s.numeroDePaginaActual}}</strong> de {{s.obtenerPagina() }} </span>
    <span class="text-muted">
      Mostrar 
      
      
      <a  *ngFor='let bto of s.botones; let i of index;' (click)="s.modificarCantidadDeRegistrosAMostrar(bto)" class="btn btn-primary btn-sm mr-1 text-white"  [ngClass]="{'btn-success': s.limite=== bto}">{{bto}}</a>  
      
    </span>
    <span class="justify-content-between align-items-center text-muted">
      <a *ngIf="s.numeroDePaginaActual!==1" (click)='s.anterior()' class="btn btn-link btn-sm  "> &lt; Anterior </a> 
      <a *ngIf="s.numeroDePaginaActual !== s.obtenerPagina()  " (click)='s.siguiente()' class="btn btn-link btn-sm  "> Siguiente &gt; </a> 
    </span>
  </small>
</div>