<div class="card shadow">
  <div class="card-body">
    <div class="d-flex no-block">
      <div class="m-r-20 align-self-center">
        <span class="lstick m-r-20"></span><i class="fas fa-users fa-3x"></i>
      </div>
      <div class="align-self-center">
        <h6 class="text-muted m-t-10 m-b-0">Contactos existentes</h6>
        <h2 class="m-t-0">
          {{ eSer.totalContactos | number }}
        </h2>

 <app-estadistica-recargar
          (ejecutar)="cargar()"
          (esteComponente)="componenteCarga = $event"
        ></app-estadistica-recargar>
      </div>
    </div>
  </div>
</div>
