<div class="row" *ngIf="!editando()">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-pre-loader></app-pre-loader>
                <div class="d-flex w-100 justify-content-between mb-3">
                    <h1>Modelos completos </h1>
                    <button (click)="crearNuevoModelo()" class="btn btn-outline-success">
                      <i class="fa fa-plus"></i> 
                      Crear nuevo modelo
                    </button>
                </div>

                <div class="list-group">
                    <ng-container *ngFor="let modeloCompleto of modelosCompletos; let i_mc = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <app-modelo-completo [modeloCompleto]="modeloCompleto"></app-modelo-completo>
                                <div>

                                    <button *ngIf="modeloCompleto.editado" (click)="guardarCambiosDeModeloCompleto( modeloCompleto )" class="btn btn-outline-success btn-sm mr-1"> <i class="fa fa-save"></i></button>
                                    <button (click)="editarModeloCompleto( modeloCompleto )" class="btn btn-outline-inverse btn-sm mr-1"> <i class="fa fa-plus"></i> Agregar costos</button>
                                    <button (click)="eliminarModeloCompleto( modeloCompleto )" class="btn btn-outline-danger btn-sm "><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
=====================================
 Editar modelo completo
=====================================
-->

<div class="row" *ngIf="creandoModelo && modeloCompletoCostos === null">
    <div class="col-12">
        <div class="card">

            <h1>Crear nuevo modelo</h1>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="modelo" required #_modelo="ngModel">
                <small class="form-text text-muted">Modelo</small>
                <ng-container *ngIf="_modelo.invalid">
                    <ng-container *ngIf="_modelo?.errors.required">
                        <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                    </ng-container>
                </ng-container>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="tamano" required #_tamano="ngModel">
                <small class="form-text text-muted">tamano</small>
                <ng-container *ngIf="_tamano.invalid">
                    <ng-container *ngIf="_tamano?.errors.required">
                        <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                    </ng-container>
                </ng-container>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="color" required #_color="ngModel">
                <small class="form-text text-muted">color</small>
                <ng-container *ngIf="_color.invalid">
                    <ng-container *ngIf="_color?.errors.required">
                        <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                    </ng-container>
                </ng-container>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="terminado" required #_terminado="ngModel">
                <small class="form-text text-muted">terminado</small>
                <ng-container *ngIf="_terminado.invalid">
                    <ng-container *ngIf="_terminado?.errors.required">
                        <app-validacion-inputs [especial]="'Este campo es obligatorio'"></app-validacion-inputs>
                    </ng-container>
                </ng-container>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="laserAlmacen">
                <small class="form-text text-muted">Laser almacen</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="versionModelo">
                <small class="form-text text-muted">Versión del modelo</small>
            </div>

            <br>

            <hr>
            <h1>Agregar familias de proceso.</h1>
            <h3>Familia del modelo </h3>

            <div class="list-group">
                <a *ngIf="!familiaDeProceso" class="bg-danger text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                    <i class="fa fa-exclamation-circle animated tada infinite fa-2x"></i> <strong> No has definido una familia de procesos. </strong>
                </a>

                <a *ngIf="familiaDeProceso" class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <span>
                                <strong class="text-inverse"> {{familiaDeProceso.nombre}} </strong>
                            </span>
                        <button (click)="eliminarFamiliaDeProceso( )" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
                    </div>
                </a>
            </div>

            <ng-container *ngIf=" !familiaDeProceso">
                <div class="animated fadeIn">
                    <h3>Familias disponibles </h3>

                    <div class="list-group">
                        <ng-container *ngFor="let familia of familiaDeProcesos, let i = index;">
                            <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <span>
                                            <strong class="text-inverse"> {{familia.nombre}} </strong>
                                        </span>
                                    <button (click)="agregarFamiliaDeProceso( familia )" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></button>
                                </div>
                            </a>
                        </ng-container>
                    </div>

                </div>
            </ng-container>


            <hr>

            <ng-container *ngIf="familiaDeProceso">

                <h1>Agregar proceso:</h1>
                <h3>Procesos del modelo</h3>
                <div class="list-group">
                    <a class="bg-success text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <strong> Define los procesos especiales para este modelo.</strong>
                    </a>

                    <ng-container *ngFor="let proc of familiaDeProceso.procesos, let i = index;">

                        <a class="mt-3 bg-info text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                                {{proc.orden}}-<strong> {{proc.proceso.nombre}}</strong> {{proc._id}}
                            </a>

                        <div dnd-sortable-container [sortableData]="arreglosDrop[proc._id].arreglo" dnd-draggable [dragEnabled]="true" dnd-droppable [dropZones]="['']" (onDropSuccess)="restrictedDrop1=$event">
                            <ng-container *ngFor="let proc2 of arreglosDrop[proc._id].arreglo; let i_a = index;">
                                <a dnd-sortable (drop)="reordenarProcesos(  )" (onDropSuccess)="reordenarProcesos(  )" [sortableIndex]="i_a" dnd-draggable [dragEnabled]="true" [dropZones]="['']" class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                                    <i class="fa fa-bars"></i> {{proc2.orden}}<strong> {{proc2.proceso.nombre}}</strong>
                                </a>
                            </ng-container>
                            <a *ngIf="!(arreglosDrop[proc?._id]?.arreglo?.length>0)" class="list-group-item bg-light-extra text-muted flex-column align-items-center animated fadeIn">
                                <small>Arrastra un proceso para agregarlo.</small>
                            </a>
                        </div>
                    </ng-container>


                </div>


                <h3>Procesos disponibles</h3>
                <hr>
                <h5>Normales</h5>
                <div class="list-group">
                    <ng-container *ngFor="let proceso of procesosNormales, let i = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span>
                                        <strong class="text-inverse"> {{proceso.nombre}} </strong>
                                    </span>
                                <button (click)="agregarProceso( proceso )" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                        </a>
                    </ng-container>
                </div>
                <br>
                <h5>Especiales</h5>
                <div class="list-group">
                    <ng-container *ngFor="let proceso of procesosEspeciales, let i = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <span>
                                        <strong class="text-inverse"> {{proceso.nombre}} </strong>
                                    </span>
                                <button (click)="agregarProceso( proceso )" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </ng-container>


            <hr>

            <button (click)="guardarNuevoModelo( )" class="btn btn-success"><i class="fa fa-save"></i> Guardar </button>
            <button (click)="creandoModelo = false" class="btn btn-danger ml-3"><i class="fa fa-times"></i> Cancelar </button>


        </div>
    </div>
</div>

<!-- 
=====================================
 Fin editar modelo completo
=====================================
-->

<!-- 
=====================================
 Editar modelo
=====================================
-->



<div class="row">
    <div class="col-auto" *ngIf="!editando() ">
        <div class="card">
            <div class="card-body">
                <h1>Modelos</h1>
                <div class="list-group">
                    <ng-container *ngFor="let modelo of modelos; let i_mc = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex w-100 justify-content-between mr-3">
                                    {{modelo.modelo}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button (click)="modelo.modificar()" *ngIf="modelo.editado" class="btn btn-sm btn-outline-success mr-3"><i class="fa fa-save"></i></button>
                                    <button (click)="modelo.editado = true; visorDeCambios.modelo.editandose=modelo" class="btn btn-outline-inverse btn-sm"><i class="fa fa-edit"></i>Editar</button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="col-auto" *ngIf="!editando()">
        <div class="card">
            <div class="card-body">
                <h1>Tamaños</h1>
                <div class="list-group">
                    <ng-container *ngFor="let tamano of tamanos; let i_mc = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex w-100 justify-content-between mr-3">
                                    {{tamano.tamano}}

                                    <ng-container *ngIf="!tamano.estandar; else elseTemplate">
                                        <small><strong class="text-danger "><i class="animated infinite zoomIn slower fa fa-exclamation-circle"></i> Sin estandar.</strong></small>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <small> Estandar: <strong>{{tamano.estandar}}</strong></small>
                                    </ng-template>


                                </div>
                                <div class="d-flex justify-content-between">
                                    <button (click)="tamano.modificar()" *ngIf="tamano.editado" class="btn btn-sm btn-outline-success mr-3"><i class="fa fa-save"></i></button>
                                    <button (click)="tamano.editado = true; visorDeCambios.tamano.editandose=tamano" class="btn btn-outline-inverse btn-sm"><i class="fa fa-edit"></i>Editar</button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="col-auto" *ngIf="!editando()">
        <div class="card">
            <div class="card-body">
                <h1>Colores</h1>
                <div class="list-group">
                    <ng-container *ngFor="let color of colores; let i_mc = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex w-100 justify-content-between mr-3">
                                    {{color.color}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button (click)="color.modificar()" *ngIf="color.editado" class="btn btn-sm btn-outline-success mr-3"><i class="fa fa-save"></i></button>
                                    <button (click)="color.editado = true; visorDeCambios.color.editandose=color" class="btn btn-outline-inverse btn-sm"><i class="fa fa-edit"></i>Editar</button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto" *ngIf="!editando()">
        <div class="card">
            <div class="card-body">
                <h1>Terminado</h1>
                <div class="list-group">
                    <ng-container *ngFor="let terminado of terminados; let i_mc = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex w-100 justify-content-between mr-3">
                                    {{terminado.terminado}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button (click)="terminado.modificar()" *ngIf="terminado.editado" class="btn btn-sm btn-outline-success mr-3"><i class="fa fa-save"></i></button>
                                    <button (click)="terminado.editado = true; visorDeCambios.terminado.editandose=terminado" class="btn btn-outline-inverse btn-sm"><i class="fa fa-edit"></i>Editar</button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto" *ngIf="!editando()">
        <div class="card">
            <div class="card-body">
                <h1>Laserados</h1>
                <div class="list-group">
                    <ng-container *ngFor="let laser of marcasLaser; let i_mc = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex w-100 justify-content-between mr-3">
                                    {{laser.laser}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button (click)="laser.modificar()" *ngIf="laser.editado" class="btn btn-sm btn-outline-success mr-3"><i class="fa fa-save"></i></button>
                                    <button (click)="laser.editado = true; visorDeCambios.marcaLaser.editandose=laser" class="btn btn-outline-inverse btn-sm"><i class="fa fa-edit"></i>Editar</button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto" *ngIf="!editando()">
        <div class="card">
            <div class="card-body">
                <h1>Versiones de Modelo</h1>
                <div class="list-group">
                    <ng-container *ngFor="let versionModelo of versionModelos; let i_mc = index;">
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex w-100 justify-content-between mr-3">
                                    {{versionModelo.versionModelo}}
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button (click)="versionModelo.modificar()" *ngIf="versionModelo.editado" class="btn btn-sm btn-outline-success mr-3"><i class="fa fa-save"></i></button>
                                    <button (click)="versionModelo.editado = true; visorDeCambios.versionModelo.editandose=versionModelo" class="btn btn-outline-inverse btn-sm"><i class="fa fa-edit"></i>Editar</button>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="editando() && !creandoModelo && modeloCompletoCostos === null">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <ng-container *ngIf="visorDeCambios.modelo.editandose">
                    <h1>Modelo: <small>{{visorDeCambios.modelo.editandose.modelo}}</small></h1>
                    <hr>

                    <div class="form-group"><input [(ngModel)]="visorDeCambios.modelo.editandose.modelo" type="text" class="form-control" placeholder="Modelo"></div>
                </ng-container>

                <ng-container *ngIf="visorDeCambios.tamano.editandose">
                    <h1>Tamano: <small>{{visorDeCambios.tamano.editandose.tamano}}</small></h1>
                    <hr>

                    <div class="form-group"><input [(ngModel)]="visorDeCambios.tamano.editandose.tamano" type="text" class="form-control" placeholder="Tamano"></div>
                    <div class="form-group"><input [(ngModel)]="visorDeCambios.tamano.editandose.estandar" type="number" class="form-control" placeholder="Estandar"></div>
                </ng-container>

                <ng-container *ngIf="visorDeCambios.color.editandose">
                    <h1>Color: <small>{{visorDeCambios.color.editandose.color}}</small></h1>
                    <hr>

                    <div class="form-group"><input [(ngModel)]="visorDeCambios.color.editandose.color" type="text" class="form-control" placeholder="Color"></div>
                </ng-container>

                <ng-container *ngIf="visorDeCambios.terminado.editandose">
                    <h1>Terminado: <small>{{visorDeCambios.terminado.editandose.terminado}}</small></h1>
                    <hr>

                    <div class="form-group"><input [(ngModel)]="visorDeCambios.terminado.editandose.terminado" type="text" class="form-control" placeholder="Terminado"></div>
                </ng-container>

                <ng-container *ngIf="visorDeCambios.marcaLaser.editandose">
                    <h1>Laser: <small>{{visorDeCambios.marcaLaser.editandose.marcaLaser}}</small></h1>
                    <hr>

                    <div class="form-group"><input [(ngModel)]="visorDeCambios.marcaLaser.editandose.laser" type="text" class="form-control" placeholder="Terminado"></div>
                    <h4>Imagenes</h4>
                    <img *ngFor="let imagen of visorDeCambios.marcaLaser.editandose.imagenes" [src]="imagen">
                </ng-container>

                <ng-container *ngIf="visorDeCambios.versionModelo.editandose">
                    <h1>Versión de modelo: <small>{{visorDeCambios.versionModelo.editandose.versionModelo}}</small></h1>
                    <hr>
                    <div class="form-group"><input [(ngModel)]="visorDeCambios.versionModelo.editandose.versionModelo" type="text" class="form-control" placeholder="VersionModelo"></div>
                </ng-container>

                <hr>
                <br>
                <button (click)="guardarEdiciones()" class="btn btn-success mr-3"><i class="fa fa-save"></i> Guardar</button>
                <button (click)="dejarDeEditar()" class="btn btn-danger mr-3"><i class="fa fa-save"></i> cancelar</button>
            </div>
        </div>
    </div>
</div>



<ng-container *ngIf="modeloCompletoCostos">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>
                        <small>Agregar costos:</small>
                        <app-modelo-completo [modeloCompleto]="modeloCompletoCostos"></app-modelo-completo>
                    </h1>

                </div>
            </div>
        </div>
    </div>


    <!-- 
    =====================================
     Materia Prima
    =====================================
    -->


    <div class="row ">
        <div class="col-12">
            <div class="card card-outline-info">
                <div class="card-header bg-dark">
                    <h4 class="m-b-0 text-white">
                        <small>Materia prima:</small> {{modeloCompletoCostos?.familiaDeProcesos.nombre}}
                    </h4>
                </div>
                <div class="card-body bg-inverse ">
                    <h3 class="card-title text-light">Costo de la materia prima.</h3>
                    <p class="card-text text-light">Este es el costo de la materia prima para este modelo.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 
    =====================================
     Materia prima
    =====================================
    -->




    <!-- 
    =====================================
     Procesos de famila
    =====================================
    -->

    <div class="row ">
        <div class="col-12">
            <div class="card card-outline-info">


                <div class="card-header bg-dark">
                    <h4 class="m-b-0 text-white">
                        <small>Familia:</small> {{modeloCompletoCostos?.familiaDeProcesos.nombre}}
                    </h4>
                </div>

                <!-- 
                =====================================
                 Orden de procesos
                =====================================
                -->


                <div class="card-body bg-inverse ">

                    <h3 class="card-title text-light">Procesos</h3>
                    <p class="card-text text-light">Estos son los proceos que pertenecen a esta familia.</p>



                    <div *ngFor="let proc of modeloCompletoCostos.familiaDeProcesos.procesos" class="card ">
                        <div class="card-header bg-success">
                            <div class="d-flex justify-content-between">
                                <h4 class="m-b-0 text-white">
                                    <small>Proceso:</small> {{proc.orden}} - {{proc.proceso.nombre}}
                                </h4>

                                <strong class="text-white"><small>{{proc.proceso.departamento.nombre}}</small></strong>

                            </div>
                        </div>
                        <div class="card-body ">
                            <!-- 
                            =====================================
                             Máquinas
                            =====================================
                            -->
                            <h3 class="card-title ">Máquinas</h3>
                            <p class="card-text">Estas son las máquinas que pertenecen a esta familia</p>

                            <div class="card-columns">
                                <div *ngFor="let maq of proc.proceso.maquinas" class="card ">
                                    <div class="card-header bg-primary">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="m-b-0 text-white">
                                                {{maq.clave}}
                                            </h4>

                                            <div class="form-group-sm w-50">
                                                <input #segundos="ngModel" [(ngModel)]="maq?.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)]" type="number" class="form-control" placeholder="Segundos">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-body bg-inverse">
                                        <h3 class="card-title text-light ">Costo por consumo</h3>
                                        <div class="list-group">
                                            <a *ngFor="let gastoConsumo of maq.gastos" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1 text-white">{{gastoConsumo.gasto.nombre}}</h5>
                                                    <small class="text-white">Consumo: {{gastoConsumo.consumo }} {{gastoConsumo.gasto.unidadPorHora }}</small>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between">
                                                    <div>
                                                        <p class="mb-1 text-white">${{maq.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)] * _calculosService.gastoSegundo( gastoConsumo) | number: '0.4-4'}}</p>
                                                    </div>
                                                    <small class="text-muted text-white">Costo seg: {{_calculosService.gastoSegundo(gastoConsumo) | number:'0.4-4'}}</small>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list-group mt-3">
                                            <a class=" bg-dark list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1 text-white">Depreciación</h5>
                                                    <small class="text-white">deprecición/seg </small>
                                                </div>

                                                <div class="d-flex w-100 justify-content-between">
                                                    <div>
                                                        <p class="mb-1 text-white">${{ maq.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)] * _calculosService.depreciacionSegundo(maq) | number:'0.4-4' }}</p>
                                                    </div>
                                                    <small class="text-muted text-white">Costo seg: {{ _calculosService.depreciacionSegundo(maq) | number:'0.4-4'}}</small>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="card-footer bg-dark text-right ">
                                        <h4><small>Total:</small></h4>
                                        <h1 class="text-primary"> ${{ maq.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)] * _calculosService.maquinaSegundo(maq) | number:'0.4-4'}}</h1>
                                    </div>
                                </div>

                            </div>

                            <div class="d-flex align-items-center ">
                                <h1 class="display-6 p-3 text-right w-100">
                                    <h5 class=" text-muted ">Total máquinas: </h5>
                                    <span class="text-primary "> ${{_calculosService.procesoTotalMaquinas(proc, modeloCompletoCostos) | number:'0.4-4'}}</span>
                                </h1>

                            </div>
                            <!-- 
                            =====================================
                             Fin Máquinas
                            =====================================
                            -->

                            <!-- 
                            =====================================
                             Gastos
                            =====================================
                            -->
                            <hr>
                            <h3 class="card-title ">Gastos del proceso</h3>
                            <p class="card-text ">Estos son los gastos propios de todo el proceso.</p>
                            <div class="card-columns ">
                                <div *ngFor="let gastoConsumo of proc.proceso.gastos " class="card ">
                                    <div class="card-header bg-warning ">
                                        <div class="d-flex justify-content-between ">
                                            <h4 class="m-b-0 text-white ">
                                                {{gastoConsumo.gasto.nombre}}
                                            </h4>
                                            <div class="form-group-sm w-50 ">
                                                <input [(ngModel)]="gastoConsumo.gasto.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, gastoConsumo.gasto._id)] " type="number" class="form-control" placeholder="Segundos">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body bg-dark ">

                                        <div class="list-group mt-3 ">
                                            <a class=" bg-dark list-group-item list-group-item-action flex-column align-items-start ">
                                                <div class="d-flex w-100 justify-content-between ">
                                                    <small class="text-white "> </small>
                                                    <small class="text-white ">{{gastoConsumo.gasto.unidadPorHora}} </small>
                                                </div>

                                                <div class="d-flex w-100 justify-content-between ">
                                                    <div>
                                                        <p class="mb-1 text-white ">${{ gastoConsumo.gasto.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, gastoConsumo.gasto._id)] * _calculosService.gastoSegundo(gastoConsumo) | number:'0.4-4' }}</p>
                                                    </div>
                                                    <small class="text-muted text-white ">Costo seg: {{ _calculosService.gastoSegundo(gastoConsumo) | number:'0.4-4'}}</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center ">
                                <h1 class="display-6 p-3 text-right w-100">
                                    <h5 class=" text-muted ">Total gastos: </h5>
                                    <span class="text-warning "> ${{_calculosService.procesoTotalGastos(proc, modeloCompletoCostos) | number:'0.4-4' }}</span>
                                </h1>

                            </div>
                            <!-- 
                            =====================================
                             Fin Gastos
                            =====================================
                            -->
                        </div>

                        <!-- 
                        =====================================
                         Footer procesos
                        =====================================
                        -->

                        <div class="card-footer bg-dark text-right ">
                            <div class="d-flex align-items-center ">
                                <h1 class="display-4 p-3 text-right w-100">
                                    <h5 class=" text-light ">Total proceso: </h5>
                                    <span class="text-success ">  ${{_calculosService.procesoTotal(proc, modeloCompletoCostos)| number:'0.4-4'}}</span>
                                </h1>

                            </div>
                        </div>
                        <!-- 
                        =====================================
                            FIN Footer procesos
                        =====================================
                        -->
                    </div>


                </div>

                <div class="card-footer bg-dark text-right ">
                    <div class="d-flex align-items-center ">
                        <h1 class="display-3 p-3 text-right w-100">
                            <h5 class=" text-light ">Total familia: </h5>
                            <span class="text-white ">  ${{_calculosService.totalFamiliaDeProcesos(modeloCompletoCostos)| number:'0.4-4'}}</span>
                        </h1>

                    </div>
                </div>
                <!-- 
                =====================================
                 Fin de Orden de procesos
                =====================================
                -->




            </div>
        </div>
    </div>
    <!-- 
    =====================================
     Fin de procesos de familia
    =====================================
    -->


    <!-- 
    =====================================
     Procesos especiales
    =====================================
    -->

    <div class="row">
        <div class="col-12">
            <div class="card card-outline-info">
                <div class="card-header bg-dark">
                    <h4 class="m-b-0 text-white">
                        <small>Procesos especiales</small>
                    </h4>
                </div>

                <!-- 
                    =====================================
                     Orden de procesos
                    =====================================
                    -->


                <div class="card-body bg-inverse ">

                    <h3 class="card-title text-light"></h3>
                    <p class="card-text text-light"></p>



                    <div *ngFor="let proc of modeloCompletoCostos.procesosEspeciales" class="card ">
                        <div class="card-header bg-success">
                            <div class="d-flex justify-content-between">
                                <h4 class="m-b-0 text-white">
                                    <small>Proceso:</small> {{proc.orden}} - {{proc.proceso.nombre}}
                                </h4>

                                <strong class="text-white"><small>{{proc.proceso.departamento.nombre}}</small></strong>

                            </div>
                        </div>
                        <div class="card-body ">
                            <!-- 
                                =====================================
                                 Máquinas
                                =====================================
                                -->
                            <h3 class="card-title ">Máquinas</h3>
                            <p class="card-text">Estas son las máquinas que pertenecen a esta familia</p>

                            <div class="card-columns">
                                <div *ngFor="let maq of proc.proceso.maquinas" class="card ">
                                    <div class="card-header bg-primary">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="m-b-0 text-white">
                                                {{maq.clave}}
                                            </h4>

                                            <div class="form-group-sm w-50">
                                                <input [(ngModel)]="maq.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)]" type="number" class="form-control" placeholder="Segundos">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="card-body bg-inverse">
                                        <h3 class="card-title text-light ">Costo por consumo</h3>
                                        <div class="list-group">
                                            <a *ngFor="let gastoConsumo of maq.gastos" class=" bg-dark list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1 text-white">{{gastoConsumo.gasto.nombre}}</h5>
                                                    <small class="text-white">Consumo: {{gastoConsumo.consumo }} {{gastoConsumo.gasto.unidadPorHora }}</small>
                                                </div>
                                                <div class="d-flex w-100 justify-content-between">
                                                    <div>
                                                        <p class="mb-1 text-white">${{maq.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)] * _calculosService.gastoSegundo( gastoConsumo) | number: '0.4-4'}}</p>
                                                    </div>
                                                    <small class="text-muted text-white">Costo seg: {{_calculosService.gastoSegundo(gastoConsumo) | number:'0.4-4'}}</small>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="list-group mt-3">
                                            <a class=" bg-dark list-group-item list-group-item-action flex-column align-items-start">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1 text-white">Depreciación</h5>
                                                    <small class="text-white">deprecición/seg </small>
                                                </div>

                                                <div class="d-flex w-100 justify-content-between">
                                                    <div>
                                                        <p class="mb-1 text-white">${{ maq.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)] * _calculosService.depreciacionSegundo(maq) | number:'0.4-4' }}</p>
                                                    </div>
                                                    <small class="text-muted text-white">Costo seg: {{ _calculosService.depreciacionSegundo(maq) | number:'0.4-4'}}</small>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="card-footer bg-dark text-right ">
                                        <h4><small>Total:</small></h4>
                                        <h1 class="text-primary"> ${{ maq.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, maq._id)] * _calculosService.maquinaSegundo(maq) | number:'0.4-4'}}</h1>
                                    </div>
                                </div>

                            </div>

                            <div class="d-flex align-items-center ">
                                <h1 class="display-6 p-3 text-right w-100">
                                    <h5 class=" text-muted ">Total máquinas: </h5>
                                    <span class="text-primary "> ${{_calculosService.procesoTotalMaquinas(proc, modeloCompletoCostos) | number:'0.4-4'}}</span>
                                </h1>

                            </div>
                            <!-- 
                                =====================================
                                 Fin Máquinas
                                =====================================
                                -->

                            <!-- 
                                =====================================
                                 Gastos
                                =====================================
                                -->
                            <hr>
                            <h3 class="card-title ">Gastos del proceso</h3>
                            <p class="card-text ">Estos son los gastos propios de todo el proceso.</p>
                            <div class="card-columns ">
                                <div *ngFor="let gastoConsumo of proc.proceso.gastos " class="card ">
                                    <div class="card-header bg-warning ">
                                        <div class="d-flex justify-content-between ">
                                            <h4 class="m-b-0 text-white ">
                                                {{gastoConsumo.gasto.nombre}}
                                            </h4>
                                            <div class="form-group-sm w-50 ">
                                                <input [(ngModel)]="gastoConsumo.gasto.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, gastoConsumo.gasto._id)] " type="number" class="form-control" placeholder="Segundos">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body bg-dark ">

                                        <div class="list-group mt-3 ">
                                            <a class=" bg-dark list-group-item list-group-item-action flex-column align-items-start ">
                                                <div class="d-flex w-100 justify-content-between ">
                                                    <small class="text-white "> </small>
                                                    <small class="text-white ">{{gastoConsumo.gasto.unidadPorHora}} </small>
                                                </div>

                                                <div class="d-flex w-100 justify-content-between ">
                                                    <div>
                                                        <p class="mb-1 text-white ">${{ gastoConsumo.gasto.tiempos[_calculosService.id(modeloCompletoCostos._id, proc.proceso._id, gastoConsumo.gasto._id)] * _calculosService.gastoSegundo(gastoConsumo) | number:'0.4-4' }}</p>
                                                    </div>
                                                    <small class="text-muted text-white ">Costo seg: {{ _calculosService.gastoSegundo(gastoConsumo) | number:'0.4-4'}}</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center ">
                                <h1 class="display-6 p-3 text-right w-100">
                                    <h5 class=" text-muted ">Total gastos: </h5>
                                    <span class="text-warning "> ${{_calculosService.procesoTotalGastos(proc, modeloCompletoCostos) | number:'0.4-4' }}</span>
                                </h1>

                            </div>
                            <!-- 
                                =====================================
                                 Fin Gastos
                                =====================================
                                -->
                        </div>

                        <!-- 
                            =====================================
                             Footer procesos
                            =====================================
                            -->

                        <div class="card-footer bg-dark text-right ">
                            <div class="d-flex align-items-center ">
                                <h1 class="display-4 p-3 text-right w-100">
                                    <h5 class=" text-light ">Total proceso: </h5>
                                    <span class="text-success ">  ${{_calculosService.procesoTotal(proc, modeloCompletoCostos)| number:'0.4-4'}}</span>
                                </h1>

                            </div>
                        </div>
                        <!-- 
                            =====================================
                                FIN Footer procesos
                            =====================================
                            -->
                    </div>


                </div>

                <div class="card-footer bg-dark text-right ">
                    <div class="d-flex align-items-center ">
                        <h1 class="display-3 p-3 text-right w-100">
                            <h5 class=" text-light ">Total procesos especiales: </h5>
                            <span class="text-white ">  ${{_calculosService.totalProcesosEspeciales(modeloCompletoCostos)| number:'0.4-4'}}</span>
                        </h1>

                    </div>
                </div>
                <!-- 
                    =====================================
                     Fin de Orden de procesos
                    =====================================
                    -->




            </div>
        </div>
    </div>



    <!-- 
    =====================================
     Fin de procesos especiales. 
    =====================================
    -->


</ng-container>