<div class="row collapse procesosEspeciales ">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div *ngIf="keys(cargando).length === 0" class="modal-body">
          <span class="d-flex justify-content-between aling-items-center">
            <h2>
              FOL-PED: <b>{{ pedido?.pedido }}</b>

              <small
                *ngIf="!pedido?.requiereRevisionExtraordinaria"
                class="text-muted ml-3"
              >
                <i class="fas fa-check animated tada text-success"></i>
                Pedido aceptado
              </small>
            </h2>
            <h3>
              <a
                class="btn text-white mr-3"
                [ngClass]="{
                  'btn-primary btn-sm ': !pedido?.requiereRevisionExtraordinaria,
                  'btn-success ': pedido?.requiereRevisionExtraordinaria
                }"
                (click)="revisarPedido(pedido)"
              >
                <span *ngIf="pedido?.requiereRevisionExtraordinaria">
                  <i class="fas fa-check-circle"></i> Aceptar pedido</span
                >
                <span *ngIf="!pedido?.requiereRevisionExtraordinaria">
                  <i class="fas fa-times-circle    "></i> Rechazar pedido</span
                >
              </a>
              <a
                class="btn btn-outline-secondary btn-sm"
                data-toggle="collapse"
                data-target=".procesosEspeciales"
                href="javascript:void(0)"
                role="button"
              >
                Volver
              </a>

              Gestionar <b>procesos</b>
            </h3>
          </span>

          <hr />

          <div class="row">
            <div class="col-12 col-sm-6">
              <div *ngIf="pedido?.almacen" class="list-group mb-2">
                <a
                  class="list-group-item list-group-item-action active py-0 text-white"
                >
                  Procesos de inicializacion</a
                >
                <a
                  *ngFor="let proceso of procesosIniciales; let i = index"
                  class="list-group-item  disabled
                    "
                >
                  <small class="text-muted pull-right w-25">{{
                    proceso.departamento.nombre
                  }}</small>
                  <h5 class="mb-1 w-75 ">{{ proceso.nombre }}</h5>
                </a>
              </div>

              <ul
                id="procesosSeleccionados"
                cdkDropList
                [cdkDropListData]="procesosSeleccionados"
                (cdkDropListDropped)="drop($event)"
                class="list-group mt-3 mb-3 app-lista-scroll"
              >
                <li class="list-group-item active app-lista-scroll-encabezado ">
                  <span>

                    Procesos opcionales 
                  </span>
                  <span class="pull-right">[ {{procesosSeleccionados.length }} ]</span>
                </li>
                <li
                  cdkDrag
                  *ngFor="let proceso of procesosSeleccionados; let i = index"
                  class="list-group-item"
                >
                  <div class="text-muted pull-right">
                    <small class="font-bold">{{
                      proceso.departamento.nombre
                    }}</small>

                    <a
                      (click)="procesosSeleccionados.splice(i, 1)"
                      class="btn btn-outline-danger btn-xs ml-1"
                      href="javascript:void(0)"
                      role="button"
                      ><i class="fas fa-trash    "></i
                    ></a>
                  </div>
                  <h5 class="mb-1 ">{{ proceso.nombre }}</h5>
                </li>
                <li
                  class="list-group-item disabled "
                  *ngIf="procesosSeleccionados.length === 0"
                >
                  Sin procesos seleccionados
                </li>
              </ul>

              <div *ngIf="pedido?.almacen" class="list-group mb-2">
                <a
                  class="list-group-item list-group-item-action active py-0 text-white"
                >
                  Procesos de finalizacion</a
                >
                <a
                  *ngFor="let proceso of procesosFinales; let i = index"
                  class="list-group-item  disabled
                    "
                >
                  <small class="text-muted pull-right w-25">{{
                    proceso.departamento.nombre
                  }}</small>
                  <h5 class="mb-1 w-75 ">{{ proceso.nombre }}</h5>
                </a>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <ul
                class="list-group app-lista-scroll"
                id="procesosSeleccionables"
                cdkDropList
                [cdkDropListConnectedTo]="['procesosSeleccionados']"
                [cdkDropListData]="procesos"
                (cdkDropListDropped)="drop($event)"
              >
                <li
                  class="list-group-item active d-flex justify-content-between align-items-center app-lista-scroll-encabezado"
                >
                  <span class="w-25">Procesos</span>

                  <input
                    #input
                    (keyup)="filtrar(input.value)"
                    class="p-0 m-0 w-75"
                    type="text"
                    class="form-control"
                    placeholder="Filtrar"
                  />
                </li>
                <li
                  cdkDrag
                  *ngFor="let proceso of procesos"
                  class="list-group-item justify-content-between align-items-center"
                  [style.display]="
                    mostrarProcesos?.includes(proceso._id) ? '' : 'none'
                  "
                >
                  <span class="w-50">{{ proceso.nombre }} </span>
                  <small class="w-50 text-right font-weight-bold pull-right">{{
                    proceso.departamento.nombre
                  }}</small>
                </li>

                <li
                  *ngIf="procesos.length === 0"
                  class="list-group-item disabled"
                >
                  No hay procesos
                </li>
              </ul>
            </div>
          </div>

          <pre *ngIf="debug">
                    {{ mctemp?.nombreCompleto }} 
                  </pre
          >
          <pre>
                    Procesos especiales: 
                    {{ pedido?.procesos | json }}
                 </pre
          >
        </div>

        <div *ngIf="keys(cargando).length > 0" class=" modal-body w-100">
          <div class="row">
            <div
              class="col-12 d-flex w-100 text-center align-items-center justify-content-between"
            >
              <h1 class="display-1">
                <i class="fas fa-sync fa-spin    "></i>
              </h1>

              <h2 *ngFor="let key of keys(cargando)">{{ cargando[key] }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
