<div class="row collapse procesosEspeciales">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div *ngIf="keys(cargando).length === 0" class="modal-body">
          <span class="d-flex justify-content-between aling-items-center">
            <h2>
              FOL-PED: <b>{{ pedido?.pedido }}</b>
              <br />
              {{ pedido?.modeloCompleto.nombreCompleto }}

              <small
                *ngIf="!pedido?.requiereRevisionExtraordinaria"
                class="text-muted ml-3"
              >
                <i class="fas fa-check animated tada text-success"></i>
                Pedido aceptado
              </small>
            </h2>
            <h3>
              Gestionar <b>procesos</b> especiales
              <hr class="thin" />

              <a
                class="btn text-white mr-3"
                [ngClass]="{
                  'btn-primary btn-sm ': !pedido?.requiereRevisionExtraordinaria,
                  'btn-success ': pedido?.requiereRevisionExtraordinaria
                }"
                (click)="revisarPedido(pedido)"
              >
                <span *ngIf="pedido?.requiereRevisionExtraordinaria">
                  <i class="fas fa-check-circle"></i> Aceptar pedido</span
                >
                <span *ngIf="!pedido?.requiereRevisionExtraordinaria">
                  <i class="fas fa-times-circle"></i> Rechazar pedido</span
                >
              </a>
              <a
                class="btn btn-outline-secondary btn-sm"
                data-toggle="collapse"
                data-target=".procesosEspeciales"
                href="javascript:void(0)"
                role="button"
              >
                Volver
              </a>
            </h3>
          </span>

          <hr />

          <div cdkDropListGroup class="row">
            <div class="col-12 col-sm-6">
              <div class="card shadow">
                <div class="card-body">
                  <ul
                    cdkDropList
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListData]="procesosSeleccionados"
                    class="list-group"
                  >
                    <li
                      class="list-group-item active app-lista-scroll-encabezado"
                    >
                      Procesos seleccionados
                    </li>

                    <!-- 
                    =====================================
                    Procesos iniciales
                    =====================================
                    -->

                    <ng-container *ngIf="mostrarIniciales">
                      <li
                        *ngFor="let proceso of procesosIniciales"
                        class="list-group-item bg-light-extra"
                      >
                        <small class="pull-right font-bold">{{
                          proceso.departamento.nombre
                        }}</small>
                        <h5 class="mb-1">{{ proceso.nombre }}</h5>
                      </li>
                    </ng-container>

                    <!-- 
                    =====================================
                    END Procesos iniciales
                    =====================================
                    -->
                    <!-- 
                    =====================================
                    Procesos inicialies almacen
                    =====================================
                    -->

                    <ng-container *ngIf="mostrarInicialesAlmacen">
                      <li
                        *ngFor="let proceso of procesosInicialesAlmacen"
                        class="list-group-item bg-light-extra"
                      >
                        <small class="pull-right font-bold">{{
                          proceso.departamento.nombre
                        }}</small>
                        <h5 class="mb-1">{{ proceso.nombre }}</h5>
                      </li>
                    </ng-container>

                    <!-- 
                    =====================================
                    END Procesos inicialies almacen
                    =====================================
                    -->
                    <li
                      class="list-group-item"
                      cdkDrag
                      [cdkDragData]="'eliminar-al-transferir'"
                      [cdkDragDisabled]="iDes.disabled"
                      *ngFor="let iDes of procesosSeleccionados"
                    >
                      <small class="pull-right font-bold">{{
                        iDes.proceso.departamento.nombre
                      }}</small>
                      <h5 class="mb-1">{{ iDes.proceso.nombre }}</h5>
                    </li>

                    <li
                      *ngIf="procesosSeleccionados.length === 0"
                      class="list-group-item disabled"
                    >
                      Ningun proceso seleccionado
                    </li>
                    <!-- 
                    =====================================
                    procesos finales
                    =====================================
                    -->

                    <li
                      *ngFor="let proceso of procesosFinales"
                      class="list-group-item bg-light-extra"
                    >
                      <small class="text-muted pull-right font-bold">{{
                        proceso.departamento.nombre
                      }}</small>
                      <h5 class="mb-1">{{ proceso.nombre }}</h5>
                    </li>

                    <!-- 
                    =====================================
                    END procesos finales
                    =====================================
                    -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="card shadow">
                <div class="card-body">
                  <ul
                    cdkDropList
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListSortingDisabled]="true"
                    [cdkDropListData]="procesos"
                    class="list-group app-lista-scroll"
                  >
                    <li
                      class="list-group-item active app-lista-scroll-encabezado"
                    >
                      <span class="pull-left">Procesos disponibles</span>
                      <div class="form-group pull-right m-0 p-0">
                        <input
                          #input
                          (keyup)="filtrarDisponibles(input.value)"
                          type="text"
                          class="form-control m-0 form-control-sm"
                          placeholder="Buscar"
                        />
                      </div>
                    </li>

                    <li
                      cdkDrag
                      *ngFor="let iDes of procesos"
                      class="list-group-item"
                      [style.display]="
                        mostrarProcesos?.includes(iDes.proceso._id)
                          ? ''
                          : 'none'
                      "
                    >
                      <small class="text-muted pull-right">{{
                        iDes.proceso.departamento.nombre
                      }}</small>
                      <h5 class="mb-1">{{ iDes.proceso.nombre }}</h5>
                    </li>

                    <li
                      *ngIf="!procesos?.length"
                      class="list-group-item disabled"
                    >
                      No hay procesos
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="keys(cargando).length > 0" class="modal-body w-100">
            <div class="row">
              <div
                class="col-12 d-flex w-100 text-center align-items-center justify-content-between"
              >
                <h1 class="display-1">
                  <i class="fas fa-sync fa-spin"></i>
                </h1>

                <h2 *ngFor="let key of keys(cargando)">{{ cargando[key] }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
