<form class="form-signin text-center shadow animated fadeIn delay-1s ">
  <img
    class="mb-4 mt-4"
    src="assets/images/logo-text.png"
    alt=""
  />
  <h1 class="h3 mb-3 font-weight-normal">Iniciar sesion</h1>
  <label for="inputEmail" class="sr-only">Usuario</label>
  <input
  [(ngModel)]="email"
    type="email"
    name="email"
    id="inputEmail"
    class="form-control"
    placeholder="Usuario"
    required=""
    autofocus=""
    autocomplete="username"
  />
  <label for="inputPassword" class="sr-only">Contrasena</label>
  <input
  class="mt-2"
   [(ngModel)]="password"
    type="password"
    name="password"
    id="inputPassword"
    class="form-control"
    placeholder="Contrasena"
    required=""
    autocomplete="current-password"
  />

  <button
  
  (click)="ingresar()"
  
  class="btn btn-lg btn-primary btn-block" type="submit">
    Iniciar sesion
  </button>
  <p class="mt-5 mb-3 text-muted text-center">© R.R. {{copyRight}}</p>
</form>
