<div class="row">
  <div *ngIf="permisosPedidosOffline()" class="col-12 col-lg-6">
    <div class="card shadow">
      <div class="card-body">
        <app-parametros-pedidos-offline></app-parametros-pedidos-offline>
      </div>
    </div>
  </div>
  <div *ngIf="permisoEtiquetas()" class="col-12 col-lg-6 col-xl-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h1>Etiquetas</h1>
            <small class="text-muted"
              >Gestión de etiquetas para autocompletado</small
            >
            <hr />
          </div>
          <codice-etiquetas-editor
            *ngIf="!cargandoEtiquetas"
            [soloEtiquetas]="true"
            [existentes]="etiquetasExistentes"
            (eliminar)="eliminarEtiqueta($event)"
          >
          </codice-etiquetas-editor>
          <h1 *ngIf="cargandoEtiquetas" class="display-1 w-100">
            <i class="fas fa-sync fa-spin-fast"></i>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="permisoListaDePrecioDefault()" class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-parametros-lista-de-precios></app-parametros-lista-de-precios>
      </div>
    </div>
  </div>

  <div *ngIf="permisoSkuEnLotes()" class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-parametros-sku-en-lotes></app-parametros-sku-en-lotes>
      </div>
    </div>
  </div>

  <div *ngIf="permisoListaDePrecioEnLotes()" class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-parametros-lista-de-precios-en-lotes></app-parametros-lista-de-precios-en-lotes>
      </div>
    </div>
  </div>
  <div *ngIf="permisoContactosEnLotes()" class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-parametros-contactos-en-lotes></app-parametros-contactos-en-lotes>
      </div>
    </div>
  </div>
  
  <div *ngIf="permisoUsuariosEnLotes()" class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-parametros-usuarios-en-lotes></app-parametros-usuarios-en-lotes>
      </div>
    </div>
  </div>
</div>
