<div class="row" *ngIf="!_s.hayOrdenes()">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h1>
                    No hay órdenes pendientes.
                </h1>
                <span class="text-muted">Este departamento no tiene ningúna órden pendiente.</span>

            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="_s._preLoaderService.cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <app-pre-loader></app-pre-loader>

            </div>
        </div>
    </div>
</div>


<ng-container *ngFor="let lv of _s.niveles">
    <div class="row" *ngIf=" _s.ordenes[lv].length !==0">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <h1 class="card-title">
                                <app-nivel-urgencia [nivel]="lv"></app-nivel-urgencia>
                            </h1>
                        </div>
                        <div class="col-auto ">
                            <h3>
                                <small> Órdenes pendientes: <strong> {{_s.ordenes[lv].length}} </strong></small>
                            </h3>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table full-color-table hover-table color-bordered-table " [ngClass]="
                           {
                               'danger-bordered-table full-red-table': 'URGENTE'=== lv,
                               'info-bordered-table full-info-table': 'ALMACEN'=== lv,
                               'inverse-bordered-table full-inverse-table': 'PRODUCCIÓN'=== lv,
                               'warning-bordered-table full-warning-table': 'MUESTRA'=== lv
    
                           }   
                           ">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Fecha/Folio</th>
                                    <th class="text-center">Modelo </th>
                                    <th class="text-center">Laser</th>
                                    <th class="text-center">UNI</th>
                                    <th class="text-center">Pz</th>
                                    <th class="text-center">Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let orden of _s.ordenes[lv]">
                                    <tr>
                                        <td class="fit">{{orden.numeroDeOrden}} / {{orden.totalOrdenes}}</td>
                                        <td class="fit">{{orden.ordenViajera}}</td>
                                        <td class="fit">{{orden.fechaFolio | fecha:'DD/MM/YYYY'}}</td>
                                        <td class="fit">
                                            <app-modelo-completo [modeloCompleto]="orden.modeloCompleto"></app-modelo-completo>
                                        </td>
                                        <td class="fit">{{orden.laserCliente?.laser}}</td>
                                        <td class="fit text-center">{{orden.unidad}}</td>
                                        <td class="fit text-right">{{orden.piezasTeoricas | number }}</td>
                                        <td>
                                            {{orden.observacionesFolio}}
                                            <br> {{orden.observaciones}}
                                        </td>

                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</ng-container>