<div class="row animated fadeIn" *ngIf="!_s.hayOrdenes()">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>
          No hay órdenes pendientes.
        </h1>
        <span class="text-muted"
          >Este departamento no tiene ningúna órden pendiente.</span
        >
      </div>
    </div>
  </div>
</div>

<ng-container *ngFor="let lv of _s.niveles">
  <div class="row animated fadeIn" *ngIf="_s.ordenes[lv].length !== 0">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h1 class="card-title">
                <app-nivel-urgencia [nivel]="lv"></app-nivel-urgencia>
              </h1>
            </div>
            <div class="col-auto ">
              <h3>
                <small>
                  Órdenes pendientes:
                  <strong> {{ _s.ordenes[lv].length }} </strong></small
                >
              </h3>
            </div>
          </div>
          <div class="table-responsive">
            <table
              class="table table-hover table-bordered table-sm "
              [ngClass]="{
                'danger-bordered-table ': 'URGENTE' === lv,
                'info-bordered-table ': 'ALMACEN' === lv,
                'inverse-bordered-table ': 'PRODUCCIÓN' === lv,
                'warning-bordered-table ': 'MUESTRA' === lv
              }"
            >
              <thead>
                <tr>
                  <th title="El estatus de  la orden.">E</th>
                  <th title="Numero consecutivo de la orden.">CON</th>
                  <th title="El numero de orden con respecto al pedido.">#</th>
                  <th title="Fecha de entrega de folio a produccion">FEP</th>
                  <th title="El modelo completo">MOD</th>
                  <th title="La marca laser que lleva la orden">LASER</th>
                  <th
                    title="La unidad de la orden. Los valores se toman de la cantidad que puede salir de una lamina"
                  >
                    U
                  </th>
                  <th title="La cantidad de piezas teoricas de la orden">Pz</th>
                  <th title="Las observaciones de la orden.">OBS</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let orden of _s.ordenes[lv]">
                  <tr>
                    <td class="fit text-center">
                      <i
                        title="Esta orden esta trabajandose"
                        *ngIf="orden.ubicacionActual[_s.depto_vm]?.trabajando"
                        class="fas fa-spin fa-2x fa-cog text-warning"
                      ></i>
                      <i title='Esta orden esta pendiente por recibir'
                        *ngIf="!orden.ubicacionActual.recivida"
                        class="fas fa-exclamation  animated tada infinite"
                      ></i>
                    </td>
                    <td class="fit">
                      {{ orden.numeroDeOrden + 1 }} / {{ orden.totalOrdenes }}
                    </td>
                    <td class="fit">
                      {{ orden.orden }}
                    </td>
                    <td class="fit">
                      {{ orden.fechaFolio | fecha: "DD/MM/YYYY" }}
                    </td>
                    <td class="fit">
                      {{ orden.modeloCompleto | modeloCompleto }}
                    </td>
                    <td class="fit">
                      {{ orden.laserCliente?.laser }}
                    </td>
                    <td class="fit text-center">
                      {{ orden.unidad }}
                    </td>
                    <td class="fit text-right">
                      {{ orden.piezasTeoricas | number }}
                    </td>
                    <td>
                      {{ orden.observacionesFolio }} {{ orden.observaciones }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
