<div class="card shadow">
  <app-modal-wrapper
    (esteComponente)="componenteModal = $event"
    (cerrado)="cerradoModal()"
  >
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <i class="fas fa-chart-line"></i> 10 más vendidos
        </div>
        <div class="col-6 text-right">
          <a
            (click)="abrirModal()"
            class="btn btn-outline-secondary btn-sm"
            href="javascipt:void(0)"
            role="button"
            ><i class="fa fa-search-plus" aria-hidden="true"></i
          ></a>
          <app-estadistica-recargar
            (ejecutar)="cargar()"
            (esteComponente)="componenteCarga = $event"
          >
          </app-estadistica-recargar>
        </div>
      </div>
    </div>

    <div class="centrar-grafico">
      <ngx-charts-pie-chart
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        [arcWidth]="arcWidth"
        [doughnut]="doughnut"
      >
      </ngx-charts-pie-chart>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let item of single">
        <div class="d-flex justify-content-between">
          <span>{{ item.name }}</span>
          <span>$ {{ item.value | number : '2.2-2' }}</span>
        </div>
      </li>
    </ul>

    <div class="card-footer">
      <i class="fa fa-info text-muted" aria-hidden="true"></i> Últimos 30 días.
    </div>
  </app-modal-wrapper>
</div>
