<div class="row">
  <div class="col-12">
    <h3 class="text-dark pull-left font-weight-bolder">{{ s.titulo }}</h3>
    <div class="pull-right font-weight-bold">
      {{ s.fecha | fecha: 'LLLL' | titlecase }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <hr />
  </div>
</div>
<app-reporte-de-faltantes-producto-terminado-base-imprimible
  *ngIf="s.reportesProductoTerminadoFaltante"
  [reportes]="s.reportesProductoTerminadoFaltante"
></app-reporte-de-faltantes-producto-terminado-base-imprimible>

<app-reporte-de-faltantes-alamcen-de-produccion-base-imprimible
  *ngIf="s.reportesAlmacenProduccionFaltante"
  [reportes]="s.reportesAlmacenProduccionFaltante"
></app-reporte-de-faltantes-alamcen-de-produccion-base-imprimible>


<app-r-personalizado-almacen-produccion-imprimible
  *ngIf="s.reportesAlmacenPrdouccionPersonalizado"
  [articulos]="s.reportesAlmacenPrdouccionPersonalizado"
></app-r-personalizado-almacen-produccion-imprimible
  >

  <app-programacion-transformacion-imprimir
    [maquinas]="s.reportesProgramacionTransformacion"
    *ngIf="s.reportesProgramacionTransformacion"
  ></app-programacion-transformacion-imprimir>
