<ng-container *ngIf="articulo">
  <h1>
    Registrar <b class="text-success">salida</b> para
    <b>{{ articulo?.nombre }}</b>
  </h1>

  <hr />

  <span class="d-flex justify-content-between align-items-center">
    <p>
      <b class="font-weight-bold">Existencia: </b>
      {{ articulo?.existencia | number }}
    </p>

    <p>
      <b class="font-weight-bold">Presentacion:</b>{{ articulo?.presentacion }}
    </p>
    <p><b class="font-weight-bold">Unidades:</b>{{ articulo?.unidad }}</p>

    <p>
      <b class="font-weight-bold">Minimo:</b>
      {{ articulo?.stockMinimo | number }} |
      <b class="font-weight-bold">Maximo:</b>
      {{ articulo?.stockMaximo | number }}
    </p>
  </span>

  <form [formGroup]="formulario" class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <input
          #cantidad
          id="cantidad"
          [ngClass]="{
            'is-invalid': vs.invalid(cantidad_FB),
            'is-valid': vs.valid(cantidad_FB)
          }"
          type="text"
          class="form-control shadow"
          formControlName="cantidad"
        />
        <small id="helpId" class="form-text text-muted"
          >Cantidad de salida</small
        >
        <app-validacion-inputs [campo]="cantidad_FB"></app-validacion-inputs>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <select
          [ngClass]="{
            'is-invalid': vs.invalid(departamento_FB),
            'is-valid': vs.valid(departamento_FB)
          }"
          class="form-control"
          formControlName="departamento"
        >
          <option
            *ngFor="let departamento of departamentos"
            [value]="departamento._id"
            >{{ departamento.nombre }}</option
          >
        </select>
        <small id="helpId" class="form-text text-muted">Departamento</small>
        <app-validacion-inputs
          [campo]="departamento_FB"
        ></app-validacion-inputs>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <textarea
          [ngClass]="{
            'is-invalid': vs.invalid(observaciones_FB),
            'is-valid': vs.valid(observaciones_FB)
          }"
          type="text"
          class="form-control"
          formControlName="observaciones"
        ></textarea>
        <small id="helpId" class="form-text text-muted">Observaciones</small>
        <app-validacion-inputs
          [campo]="observaciones_FB"
        ></app-validacion-inputs>
      </div>
    </div>

    <br />
    <div class="col-12">
      <hr />
    </div>
    <br />

    <div class="col-12">
      <button
        [disabled]="formulario.invalid"
        (click)="submit(formulario.value, formulario.valid, $event)"
        class="btn btn-success mr-3"
        role="button"
      >
        <i class="fas fa-save    "></i> Guardar
      </button>

      <a
        data-toggle="modal"
        data-target="#salidaDeArticulo"
        (click)="cancelar()"
        class="btn btn-danger text-white"
        role="button"
      >
        <i class="fas fa-times    "></i> Cancelar</a
      >
    </div>
  </form>
</ng-container>

<ng-container *ngIf="!articulo">
  <h1 class="display-1">No has <b>seleccionado</b> un articulo</h1>
</ng-container>
