<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class=""><strong>Articulos</strong> existentes</h1>

          <div class="d-flex  align-items-center ">
            <div class="mr-3">
              <app-buscador-paciente
                [cbObservable]="cbObserbable"
                [tiempoDeEspera]="1000"
                (resultado)="busqueda($event)"
                (cancelado)="cancelado()"
                (error)="error($event)"
                (terminoPublico)="termino = $event"
              ></app-buscador-paciente>
            </div>

            <a
              (click)="crear()"
              data-toggle="modal"
              data-target="#creaerModificarArticulo"
              class="btn btn-success text-white"
            >
              <i class="fas fa-plus "></i> Crear articulo</a
            >
          </div>
        </div>
        <hr />

        <app-paginador
          [paginador]="_paginadorService"
          *ngIf="!buscando"
        ></app-paginador>

        <table
          *ngIf="articulos.length > 0"
          class="table table-hover  animated fadeIn"
        >
          <thead>
            <tr>
              <th></th>

              <th title="Nombre del articulo">
                Nombre
              </th>
              <th title="Almacen en el que se encuentra catalogado">
                Almacen
              </th>
              <th
                title="Detalles importantes a tomar en cuenta de este articulo."
              >
                Observaciones
              </th>
              <th title="Existencia minima">
                MIN
              </th>
              <th title="Existencia actual en el almacen">
                EXI
              </th>
              <th title="Existencia maxima">
                MAX
              </th>

              <th title="Eliminar articulo">
                <i class="fas fa-times    "></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let articulo of articulos"
              [ngClass]="{
                'bg-warning': -1 === articulo.comprobarExistencias(),
                'bg-danger': 0 === articulo.comprobarExistencias(),
                'bg-info': 1 === articulo.comprobarExistencias()
              }"
              [class.text-white]="articulo.comprobarExistencias() !== 2"
            >
              <td class="fit">
                <a
                  id="button0"
                  (click)="asignarDetalle(articulo)"
                  class="btn  text-white btn-primary btn-xs mr-1"
                  role="button"
                  data-toggle="modal"
                  data-target="#detalleArticulo"
                >
                  <i class="fas fa-eye    "></i>
                </a>

                <a
                  id="button2"
                  class="btn  text-white btn-success btn-xs mr-1"
                  role="button"
                  title="Editar articulo"
                  data-toggle="modal"
                  data-target="#creaerModificarArticulo"
                  (click)="editar(articulo)"
                >
                  <i class="fas fa-edit    "></i>
                </a>

                <a
                  id="button1"
                  class="btn  text-white btn-warning btn-xs mr-1"
                  role="button"
                  title="Entrada de articulo"
                  data-toggle="modal"
                  data-target="#entradaDeArticulo"
                  (click)="asignarEntradaOSalida(articulo, true)"
                >
                  <i class="fas fa-plus    "></i>
                </a>
                <a
                  id="button2"
                  class="btn  text-white btn-success btn-xs"
                  role="button"
                  title="Salida de articulo"
                  data-toggle="modal"
                  data-target="#salidaDeArticulo"
                  (click)="asignarEntradaOSalida(articulo, false)"
                >
                  <i class="fas fa-minus    "></i>
                </a>
              </td>
              <td class=" no-wrap fit ">{{ articulo.nombre }}</td>
              <td class=" fit ">{{ articulo.almacen.nombre }}</td>
              <td class=" ">{{ articulo.observaciones }}</td>

              <td class=" fit ">
                {{ articulo.stockMinimo | number: "0.0-0" }}
              </td>
              <td class=" fit ">
                <h5>
                  <b>
                    <ng-container *ngIf="articulo.existencia">
                      {{ articulo.existencia | number: "0.0-4" }}
                    </ng-container>
                    <ng-container
                      *ngIf="!articulo.existencia || articulo.existencia === 0"
                    >
                      <span class="text-white">0</span>
                    </ng-container>
                  </b>
                </h5>
              </td>
              <td class=" fit ">
                {{ articulo.stockMaximo | number: "0.0-0" }}
              </td>
              <td class="fit">
                <a
                  id="buttonX"
                  class="btn  text-white btn-danger btn-xs"
                  role="button"
                  title="Eliminar articulo"
                  (click)="eliminar(articulo)"
                >
                  <i class="fas fa-times    "></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <h1 *ngIf="articulos.length === 0" class=" display-1 animated fadeIn">
          No se encontro ningun <b>articulo</b>.
        </h1>

        <app-paginador
          [paginador]="_paginadorService"
          *ngIf="!buscando"
        ></app-paginador>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 Detalle de articulo
=====================================
-->

<!-- Modal -->
<div
  class="modal fade"
  id="detalleArticulo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-articulo-detalle
          [articulo]="articuloDetalle"
        ></app-articulo-detalle>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 END Detalle de articulo
=====================================
-->

<!-- 
=====================================
 Crear modificar articulo
=====================================
-->

<div
  class="modal fade"
  id="creaerModificarArticulo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-articulo-crear-modificar
          (esteComponente)="componenteCrearModificar = $event"
          (guardar)="cargarArticulos()"
        ></app-articulo-crear-modificar>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 END Crear modificar articulo
=====================================
-->

<!-- 
=====================================
 Entrada 
=====================================
-->

<div
  class="modal fade"
  id="entradaDeArticulo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-almacen-de-materia-prima-yherramientas-crear-modificar-entrada
          [articulo]="articuloEntrada"
          (guardado)="entradaSalidaGuardada()"
          (cancelado)="entradaSalidaCancelada()"
        ></app-almacen-de-materia-prima-yherramientas-crear-modificar-entrada>
      </div>
    </div>
  </div>
</div>

<!-- 
    =====================================
    END Entrada
=====================================
-->

<!-- 
  =====================================
  Salida
  =====================================
-->

<!-- Modal -->
<div
  class="modal fade"
  id="salidaDeArticulo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-almacen-de-materia-prima-yherramientas-crear-modificar-salida
          [articulo]="articuloSalida"
          (guardado)="entradaSalidaGuardada()"
          (cancelado)="entradaSalidaCancelada()"
        ></app-almacen-de-materia-prima-yherramientas-crear-modificar-salida>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 END Salida
=====================================
-->
