<app-qr-scanner> </app-qr-scanner>

<div *ngIf="_qrScannerService.lecturaCorrecta" class="row animated tada">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h1>Salida de boton</h1>
                <hr>

                <hr>

                <form (ngSubmit)="onSubmit(formulario.value, formulario.valid, $event)" [formGroup]="formulario">

                    <div class="row">
                        <div class="form-group col-auto">
                            <input mask="separator" formControlName="cantidadDeBoton" [ngClass]="{'is-invalid': _validacionesService.invalid(cantidadDeBoton_FB), 'is-valid':_validacionesService.valid(cantidadDeBoton_FB)}" type="text" class="form-control form-control-lg" name="cantidadDeBoton"
                                id="cantidadDeBoton" aria-describedby="cantidadDeBotonId" placeholder="Cantidad surtida">
                            <small id="cantidadDeBotonId" class="form-text text-muted">Ingresa la cantidad de boton surtida.</small>
                            <app-validacion-inputs [campo]='cantidadDeBoton_FB'></app-validacion-inputs>
                        </div>
                    </div>

                    <button [disabled]='formulario.invalid' class="btn btn-success mr-3 text-white" role="button"><i class="fas fa-save"> </i> Guardar</button>
                    <a (click)="limpiar()" class="btn btn-danger text-white"><i class="fas fa-times"></i> Cancelar</a>

                </form>
            </div>
        </div>
    </div>
</div>

<app-lista-de-ordenes *ngIf="!_qrScannerService.lecturaCorrecta"></app-lista-de-ordenes>