<app-crear-modificar
  [mostrarCrearModificar]="mostrarCrearModificar"
  [crearModificar]="crearModificar"
  [esModificacion]="this.idModificar"
  [nombreElemento]="'familia de procesos'"
  [esMasculino]="false"
>
  <ng-container *ngIf="mostrarCrearModificar">
    <form
      (ngSubmit)="onSubmit(formulario.value, formulario.valid, $event)"
      [formGroup]="formulario"
    >
      <div class="row">
        <div class="form-group col-12 col-md-6 col-lg-4">
          <input
            formControlName="nombre"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': _validacionesService.invalid(nombre_FB),
              'is-valid': _validacionesService.valid(nombre_FB)
            }"
            name="nombre"
            id="nombre"
            aria-describedby="El nombre del equipo"
            placeholder="Nombre de la familia"
          />
          <small id="El nombre del equipo" class="form-text text-muted"
            >Ingresa el nombre de la familia</small
          >
          <app-validacion-inputs [campo]="nombre_FB"></app-validacion-inputs>
        </div>

        <div class="form-group col-12 col-md-6 col-lg-8">
          <textarea
            formControlName="observaciones"
            class="form-control"
            [ngClass]="{
              'is-invalid': _validacionesService.invalid(observaciones_FB),
              'is-valid': _validacionesService.valid(observaciones_FB)
            }"
            name="observaciones"
            id="observaciones"
            rows="3"
          ></textarea>
          <small id="observaciones" class="form-text text-muted"
            >Observaciones</small
          >
          <app-validacion-inputs
            [campo]="observaciones_FB"
          ></app-validacion-inputs>
        </div>
      </div>

      <hr />

      <div class="row mb-5">
        <div class="col-12">
          <h3>Agregar procesos</h3>
        </div>
        <!-- <div class="col-12 col-lg-6">
          <app-organizador-drag-and-drop
            (dropSuccess)="actualizarIds($event)"
            [listaOrdenable]="true"
          ></app-organizador-drag-and-drop>
        </div>
        <div class="col-12 col-lg-6">
          <app-organizador-drag-and-drop
            [listaDeElementos]="true"
          ></app-organizador-drag-and-drop>
        </div> -->

        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-6">
              <ul class="list-group">
                <li class="list-group-item active">Procesos agregados</li>
                <div
                  id="procesos-agregados"
                  cdkDropList
                  (cdkDropListDropped)="drop($event)"
                  [cdkDropListData]="procesosAgregados"
                  style="max-height: 600px; overflow: scroll; overflow-x: hidden; overflow-y: auto;"
                >
                  <li
                    cdkDrag
                    *ngFor="let pro of procesosAgregados; let i = index"
                    class="list-group-item  flex-column align-items-start"
                  >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">
                        <i
                          (click)="quitarProceso(i)"
                          class="fas fa-times-circle text-danger   "
                        ></i>

                        {{ i }}.-{{ pro.nombre }}
                      </h5>
                      <small class="text-muted">{{
                        pro.departamento.nombre
                      }}</small>
                    </div>
                  </li>
                  <li
                    *ngIf="!f('procesos').length"
                    class="list-group-item disabled"
                  >
                    No se han asignado procesos
                  </li>
                </div>
              </ul>
            </div>
            <div class="col-12 col-sm-6">
              <ul class="list-group">
                <li class="list-group-item active">Procesos disponibles</li>
                <div
                  id="procesos-disponibles"
                  cdkDropList
                  [cdkDropListData]="procesos"
                  [cdkDropListConnectedTo]="['procesos-agregados']"
                  style="max-height: 600px; overflow: scroll; overflow-x: hidden; overflow-y: auto;"
                >
                  <li
                    cdkDrag
                    *ngFor="let proceso of procesos"
                    class="list-group-item  flex-column align-items-start"
                  >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">
                        <i class="fas fa-bars    "></i>
                        {{ proceso.nombre }}
                      </h5>
                      <small class="text-muted">{{
                        proceso.departamento.nombre
                      }}</small>
                    </div>
                  </li>
                </div>
                <li *ngIf="!procesos.length" class="list-group-item disabled">
                  No hay procesos
                </li>
              </ul>
            </div>
          </div>
        </div>

        <app-validacion-inputs
          [campo]="procesos_FB"
          [directo]="true"
        ></app-validacion-inputs>
      </div>

      <a
        (click)="cancelar()"
        class="btn btn-danger mr-3 text-white"
        role="button"
        >Cancelar</a
      >
      <!-- <button [disabled]='formulario.inv0alid' class="btn btn-success mr-3 text-white" role="button"> -->
      <button
        [disabled]="formulario.invalid || desactivarBotonEnGuardado"
        class="btn btn-success mr-3 text-white"
        role="button"
      >
        <span *ngIf="this.idModificar">
          <i class="fas fa-edit "></i> Guardar cambios</span
        >
        <span *ngIf="!this.idModificar">
          <i class="fas fa-save "></i> Guardar</span
        >
      </button>
    </form>
  </ng-container>
</app-crear-modificar>
