<div *ngIf="this.maquinasComponent.mostrarCrearModificar" class="row animated faster" [ngClass]="{'slideOutUp': !this.maquinasComponent.crearModificar , 'slideInDown': this.maquinasComponent.crearModificar  }">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>
                    Registrar <span *ngIf="this.maquinasComponent.idModificar">nueva</span> maquina
                </h1>
                <hr>
                <br>
                <form (ngSubmit)="onSubmit(formulario.value, formulario.valid, $event)" [formGroup]="formulario">

                    <div class="row">
                        <div class="form-group col-12 col-md-6 col-lg-4">
                            <input formControlName="nombre" type="text" class="form-control" [ngClass]="{'is-invalid': _validacionesService.invalid(nombre_FB), 'is-valid':_validacionesService.valid(nombre_FB)}" name="nombre" id="nombre" aria-describedby="El nombre del equipo" placeholder="Nombre de la maquina">
                            <small id="El nombre del equipo" class="form-text text-muted">Ingresa el nombre de la maquina</small>
                            <app-validacion-inputs [campo]="nombre_FB"></app-validacion-inputs>
                        </div>

                        <div class="form-group col-12 col-md-6 col-lg-4">
                            <input formControlName="clave" type="text" class="form-control" [ngClass]="{'is-invalid': _validacionesService.invalid(clave_FB), 'is-valid':_validacionesService.valid(clave_FB)}" name="clave" id="clave" aria-describedby="clave" placeholder="Clave">
                            <small id="clave" class="form-text text-muted">Clave de la maquina</small>
                            <app-validacion-inputs [campo]="clave_FB"></app-validacion-inputs>
                        </div>

                        <div class="form-group col-12 col-md-6 col-lg-4">
                            <input formControlName="anio" type="number" class="form-control" [ngClass]="{'is-invalid': _validacionesService.invalid(anio_FB), 'is-valid':_validacionesService.valid(anio_FB)}" name="año" id="año" aria-describedby="año" placeholder="Año">
                            <small id="año" class="form-text text-muted">El año de la maquina</small>
                            <app-validacion-inputs [campo]="anio_FB"></app-validacion-inputs>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mb-3">Departamentos a los que pertenece</h3>

                        </div>
                        <!-- 
                        =====================================
                         El grupo de array para validar los departamentos
                        =====================================
                        -->
                        <ng-container *ngFor="let departamento of departamentos">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="custom-control custom-checkbox mt-3">
                                    <input (change)="agregarQuitarId(departamento._id, $event)" [checked]='estaAgregado( departamento._id )' type="checkbox" class="custom-control-input" [id]="departamento._id">
                                    <label class="custom-control-label" [for]="departamento._id">{{departamento.nombre}}</label>
                                </div>

                            </div>

                        </ng-container>

                        <span formArrayName='departamentos'>
                          <!-- El cp solo es para que entregue un valor. Solo ocupamos itinerar sobre el array.  -->
                          <ng-container *ngFor="let cp of formulario.controls['departamentos'].controls; let i = index">

                            <div class="row" [formGroupName]="i">
                              <input formControlName="_id"  type="hidden"  [id]="i+'depto'" >

                            </div>
                          </ng-container> 
                  
                        </span>
                        <br>
                        <app-validacion-inputs [campo]="departamentos_FB" [directo]='true'></app-validacion-inputs>


                        <!-- 
                        =====================================
                         END El grupo de array para validar los departamentos
                        =====================================
                        -->
                    </div>

                    <hr>
                    <div class="row">
                        <div class="form-group col-12 col-lg-6">
                            <input formControlName="numeroDeSerie" type="text" class="form-control" [ngClass]="{'is-invalid': _validacionesService.invalid(numeroDeSerie_FB), 'is-valid':_validacionesService.valid(numeroDeSerie_FB)}" name="numeroDeSerie" id="numeroDeSerie" aria-describedby="numeroDeSerie"
                                placeholder="Numero de serie">
                            <small id="numeroDeSerie" class="form-text text-muted">Numero de serie</small>
                            <app-validacion-inputs [campo]="numeroDeSerie_FB"></app-validacion-inputs>
                        </div>

                        <div class="form-group col-12 col-lg-6">
                            <textarea formControlName="observaciones" class="form-control" [ngClass]="{'is-invalid': _validacionesService.invalid(observaciones_FB), 'is-valid':_validacionesService.valid(observaciones_FB)}" name="observaciones" id="observaciones" rows="3"></textarea>
                            <small id="observaciones" class="form-text text-muted">Observaciones</small>
                            <app-validacion-inputs [campo]="observaciones_FB"></app-validacion-inputs>
                        </div>

                    </div>

                    <a (click)="cancelar()" class="btn btn-danger mr-3 text-white" role="button">Cancelar</a>
                    <!-- <button [disabled]='formulario.invalid' class="btn btn-success mr-3 text-white" role="button"> -->
                    <button [disabled]='formulario.invalid' class="btn btn-success mr-3 text-white" role="button">
                      <span *ngIf="this.maquinasComponent.idModificar"> <i class="fas fa-edit "></i>  Guardar cambios</span>
                      <span *ngIf="!this.maquinasComponent.idModificar"> <i class="fas fa-save "></i>  Guardar</span>
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>