<app-modal [mostrar]='detalleElemento' [leyendaTitulo]='"Clave:"' [titulo]='detalleElemento?.clave' [idModal]='idModal'>
    <!-- Esa linea sirve para que no nos marque con error de nulo a detalleElemento.X -->
    <ng-container *ngIf="detalleElemento">

        <!-- 
        =====================================
         Cotenido
        =====================================
        -->

        <div class="row">
            <div class="col-12">
                <strong>Nombre de la maquina </strong>
                <h1> {{detalleElemento.nombre}}</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-6">
                Anio: <strong>{{detalleElemento.anio}} </strong> | Serie: <strong> {{detalleElemento.numeroDeSerie}}</strong>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12">
                <h3>Departamentos</h3>
                <ul class="list-group">
                    <li *ngFor="let depto of detalleElemento.departamentos" class="list-group-item">{{depto.nombre}}</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Nombres anteriores</h3>
                <ul class="list-group">
                    <li *ngFor="let nombre of detalleElemento?.nombresAnteriores" class="list-group-item d-flex justify-content-between align-items-lg-center ">
                        <span>
                                {{nombre.nombre}} \ {{ nombre.clave }}
    
                            </span>
                        <strong class="text-muted"><small>{{nombre.fechaDeCambio | fecha }}</small></strong>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Observaciones</h3>
                <p>{{detalleElemento.observaciones}}</p>
            </div>
        </div>
        <!-- 
        =====================================
         END Cotenido
        =====================================
        -->

    </ng-container>

</app-modal>
<!-- 
=====================================
 END Body
=====================================
-->