<!-- ngClass = Modifica atravez de nuestra  variable "oculto" definida
en el componente la clase oculto. Con el (click)="oculto=oculto" modificamos 
esta variable para que se agregue la clase que queremos.  -->
<div class="fondo-negro animated fadeIn " [ngClass]="_modalUploadService.oculto">
    <div class="modal" style="display: block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <!-- OJO con las comillas de la palabra oculto. Si no las
                    pones estas asignando el mismo atributo a si mismo XP. -->
                    <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body text-center" align="center">

                    <img *ngIf="!imagenTemp" [src]="'xxx' | imagen" class="w150">

                    <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">

                    <!-- El files[...] guarda un arreglo de imagenes. Si quieres recivir varias imágenes entonces
                    hay que modificar aqui. -->
                    <input (change)="seleccionImagen($event.target.files[0])" type="file">


                </div>
                <div class="modal-footer">
                    <button (click)="subirImagen()" [disabled]="!imagenTemp" type="button" class="btn btn-primary">Subir imagen</button>
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>