<app-general [cbCrear]='cbCrear()' [cbBuscar]='cbBuscar()' [mostrarLista]='mostrarLista' [crearModificar]='crearModificar' [paginador]='_paginadorService'>
    <ng-container *ngIf="mostrarLista">

        <!-- 
        =====================================
         BODY
        =====================================
        -->
        <table class="table table-responsive table-hover  ">
            <thead>
                <tr>
                    <th></th>
                    <th>Modelo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let modelo of elementos">
                    <td><button (click)="mostrarDetalle(modelo._id)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalDetalle" role="button"><i class="fas fa-eye" aria-hidden="true"></i></button></td>
                    <td>{{modelo.modelo}}</td>
                    <td><a (click)="editar( modelo._id, componenteCrearModificar )" class="btn btn-success btn-sm"><i class="fas fa-edit text-white    "></i></a></td>
                    <td><a (click)="eliminar( modelo._id)" class="btn btn-danger btn-sm"><i class="fas fa-times  text-white "></i></a></td>
                </tr>

            </tbody>
        </table>

        <!-- 
        =====================================
         END BODY
        =====================================
        -->

    </ng-container>
</app-general>

<!-- 
=====================================
 Importante fuera de app-general
=====================================
-->

<app-modelos-crear-modificar #componenteCrearModificar [cbAnimar]='this.cbAnimar' [cbCargarElementos]='this.cbCargarElementos' [idModificar]='this.idModificar' [mostrarCrearModificar]='this.mostrarCrearModificar' [crearModificar]='this.crearModificar'></app-modelos-crear-modificar>
<app-modelos-detalle [detalleElemento]='elementoDetalle'> </app-modelos-detalle>
<!-- 
=====================================
 END Importante fuera de app-general
=====================================
-->