<div class="row">
  <div class="col-12">
    <h3>Filtros de requisiciones</h3>
    <hr />
  </div>

  <!-- 
  =====================================
   FolioDesde
  =====================================
  -->

  <div
    title="Folio desde el cual empezar a filtrar. Si se quiere solo uno usar solo este"
    *ngIf="seleccionarCamposVisibles.folioDesde"
    class="col-12 col-sm-4 col-lg-3"
  >
    <div class="form-group">
      <input
        [(ngModel)]="folioDesde"
        type="number"
        class="form-control"
        aria-describedby="helpId"
        placeholder=""
      />
      <small class="form-text text-muted">Folio desde el </small>
    </div>
  </div>
  <!-- 
  =====================================
   END FolioDesde
  =====================================
  -->

  <!-- 
  =====================================
   folioHasta
  =====================================
  -->
  <div
    title="Folio hasta el cual dejar de filtrar. Si se quiere solo uno dejar en blanco este"
    *ngIf="seleccionarCamposVisibles.folioHasta"
    class="col-12 col-sm-4 col-lg-3"
  >
    <div class="form-group">
      <input
        [(ngModel)]="folioHasta"
        type="number"
        class="form-control"
        aria-describedby="helpId"
        placeholder=""
      />
      <small class="form-text text-muted">Folio hasta el </small>
    </div>
  </div>

  <!-- 
  =====================================
   END folioHasta
  =====================================
  -->

  <!-- 
  =====================================
   usuario
  =====================================
  -->
  <div class="col-6">
    <div class="form-group">
      <app-data-list
        (ejecutarBusquedaDeItems)="
          ejecutarOperacionesdeBusquedaUsuarios($event)
        "
        (elementoSeleccionado)="usuarioSeleccionado($event)"
        (cancelado)='usuario = null'
        (esteComponente)='usuarioDataList=$event'
      >
      </app-data-list>
      <small class="form-text text-muted">Usuario </small>
    </div>
  </div>
  <!-- 
  =====================================
   END usuario
  =====================================
  -->

  <!-- 
  =====================================
   materiaPrima, consumible, GastoYServicio
  =====================================
  -->

  <div class="col-6">
    <label class="custom-control custom-checkbox">
      <input
        type="checkbox"
        name=""
        id=""
        value="checkedValue"
        class="custom-control-input"
      />
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"></span>
    </label>
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group" data-toggle="buttons">
        <label
          (click)="seleccionarTipoDeMaterial('materiaPrima')"
          [ngClass]="{ active: materiaPrima }"
          class="btn btn-info active"
        >
          <input type="checkbox" autocomplete="off" />
          <i
            *ngIf="materiaPrima"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Materia prima
        </label>
        <label
          (click)="seleccionarTipoDeMaterial('consumibles')"
          [ngClass]="{ active: consumibles }"
          class="btn btn-info"
        >
          <input type="checkbox" autocomplete="off" />
          <i
            *ngIf="consumibles"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Consumible
        </label>
        <label
          (click)="seleccionarTipoDeMaterial('gastosYServicios')"
          [ngClass]="{ active: gastosYServicios }"
          class="btn btn-info"
        >
          <input type="checkbox" autocomplete="off" />
          <i
            *ngIf="gastosYServicios"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Gasto y servicio
        </label>
      </div>
    </div>
  </div>

  <!-- 
  =====================================
   END materiaPrima, consumible, GastoYServicio
  =====================================
  -->

  <!-- 
  =====================================
   articulo
  =====================================
  -->
  <div class="col-6">
    <div class="form-group">
      <app-data-list
        (ejecutarBusquedaDeItems)="
          ejecutarOperacionesdeBusquedaArticulos($event)
        "
        (elementoSeleccionado)="articuloSeleccionado($event)"
        (cancelado)='articulo=null'
        (esteComponente)='articuloDataList=$event'
      >
      </app-data-list>
      <small class="form-text text-muted">Articulo de almacen </small>
    </div>
  </div>

  <!-- 
  =====================================
   END articulo
  =====================================
  -->


  <div class="col-6">
    <label class="custom-control custom-checkbox">
      <input
        type="checkbox"
        value="checkedValue"
        class="custom-control-input"
      />
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"></span>
    </label>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-center align-items-center">
      <div class="btn-group" data-toggle="buttons">
        <label
          (click)="seleccionarEstatus('estatus_esRequisicion')"
          [ngClass]="{ active: estatus_esRequisicion }"
          class="btn btn-warning active"
        >
          <input type="checkbox" checked autocomplete="off" />
          <i
            *ngIf="estatus_esRequisicion"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Requisicion
        </label>
        <label
          (click)="seleccionarEstatus('estatus_esOrdenDeCompra')"
          [ngClass]="{ active: estatus_esOrdenDeCompra }"
          class="btn btn-info"
        >
          <input type="checkbox" autocomplete="off" />
          <i
            *ngIf="estatus_esOrdenDeCompra"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Orden de compra
        </label>
        <label
          (click)="seleccionarEstatus('estatus_esEntregaParcial')"
          [ngClass]="{ active: estatus_esEntregaParcial }"
          class="btn btn-dark"
        >
          <input type="checkbox" autocomplete="off" />
          <i
            *ngIf="estatus_esEntregaParcial"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Parcialidad
        </label>
        <label
          (click)="seleccionarEstatus('estatus_esTerminada')"
          [ngClass]="{ active: estatus_esTerminada }"
          class="btn btn-success"
        >
          <input type="checkbox" autocomplete="off" />
          <i
            *ngIf="estatus_esTerminada"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Terminado
        </label>
        <label
          (click)="seleccionarEstatus('estatus_esCancelada')"
          [ngClass]="{ active: estatus_esCancelada }"
          class="btn btn-danger"
        >
          <input type="checkbox" autocomplete="off" />
          <i
            *ngIf="estatus_esCancelada"
            class="fa fa-check-circle"
            aria-hidden="true"
          ></i>
          Cancelado
        </label>
      </div>
    </div>
  </div>

  <div class="col-12">
    <hr />

    <a (click)="filtrar()" class="btn btn-success text-white" role="button">
      <i class="fas fa-filter"></i> Filtrar
    </a>
    <a (click)="limpiar()" class="btn btn-info text-white ml-3" role="button">
      <i class="fas fa-broom"></i> Limpiar filtros
    </a>
  </div>
</div>
