<ng-container *ngIf="requisicion">
  <div class="justify-content-between d-flex aling-items-center">
    <h1 *ngIf="requisicion">
      Requisicion # <b>{{ requisicion.folio }}</b>
    </h1>
    <h1>
      <span class="text-secondary">
        <i class="fas fa-check-circle"></i> Finalizar la <b> requisicion</b>
      </span>
    </h1>
  </div>

  <hr />
  <br />

  <form [formGroup]="formulario">
    <div class="row">
      <ng-container *ngIf="obtenerMaximo(requisicion) === 0">
        <h3>
          Ya se recibio todo lo que se necesitaba de esta requisicion. La puedes
          terminar.
        </h3>
      </ng-container>
      <ng-container *ngIf="obtenerMaximo(requisicion) !== 0">
        <h3>
          Debes de recibir
          <b
            >{{ obtenerMaximo(requisicion) | number: "0.0-3" }}
            <small class="text-muted">
              para poder terminar esta requisicion.</small
            ></b
          >
        </h3>
      </ng-container>

      <div class="col-4">
        <button
        data-toggle="modal"
      data-target="#recibirTerminacion"
          (click)="submit(formulario.value, formulario.invalid, $event)"
          class="btn btn-success "
          [ngClass]="{ active: formulario.valid }"
          [disabled]="formulario.invalid"
        >
          <i class="fas fa-check"></i>
          Terminar
        </button>
      </div>

      <div class="col-12" *ngIf="this.formulario.invalid">
        <app-validacion-inputs
          [campo]="this.formulario"
          [directo]="true"
        ></app-validacion-inputs>
      </div>

      <div class="col-12">
        <app-carga-de-imagenes
          [activeColor]="'orangered'"
          [baseColor]="'lightgray'"
          (imagenesParaSubir)="imagenesParaSubir($event)"
        >
        </app-carga-de-imagenes>
      </div>
    </div>

    <br />

    <a
      data-toggle="modal"
      data-target="#recibirTerminacion"
      (click)="cancelar()"
      class="text-white btn btn-danger"
      role="button"
    >
      <i class="fas fa-times    "></i> Cancelar</a
    >
  </form>
</ng-container>

<ng-container *ngIf="!requisicion">
  <h1>No has seleccionado ninguna <b>requisicion</b></h1>
</ng-container>
