<div class="row fadeIn animated">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class=""><strong>Cursos</strong> existentes</h1>

          <div class="d-flex  align-items-center ">
            <div class="mr-3">
              <app-buscador-paciente
                [cbObservable]="cbObserbable"
                [tiempoDeEspera]="1000"
                (resultado)="resultadoBusqueda($event)"
                (cancelado)="cancelado()"
                (error)="error($event)"
              ></app-buscador-paciente>
            </div>

            <a
              (click)="crear()"
              data-toggle="modal"
              data-target="#crearModificarCursoModal"
              class="btn btn-success text-white"
            >
              <i class="fas fa-plus "></i> Crear curso</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="cursos.length > 0" class="row fadeIn animated">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <app-paginador
          [paginador]="_paginadorService"
          *ngIf="!buscando"
        ></app-paginador>

        <table *ngIf="cursos.length > 0" class="table table-hover ">
          <thead>
            <tr>
              <th></th>

              <th title="Nombre del curso">
                Nombre
              </th>
              <th title="Duracion en horas">
                Duracion
              </th>
              <th title="Instructor o instructores que imparten el curso">
                Instructor
              </th>
              <th title="Curso de tronco comun o de especializacion">
                Tipo de curso
              </th>

              <th title="Eliminar curso">
                <i class="fas fa-times    "></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curso of cursos">
              <td class="fit">
                <a
                  id="button0"
                  (click)="asignarDetalle(curso)"
                  class="btn  text-white btn-primary btn-xs mr-1"
                  role="button"
                  data-toggle="modal"
                  data-target="#detalleCurso"
                >
                  <i class="fas fa-eye    "></i>
                </a>

                <a
                  id="button2"
                  class="btn  text-white btn-success btn-xs mr-1"
                  role="button"
                  title="Editar curso"
                  data-toggle="modal"
                  data-target="#crearModificarCursoModal"
                  (click)="editar(curso)"
                >
                  <i class="fas fa-edit    "></i>
                </a>
              </td>
              <td class=" no-wrap ">{{ curso.nombre }}</td>
              <td>
                {{ curso.duracion | number: "2.2" }}
              </td>
              <td>
                {{ curso.instructor }}
              </td>
              <td>
                <span *ngIf="curso.esCursoDeTroncoComun">Tronco comun</span>
                <span *ngIf="curso.esCursoDeEspecializacion"
                  >Especializante</span
                >
              </td>

              <td class="fit">
                <a
                  id="buttonX"
                  class="btn  text-white btn-danger btn-xs"
                  role="button"
                  title="Eliminar curso"
                  (click)="eliminar(curso)"
                >
                  <i class="fas fa-times "></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <app-paginador
          [paginador]="_paginadorService"
          *ngIf="!buscando"
        ></app-paginador>
      </div>
    </div>
  </div>
</div>

<div *ngIf="cursos.length === 0" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="display-1">No hay <b>cursos</b> para mostrar</h1>
      </div>
    </div>
  </div>
</div>

<!-- 
  =====================================
   Detalle
  =====================================
  -->
<!-- Modal -->
<div
  class="modal fade"
  id="detalleCurso"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header h-25">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cursos-detalle [curso]="cursoDetalle"></app-cursos-detalle>
      </div>
    </div>
  </div>
</div>

<!-- 
  =====================================
   END Detalle
  =====================================
  -->

<!-- 
  =====================================
   Crear editar
  =====================================
  -->

<!-- Modal -->
<div
  class="modal fade"
  id="crearModificarCursoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cursos-crear-modificar
          (esteComponente)="componenteCrearModificar = $event"
          (guardar)="guardar()"
          [curso]="cursoModificar"
        ></app-cursos-crear-modificar>
      </div>
    </div>
  </div>
</div>

<!-- 
  =====================================
   END Crear editar
  =====================================
  -->
