<ng-container *ngIf="keys(cargando).length === 0; else cargandoTemplate">
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="justify-content-between d-flex aling-items-center">
            <h1 *ngIf="tamano?._id">{{ tamano.tamano }}</h1>
            <h1>
              <span class="text-success" *ngIf="!tamano?._id">
                <i class="fas fa-plus-square"></i> Crear <b>tamano</b> </span
              ><span class="text-warning" *ngIf="tamano?._id">
                <i class="fas fa-pen-square"></i> Modificar <b>tamano</b>
              </span>
            </h1>
          </div>

          <hr />

          <form [formGroup]="formulario">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    formControlName="tamano"
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('tamano')),
                      'is-valid': vs.valid(f('tamano'))
                    }"
                    name="tamano"
                    id="tamano"
                    placeholder=""
                  />
                  <small id="El tamano del equipo" class="form-text text-muted"
                    >Ingresa el nombre del tamano</small
                  >
                  <app-validacion-inputs
                    [campo]="f('tamano')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    formControlName="estandar"
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': vs.invalid('estandar'),
                      'is-valid': vs.valid('estandar')
                    }"
                    name="estandar"
                    id="estandar"
                    placeholder=""
                    mask="separator"
                    thousandSeparator=","
                    suffix=" piezas"
                  />
                  <small class="form-text text-muted"
                    >Ingresa la cantidad del estandar</small
                  >
                  <app-validacion-inputs
                    [campo]="'estandar'"
                  ></app-validacion-inputs>
                </div>
              </div>

              <!-- 
              =====================================
               grTuboBaston
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('grTuboBaston')),
                      'is-valid': vs.valid(f('grTuboBaston'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="grTuboBaston"
                    mask="separator"
                    thousandSeparator=","
                    suffix=" gr"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >gr/Tubo baston</small
                  >
                  <app-validacion-inputs
                    [campo]="f('grTuboBaston')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END grTuboBaston
              =====================================
              -->
            </div>

            <div class="row">
              <div class="col-12">
                <app-validacion-inputs
                  [campo]="formulario"
                ></app-validacion-inputs>

                <br />
                <br />

                <button
                  (click)="submit(formulario.value, formulario.invalid, $event)"
                  class="text-white btn btn-success mr-3 active"
                  role="button"
                  [disabled]="keys(cargando).length > 0"
                >
                  <i class="fas fa-save"></i> Guardar
                </button>
                <a
                  (click)="location.back()"
                  class="text-white btn btn-danger active"
                  role="button"
                >
                  <i class="fas fa-times"></i> Cancelar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div
          class="card-body d-flex justify-content-between align-items-center text-center"
        >
          <h1 class="display-1">
            <i class="fas fa-sync fa-spin"></i>
            <h2 *ngFor="let dato of cargando | keyvalue">{{ dato.value }}</h2>
          </h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
