<ng-container>
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div
          class=" card-body d-flex justify-content-between align-items-center"
        >
          <h1 class=""><strong>Tamanos</strong> existentes</h1>

          <div class="d-flex  align-items-center ">
            <div class="mr-3">
              <app-buscador-paciente
                [cbObservable]="cbObservable"
                [tiempoDeEspera]="1000"
                (resultado)="resultadoDeBusqueda($event)"
                (cancelado)="cancelado()"
                (error)="error($event)"
              ></app-buscador-paciente>
            </div>

            <a
              (click)="this.crear()"
              class="btn btn-success text-white active mr-3"
            >
              <i class="fas fa-plus "></i> Crear tamano</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-12">
      <paginador
        #paginadorOriginal
        class="pull-right"
        [totalDeElementos]="this.totalDeElementos"
        [campoDeOrdenamiento]="'tamano'"
        [tipoDeOrden]="1"
        (actualizarConsulta)="actualizarConsulta($event)"
        [cargando]="keys(cargando).length > 0"
      ></paginador>
    </div>
  </div>
  <div
    *ngIf="tamanos.length && keys(cargando).length === 0"
    class="row animated fadeIn"
  >
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <table class="table table-hover w-100">
            <thead>
              <tr>
                <th></th>
                <th>Nombre</th>

                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let elemento of tamanos">
                <td class="fit">
                  <button
                    (click)="tamanoDetalle = elemento"
                    class="btn btn-primary btn-sm"
                    data-toggle="modal"
                    data-target="#detalleTamano"
                    role="button"
                  >
                    <i class="fas fa-eye" aria-hidden="true"></i>
                  </button>
                </td>
                <td>{{ elemento.tamano }}</td>

                <td class="fit">
                  <a
                    href="javascript:void(0)"
                    (click)="modificar(elemento._id)"
                    class="btn btn-success btn-sm"
                    ><i class="fas fa-edit text-white    "></i
                  ></a>
                </td>
                <td class="fit">
                  <a
                    (click)="eliminar(elemento._id)"
                    class="btn btn-danger btn-sm"
                    ><i class="fas fa-times  text-white "></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="tamanos?.length === 0 && keys(cargando).length === 0"
    class="row animated fadeIn"
  >
    <div class="col-12">
      <div class="card">
        <div class="card-body shadow">
          <h1 class="display-1">No hay <b>tamanos</b> para mostrar</h1>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="keys(cargando).length > 0" class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="display-1 w-100 text-center">
            <i class="fas fa-sync  fa-spin   "></i>
          </h1>
          <h2 *ngFor="let key of keys(cargando)" class="w-100 text-center">
            {{ cargando[key] }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-tamanos-detalle [detalle]="tamanoDetalle" [id]="'detalleTamano'">
</app-tamanos-detalle>
