<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <a
              class="btn btn-primary"
              href="javascript:void(0)"
              role="button"
              routerLink="crear"
            >
              <i class="fas fa-plus-circle"></i> Crear
            </a>
          </div>
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <codice-buscador
              (termino)="termino = $event"
              (escucharCarga)="estaCargandoBuscador = $event"
            >
            </codice-buscador>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!cargando; else cargaTemplate" class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body table-responsive">
        <table class="table table-striped table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th></th>
              <th>Proveedor</th>
              <th>Contacto</th>
              <th>Puesto</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proveedor of proveedores">
              <td>
                <a
                  (click)="editar(proveedor)"
                  class="btn btn-primary"
                  href="javascript:void(0)"
                  role="button"
                >
                  <i class="fas fa-edit"></i
                ></a>
              </td>
              <td>{{ proveedor.nombre }}</td>
              <td>{{ obtenerPrimerContacto(proveedor)?.nombre }}</td>
              <td>{{ obtenerPrimerContacto(proveedor)?.puesto[0] }}</td>
              <td>{{ obtenerPrimerContacto(proveedor)?.correo[0] }}</td>
              <td>
                {{ obtenerPrimerContacto(proveedor)?.telefono[0] }}
              </td>
              <td>
                <a
                  (click)="eliminar(proveedor)"
                  class="btn btn-danger"
                  href="javascript:void(0)"
                  role="button"
                >
                  <i class="fas fa-times"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #cargaTemplate>
  <div class="row">
    <div class="col-12">
      <div style="width: 200px" class="text-center">
        <codice-ux-precarga></codice-ux-precarga>
      </div>
    </div>
  </div>
</ng-template>
