<app-qr-scanner> </app-qr-scanner>

<div *ngIf="_qrScannerService.lecturaCorrecta 
&& orden.ubicacionActual.recivida 
&& orden.ubicacionActual.laser?.trabajando" class="row animated fadeInDown">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h1>Laser</h1>

                <form (ngSubmit)="onSubmit(laserForm.value, laserForm.valid, $event)" [formGroup]="laserForm">

                    <div class="row">
                        <div class="form-group col-auto">
                            <input formControlName="cantidadDeBotones" [ngClass]="{'is-invalid': _validacionesService.invalid(cantidadDeBotones_FB), 'is-valid':_validacionesService.valid(cantidadDeBotones_FB)}" type="number" class="form-control form-control-lg" name="cantidadDeBotones"
                                id="cantidadDeBotones" aria-describedby="cantidadDeBotonesId" placeholder="Peso de 10 botones">
                            <small id="cantidadDeBotonesId" class="form-text text-muted">Ingresa la cantidad de botones</small>
                            <app-validacion-inputs [campo]='cantidadDeBotones_FB'></app-validacion-inputs>
                        </div>

                    </div>


                    <button [disabled]='laserForm.invalid' class="btn btn-success mr-3 text-white" role="button"><i class="fa fa-save"> </i> Guardar</button>
                    <a (click)="limpiar()" class="btn btn-danger text-white"><i class="fa fa-times"></i> Cancelar</a>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInDown" *ngIf="_qrScannerService.lecturaCorrecta 
&& orden.ubicacionActual.recivida 
&& !orden.ubicacionActual.laser?.trabajando">
    <div class="col-12">
        <div class="card  card-body bg-inverse text-white">
            <div class="card-body">

                <h1 class='text-white'>Laser <small class="text-muted"> Esta órden no se esta trabajando.</small></h1>
                <hr>
                <h3 class="text-white">Selecciona la máquina en que se trabajara:</h3>
                <ng-container *ngFor="let maquina of maquinas; let i = index">

                    <a (click)="setMaquinaActual(orden, maquina)" class="btn btn-outline-success btn-lg m-2">
                        <i *ngIf="orden.ubicacionActual?.laser?.maquinaActual?._id === maquina._id" class="fa fa-check animated tada text-warning">
                        </i> {{maquina.clave}}</a>
                </ng-container>


                <hr>

                <a *ngIf="orden.ubicacionActual.laser?.maquinaActual" (click)="iniciarTrabajoDeOrden()" class="btn btn-success btn-lg mr-3 fadeIn animated "><i class="fa fa-save"></i> Guardar</a>
                <button (click)="limpiar(); maquinaActualEnNulo(orden)" class="btn btn-danger btn-lg mr-3 "><i class="fa fa-times "></i> Escannear de nuevo</button>


            </div>
        </div>
    </div>
</div>

<app-lista-de-ordenes *ngIf="!_qrScannerService.lecturaCorrecta"></app-lista-de-ordenes>