<div class="row" [ngClass]="{'oculto': !_qrScannerService.leyendo}">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <app-qr-scanner></app-qr-scanner>

            </div>
        </div>
    </div>
</div>

<div class="row animated tada" *ngIf="_qrScannerService.lecturaCorrecta">
    <div class="col-12">
        <div class="card border-dark">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        <h3 class="box-title m-b-0"><strong>Materiales</strong></h3>
                        <p class="text-white m-b-30 font-13"> Registra los datos de la órden </p>

                    </div>
                    <div class="col-6">
                        <h2>
                            <strong>
                                <app-modelo-completo class="mr-3" *ngIf="linea" [linea]="linea"></app-modelo-completo>
                            </strong>
                            <app-nivel-urgencia [nivel]="orden?.nivelDeUrgencia"></app-nivel-urgencia>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cargado por:</label>
                            <br>
                            <a (click)="empleadoSeleccionado = empleado" class="btn" [ngClass]="{
                                                'btn-success text-white': empleadoSeleccionado === empleado,
                                                'btn-outline-inverse': empleadoSeleccionado !== empleado
                                            }" *ngFor="let empleado of empleados" class="btn btn-lg mr-2">
                                <i class="fa" [ngClass]="{'fa-check-circle-o fa-2x': empleadoSeleccionado === empleado}"></i> {{empleado.nombre}}
                            </a>
                        </div>

                        <button (click)="guardar()" class="btn btn-success btn-lg mr-3"><i class="fa fa-save"></i> Guardar</button>
                        <button (click)="limpiar()" class="btn btn-danger btn-lg mr-3"><i class="fa fa-times"></i> Escannear de nuevo</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-lista-de-ordenes *ngIf="_qrScannerService.leyendo"> </app-lista-de-ordenes>