<app-qr-scanner> </app-qr-scanner>

<div *ngIf="_qrScannerService.lecturaCorrecta 
&& orden.ubicacionActual.recivida " class="row animated fadeInDown">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h1>Materiales</h1>

                <form (ngSubmit)="onSubmit(formulario.value, formulario.valid, $event)" [formGroup]="formulario">
                    <hr>

                    <input type='hidden'>
                    <h3>Selecciona quien cargo la orden.</h3>
                    <ng-container *ngFor="let empleado of empleados; let i = index">

                        <a (click)="setEmpleado(empleado)" class="btn btn-outline-success btn-lg m-2">
                            <i *ngIf="cargo_FB.value === empleado._id" class="fas fa-check animated tada text-warning">
                                </i> {{empleado.nombre}}</a>
                    </ng-container>


                    <app-validacion-inputs [campo]='cargo_FB'></app-validacion-inputs>


                    <br>
                    <hr>

                    <button [disabled]='formulario.invalid' class="btn btn-success mr-3 text-white" role="button"><i class="fas fa-save"> </i> Guardar</button>
                    <a (click)="limpiar()" class="btn btn-danger text-white"><i class="fas fa-times"></i> Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>


<app-lista-de-ordenes *ngIf="!_qrScannerService.lecturaCorrecta"></app-lista-de-ordenes>