<ng-container *ngIf="folio; else folioLineasElseTemplate">
  <!-- 
    =====================================
     Encabezado
    =====================================
    -->
  <div class="d-flex align-items-center justify-content-between">
    
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="display-6 ">
        FOL:<b># {{ folio.numeroDeFolio }}</b>
      </h1>
      <a
      (click)="guardarCambios()"
      class="btn btn-success btn-sm text-white ml-3 mb-1"
      title="Genera las ordenes para produccion."
      data-dismiss="modal"
      role="button"
    >
      Generar ordenes</a
    >
    </div>
    <h3>Revision de <b>ordenes</b></h3>
  </div>
  <!-- 
    =====================================
     END Encabezado
    =====================================
    -->

  <hr />

  <!-- 
  =====================================
   Observaciones del folio
  =====================================
  -->
  <div class="row ">
    <div class="col-6">
      <h6><b>Observaciones del vendedor</b></h6>
      <p>{{ folio.observacionesVendedor }}</p>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="obserProduccionFol"
          ><h6> <b>Observaciones de produccion</b> </h6></label
        >
        <textarea
          [(ngModel)]="folio.observaciones"
          class="form-control"
          name="obserProduccionFol"
          id="obserProduccionFol"
          rows="3"
        ></textarea>
      </div>
    </div>
  </div>

  <!-- 
  =====================================
   END Observaciones del folio
  =====================================
  -->

  <div class="row mt-3">
      <div
        class="col-12 d-flex align-items-center bg-light"
        style="height: 10px;"
      >
        <hr class="dashed" />
      </div>
    </div>

  <!-- 
  =====================================
   Descripcion de pedidos
  =====================================
  -->

  <ng-container *ngFor="let pedido of folio.folioLineas">
    <div class="row bg-light-extra pt-4 pb-3">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="display-6">
            PEDIDO # <b>{{ pedido.pedido }}</b>
            <span class="pl-5">{{ pedido.cantidad | number }} <b>pz</b></span>
          </h3>

          <div class="d-flex align-items-center justify-content-between">
            <div class="mr-3">
              Prioridad :
              <app-nivel-urgencia
                [nivel]="pedido.nivelDeUrgencia"
              ></app-nivel-urgencia>
            </div>
            <div>
              <a
                (click)="
                  pedido.popularOrdenes(
                    (pedido.gui_generarComoMedias = !pedido.gui_generarComoMedias)
                  )
                "
                class="btn btn-info btn-sm text-white mr-3"
                title="Convierte todas las ordenes en medias ordnenes."
                role="button"
              >
                <span *ngIf="pedido.gui_generarComoMedias">
                  <i class="fas fa-star    "></i> Convertir a ordenes
                </span>
                <span *ngIf="!pedido.gui_generarComoMedias">
                  <i class="fas fa-star-half    "></i> Convertir a medias</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3" style="min-height: 100px">
      <div class="col-6">
        <h6><b>Laser del cliente :</b></h6>

        <h1 class="display-6">
          <b> {{ pedido.laserCliente.laser }}</b>
        </h1>
      </div>
      <div class="col-6 d-flex justify-content-between align-items-center">
        <h6>
          <b>Surtir de almacen: </b>
          <i *ngIf="pedido.almacen" class="fas fa-check text-success"></i>
        </h6>

        <ng-container *ngIf="pedido.almacen || pedido.laserCliente.laser">
          <a
            data-toggle="modal"
            data-target="#modalModeloCompletoGestorDeProcesosEspeciales"
            (click)="surtirOLaserar(pedido)"
            class="btn btn-warning text-dark ml-5 btn-sm"
          >
            <i class="fas fa-edit    "></i> Editar procesos</a
          >
        </ng-container>
      </div>
    </div>

    <hr class="thin" />

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <h6><b>Observaciones del vendedor:</b></h6>
          <p>{{pedido.observacionesVendedor}}</p>
          
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for=""> <b>Observaciones de produccion</b> </label>
          <textarea
            class="form-control"
            name=""
            id=""
            rows="3"
            [(ngModel)]="pedido.observaciones"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <table class="table table-hover w-100">
        <thead>
          <tr>
            <th title="El consecutivo de la orden.">#</th>
            <th title="El valor de la orden con respecto al estadar">Unidad</th>
            <th title="Las piezas que la orden llevara.">Pzs</th>
            <th title="La marca para laserarse">Marca Laser</th>
            <th title="El nivel de urgencia definido">Prioridad</th>
            <th title="">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orden of pedido.ordenes; let i = index">
            <td>{{ i }}</td>
            <td>{{ orden.unidad }}</td>
            <td>{{ orden.piezasTeoricas | number }}</td>
            <td>{{ pedido.laserCliente.laser }}</td>
            <td>{{ orden.nivelDeUrgencia }}</td>

            <td>
              <div class="form-group">
                <input
                  [(ngModel)]="orden.observaciones"
                  type=" text"
                  class="form-control form-control-sm"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mt-3">
      <div
        class="col-12 d-flex bg-light align-items-center w-100"
        style="height: 10px;"
      >
        <hr class="dashed" />
      </div>
    </div>
  </ng-container>
</ng-container>

<!-- 
  =====================================
   END Descripcion de pedidos
  =====================================
  -->

<a
  (click)="guardarCambios()"
  class="btn btn-success btn-sm text-white mt-3 pull-right"
  title="Genera las ordenes para produccion."
  data-dismiss="modal"
  role="button"
>
  Generar ordenes</a
>
<!-- <a class="btn btn-info btn-sm text-white" title='Muestra la opcion para editar el trayecto de la orden.' role="button">  Editar trayecto </a> -->

<ng-template #folioLineasElseTemplate>
  <h1 class="display-5">
    No has seleccionado un folio <b>para ver su informacion</b>.
  </h1>
</ng-template>
