<div class="d-flex align-items-center justify-content-center">
  <i class="fas fa-ban fa-5x mr-3 text-danger"></i>
  <span>
    <h1 class="display-6">
      Requisicion <b class="text-danger">cancelada</b> el dia
      <span class="text-muted">
        {{ historialEstatus.estatus.fechaCancelacion | fecha: "LLLL" }}
      </span>
    </h1>
    <div>
      <b class="text-danger font-weight-bolder">Razon de cancelacion </b>
      <br />
      <p>
        {{ historialEstatus.estatus.motivoCancelacion }}
      </p>

      <a class="link"
        >Cancelada por
        {{ historialEstatus.usuarioQueModifica.nombre | titlecase }}
        <img
          [src]="historialEstatus.usuarioQueModifica.img | imagen"
          alt="usuario"
          class="profile-pic img-50"
        />

        <br /> </a
      ><span class="sl-date">
        el {{ historialEstatus.fechaModificacion | fecha: "LLLL" }}</span
      >
    </div>
  </span>
</div>
