<div class="justify-content-between d-flex aling-items-center">
  <h1 *ngIf="puesto?._id">{{ puesto.puesto }}</h1>
  <h1>
    <span class="text-success" *ngIf="!puesto?._id">
      <i class="fas fa-plus-square    "></i> Crear <b>puesto</b> </span
    ><span class="text-warning" *ngIf="puesto?._id">
      <i class="fas fa-pen-square"></i> Modificar <b>puesto</b>
    </span>
  </h1>
</div>

<br />

<form [formGroup]="formulario" (keydown.enter)="$event.preventDefault()">
  <div class="row">
    <!-- 
    =====================================
     puesto
    =====================================
    -->
    <div class="col-12 col-sm-6 col-lg-6">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(puesto_FB),
            'is-valid': vs.valid(puesto_FB)
          }"
          type="text"
          class="form-control"
          formControlName="puesto"
        />
        <small id="helpId" class="form-text text-muted"
          >Nombre del puesto</small
        >
        <app-validacion-inputs [campo]="puesto_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END puesto
    =====================================
    -->

    <!-- 
    =====================================
     departamento
    =====================================
    -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="form-group">
        <select
          [ngClass]="{
            'is-invalid': vs.invalid(departamento_FB),
            'is-valid': vs.valid(departamento_FB)
          }"
          class="form-control"
          formControlName="departamento"
        >
          <option [ngValue]="null" disabled>Escoge un departamento</option>
          <option
            *ngFor="let departamento of departamentos"
            [ngValue]="departamento._id"
            >{{ departamento.nombre }}</option
          >
        </select>
        <small id="helpId" class="form-text text-muted"
          >Departamento al que pertenece</small
        >
        <app-validacion-inputs
          [campo]="departamento_FB"
        ></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END departamento
    =====================================
    -->

    <!-- 
    =====================================
     vigenciaEnAnios
    =====================================
    -->
    <div class="col-12 col-sm-3 ">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(vigenciaEnAnios_FB),
            'is-valid': vs.valid(vigenciaEnAnios_FB)
          }"
          type="number"
          class="form-control"
          formControlName="vigenciaEnAnios"
        />
        <small id="helpId" class="form-text text-muted"
          >Vigencia en anios</small
        >
        <app-validacion-inputs
          [campo]="vigenciaEnAnios_FB"
        ></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END vigenciaEnAnios
    =====================================
    -->

    <!-- 
    =====================================
     misionDelPuesto
    =====================================
    -->
    <div class="col-12 col-sm-9 col-lg-12">
      <div class="form-group">
        <textarea
          [ngClass]="{
            'is-invalid': vs.invalid(misionDelPuesto_FB),
            'is-valid': vs.valid(misionDelPuesto_FB)
          }"
          class="form-control"
          formControlName="misionDelPuesto"
          rows="6"
        ></textarea>
        <small id="helpId" class="form-text text-muted"
          >Mision del puesto</small
        >
        <app-validacion-inputs
          [campo]="misionDelPuesto_FB"
        ></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END misionDelPuesto
    =====================================
    -->

    <!-- 
=====================================
 reportaA
=====================================
-->
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <app-data-list
          (ejecutarBusquedaDeItems)="
            ejecutarOperacionesDeBusquedaPuestos($event)
          "
          (elementoSeleccionado)="reportaASeleccionado($event)"
          [valid]="vs.valid(reportaA_FB)"
          [invalid]="vs.invalid(reportaA_FB)"
          (touched)="reportaA_FB.markAsTouched()"
          (esteComponente)="reportaADatalist = $event"
        ></app-data-list>

        <input type="hidden" formControlName="reportaA" />
        <small id="helpId" class="form-text text-muted"
          >Este puesto reporta a</small
        >
        <app-validacion-inputs [campo]="reportaA_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
=====================================
END reportaA
=====================================
-->

    <!-- 
=====================================
 numeroDeExtencion
=====================================
-->
    <div class="col-12 col-sm-4 col-md-2">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(numeroDeExtencion_FB),
            'is-valid': vs.valid(numeroDeExtencion_FB)
          }"
          type="number"
          class="form-control"
          formControlName="numeroDeExtencion"
        />
        <small id="helpId" class="form-text text-muted"
          >Numero de extencion telefonica</small
        >
        <app-validacion-inputs
          [campo]="numeroDeExtencion_FB"
        ></app-validacion-inputs>
      </div>
    </div>
    <!-- 
=====================================
 END numeroDeExtencion
=====================================
-->
  </div>

  <hr />

  <div class="row">
    <div class="col-12">
      <h3>Perfil del puesto</h3>
    </div>
  </div>

  <div class="row mt-3">
    <!-- 
    =====================================
     conocimientos
    =====================================
    -->
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend ">
            <a
              (click)="agregarConocimientos(conocimientosInput.value)"
              class="btn btn-success"
              href="javascript: void(0)"
              role="button"
            >
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>

          <input
            (keyup.enter)="agregarConocimientos(conocimientosInput.value)"
            #conocimientosInput
            [ngClass]="{
              'is-invalid': vs.invalid(conocimientos_FB),
              'is-valid': vs.valid(conocimientos_FB)
            }"
            type="text"
            class="form-control"
          />
        </div>

        <small id="helpId" class="form-text text-muted"
          >Conocimientos necesarios</small
        >
        <!-- <app-validacion-inputs
          [campo]="conocimientos_FB"
        ></app-validacion-inputs> -->
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Conocimientos necesarios para el puesto
        </li>
        <li
          *ngFor="let conocimiento of conocimientos"
          class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
        >
          {{ conocimiento }}

          <a
            (click)="eliminarConocimiento(conocimiento)"
            class="btn btn-danger btn-xs"
            href="javascript: void(0)"
            role="button"
          >
            <i class="fas fa-times-circle    "></i
          ></a>
        </li>
        <li *ngIf="1 > conocimientos.size" class="list-group-item text-center">
          No has agregado conocimientos
        </li>
      </ul>
    </div>

    <!-- 
    =====================================
     END conocimientos
    =====================================
    -->
  </div>
  <div class="row mt-3">
    <!-- 
    =====================================
     habilidades
    =====================================
    -->
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend ">
            <a
              (click)="agregarHabilidades(habilidadesInput.value)"
              class="btn btn-success"
              href="javascript: void(0)"
              role="button"
            >
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>

          <input
            (keyup.enter)="agregarHabilidades(habilidadesInput.value)"
            #habilidadesInput
            [ngClass]="{
              'is-invalid': vs.invalid(habilidades_FB),
              'is-valid': vs.valid(habilidades_FB)
            }"
            type="text"
            class="form-control"
          />
        </div>

        <small id="helpId" class="form-text text-muted"
          >Habilidades necesarias</small
        >
        <!-- <app-validacion-inputs
          [campo]="habilidades_FB"
        ></app-validacion-inputs> -->
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Habilidades necesarias para el puesto
        </li>
        <li
          *ngFor="let habilidad of habilidades; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
        >
          {{ habilidad }}

          <a
            (click)="eliminarHabilidad(habilidad)"
            class="btn btn-danger btn-xs"
            href="javascript: void(0)"
            role="button"
          >
            <i class="fas fa-times-circle    "></i
          ></a>
        </li>
        <li *ngIf="1 > habilidades.size" class="list-group-item text-center">
          No has agregado habilidades
        </li>
      </ul>
    </div>

    <!-- 
    =====================================
     END habilidades
    =====================================
    -->
  </div>
  <div class="row mt-3">
    <!-- 
      =====================================
     aptitudes
    =====================================
    -->
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend ">
            <a
              (click)="agregarAptitudes(aptitudesInput.value)"
              class="btn btn-success"
              href="javascript: void(0)"
              role="button"
            >
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>

          <input
            (keyup.enter)="agregarAptitudes(aptitudesInput.value)"
            #aptitudesInput
            [ngClass]="{
              'is-invalid': vs.invalid(aptitudes_FB),
              'is-valid': vs.valid(aptitudes_FB)
            }"
            type="text"
            class="form-control"
          />
        </div>

        <small id="helpId" class="form-text text-muted"
          >Aptitudes necesarias</small
        >
        <!-- <app-validacion-inputs
          [campo]="aptitudes_FB"
        ></app-validacion-inputs> -->
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Aptitudes necesarias para el puesto
        </li>
        <li
          *ngFor="let aptitud of aptitudes; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
        >
          {{ aptitud }}

          <a
            (click)="eliminarAptitud(aptitud)"
            class="btn btn-danger btn-xs"
            href="javascript: void(0)"
            role="button"
          >
            <i class="fas fa-times-circle    "></i
          ></a>
        </li>
        <li *ngIf="1 > aptitudes.size" class="list-group-item text-center">
          No has agregado aptitudes
        </li>
      </ul>
    </div>

    <!-- 
    =====================================
     END aptitudes
    =====================================
    -->
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Posicion en el organigrama</h3>
    </div>
  </div>

  <div class="row mt-3">
    <div
      [ngClass]="{
        'col-12': !puesto?.organigrama,
        'col-12 col-md-4 mt-sm-3': puesto?.organigrama
      }"
    >
      <app-carga-de-imagenes
        [multiple]="false"
        (imagenesParaSubir)="agregarImagen($event)"
        (esteComponente)="cargaDeImagenesComponent = $event"
        (error)="msjDeErrorImagenes($event)"
      >
      </app-carga-de-imagenes>
    </div>
    <div *ngIf="puesto?.organigrama" class="col-12 col-md-8 mt-sm-3">
      <img
        (click)="mostrarImagen(puesto?.organigrama)"
        [src]="puesto?.organigrama | imagen: 'organigramaPuesto'"
        class="img-responsive radius shadow pointer"
      />
      <span title="Organigrama del puesto" class="sl-date">
        Organigrama del puesto
      </span>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Cursos obligatorios</h3>
    </div>
  </div>

  <!-- 
=====================================
 Cursos
=====================================
-->

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <app-data-list
          (ejecutarBusquedaDeItems)="
            ejecutarOperacionesDeBusquedaCursos($event)
          "
          (elementoSeleccionado)="agregarCursoSeleccionado($event)"
          (esteComponente)="cursoDataList = $event"
        ></app-data-list>

        <small id="helpId" class="form-text text-muted">Buscar cursos</small>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Cursos de este puesto
        </li>
        <li
          *ngFor="let curso of cursosSeleccionados; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
        >
          {{ curso.nombre }}

          <a
            (click)="eliminarCursoSeleccionado(i)"
            class="btn btn-danger btn-xs"
            href="javascript: void(0)"
            role="button"
          >
            <i class="fas fa-times-circle    "></i
          ></a>
        </li>
        <li
          *ngIf="1 > cursosSeleccionados.length"
          class="list-group-item text-center"
        >
          No has agregado cursos para este puesto
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <a
        (click)="agregarCursosDeTroncoComun()"
        class=" btn btn-primary btn-xs"
        href="javascript:void(0)"
      >
        <i class="fas fa-plus-circle    "> </i> Agregar todos los cursos de
        tronco comun
      </a>
    </div>
  </div>

  <!-- 
=====================================
 END Cursos
=====================================
-->

  <!-- 
      =====================================
      FuncionesEspecificasDelPuesto
      =====================================
    -->

  <!-- 
=====================================
Array funcionesEspecificasDelPuesto 
=====================================
-->

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Funciones del puesto</h3>
    </div>
  </div>

  <ng-container formArrayName="funcionesEspecificasDelPuesto">
    <ng-container
      *ngFor="
        let dummy of funcionesEspecificasDelPuesto_FB.controls;
        let i = index
      "
    >
      <ng-container [formGroupName]="i">
        <div class="row ">
          <!-- 
=====================================
funcionesEspecificasDelPuesto - actividad
=====================================
-->
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(
                    funcionesEspecificasDelPuesto_FB_actividad(i)
                  ),
                  'is-valid': vs.valid(
                    funcionesEspecificasDelPuesto_FB_actividad(i)
                  )
                }"
                type="text"
                class="form-control"
                formControlName="actividad"
              />
              <small id="helpId" class="form-text text-muted">Actividad</small>
              <app-validacion-inputs
                [campo]="funcionesEspecificasDelPuesto_FB_actividad(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END funcionesEspecificasDelPuesto - actividad
=====================================
-->

          <!-- 
=====================================
 funcionesEspecificasDelPuesto - proposito
=====================================
-->
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(
                    funcionesEspecificasDelPuesto_FB_proposito(i)
                  ),
                  'is-valid': vs.valid(
                    funcionesEspecificasDelPuesto_FB_proposito(i)
                  )
                }"
                type="text"
                class="form-control"
                formControlName="proposito"
              />
              <small id="helpId" class="form-text text-muted">Proposito</small>
              <app-validacion-inputs
                [campo]="funcionesEspecificasDelPuesto_FB_proposito(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END funcionesEspecificasDelPuesto - proposito
=====================================
-->

          <!-- 
=====================================
 funcionesEspecificasDelPuesto - frecuencia
=====================================
-->
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(
                    funcionesEspecificasDelPuesto_FB_frecuencia(i)
                  ),
                  'is-valid': vs.valid(
                    funcionesEspecificasDelPuesto_FB_frecuencia(i)
                  )
                }"
                type="text"
                class="form-control"
                formControlName="frecuencia"
              />
              <small id="helpId" class="form-text text-muted">Frecuencia</small>
              <app-validacion-inputs
                [campo]="funcionesEspecificasDelPuesto_FB_frecuencia(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END funcionesEspecificasDelPuesto - frecuencia
=====================================
-->

          <!-- 
=====================================
 funcionesEspecificasDelPuesto - prioridad
=====================================
-->
          <div
            class="col-12 "
            [ngClass]="{
              'col-lg-2': funcionesEspecificasDelPuesto_FB.controls.length > 1,
              'col-lg-3': funcionesEspecificasDelPuesto_FB.controls.length === 1
            }"
          >
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(
                    funcionesEspecificasDelPuesto_FB_prioridad(i)
                  ),
                  'is-valid': vs.valid(
                    funcionesEspecificasDelPuesto_FB_prioridad(i)
                  )
                }"
                type="text"
                class="form-control"
                formControlName="prioridad"
              />
              <small id="helpId" class="form-text text-muted">Prioridad </small>
              <app-validacion-inputs
                [campo]="funcionesEspecificasDelPuesto_FB_prioridad(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END funcionesEspecificasDelPuesto - prioridad
=====================================
-->

          <div class="col-12 col-sm-1">
            <a
              *ngIf="funcionesEspecificasDelPuesto_FB.controls.length > 1"
              (click)="eliminarFuncionesEspecificasDelPuesto(i)"
              class="btn btn-danger btn-xs"
              href="javascript: void(0)"
              role="button"
              ><i class="fas fa-times-circle    "></i>
            </a>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <div class="row">
    <!-- 
=====================================
 END Array funcionesEspecificasDelPuesto 
=====================================
-->

    <div class="col-12">
      <a
        (click)="agregarFuncionesEspecificasDelPuesto()"
        class="btn btn-primary btn-xs"
        href="javascript:void(0)"
        role="button"
      >
        <i class="fas fa-plus-circle"></i>
        Agregar actividad
      </a>
    </div>

    <!-- 
    =====================================
     END FuncionesEspecificasDelPuesto
    =====================================
    -->
  </div>

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Personal a cargo</h3>
    </div>
  </div>

  <div class="row">
    <!-- 
      =====================================
     personalACargo
    =====================================
    -->
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <div class="input-group mb-2">
          <app-data-list
            (ejecutarBusquedaDeItems)="
              ejecutarOperacionesDeBusquedaPersonalACargo($event)
            "
            (elementoSeleccionado)="agregarPersonalACargo($event)"
            (esteComponente)="personalACargoDataList = $event"
          ></app-data-list>
        </div>

        <small id="helpId" class="form-text text-muted">Personal a cargo</small>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Personal a cargo
        </li>
        <li
          *ngFor="let puesto of personalACargo; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
        >
          {{ puesto.puesto }}

          <a
            (click)="eliminarPersonalACargo(i)"
            class="btn btn-danger btn-xs"
            href="javascript: void(0)"
            role="button"
          >
            <i class="fas fa-times-circle    "></i
          ></a>
        </li>
        <li
          *ngIf="1 > personalACargo.length"
          class="list-group-item text-center"
        >
          No has agregado personal a acargo
        </li>
      </ul>
    </div>
  </div>

  <!-- 
=====================================
  END personalACargo
=====================================
-->

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Relaciones internas</h3>
    </div>
  </div>

  <!-- 
=====================================
 Array internos 
=====================================
-->
  <ng-container formArrayName="internos">
    <ng-container *ngFor="let dummy of internos_FB.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="row">
          <!-- 
          =====================================
           internos - departamento
          =====================================
          -->

          <div class="col-4 col-sm-1">
            <a
              (click)="eliminarRelacionInterna(i)"
              class="btn btn-danger btn-xs"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-times-circle "></i>
            </a>
          </div>

          <div class="col-8 col-sm-3">
            <div class="form-group">
              <select
                [ngClass]="{
                  'is-invalid': vs.invalid(internos_FB_departamento(i)),
                  'is-valid': vs.valid(internos_FB_departamento(i))
                }"
                class="form-control"
                formControlName="departamento"
              >
                <option
                  *ngFor="let departamento of departamentos"
                  [value]="departamento._id"
                  >{{ departamento.nombre }}</option
                >
              </select>

              <small id="helpId" class="form-text text-muted"
                >Departamento</small
              >
              <app-validacion-inputs
                [campo]="internos_FB_departamento(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
          =====================================
           END internos - departamento
          =====================================
          -->

          <!-- 
          =====================================
           internos - relacion
          =====================================
          -->
          <div class="col-12 col-lg-4 ">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(internos_FB_relacion(i)),
                  'is-valid': vs.valid(internos_FB_relacion(i))
                }"
                type="text"
                class="form-control"
                formControlName="relacion"
              />
              <small id="helpId" class="form-text text-muted">Relacion</small>
              <app-validacion-inputs
                [campo]="internos_FB_relacion(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
          =====================================
           END internos - relacion
          =====================================
          -->

          <!-- 
          =====================================
           internos - asunto
          =====================================
          -->
          <div class="col-12 col-lg-4 ">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(internos_FB_asunto(i)),
                  'is-valid': vs.valid(internos_FB_asunto(i))
                }"
                type="text"
                class="form-control"
                formControlName="asunto"
              />
              <small id="helpId" class="form-text text-muted">Asunto</small>
              <app-validacion-inputs
                [campo]="internos_FB_asunto(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
          =====================================
           END internos - asunto
          =====================================
          -->
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <div class="row">
    <div class="col-12">
      <a
        (click)="agregarRelacionInterna()"
        class="btn btn-primary btn-xs"
        href="javascript: void(0)"
        role="button"
      >
        <i class="fas fa-plus-circle    "></i> Agregar relacion interna
      </a>
    </div>
  </div>
  <!-- 
=====================================
 END Array internos 
=====================================
-->
  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Relaciones externas</h3>
    </div>
  </div>

  <!-- 
=====================================
 Array externos 
=====================================
-->
  <ng-container formArrayName="externos">
    <ng-container *ngFor="let dummy of externos_FB.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="row">
          <div class="col-2 col-sm-1">
            <a
              (click)="eliminarRelacionExterna(i)"
              class="btn btn-danger btn-xs"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-times-circle "></i>
            </a>
          </div>

          <!-- 
=====================================
 externos - contacto
=====================================
-->
          <div class="col-10 col-sm-3">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(externos_FB_contacto(i)),
                  'is-valid': vs.valid(externos_FB_contacto(i))
                }"
                type="text"
                class="form-control"
                formControlName="contacto"
              />
              <small id="helpId" class="form-text text-muted">Contacto</small>
              <app-validacion-inputs
                [campo]="externos_FB_contacto(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END externos - contacto
=====================================
-->

          <!-- 
=====================================
 externos - relacion
=====================================
-->
          <div class="col-12 col-sm-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(externos_FB_relacion(i)),
                  'is-valid': vs.valid(externos_FB_relacion(i))
                }"
                type="text"
                class="form-control"
                formControlName="relacion"
              />
              <small id="helpId" class="form-text text-muted">Relacion</small>
              <app-validacion-inputs
                [campo]="externos_FB_relacion(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END externos - relacion
=====================================
-->

          <!-- 
=====================================
 externos - asunto
=====================================
-->
          <div class="col-12 col-sm-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(externos_FB_asunto(i)),
                  'is-valid': vs.valid(externos_FB_asunto(i))
                }"
                type="text"
                class="form-control"
                formControlName="asunto"
              />
              <small id="helpId" class="form-text text-muted">externos</small>
              <app-validacion-inputs
                [campo]="externos_FB_asunto(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END externos - asunto
=====================================
-->
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <div class="row">
    <div class="col-12">
      <a
        (click)="agregarRelacionExterna()"
        class="btn btn-primary btn-xs"
        href="javascript: void(0)"
        role="button"
      >
        <i class="fas fa-plus-circle    "></i> Agregar relacion externa
      </a>
    </div>
  </div>
  <!-- 
=====================================
 END Array externos 
=====================================
-->

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Indicadores de efectividad</h3>
    </div>
  </div>

  <!-- 
=====================================
 indicesDeEfectividad
=====================================
-->
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend ">
            <a
              (click)="
                agregarIndicesDeEfectividad(indiceDeEfectividadInput.value)
              "
              class="btn btn-success"
              href="javascript: void(0)"
              role="button"
            >
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>

          <input
            (keyup.enter)="
              agregarIndicesDeEfectividad(indiceDeEfectividadInput.value)
            "
            #indiceDeEfectividadInput
            [ngClass]="{
              'is-invalid': vs.invalid(aptitudes_FB),
              'is-valid': vs.valid(aptitudes_FB)
            }"
            type="text"
            class="form-control"
          />
        </div>

        <small id="helpId" class="form-text text-muted"
          >Escribe un indice de efectividad</small
        >
        <app-validacion-inputs
          [campo]="indicesDeEfectividad_FB"
        ></app-validacion-inputs>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Indices de efectividad del puesto
        </li>
        <li
          *ngFor="let indice of indicesDeEfectividadSet; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
        >
          {{ indice }}

          <a
            (click)="eliminarIndiceDeEfectividad(indice)"
            class="btn btn-danger btn-xs"
            href="javascript: void(0)"
            role="button"
          >
            <i class="fas fa-times-circle    "></i
          ></a>
        </li>
        <li
          *ngIf="1 > indicesDeEfectividadSet.size"
          class="list-group-item text-center"
        >
          No has agregado indices de efectividad
        </li>
      </ul>
    </div>
  </div>

  <!-- 
=====================================
 END indicesDeEfectividad
=====================================
-->

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Areas de desarrollo del puesto</h3>
    </div>
  </div>

  <div class="row">
    <!-- 
=====================================
 elPuestoPuedeDesarrollarseEnLasSiguientesAreas
=====================================
-->
    <div class="col-6">
      <div class="form-group">
        <app-data-list
          (ejecutarBusquedaDeItems)="
            ejecutarOperacionesDeBusquedaPuestos($event)
          "
          (elementoSeleccionado)="agregarPuesto($event)"
          (esteComponente)="
            elPuestoPuedeDesarrollarseEnLasSiguientesAreasComponente = $event
          "
        ></app-data-list>

        <small id="helpId" class="form-text text-muted"
          >Selecciona un area para asginarla</small
        >
        <app-validacion-inputs
          [campo]="elPuestoPuedeDesarrollarseEnLasSiguientesAreas_FB"
        ></app-validacion-inputs>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item active">
          Areas en las que puede desarrollarse este puesto
        </li>
        <li
          *ngFor="
            let puesto of elPuestoPuedeDesarrollarseEnLasSiguientesAreas;
            let i = index
          "
          class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
        >
          {{ puesto.puesto }}

          <a
            (click)="eliminarElPuestoPuedeDesarrollarseEnLasSiguientesAreas(i)"
            class="btn btn-danger btn-xs"
            href="javascript: void(0)"
            role="button"
          >
            <i class="fas fa-times-circle    "></i
          ></a>
        </li>
        <li
          *ngIf="1 > elPuestoPuedeDesarrollarseEnLasSiguientesAreas.length"
          class="list-group-item text-center"
        >
          No has agregado areas
        </li>
      </ul>
    </div>
    <!-- 
=====================================
 END elPuestoPuedeDesarrollarseEnLasSiguientesAreas
=====================================
-->
  </div>

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Sueldo</h3>
    </div>
  </div>

  <div class="row">
    <!-- 
=====================================
 sueldoBase
=====================================
-->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(sueldoBase_FB),
            'is-valid': vs.valid(sueldoBase_FB)
          }"
          type="number"
          class="form-control"
          formControlName="sueldoBase"
        />
        <small id="helpId" class="form-text text-muted">Sueldo base</small>
        <app-validacion-inputs [campo]="sueldoBase_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
=====================================
END sueldoBase
=====================================
-->

    <!-- 
=====================================
  sueldoMaximo
=====================================
-->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(sueldoMaximo_FB),
            'is-valid': vs.valid(sueldoMaximo_FB)
          }"
          type="number"
          class="form-control"
          formControlName="sueldoMaximo"
        />
        <small id="helpId" class="form-text text-muted">Sueldo maximo</small>
        <app-validacion-inputs
          [campo]="sueldoMaximo_FB"
        ></app-validacion-inputs>
      </div>
    </div>

    <!-- 
=====================================
  END sueldoMaximo
=====================================
-->
  </div>
  <div class="row">
    <div class="col-12">
      <app-validacion-inputs [campo]="this.formulario"></app-validacion-inputs>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-12">
      <h3>Aprobacion de puesto</h3>
    </div>
  </div>

  <div class="row">
    <!-- 
      =====================================
      desarrollo
      =====================================
    -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <app-data-list
          (ejecutarBusquedaDeItems)="
            ejecutarOperacionesDeBusquedaEmpleados($event)
          "
          (elementoSeleccionado)="desarrolloSeleccionado($event)"
          [valid]="vs.valid(desarrollo_FB)"
          [invalid]="vs.invalid(desarrollo_FB)"
          (touched)="desarrollo_FB.markAsTouched()"
          (esteComponente)="desarrolloDataList = $event"
        ></app-data-list>
        <input type="hidden" formControlName="desarrollo" />
        <small id="helpId" class="form-text text-muted">Desarrollo</small>
        <app-validacion-inputs [campo]="desarrollo_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
      =====================================
      END desarrollo
      =====================================
    -->

    <!-- 
      =====================================
      reviso
      =====================================
    -->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <app-data-list
          (ejecutarBusquedaDeItems)="
            ejecutarOperacionesDeBusquedaEmpleados($event)
          "
          (elementoSeleccionado)="revisoSeleccionado($event)"
          [valid]="vs.valid(reviso_FB)"
          [invalid]="vs.invalid(reviso_FB)"
          (touched)="reviso_FB.markAsTouched()"
          (esteComponente)="revisoDataList = $event"
        ></app-data-list>
        <input type="hidden" formControlName="reviso" />
        <small id="helpId" class="form-text text-muted">Reviso</small>
        <app-validacion-inputs [campo]="reviso_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
=====================================
END reviso
=====================================
-->

    <!-- 
  =====================================
  aprobo
  =====================================
-->
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <app-data-list
          (ejecutarBusquedaDeItems)="
            ejecutarOperacionesDeBusquedaEmpleados($event)
          "
          (elementoSeleccionado)="aproboSeleccionado($event)"
          [valid]="vs.valid(aprobo_FB)"
          [invalid]="vs.invalid(aprobo_FB)"
          (touched)="aprobo_FB.markAsTouched()"
          (esteComponente)="aproboDataList = $event"
        ></app-data-list>
        <input type="hidden" formControlName="aprobo" />
        <small id="helpId" class="form-text text-muted">Aprobo</small>
        <app-validacion-inputs [campo]="aprobo_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
  =====================================
  END aprobo
  =====================================
-->
  </div>

  <ng-container *ngIf="puesto?._id">
    <hr />
    <div class="row">
      <div class="col-12">
        <h3>Motivo de modificacion</h3>
      </div>
    </div>

    <div class="row">
      <!-- 
   =====================================
    motivoDeCambio
   =====================================
   -->
      <div class="col-12 col-md-6">
        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid': vs.invalid(motivoDeCambio_FB),
              'is-valid': vs.valid(motivoDeCambio_FB)
            }"
            type="text"
            class="form-control"
            formControlName="motivoDeCambio"
          />
          <small id="helpId" class="form-text text-muted"
            >Motivo de cambio</small
          >
          <app-validacion-inputs
            [campo]="motivoDeCambio_FB"
          ></app-validacion-inputs>
        </div>
      </div>
      <!-- 
   =====================================
    END motivoDeCambio
   =====================================
 
 -->
    </div>
  </ng-container>

  <br />

  <hr />

  <button
    (click)="submit(formulario.value, formulario.valid, $event)"
    [disabled]="formulario.invalid"
    [ngClass]="{ active: !formulario.invalid }"
    class="text-white btn btn-success mr-3"
    role="button"
  >
    <i class="fas fa-save    "></i> Guardar
  </button>
  <a
    data-toggle="modal"
    data-target="#crearModificarPuestoModal"
    (click)="cancelar()"
    class="text-white btn btn-danger active"
    role="button"
  >
    <i class="fas fa-times    "></i> Cancelar</a
  >
</form>
