<div
  class="modal fade"
  [id]="id"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ng-container *ngIf="!detalle">
          <h1 class="display-1 w-100 text-center">
            <i class="fas fa-sync fa-spin    "></i>
          </h1>
          <h2 class="w-100 text-center">Cargando detalle de SKU</h2>
        </ng-container>

        <ng-container *ngIf="detalle">
          <div class="row">
            <div class="col-12">
              <strong>SKU</strong>
              <h1>{{ detalle.nombreCompleto }}</h1>
            </div>
          </div>

          <hr />

          <div c="row">
            <div class="col-12">
              <h3>Familia: {{ detalle.familiaDeProcesos.nombre }}</h3>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
