<div
  *ngIf="!_s.canceladoPorError && !_s.miniCarga && _s.mostrar"
  class="preloader"
>
  <div class="loader w-100 text-center">
    <div class="loader__figure"></div>
    <p class="loader__label">
      <img src="assets/images/logo-text.png" alt="Pagina principal" />
    </p>

    <br />

    <div
      *ngFor="let ley of _s.Object.keys(_s.registro); let i = index"
      [class]="' fadeIn animated delay-0-' + (i + 1) + 's'"
    >
      <hr class="w-25" />
      <h5 class="text-white">
        {{ _s.registro[ley] }}
        <i
          [class]="
            'fas fa-cloud-download-alt animated fadeInDown infinite text-white  slower delay-0-' +
            (i + 1) +
            's'
          "
        ></i>
      </h5>
    </div>
  </div>
</div>
