<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class=""><strong>SKUs</strong> existentes</h1>

          <div class="d-flex align-items-center">
            <a
              title="Exportar salidas de lotes a excel"
              href="javascript:void(0)"
              class="btn btn-success mr-3"
              data-target="#exportarSalidas"
              data-toggle="modal"
            >
              <i class="fas fa-file-excel"></i> Salidas
            </a>
            <a
              title="Exportar existencia actual a excel"
              href="javascript:void(0)"
              class="btn btn-success mr-3"
              (click)="exportarTodoAExcel()"
            >
              <i class="fas fa-file-excel"></i> Existencia actual
            </a>

            <div class="mr-3">
              <app-buscador-paciente
                [cbObservable]="cbObservable"
                [tiempoDeEspera]="1000"
                (resultado)="resultadoDeBusqueda($event)"
                (cancelado)="cancelado()"
                (error)="error()"
                (terminoPublico)="termino = $event"
              ></app-buscador-paciente>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-0 mb-0 pt-0 pb-0">
  <div class="col-12 mt-0 mb-0 pt-0 pb-0">
    <div
      class="card mt-0 mb-0 pt-0 pb-0"
      style="background-color: transparent;"
    >
      <div class="card-body mt-0 mb-0 pt-0 pb-0">
        <paginador
          class="pull-right"
          [totalDeElementos]="this.totalDeElementos"
          [campoDeOrdenamiento]="paginacion.campoDeOrdenamiento"
          [tipoDeOrden]="paginacion.orden"
          (actualizarConsulta)="actualizarConsulta($event)"
          [cargando]="keys(cargando).length > 0"
        ></paginador>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="keys(cargando).length === 0">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="col-12 table-responsive">
          <table
            *ngIf="modelosCompletos.length > 0"
            class="table table-hover animated fadeIn"
          >
            <thead class="">
              <tr>
                <th class="fit"></th>

                <th class="" title="Modelo">
                  Modelo
                </th>
                <th class="fit" title="Existencia minima">
                  MIN
                </th>
                <th class="fit" title="Existencia actual en el almacen">
                  Existencia
                </th>
                <th class="fit" title="Existencia maxima">
                  MAX
                </th>
                <th class="fit">Parte</th>
                <th class="fit"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                [ngClass]="{ 'bg-light-extra': 1 > comprobarExistencias(mc) }"
                class="fit"
                *ngFor="let mc of modelosCompletos"
              >
                <td class="fit">
                  <a
                    herf="javascript:void(0)"
                    id="button0"
                    [routerLink]="['detalle', mc._id]"
                    class="btn text-white btn-primary btn-xs mr-1"
                    role="button"
                  >
                    <i class="fas fa-eye"></i>
                  </a>
                  <a
                    *ngIf="
                      p['almacenDeProductoTerminado:lote:crear']
                        | contieneElPermiso
                    "
                    herf="javascript:void(0)"
                    id="button1"
                    [routerLink]="['entrada', mc._id]"
                    class="btn text-white btn-warning btn-xs mr-1"
                    role="button"
                    title="Entrada de boton"
                  >
                    <i class="fas fa-plus"></i> Entrada
                  </a>
                  <a
                    *ngIf="
                      p['almacenDeProductoTerminado:salida'] | contieneElPermiso
                    "
                    herf="javascript:void(0)"
                    id="button2"
                    [routerLink]="['salida', mc._id]"
                    class="btn text-white btn-success btn-xs mr-1"
                    role="button"
                    title="Salida de boton"
                  >
                    <i class="fas fa-minus"></i> Salida
                  </a>
                </td>
                <td class="no-wrap fit">{{ mc.nombreCompleto }}</td>

                <td class="no-wrap" *ngIf="!editando(mc); else editarMinimo">
                  <ng-container
                    *ngIf="'modeloCompleto:stock:modificar' | contieneElPermiso"
                  >
                    <a
                      (click)="editar(mc)"
                      *ngIf="!elementosGuardandose.includes(mc._id)"
                      href="javascript:void(0)"
                      class="btn btn-primary btn-sm"
                    >
                      <i class="fas fa-edit"></i>
                    </a>

                    <i
                      *ngIf="elementosGuardandose.includes(mc._id)"
                      class="fas fa-sync fa-spin-fast"
                    ></i>
                  </ng-container>
                  {{ mc.stockMinimo | number: '0.0-0' }}
                </td>

                <ng-template #editarMinimo>
                  <td class="no-wrap">
                    <a
                      (click)="editar(mc)"
                      href="javascript:void(0)"
                      class="btn btn-success btn-save btn-xs mr-1"
                    >
                      <i class="fas fa-save"></i>
                    </a>
                    <input
                      [(ngModel)]="mc.stockMinimo"
                      type="text"
                      class="editor"
                      mask="separator"
                      thousandSeparator=","
                    />
                  </td>
                </ng-template>

                <td
                  class="font-bold"
                  [ngClass]="{
                    'text-warning': -1 === comprobarExistencias(mc),
                    'text-danger': 0 === comprobarExistencias(mc)
                  }"
                >
                  <ng-container *ngIf="mc.existencia">
                    <i
                      *ngIf="1 > comprobarExistencias(mc)"
                      class="fas fa-exclamation-circle animated fadeIn infinite"
                    ></i>

                    {{ mc.existencia | number: '0.0-0' }}
                  </ng-container>
                  <ng-container *ngIf="!mc.existencia || mc.existencia === 0">
                    0
                  </ng-container>
                </td>

                <td class="no-wrap" *ngIf="!editando(mc); else editarMaximo">
                  {{ mc.stockMaximo | number: '0.0-0' }}
                </td>

                <ng-template #editarMaximo>
                  <td>
                    <input
                      [(ngModel)]="mc.stockMaximo"
                      type="text"
                      class="editor"
                      mask="separator"
                      thousandSeparator=","
                    />
                  </td>
                </ng-template>

                <td class="fit">
                  <ng-container
                    *ngIf="
                      p['modeloCompleto:modificar:parte'] | contieneElPermiso;
                      else noTieneElPermiso
                    "
                  >
                    <a
                      *ngFor="let parte of ['A', 'B', 'C', 'DES']"
                      (click)="setearParte(parte, mc)"
                      href="javascript:void(0)"
                      class="btn-sm ml-1 btn"
                      [ngClass]="{
                        'btn-outline-success active': parte === mc.parte,
                        'btn-outline-secondary': parte !== mc.parte
                      }"
                    >
                      {{ parte }}
                    </a>
                  </ng-container>

                  <ng-template #noTieneElPermiso>{{ mc.parte }}</ng-template>
                </td>

                <td class="fit">
                  <a
                    *ngIf="
                      p['almacenDeProductoTerminado:consolidar:modelo']
                        | contieneElPermiso
                    "
                    href="javascript:void(0)"
                    class="btn btn-secondary btn-xs"
                    role="button"
                    data-toggle="modal"
                    data-target="#masOpciones"
                    mod
                    (click)="modeloAConsolidar = mc"
                  >
                    <i class="fas fa-plus-circle"></i>
                    Mas opciones
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h1
          *ngIf="modelosCompletos.length === 0"
          class="display-1 animated fadeIn"
        >
          No se encontro ningun <b>modelo</b>.
        </h1>
      </div>
    </div>
  </div>
</div>

<div *ngIf="keys(cargando).length > 0" class="row animated fadeIn">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="display-1 w-100 text-center">
          <i class="fas fa-sync fa-spin"></i>
        </h1>
        <h2 *ngFor="let key of keys(cargando)" class="w-100 text-center">
          {{ cargando[key] }}
        </h2>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 Opciones adicionales
=====================================
-->
<div
  class="modal fade"
  id="masOpciones"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Opciones adicionales
          <br />
          <b>{{ modeloAConsolidar?.nombreCompleto }}</b>
        </h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 mb-1">
              <button
                class="btn btn-secondary"
                role="button"
                (click)="consolidarLotes()"
                [disabled]="!modeloAConsolidar"
                data-dismiss="modal"
              >
                <i class="fas fa-compress-arrows-alt"></i>
                Consolidar lotes
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 END Opciones adicionales
=====================================
-->

<!-- Modal -->
<div
  class="modal fade"
  id="exportarSalidas"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Definir rango de fechas para las salidas</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input
            #inferiorInput
            (change)="inferiorSalidas = inferiorInput.value"
            type="date"
            class="form-control"
          />
          <small class="form-text text-muted">Limite inferior</small>
        </div>
        <div class="form-group">
          <input
            #superiorInput
            (change)="superiorSalidas = superiorInput.value"
            type="date"
            class="form-control"
          />
          <small class="form-text text-muted">Limite superior</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          (click)="generarReporteSalidas()"
          [disabled]="generandoReporteSalidas"
          type="button"
          class="btn btn-primary"
        >
          Generar
          <i
            *ngIf="generandoReporteSalidas"
            class="fas fa-sync fa-spin-fast"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
