li {
  text-align: center;
  vertical-align: middle;

  min-width: 30px;

  font-size: 10px;
  font-weight: bold;
  // padding: 3px;

  float: left;
  list-style: none;
  // background-color: #ccc;
  // border-width: 1px;
  // margin-right: 2px;
  // margin-top: 2px;
}

.arrows li a {
  color: #ddd;
}

li:last-child {
  border-radius: 0 6% 6% 0;
}

li:first-child {
  border-radius: 6% 0 0 6%;
}

.arrows li:nth-last-of-type(4) a {
  color: #ccc;
}
.arrows li:nth-last-of-type(3) a {
  color: #bbb;
}
.arrows li:nth-last-of-type(2) a {
  color: #aaa;
}
.arrows li:nth-last-of-type(1) a {
  color: #999;
}

.arrows {
  white-space: nowrap;
}

.arrows li {
  display: inline-block;
  line-height: 26px;
  margin: 0 9px 0 -10px;
  padding: 0 20px;
  position: relative;
}
.arrows li::before,
.arrows li::after {
  border-right: 1px solid #aaa;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transform: skewX(45deg);
}
.arrows li::after {
  bottom: 0;
  top: auto;
  transform: skewX(-45deg);
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
  display: none;
}

