<ol class="arrows">
  <li *ngFor="let estado of estados; let i = index">
    <a href="javascript:void(0)" (click)="click(estado, i)">
      {{ estado.nombre }}</a
    >
  </li>
</ol>

<!-- <div
*ngIf="false"
class="proceso">
  <div class="row">
    <div class="col-12">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">
          <i class="fas fa-clock"></i> {{ i }} estado.hora_inicio
        </div>
        <div class="card-body">
          <h5 class="card-title text-white font-bold">
            <i class="fas fa-warehouse fa-2x"></i>
            estado.nombre
          </h5>
          <p class="card-text">estado.descripcion</p>
          <hr class="bg-secondary" />
          <p class="card-text text-warning">estado.observaciones</p>
        </div>
        <div class="card-footer">
          <i class="fas fa-clock"></i> estado.hora_final
        </div>
      </div>
    </div>
  </div>
</div> -->
