<div
  class="modal fade"
  id="detalleFolio"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100">Detalle de folio</h5>
        <span class="text-muted  text-right w-100">
          Consultado:
          {{ horaDeConsulta() | date: 'dd/MM/yyyy HH:mm' }}</span
        >

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="!folio"
          class="d-flex justify-content-between align-items-center w-100  text-center"
        >
          <h1 class="display-1 w-100 text-center">
            <i class="fas fa-sync fa-spin"></i>
          </h1>
        </div>

        <div id="print-folio" *ngIf="folio">
          <div class="row">
            <div class="col-12 col-lg-6">
              <h1>
                <span class="text-muted">Folio: </span>#{{
                  folio.numeroDeFolio
                }}
              </h1>

              <address>
                <h3>Cliente,</h3>
                <h4>
                  &nbsp;<b class="text-danger">{{ folio.cliente.nombre }}</b>
                </h4>
                <p class="text-muted m-l-5">- SAE: {{ folio.cliente.sae }}</p>
              </address>
            </div>
            <div class="col-12 col-lg-6">
              <address>
                <h3>Vendedor,</h3>
                <h4 class="font-bold">{{ folio.vendedor.nombre }}</h4>
                <p class="text-muted m-l-30">-</p>

                <p>
                  <b>Fecha de creacion de folio</b> <br />
                  <i class="fas fa-calendar"></i>
                  {{ folio.fechaFolio | fecha: 'LLLL' }}
                </p>
                <p>
                  <b>Fecha de entrega a produccion</b> <br />
                  <i class="fas fa-calendar"></i>
                  {{ folio.fechaDeEntregaAProduccion | fecha: 'LLLL' }}
                </p>
                <p>
                  <ng-container *ngIf="folio.fechaTerminado">
                    <b>Folio terminado el: </b>
                    {{ folio.fechaTerminado | fecha: 'LLL' }}
                  </ng-container>

                  <ng-container *ngIf="!folio.fechaTerminado">
                    <p class="w-75 text-right pull-right">
                      <app-progress-bar
                        [nivel]="folio.nivelDeUrgencia"
                        [porcentaje]="folio.porcentajeAvance"
                      >
                      </app-progress-bar>
                    </p>
                  </ng-container>
                </p>
              </address>
            </div>

            <div class="col-12">
              <h6><b>Observaciones:</b></h6>
              <p>{{ folio.observacionesVendedor }}</p>
            </div>
            <div class="col-12" *ngIf="folio.observaciones">
              <hr />
              <h6><b>Observaciones de produccion:</b></h6>
              <p>{{ folio.observaciones }}</p>
            </div>

            <div class="col-md-12">
              <hr />
              <div class="table-responsive m-t-40" style="clear: both;">
                <table class="table table-hover">
                  <thead class="100">
                    <tr>
                      <th></th>
                      <th title="Numero de pedido" class="text-center">
                        PED
                      </th>
                      <th title="El modelo del pedido. ">
                        MOD
                      </th>
                      <th
                        title="Piezas solicitadas en el folio"
                        class="text-right"
                      >
                        PZ SOL
                      </th>
                      <th
                        title="Marca laser"
                        class="text-right"
                      >
                        LASER
                      </th>
                      <th
                        title="Cantidad de ordenes de este pedido en funcion de el estandar. Lo que aqui se entrega son conteo de ordenes para realizar las recetas. Esto se nota mas claramente cuando se piden modelos que solo se trabajan en medias ordenes. Se nota que se solicitan 4 medias ordenes pero aqui se generan 2."
                        class="text-right"
                      >
                        #ORD
                      </th>
                      <th title="Piezas producidas" class="text-right">
                        PZ PRO
                      </th>
                      
                      <th
                        title="Tiempo que lleva en produccion el folio"
                        class="text-right"
                      >
                        PRO
                      </th>
                      <th
                        title="El porcentaje de avance de produccion"
                        class="text-right"
                      >
                        % PRO
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let pedido of folio.folioLineas">
                      <tr>
                        <td class="fit">
                          <a
                            (click)="mostrarDetalleDePedido(pedido)"
                            title="Ver detalle rapido del pedido."
                            data-toggle="modal"
                            data-target="#detalleDePedido"
                            name=""
                            id=""
                            class="btn btn-primary text-white btn-sm mr-2 no-print"
                            role="button"
                          >
                            <i class="fas fa-eye    "></i
                          ></a>
                        </td>
                        <td class="text-center no-wrap">{{ pedido.pedido }}</td>
                        <td>{{ pedido.modeloCompleto | modeloCompleto }}</td>
                        <td class="text-right">
                          {{ pedido.cantidad | number }}
                        </td>
                        <td>
                          <span class="font-weight-bold">{{pedido.laserCliente.laser }}</span>
                        </td>
                        <td class="text-right">
                          {{ ordenesSegunEstandar(pedido) | number: '0.0-3' }}
                        </td>
                        <td class="text-right"></td>
                       
                        <td></td>
                        <td class="text-right">
                          <app-progress-bar
                            [nivel]="pedido.nivelDeUrgencia"
                            [porcentaje]="pedido.porcentajeAvance"
                          >
                          </app-progress-bar>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12">
              <!-- <div class="pull-right m-t-30 text-right">
                <p>Sub - Total amount: $13,848</p>
                <p>vat (10%) : $138 </p>
                <hr>
                <h3><b>Total :</b> $13,986</h3>
            </div> -->
              <div class="clearfix"></div>
              <!-- <hr>
            <div class="text-right">
                <a id="print" class="btn btn-default btn-outline"> <span><i class="fas fa-print"></i> Imprimir</span> </a>
            </div> -->
            </div>
          </div>
        </div>

        <hr />

        <app-boton-para-imprecion
          [id]="'print-folio'"
        ></app-boton-para-imprecion>

        <div *ngIf="!folio">
          <h1>No has definido un folio para ver su detalle</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 MODAL PEDIDO DETALLE
=====================================
-->
<div
  class="modal   fade no_print "
  id="detalleDePedido"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100">Detalle de pedido</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="!pedidoParaDetalle"
          class="d-flex justify-content-between align-items-center w-100"
        >
          <h1 class="display-1">
            <i class="fas fa-sync fa-spin"></i>
          </h1>
        </div>
        <app-pedidos-detalle
          *ngIf="pedidoParaDetalle"
          (orden)="ordenParaDetalle = $event"
          [pedido]="pedidoParaDetalle"
          [folio]="folio?._id"
        ></app-pedidos-detalle>
      </div>
    </div>
  </div>
</div>
<!-- 
=====================================
 END MODAL PEDIDO DETALLE
=====================================
-->

<!-- 
=====================================
 MODAL ORDEN DETALLE
=====================================
-->
<div
  id="no_print"
  class="modal   fade "
  id="detalleDeLaOrden"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h5 class="modal-title w-100">Detalle de pedido</h5>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          *ngIf="!ordenParaDetalle"
          class="d-flex justify-content-between align-items-center w-100"
        >
          <h1>
            <i class="fas fa-sync fa-spin"></i>
          </h1>
        </div>
        <app-ordenes-detalle
          *ngIf="ordenParaDetalle"
          [folio]="folio"
          [linea]="pedidoParaDetalle"
          [orden]="ordenParaDetalle"
        ></app-ordenes-detalle>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 END MODAL ORDEN DETALLE
=====================================
-->
