<ng-container *ngIf="keys(cargando).length === 0; else cargandoTemplate">
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="justify-content-between d-flex aling-items-center">
            <h1 *ngIf="almacenDescripcion?._id">
              {{ almacenDescripcion.nombre }}
            </h1>
            <h1>
              <span class="text-success" *ngIf="!almacenDescripcion?._id">
                <i class="fas fa-plus-square"></i> Crear <b>almacen</b> </span
              ><span class="text-warning" *ngIf="almacenDescripcion?._id">
                <i class="fas fa-pen-square"></i> Modificar <b>almacen</b>
              </span>
            </h1>
          </div>

          <hr />

          <form [formGroup]="formulario">
            <div class="row">
              <!-- 
              =====================================
               nombre
              =====================================
              -->
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('nombre')),
                      'is-valid': vs.valid(f('nombre'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="nombre"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Nombre del almacen</small
                  >
                  <app-validacion-inputs
                    [campo]="f('nombre')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END nombre
              =====================================
              -->

              <!-- 
              =====================================
               descripcion
              =====================================
              -->
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="form-group">
                  <textarea
                  rows="5"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('descripcion')),
                      'is-valid': vs.valid(f('descripcion'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="descripcion"
                  ></textarea>
                  <small id="helpId" class="form-text text-muted"
                    >Descripcion</small
                  >
                  <app-validacion-inputs
                    [campo]="f('descripcion')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END descripcion
              =====================================
              -->

              <!-- 
              =====================================
               ubicacion
              =====================================
              -->
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="form-group">
                  <textarea
                  rows="5"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('ubicacion')),
                      'is-valid': vs.valid(f('ubicacion'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="ubicacion"
                  ></textarea>
                  <small id="helpId" class="form-text text-muted"
                    >Ubicacion fisica</small
                  >
                  <app-validacion-inputs
                    [campo]="f('ubicacion')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END ubicacion
              =====================================
              -->
            </div>

            <div class="row">
              <div class="col-12">
                <app-validacion-inputs
                  [campo]="formulario"
                ></app-validacion-inputs>

                <br />
                <br />

                <button
                  (click)="submit(formulario.value, formulario.invalid, $event)"
                  class="text-white btn btn-success mr-3 active"
                  role="button"
                  [disabled]="keys(cargando).length > 0"
                >
                  <i class="fas fa-save"></i> Guardar
                </button>
                <a
                  (click)="location.back()"
                  class="text-white btn btn-danger active"
                  role="button"
                >
                  <i class="fas fa-times"></i> Cancelar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div
          class="card-body d-flex justify-content-between align-items-center text-center"
        >
          <h1 class="display-1">
            <i class="fas fa-sync fa-spin"></i>
            <h2 *ngFor="let dato of cargando | keyvalue">{{ dato.value }}</h2>
          </h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
