<div class="row" *ngIf="keys(cargando).length > 0">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="display-1 w-100 text-center">
          <i class="fas fa-sync  fa-spin "></i>
        </h1>

        <h2
          class="w-100 text-center"
          *ngFor="let valores of cargando | keyvalue"
        >
          {{ valores.value }}
        </h2>
      </div>
    </div>
  </div>
</div>

<div *ngIf="keys(cargando).length === 0" class="row animated fadeIn delay-0-5s">
  <div class="col-12 ">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="display-5 justify-content-between d-flex align-items-center">
          <ng-container *ngIf="folio?._id; else elseTemplate">
            <span class="text-muted"> Editar folio </span>
            <span class="text-success"> # {{ folio.numeroDeFolio }} </span>
          </ng-container>
          <ng-template #elseTemplate>
            Crear folio
          </ng-template>
        </h1>

        <hr />

        <form
          (ngSubmit)="onSubmit(formulario.value, formulario.invalid, $event)"
          [formGroup]="formulario"
        >
          <div class="row">
            <div class="form-group col-12 col-md-6">
              <input formControlName="cliente" type="hidden" />

              <app-data-list
                (ejecutarBusquedaDeItems)="buscarCliente($event)"
                (elementoSeleccionado)="seleccionarCliente($event)"
                (touched)="f('cliente').markAsTouched()"
                (cancelado)="clienteBorrado()"
                [valid]="vs.valid(f('cliente'))"
                [invalid]="vs.invalid(f('cliente'))"
                [cargarModifcacion]="modificacionCliente"
              ></app-data-list>

              <small id="cliente" class="form-text text-muted"
                >Selecciona un cliente</small
              >
              <app-validacion-inputs
                [campo]="f('cliente')"
              ></app-validacion-inputs>
            </div>

            <div class="form-group col-12 col-md-6 ">
              <textarea
                #observacionesVendedor
                [ngClass]="{
                  'is-invalid': vs.invalid(f('observacionesVendedor')),
                  'is-valid': vs.valid(f('observacionesVendedor'))
                }"
                formControlName="observacionesVendedor"
                class="form-control"
                name=""
                id=""
                rows="5"
              ></textarea>
              <small id="observaciones" class="form-text text-muted"
                >Observaciones</small
              >
              <app-validacion-inputs
                [campo]="f('observacionesVendedor')"
              ></app-validacion-inputs>
            </div>
          </div>

          <span formArrayName="folioLineas">
            <ng-container
              *ngFor="let cp of faLinea().controls; let iPed = index"
            >
              <div class="row" [formGroupName]="iPed">

                <div class="col-12">
                  <hr>
                </div>

                <div class="col-12">
                  <h1>
                    <a
                      *ngIf="faLinea().length > 1"
                      (click)="eliminarPedido(iPed)"
                      class="btn btn-danger text-white"
                      role="button"
                      ><i class="fas fa-times"></i
                    ></a>
                    PED # {{ iPed }}
                  </h1>
                </div>

                <div class="form-group col-12 col-md-6">
                  <input formControlName="modeloCompleto" type="hidden" />

                  <app-data-list
                    (ejecutarBusquedaDeItems)="
                      buscarModeloCompleto($event, iPed)
                    "
                    (elementoSeleccionado)="
                      seleccionarModeloCompleto($event, iPed)
                    "
                    (touched)="fa(iPed, 'modeloCompleto').markAsTouched()"
                    [cargarModifcacion]="modificacionesPedidos[iPed]"
                  ></app-data-list>

                  <small
                    id="cliente"
                    class="form-text text-muted"
                    *ngIf="fa(iPed, 'modeloCompleto').value"
                    >Selecciona un modelo
                    <br />
                    <span class="animated slideInDown">
                      Existencia:<b>
                        {{ modeloCompletoPorPedido[iPed]?.existencia | number }}
                      </b>
                      <br />
                      En transito:

                      <ng-container
                        *ngIf="
                          modeloCompletoPorPedidoEnTransito[iPed] !== undefined;
                          else sync
                        "
                      >
                        {{ modeloCompletoPorPedidoEnTransito[iPed] | number }}
                      </ng-container>
                      <ng-template #sync>
                        <i class="fas fa-sync  fa-spin  "></i>
                      </ng-template>
                    </span>
                  </small>
                  <app-validacion-inputs
                    [campo]="fa(iPed, 'modeloCompleto')"
                    [directo]="true"
                  ></app-validacion-inputs>
                </div>

                <div class="form-group col-12 col-md-4 col-lg-2">
                  <input
                    formControlName="cantidad"
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': vs.invalid(fa(iPed, 'cantidad')),
                      'is-valid': vs.valid(fa(iPed, 'cantidad'))
                    }"
                    mask="separator"
                    thousandSeparator=","
                  />
                  <small class="form-text text-muted">Cantidad</small>
                  <app-validacion-inputs
                    [campo]="fa(iPed, 'cantidad')"
                  ></app-validacion-inputs>
                </div>

                <div class="form-group col-12 col-md-4 col-lg-3">
                  <select
                    [compareWith]="compararLaserados"
                    [ngClass]="{
                      'is-invalid': vs.invalid(fa(iPed, 'laserCliente')),
                      'is-valid': vs.valid(fa(iPed, 'laserCliente'))
                    }"
                    formControlName="laserCliente"
                    class="form-control"
                    name="marcaLaser"
                    id="marcaLaser"
                  >
                    <ng-container *ngIf="clienteSeleccionado">
                      <option
                        *ngFor="let laser of clienteSeleccionado.laserados"
                        [ngValue]="laser"
                        >{{ laser.laser }}</option
                      >
                    </ng-container>

                    <option
                      class="bg-secondary text-white"
                      [ngValue]="{ laser: '', img: [] }"
                      >Sin marca laser</option
                    >
                  </select>
                  <small
                    *ngIf="!comprobarModeloLaseradoFun(iPed)"
                    class="form-text text-muted"
                  >
                    Marca laser
                  </small>
                  <small
                    *ngIf="comprobarModeloLaseradoFun(iPed)"
                    class="form-text text-muted"
                  >
                    <i class="fas fa-spinner fa-spin"></i> Comprobando marca
                    laser
                  </small>
                  <app-validacion-inputs
                    [campo]="fa(iPed, 'laserCliente')"
                  ></app-validacion-inputs>
                </div>

                <div class="checkbox col-12 col-md-4 col-lg-3">
                  <input
                    [id]="'almacen' + iPed"
                    [ngClass]="{
                      'is-invalid': vs.invalid(fa(iPed, 'almacen')),
                      'is-valid': vs.valid(fa(iPed, 'almacen'))
                    }"
                    formControlName="almacen"
                    type="checkbox"
                  />
                  <label
                    [for]="'almacen' + iPed"
                    title="Cuando se selecciona esta opcion el producto se obtiene desde almacen "
                  >
                    <i class="fas fa-question-circle"></i> Surtir desde almacen
                  </label>
                </div>

                <div class="form-group  col-lg-12">
                  <textarea
                    [ngClass]="{
                      'is-invalid': vs.invalid(fa(iPed, 'observaciones')),
                      'is-valid': vs.valid(fa(iPed, 'observaciones'))
                    }"
                    formControlName="observacionesVendedor"
                    class="form-control"
                    name=""
                    id=""
                    rows="3"
                  ></textarea>
                  <small class="form-text text-muted"
                    >Observaciones del pedido</small
                  >
                  <app-validacion-inputs
                    [campo]="fa(iPed, 'observaciones')"
                  ></app-validacion-inputs>
                </div>
              </div>
            </ng-container>
          </span>

          <div class="row">
            <div class="col-12 ">
              <a
                *ngIf="faLinea().length > 0"
                (click)="agregarPedido()"
                class="btn btn-outline-info btn-sm"
                href="javascript:void(0)"
                role="button"
              >
                <i class="fas fa-plus-circle fa-x2" aria-hidden="true"></i>
                Pedido
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <a
                (click)="cancelar()"
                class="btn btn-danger mr-3 text-white"
                role="button"
                >Cancelar</a
              >
              <!-- <button [disabled]='formulario.invalid' class="btn btn-success mr-3 text-white" role="button"> -->
              <button
                [disabled]="formulario.invalid || desactivarBotonEnGuardado"
                class="btn btn-success mr-3 text-white"
                role="button"
              >
                <span *ngIf="this.folio?._id">
                  <i class="fas fa-edit "></i> Guardar cambios</span
                >
                <span *ngIf="!this.folio?._id">
                  <i class="fas fa-save "></i> Guardar</span
                >
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
