<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#enProceso"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              (click)="cargarPedidosEnProceso()"
              >En proceso</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#porEnviarAProduccion"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              (click)="cargarFoliosPorEnviarAProduccion()"
              >Por enviar a produccion</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#terminados"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Terminados</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div *ngIf="keys(cargando).length > 0" class="row mt-5">
            <div class="col-12">
              <h1 class="display-1 w-100 text-center">
                <i class="fas fa-sync fa-spin   "></i>
              </h1>
              <h3
                class="w-100 text-center"
                *ngFor="let key of cargando | keyvalue"
              >
                {{ key.value }}
              </h3>
            </div>
          </div>

          <div
            class="tab-pane fade show active "
            id="enProceso"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <ng-container *ngTemplateOutlet="enProceso"></ng-container>
          </div>
          <div
            class="tab-pane fade "
            id="porEnviarAProduccion"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <ng-container
              *ngTemplateOutlet="porEnviarAProduccion"
            ></ng-container>
          </div>
          <div
            class="tab-pane fade "
            id="terminados"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            <ng-container *ngTemplateOutlet="terminados"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 
  =====================================
   Tabla en proceso
  =====================================
  -->
  <ng-template #enProceso>
    <div class="row mt-3">
      <div
        class="
        col-12 
        col-sm-5
        offset-sm-7
        col-md-4
        offset-md-8
        
       "
      >
        <div class="form-group ">
          <input
            #inputTerminados
            (keyup)="filtrar(inputTerminados.value, pedidosEnProceso)"
            type="text"
            class="form-control"
            placeholder="Buscar"
          />
        </div>
      </div>
    </div>

    <div class="table-responsive-md">
      <table class="table  table-hover">
        <thead>
          <tr [appOrdenadorDeColumnas]="pedidosEnProceso">
            <th data-ordenar="pedido">PED</th>
            <th data-ordenar="cliente">CLIENTE</th>
            <th data-ordenar="sku">SKU</th>
            <th data-ordenar="laserCliente">Laser</th>
            <th data-ordenar="cantidadSolicitadaPedido">Piezas Solicitadas</th>
            <th data-ordenar="cantidadProducidaPedido">Piezas producidas</th>
            <th data-ordenar="fechaDeEntregaAProduccion">Entrada produccion</th>
            <th>
              Tiempo de produccion
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let ped of pedidosEnProceso; let i = index">
            <tr
              *ngIf="i % 10 === 0 && i > 0 && filtros.length >= 10"
              class="repetir-encabezado "
            >
              <td>PED</td>
              <td>CLIENTE</td>
              <td>SKU</td>
              <td>Laser</td>
              <td>Solicitado</td>
              <td>Producido</td>
              <td>Entrada produccion</td>
              <td>
                Tiempo de produccion
              </td>
            </tr>

            <tr [style.display]="filtros.includes(ped.idPedido) ? '' : 'none'">
              <td class="nowrap">
                <a
                  data-toggle="modal"
                  data-target="#detalleFolio"
                  (click)="cargarFolioDetalle(ped.idFolio)"
                  title="Ver detalle de folio"
                  href="javascript:void(0)"
                  >{{ ped.pedido }}</a
                >
              </td>
              <td>{{ ped.cliente }}</td>
              <td>{{ ped.sku }}</td>
              <td>{{ ped.laserCliente }}</td>
              <td class="text-right">
                {{ ped.cantidadSolicitadaPedido | number }}
              </td>
              <td class="text-right">
                {{ ped.cantidadProducidaPedido | number }}
              </td>
              <td title="{{ ped.fechaDeEntregaAProduccion | fecha: 'LLLL' }}">
                {{ ped.fechaDeEntregaAProduccion | date: 'dd/MM/yyyy' }}
              </td>
              <td style="font-size: 12px;">
                <app-tiempo-transcurrido
                  [inicio]="ped.fechaDeEntregaAProduccion"
                >
                </app-tiempo-transcurrido>

                <app-progress-bar [porcentaje]="ped.porcentajeAvancePedido">
                </app-progress-bar>
              </td>
            </tr>
          </ng-container>

          <tr *ngIf="pedidosEnProceso?.length === 0">
            <td colspan="4">
              No tienes pedidos pendientes
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <!-- 
  =====================================
   END Tabla en proceso
  =====================================
  -->

  <!-- 
  =====================================
   Tabla por enviar a produccion
  =====================================
  -->

  <ng-template #porEnviarAProduccion>
    <div class="row mt-3 mb-3">
      <div
        class="
        col-12 
        col-sm-5
        offset-sm-7
        col-md-4
        offset-md-8
        text-right
       "
      >
        <a
          class="btn btn-success"
          [routerLink]="['/ventas/misFolios/crear']"
          role="button"
        >
          <i class="fas fa-plus-circle    "></i> Crear folio
        </a>
      </div>
    </div>

    <div class="table-responsive-md">
      <table class="table  table-hover">
        <thead>
          <tr [appOrdenadorDeColumnas]="foliosPorEnviarAProduccion">
            <th></th>
            <th data-ordenar="folio">Folio</th>
            <th data-ordenar="cliente">Cliente</th>
            <th data-ordenar="fecha de creacion">Fecha de creacion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let fol of foliosPorEnviarAProduccion; let i = index"
          >
            <tr
              *ngIf="i % 10 === 0 && i > 0 && filtros.length >= 10"
              class="repetir-encabezado "
            >
              <td></td>
              <td data-ordenar="folio">Folio</td>
              <td data-ordenar="cliente">Cliente</td>
              <td data-ordenar="fecha de creacion">Fecha de creacion</td>
              <td></td>
            </tr>

            <tr [style.display]="filtros.includes(fol._id) ? '' : 'none'">
              <td class="nowrap">
                <a
                  (click)="eliminar(fol._id)"
                  href="javascript:void(0)"
                  class="btn btn-danger btn-xs mr-1"
                  href="javascript:void(0)"
                  role="button"
                  ><i class="fas fa-times-circle    "></i
                ></a>
                <a
                  (click)="editar(fol._id)"
                  class="btn btn-success btn-xs"
                  href="javascript:void(0)"
                  role="button"
                  ><i class="fas fa-edit   "></i
                ></a>
              </td>
              <td>
                <a
                  data-toggle="modal"
                  data-target="#detalleFolio"
                  (click)="cargarFolioDetalle(fol._id)"
                  href="javascript:void(0)"
                >
                  {{ fol.folio }}
                </a>
              </td>
              <td>{{ fol.cliente }}</td>
              <td>{{ fol.fechaDeCreacion | date: 'dd/MM/yy' }}</td>
              <td>
                <a
                  class="btn btn-outline-warning btn-xs"
                  href="javascript:void(0)"
                  role="button"
                  (click)="enviarAProduccion(fol._id)"
                  ><i class="fas fa-industry   "></i
                ></a>
              </td>
            </tr>
          </ng-container>

          <tr *ngIf="foliosPorEnviarAProduccion?.length === 0">
            <td colspan="4">
              No tienes pedidos pendientes
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <!-- 
  =====================================
   END Tabla por enviar a produccion
  =====================================
  -->
  <!-- 
=====================================
 tabla terminados
=====================================
-->

  <ng-template #terminados>
    <div class="row mt-3">
      <div
        class="
      col-12 
      col-sm-5
      offset-sm-7
      col-md-4
      offset-md-8
      
     "
      >
        <div class="form-group ">
          <input
            #inputTerminados
            (keyup)="filtrar(inputTerminados.value, pedidosEnProceso)"
            type="text"
            class="form-control"
            placeholder="Buscar"
          />
        </div>
      </div>
    </div>

    <div class="table-responsive-sm">
      <table class="table  table-hover">
        <thead>
          <tr [appOrdenadorDeColumnas]="pedidosEnProceso">
            <th data-ordenar="pedido">PED</th>
            <th data-ordenar="cliente">CLIENTE</th>
            <th data-ordenar="sku">SKU</th>
            <th data-ordenar="laserCliente">Laser</th>
            <th data-ordenar="cantidadSolicitadaPedido">Piezas Solicitadas</th>
            <th data-ordenar="cantidadProducidaPedido">Piezas producidas</th>
            <th data-ordenar="fechaDeEntregaAProduccion">Entrada produccion</th>
            <th>
              Tiempo de produccion
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let ped of pedidosEnProceso; let i = index">
            <tr
              *ngIf="i % 10 === 0 && i > 0 && filtros.length >= 10"
              class="repetir-encabezado "
            >
              <td>PED</td>
              <td>CLIENTE</td>
              <td>SKU</td>
              <td>Laser</td>
              <td>Solicitado</td>
              <td>Producido</td>
              <td>Entrada produccion</td>
              <td>
                Tiempo de produccion
              </td>
            </tr>
  
            <tr [style.display]="filtros.includes(ped.idPedido) ? '' : 'none'">
              <td class="nowrap">
                <a
                  data-toggle="modal"
                  data-target="#detalleFolio"
                  (click)="cargarFolioDetalle(ped.idFolio)"
                  title="Ver detalle de folio"
                  href="javascript:void(0)"
                  >{{ ped.pedido }}</a
                >
              </td>
              <td>{{ ped.cliente }}</td>
              <td>{{ ped.sku }}</td>
              <td>{{ ped.laserCliente }}</td>
              <td class="text-right">
                {{ ped.cantidadSolicitadaPedido | number }}
              </td>
              <td class="text-right">
                {{ ped.cantidadProducidaPedido | number }}
              </td>
              <td title="{{ ped.fechaDeEntregaAProduccion | fecha: 'LLLL' }}">
                {{ ped.fechaDeEntregaAProduccion | date: 'dd/MM/yyyy' }}
              </td>
              <td style="font-size: 12px;">
                <app-tiempo-transcurrido [inicio]="ped.fechaDeEntregaAProduccion">
                </app-tiempo-transcurrido>
  
                <app-progress-bar [porcentaje]="ped.porcentajeAvancePedido">
                </app-progress-bar>
              </td>
            </tr>
          </ng-container>
  
          <tr *ngIf="pedidosEnProceso?.length === 0">
            <td colspan="4">
              No tienes pedidos pendientes
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </ng-template>

  <!-- 
=====================================
 END tabla terminados
=====================================
-->

  <!-- 
=====================================
 MODAL FOLIO DETALLE
=====================================
-->

<!-- (pedido)="pedidoParaDetalle = $event" -->
  <app-folios-detalle-abstracto
    [folio]="folioParaDetalle"
  ></app-folios-detalle-abstracto>

  <!-- 
=====================================
 END MODAL FOLIO DETALLE
=====================================
--></div>
