table{
  font-size: 12px;
}

tr.repetir-encabezado td {
  font-weight: 500;
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.4);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
tr.repetir-encabezado:hover {
  background-color: white;
}

th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.4);
}


tr td {
padding-top: 0.25rem;
padding-bottom: 0.25rem;
}

tbody:before {
  content:"@";
  display:block;
  line-height:20px;
  text-indent:-99999px;
}
