<div class="row">

    <div class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [(ngModel)]="folio" type="text" class="form-control">
            <small id="helpId" class="form-text text-muted">Folio</small>
        </div>

    </div>

    <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [(ngModel)]="pedido" type="text" class="form-control">
            <small id="helpId" class="form-text text-muted">Pedido</small>
        </div>

    </div>


    <div class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input #ic (change)="seleccionarCliente(ic)" type="text" list="Cliente" class='form-control'>
            <datalist id='Cliente'>
              <option *ngFor="let cliente of clientes" [value]="cliente.nombre"> {{cliente.sae}}</option>
            </datalist>
            <small id="helpId" class="form-text text-muted">Cliente</small>
        </div>
    </div>

    <!-- <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input #iv (change)="seleccionarVendedor(iv)" type="text" list="vendedor" class='form-control'>
            <datalist id='vendedor'>
            <option *ngFor="let vendedor of vendedores" [value]="vendedor.nombre">
          </datalist>
            <small id="helpId" class="form-text text-muted">Vendedor</small>
        </div>

    </div> -->

    <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input #im (change)="seleccionarModelo(im)" type="text" list="Modelo" class='form-control'>
            <datalist id='Modelo'>
            <option *ngFor="let modelo of modelos" [value]='modelo.modelo'>
          </datalist>
            <small id="helpId" class="form-text text-muted">Modelo</small>
        </div>

    </div>
    <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input #it (change)='seleccionarTamano(it)' type="text" list="Tamano" class='form-control'>
            <datalist id='Tamano'>
            <option *ngFor="let tamano of tamanos" [value]='tamano.tamano'>
          </datalist>
            <small id="helpId" class="form-text text-muted">Tamano</small>
        </div>

    </div>
    <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input #icolor (change)='seleccionarColor(icolor)' type="text" list="Color" class='form-control'>
            <datalist id='Color'>
            <option *ngFor="let color of colores" [value]="color.color">
          </datalist>
            <small id="helpId" class="form-text text-muted">Color</small>
        </div>

    </div>
    <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input #iter (change)='seleccionarTerminado(iter)' type="text" list="Terminado" class='form-control'>
            <datalist id='Terminado'>
            <option *ngFor="let terminado of terminados" [value]="terminado.terminado">Audi</option>
          </datalist>
            <small id="helpId" class="form-text text-muted">Terminado</small>
        </div>

    </div>


    <div class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [ngModel]="fechaDeCreacionDesdeEl| fecha:'YYYY-MM-DD'" (ngModelChange)="fechaDeCreacionDesdeEl = $event" type="date" class="form-control" name="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Fecha de creacion desde el </small>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [ngModel]="fechaDeCreacionHasta| fecha:'YYYY-MM-DD'" (ngModelChange)="fechaDeCreacionHasta = $event" type="date" class="form-control" name="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Fecha de creacion hasta </small>
        </div>
    </div>
    <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [ngModel]="fechaEntregaEstimadaDesdeEl| fecha:'YYYY-MM-DD'" (ngModelChange)="fechaEntregaEstimadaDesdeEl = $event" type="date" class="form-control" name="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Fecha de entrega estimada desde el</small>
        </div>
    </div>
    <div *ngIf="this.filtrarParaPedido" class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [ngModel]="fechaEntregaEstimadaHasta| fecha:'YYYY-MM-DD'" (ngModelChange)="fechaEntregaEstimadaHasta = $event" type="date" class="form-control" name="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Fecha de entrega estimada hasta</small>
        </div>
    </div>

    <div class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [ngModel]="fechaFinalizacionFolioDesdeEl| fecha:'YYYY-MM-DD'" (ngModelChange)="fechaFinalizacionFolioDesdeEl = $event" type="date" class="form-control" name="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Fecha de finalizacion del folio desde el</small>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
        <div class="form-group">
            <input [ngModel]="fechaFinalizacionFolioHasta| fecha:'YYYY-MM-DD'" (ngModelChange)="fechaFinalizacionFolioHasta = $event" type="date" class="form-control" name="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Fecha de finalizacion del folio hasta</small>
        </div>
    </div>

    <div class="col-12 col-sm-4 col-lg-3">
        <button (click)="limpiar()" type="button" class="btn btn-outline-primary">Limpiar filtros</button>
    </div>
    <div class="col-12 col-sm-4 col-lg-3">
        <button (click)="filtrar()" type="button" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button>
    </div>
</div>