<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class=""><strong>Modelos</strong> existentes</h1>

          <div class="d-flex align-items-center">
            <input
              #inputBusqueda
              (keyup)="buscar(inputBusqueda.value)"
              type="text"
              class="form-control mr-3"
              name="busqueda"
              id="busqueda"
              aria-describedby="busquedahelp"
              placeholder="Buscar un modelo"
            />
          </div>
        </div>
        <hr />

        <app-paginador *ngIf="!buscando"></app-paginador>
        <table
          *ngIf="modelosCompletos.length > 0"
          class="table table-hover table-borderless animated fadeIn"
        >
          <thead class="">
            <tr>
              <th class="fit"></th>

              <th class="" title="Modelo">
                Modelo
              </th>
              <th class="fit" title="Existencia actual en el almacen">
                Existencia
              </th>
              <th class="fit" title="Existencia minima">
                MIN
              </th>
              <th class="fit" title="Existencia maxima">
                MAX
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="fit" *ngFor="let mc of modelosCompletos">
              <td class="fit">
                <a
                  id="button0"
                  (click)="asignarDetalle(mc)"
                  class="btn text-white btn-primary btn-xs mr-1"
                  role="button"
                  data-toggle="modal"
                  data-target="#modeloCompletoDetalle"
                >
                  <i class="fas fa-eye"></i>
                </a>
                <a
                  id="button1"
                  (click)="asignarModeloCompletoAModificar(mc)"
                  class="btn text-white btn-success btn-xs mr-1"
                  role="button"
                  data-toggle="modal"
                  data-target="#modificarStock"
                >
                  <i class="fas fa-edit"></i>
                </a>
              </td>
              <td class="no-wrap fit">{{ mc.nombreCompleto }}</td>
              <td>
                <ng-container *ngIf="mc.existencia">
                  {{ mc.existencia | number: '0.0-0' }}
                </ng-container>
                <ng-container *ngIf="!mc.existencia || mc.existencia === 0">
                  0
                </ng-container>
              </td>

              <td
                [ngClass]="{
                  'bg-dark text-white': mc.stocMinimo >= mc.existencia
                }"
              >
                {{ mc.stockMinimo | number: '0.0-0' }}
              </td>
              <td>
                {{ mc.stockMaximo | number: '0.0-0' }}
              </td>
            </tr>
          </tbody>
        </table>

        <h1
          *ngIf="modelosCompletos.length === 0"
          class="display-1 animated fadeIn"
        >
          No se encontro ningun <b>modelo</b>.
        </h1>

        <app-paginador *ngIf="!buscando"></app-paginador>
      </div>
    </div>
  </div>
</div>

<!-- 
  =====================================
   Detalles de existencia
  =====================================
  -->
<div
  class="modal fade"
  id="modeloCompletoDetalle"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-almacen-de-producto-terminado-detalle
          [modeloCompleto]="modeloCompletoDetalle"
          (detalleLote)="detalleLote = $event"
        ></app-almacen-de-producto-terminado-detalle>
      </div>
    </div>
  </div>
</div>

<!-- 
  =====================================
   END Detalles de existencia
  =====================================
  -->

<!-- 
  =====================================
   Detalles de lote
  =====================================
  -->
<div
  class="modal fade"
  id="modalDetalleLote"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-lote-detalle [lote]="detalleLote"></app-lote-detalle>
      </div>
    </div>
  </div>
</div>
<!-- 
  =====================================
   END Detalles de lote
  =====================================
  -->

<!-- 
 =====================================
  Modificar minimos y maximos
 =====================================
 -->

<div
  class="modal fade"
  id="modificarStock"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ng-container *ngIf="modeloCompletoAModificar">
          <span>
            <h3>Modificar minimos y maximos:</h3>
            <h1>{{ modeloCompletoAModificar.nombreCompleto }}</h1>
          </span>
          <hr />

          <form [formGroup]="formulario">
            <input formControlName="_id" type="hidden" />

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(stockMinimo_FB),
                      'is-valid': vs.valid(stockMinimo_FB)
                    }"
                    formControlName="stockMinimo"
                    type="number"
                    class="form-control form-control-lg"
                  />
                  <small id="helpId" class="form-text text-muted">Minimo</small>
                  <app-validacion-inputs
                    [campo]="stockMinimo_FB"
                  ></app-validacion-inputs>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(stockMaximo_FB),
                      'is-valid': vs.valid(stockMaximo_FB)
                    }"
                    formControlName="stockMaximo"
                    type="number"
                    class="form-control form-control-lg"
                  />
                  <small id="helpId" class="form-text text-muted">Maximo</small>
                  <app-validacion-inputs
                    [campo]="stockMaximo_FB"
                  ></app-validacion-inputs>
                </div>
              </div>

              <div class="col-12" *ngIf="this.formulario.invalid">
                <app-validacion-inputs
                  [campo]="this.formulario"
                ></app-validacion-inputs>
              </div>
            </div>

            <hr />

            <a
              data-toggle="modal"
              data-target="#modificarStock"
              class="btn btn-danger text-white mr-1"
            >
              <i class="fas fa-times"></i> Cancelar</a
            >

            <button
              (click)="submit(formulario.value, formulario.valid, $event)"
              [disabled]="formulario.invalid"
              data-toggle="modal"
              data-target="#modificarStock"
              class="btn btn-success text-white mr-1"
            >
              <i class="fas fa-save"></i> Guardar
            </button>
          </form>
        </ng-container>

        <ng-container *ngIf="!modeloCompletoAModificar">
          <h1 class="display-1">No has seleccionado un <b>modelo</b>.</h1>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- 
 =====================================
  END Modificar minimos y maximos
  =====================================
-->
