<form [formGroup]="formulario">
  <input formControlName="cliente" type="hidden" />
  <input formControlName="idLote" type="hidden" />
  <div class="row">
    <div class="col-6">
      <div class="list-group">
        <a
          (click)="seleccionarLote(lote._id)"
          [ngClass]="{ 'active text-white': lote._id === idLote_FB?.value }"
          *ngFor="let lote of modeloCompleto.lotes"
          class="list-group-item list-group-item-action"
        >
          <span [title]="lote.createAt | fecha: 'LLL'">
            Lote: {{ lote.createAt | date: "dd/MM/yy" }}
          </span>
          <h3>
            Existencia: <strong> {{ lote.existencia | number }}</strong>
          </h3>
        </a>
      </div>
      <small  class="form-text text-muted">Selecciona un lote</small>

      <app-validacion-inputs
        [campo]="idLote_FB"
        [directo]="true"
      ></app-validacion-inputs>
    </div>

    <div class="col-6">
      <input
        #inputCliente
        [(ngModel)]="inputClienteNg"
        [ngModelOptions]="{ standalone: true }"
        #inputCliente
        [ngClass]="{
          'is-invalid': vs.invalid(cliente_FB),
          'is-valid': vs.valid(cliente_FB)
        }"
        (keyup)="cargarClientes(inputCliente.value)"
        (keydown.backspace)="limpiarCliente(inputCliente)"
        (change)="clienteObtenerId(inputCliente.value)"
        type="text"
        list="Cliente"
        class="form-control"
      />
      <datalist id="Cliente">
        <option *ngFor="let cliente of clientes" [value]="cliente.nombre">
          {{ cliente.sae }}</option
        >
        <option
          disabled
          *ngIf="clientes.length === 0"
          value="Empieza a escribir para buscar"
        >
        </option>
      </datalist>
      <small id="cliente" class="form-text text-muted"
        >Selecciona un cliente</small
      >
      <app-validacion-inputs
        [campo]="cliente_FB"
        [directo]="true"
      ></app-validacion-inputs>

      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(cantidad_FB),
            'is-valid': vs.valid(cantidad_FB)
          }"
          type="number"
          class="form-control"
          formControlName="cantidad"
        />
        <small id="helpId" class="form-text text-muted">Cantidad a salir</small>
        <app-validacion-inputs
          [campo]="cantidad_FB"
          [directo]="true"
        ></app-validacion-inputs>
      </div>

      <div class="form-group">
        <textarea
          [ngClass]="{
            'is-invalid': vs.invalid(observaciones_FB),
            'is-valid': vs.valid(observaciones_FB)
          }"
          class="form-control"
          formControlName="observaciones"
          row='5'
        ></textarea>
        <small id="helpId" class="form-text text-muted">Observaciones</small>
        <app-validacion-inputs
          [campo]="observaciones_FB"
          [directo]="true"
        ></app-validacion-inputs>
      </div>
    </div>
  </div>
</form>

<hr />

<button
  [disabled]='formulario.invalid'
  (click)="guardar(formulario.value, formulario.invalid, $event)"
  class="btn btn-success text-white mr-3"
  role="button"
>
  <i class="fas fa-save    "></i> Guardar</button
>
<a
  data-toggle="modal"
  data-target="#modalEntradasYSalidas"
  (click)="cancelarGuardado()"
  class="btn btn-danger text-white"
  role="button"
>
  <i class="fas fa-times"></i> Cancelar</a
>
