<div [id]="orden._id" *ngIf="orden" class="w-100">
  <div class="orden">
    <hr class="thin no-margin-bottom" />

    <!-- 
           =====================================
            Encabezado de orden
           =====================================
           -->
    <div class="d-flex justify-content-between align-items-center">
      <span class="mr-3">
        <app-nivel-urgencia
          [nivel]="orden.nivelDeUrgencia"
        ></app-nivel-urgencia>
      </span>
      <span class="mr-3">
        {{ folio.fechaDeEntregaAProduccion | fecha: 'D/MM/Y' }}
      </span>
      <span class="mr-3"
        ># {{ orden.numeroDeOrden + 1 }}/{{ linea.ordenes.length }}</span
      >
      <span class="mr-3"
        >PZ TEO: {{ orden.piezasTeoricas | number: '1.0-2' }}</span
      >
      <span class="mr-3">Unidad: {{ orden.unidad }}</span>
      <span class="badge badge-dark text-white badge-pill pull-right">
        <b class="mr-3"> Orden </b> {{ orden.orden }}</span
      >
    </div>
    <hr class="thin" />

    <!-- 
           =====================================
            END Encabezado de orden
           =====================================
           -->

    <!-- 
           =====================================
            Cuerpo de la orden
           =====================================
           -->

    <div class="row">
      <div class="col-8">
        <h3 class="mt-0">
          <strong>{{ linea.modeloCompleto | modeloCompleto }}</strong>
        </h3>
        <ng-container *ngIf="linea.laserCliente?.laser">
          <b class="font-weight-bold">MARCA LASER: </b>
          <span class="label label-inverse">{{
            linea.laserCliente.laser
          }}</span>
          <br />
        </ng-container>

        <span *ngIf="folio?.observaciones">{{ folio.observaciones }}</span>
        <span *ngIf="linea?.observaciones">{{ linea.observaciones }}</span>
        <span *ngIf="orden?.observaciones">{{ orden.observaciones }}</span>

        <a
          (click)="imprimir()"
          class="btn btn-outline-warning no-print"
          href="javascript:void(0)"
          role="button"
        >
          <i
            *ngIf="keys('cargando').includes('pool')"
            class="fas fa-sync fa-spin-fast"
          ></i>

          <i class="fas fa-print"></i
        ></a>
      </div>
      <div class="col-4 text-right" style="min-width: 190px;">
        <qrcode
          class="pull-right"
          [qrdata]="obtenerDatosParaOrden()"
          size="190"
        ></qrcode>
      </div>
    </div>
    <!-- 
             =====================================
              END Cuerpo de la orden
             =====================================
             -->

    <!-- 
             =====================================
              Trayecto de la orden.
             =====================================
             -->

    <div class="orden-footer">
      <hr class="thin" />
      <div class="font-weight-bold" style="font-size: 6pt;">
        <ng-container *ngFor="let ruta of orden.ruta; let i = index">
          {{ ruta.departamento }}
          <span *ngIf="i + 1 != orden.trayectoNormal.length">
            >
          </span>
        </ng-container>
      </div>
      <hr class="thin no-margin-bottom" />
    </div>

    <!-- 
             =====================================
              END Trayecto de la orden.
             =====================================
             -->
  </div>
</div>
