<div class="row animated fadeInDown" [ngClass]="{'oculto': !_s.leyendo}">
    <div class="col-12">
        <div class="card">
            <div class="card-header " [ngClass]="{'bg-info':  _s.recivir, 'bg-success':  !_s.recivir}">
                <h1 class=" text-white box-title m-b-0 d-flex justify-content-between align-items-center"><strong class="animated fadeIn">{{_s.titulo}}</strong>
                    <small *ngIf="!_s.recivir" class="animated fadefadeInInRight delay-0-3s">Registrar una órden.</small>
                    <small *ngIf="_s.recivir" class="animated fadeIn delay-0-3s">Recibir una órden.</small>
                </h1>

            </div>
            <div class="card-body p-0" [ngClass]="{'bg-inverse': _s.recivir}">
                <div class="row">
                    <div class="col-6 fadeIn animated ">
                        <!-- LECTOR DE QR -->
                        <div id="reader" style='width: 600px; height: 500px;'> </div>
                    </div>
                    <div class="col-6 d-flex align-items-center justify-content-center fadeIn animated delay-1s">
                        <div class="text-center" [ngClass]="{'text-white': _s.recivir}">
                            <hr [ngClass]="{'text-white': _s.recivir}">
                            <h1 [ngClass]="{'text-white': _s.recivir}">
                                Estas listo para <strong><span *ngIf="_s.recivir">recibir</span> <span *ngIf="!_s.recivir">registrar</span></strong> una orden.
                            </h1>
                            Si lo que quieres es <span *ngIf="!_s.recivir">recivir</span> <span *ngIf="_s.recivir">registrar</span> ordenes, pulsa el boton:
                            <br>
                            <br>
                            <button (click)="_s.recivir = !_s.recivir" class="btn btn-lg " [ngClass]="{'btn-info':  !_s.recivir, 'btn-success':  _s.recivir}">
                                <span *ngIf="!_s.recivir " class="d-flex align-items-center justify-content-center" >
                                    <i  class="fas fa-check fa-2x mr-4"></i> Recibir órdenes
                                </span>
                                <span *ngIf="_s.recivir " class="d-flex align-items-center justify-content-center" >
                                    <i  class="fas fa-save fa-2x mr-4"></i> Registrar órdenes
                                </span>
                            </button>
                            <br>
                            <hr [ngClass]="{'text-white': _s.recivir}">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>