<ng-container *ngIf="empleado">
  <div class="justify-content-between d-flex aling-items-center">
    <h1 *ngIf="empleado?._id">{{ empleado.nombreCompleto() }}</h1>
    <h1>
      <span class="text-success" *ngIf="!empleado?._id">
        <i class="fas fa-plus-square    "></i> Crear <b>empleado</b> </span
      ><span class="text-warning" *ngIf="empleado?._id">
        <i class="fas fa-pen-square"></i> Modificar <b>empleado</b>
      </span>
    </h1>
  </div>

  <br />
  <form [formGroup]="formulario" (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <div class="col-md-12  col-lg-4">
        <div class="card">
          <div class="card-body">
            <!-- 
            =====================================
             fotografia
            =====================================
            -->

            <div *ngIf="hayFoto()" class="col-12">
              <div
                class="image-cropper shadow"
                style="width: 100%; height: 400px;"
              >
                <img
                  #img
                  (click)="mostrarImagen(img.src)"
                  [src]="f('fotografia').value | imagen: 'empleados'"
                  class=" profile-pic"
                  [src]="empleado.fotografia | imagen: 'empleados'"
                />
              </div>
            </div>
            <div class="col-12 text-right mt-3">
              <a
                class="btn btn-sm btn-primary "
                href="javascript:void(0)"
                role="button"
                (click)="cambiarFoto()"
                *ngIf="hayFoto()"
              >
                <i class="fas fa-portrait" aria-hidden="true"></i> Cambiar
              </a>
            </div>

            <div *ngIf="!hayFoto()" class="col-12">
              <div class="form-group">
                <input type="hidden" formControlName="fotografia" />

                <app-carga-de-imagenes
                  (error)="errorImagen($event)"
                  (esteComponente)="fotografiaComponent = $event"
                  (imagenesParaSubir)="fotografiaSetear($event)"
                  [multiple]="false"
                >
                </app-carga-de-imagenes>

                <small id="helpId" class="form-text text-muted"
                  >Foto del empleado</small
                >
                <app-validacion-inputs
                  [campo]="f('fotografia')"
                ></app-validacion-inputs>
              </div>
            </div>
            <!-- 
            =====================================
             END fotografia
            =====================================
            -->
          </div>
        </div>
      </div>
      <div class="col-md-12  col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- 
                =====================================
                idChecador
                =====================================
                -->
              <div class="col-12 col-sm-6 col-md-2">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('idChecador')),
                      'is-valid': vs.valid(f('idChecador'))
                    }"
                    type="number"
                    class="form-control"
                    formControlName="idChecador"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >ID checador</small
                  >
                  <app-validacion-inputs
                    [campo]="f('idChecador')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
                END idChecador
              =====================================
              -->
              <!-- 
              =====================================
                idNomina
              =====================================
              -->
              <div class="col-12 col-sm-6 col-md-2">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('idNomina')),
                      'is-valid': vs.valid(f('idNomina'))
                    }"
                    type="number"
                    class="form-control"
                    formControlName="idNomina"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >ID nomina</small
                  >
                  <app-validacion-inputs
                    [campo]="f('idNomina')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                  =====================================
                    END idNomina
                  =====================================
                  -->

              <!-- 
                =====================================
                 puestoActual
                =====================================
                -->
              <div class="col-12 col-md-8">
                <div class="form-group">
                  <input type="hidden" formControlName="puestoActual" />

                  <input
                    *ngIf="empleado?.puestoActual?._id"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('puestoActual')),
                      'is-valid': vs.valid(f('puestoActual'))
                    }"
                    type="text"
                    disabled
                    class="form-control"
                    [value]="empleado.puestoActual.puesto"
                  />

                  <app-data-list
                    *ngIf="!empleado?.puestoActual?._id"
                    (ejecutarBusquedaDeItems)="buscarPuestos($event)"
                    (elementoSeleccionado)="articuloSeleccionado($event)"
                    (esteComponente)="puestoComponent = $event"
                    [valid]="vs.valid(f('puestoActual'))"
                    [invalid]="vs.invalid(f('puestoActual'))"
                    (touched)="f('puestoActual').markAsTouched()"
                  >
                  </app-data-list>

                  <small id="helpId" class="form-text text-muted"
                    >Puesto actual</small
                  >
                  <app-validacion-inputs
                    [campo]="f('puestoActual')"
                  ></app-validacion-inputs>
                </div>
              </div>

              <!-- 
                  =====================================
                   END puestoActual
                  =====================================
                  -->
            </div>
            <div class="row">
              <div class="col-12">
                <hr />
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h3>Datos del empleado</h3>
              </div>
            </div>

            <div class="row">
              <!-- 
                =====================================
                  nombres
                =====================================
                -->
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('nombres')),
                      'is-valid': vs.valid(f('nombres'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="nombres"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Nombres</small
                  >
                  <app-validacion-inputs
                    [campo]="f('nombres')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                =====================================
                  END nombres
                =====================================
                -->

              <!-- 
                =====================================
                  apellidos
                =====================================
                -->
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('apellidos')),
                      'is-valid': vs.valid(f('apellidos'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="apellidos"
                  />
                  <small class="form-text text-muted">Apellidos</small>
                  <app-validacion-inputs
                    [campo]="f('apellidos')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
              END apellidos
              =====================================
              -->
              <!-- 
              =====================================
              fechaDeNacimiento
              =====================================
              -->

              <div class="col-12 col-sm-6 col-md-4 ">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('fechaDeNacimiento')),
                      'is-valid': vs.valid(f('fechaDeNacimiento'))
                    }"
                    type="date"
                    class="form-control"
                    formControlName="fechaDeNacimiento"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Fecha de nacimiento</small
                  >
                  <app-validacion-inputs
                    [campo]="f('fechaDeNacimiento')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                =====================================
                  END fechaDeNacimiento
                =====================================
                -->

              <!-- 
                =====================================
                  sexo
                =====================================
                -->
              <div class="col-12 col-sm-6 col-md-4 ">
                <div class="form-group">
                  <select
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('sexo')),
                      'is-valid': vs.valid(f('sexo'))
                    }"
                    formControlName="sexo"
                  >
                    <option value="null" disabled selected
                      >Selecciona un sexo</option
                    >
                    <option value="false">Masculino</option>
                    <option value="true">Femenino</option>
                  </select>

                  <small id="helpId" class="form-text text-muted">Sexo</small>
                  <app-validacion-inputs
                    [campo]="f('sexo')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
            =====================================
              END sexo
            =====================================
            -->

              <!-- 
            =====================================
              estadoCivil
            =====================================
            -->
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <select
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('estadoCivil')),
                      'is-valid': vs.valid(f('estadoCivil'))
                    }"
                    class="form-control"
                    formControlName="estadoCivil"
                  >
                    <option value="false">Soltero</option>
                    <option value="true">Casado</option>
                  </select>

                  <small id="helpId" class="form-text text-muted"
                    >Estado civil</small
                  >
                  <app-validacion-inputs
                    [campo]="f('estadoCivil')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
                END estadoCivil
              =====================================
              -->

              <!-- 
              =====================================
              nivelDeEstudios
              =====================================
              -->
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('nivelDeEstudios')),
                      'is-valid': vs.valid(f('nivelDeEstudios'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="nivelDeEstudios"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Nivel de estudios</small
                  >
                  <app-validacion-inputs
                    [campo]="f('nivelDeEstudios')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
              END nivelDeEstudios
              =====================================
              -->

              <div class="col-12 col-sm-6 ">
                <div class="form-group" d-flex align-items-center>
                  <input
                    (keyup.enter)="agregarHijo(inputHijo.value)"
                    #inputHijo
                    type="number"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Ingresa edad de hijo"
                  />

                  <small id="helpId" class="form-text text-muted"
                    >Ingresa edad de hijo y presiona enter</small
                  >
                </div>
              </div>

              <div class="col-12 col-sm-6 ">
                <ul class="list-group">
                  <li class="list-group-item active">Hijos</li>
                  <li
                    *ngFor="let hijo of fa('hijos').controls; let i = index"
                    class="list-group-item"
                  >
                    <div
                      class="d-flex align-items-center justify-content-between"
                    ></div>
                    <a
                      class="btn btn-danger btn-xs mr-3"
                      href="javascript:void(0)"
                      role="button"
                      (click)="eliminarHijo(i)"
                    >
                      <i class="fas fa-times-circle    "></i>
                    </a>
                    Edad de hijo: {{ hijo.value }}
                    <ng-container *ngIf="hijo.value > 1; else singular">
                      años
                    </ng-container>
                    <ng-template #singular>
                      año
                    </ng-template>
                  </li>
                  <li
                    *ngIf="!fa('hijos').controls?.length"
                    class="list-group-item disabled"
                  >
                    Sin hijos
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <hr />
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h3>Datos de contacto</h3>
              </div>
            </div>

            <div class="row">
              <!-- 
              =====================================
               celular
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('celular')),
                      'is-valid': vs.valid(f('celular'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="celular"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Celular personal</small
                  >
                  <app-validacion-inputs
                    [campo]="f('celular')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                =====================================
                 END celular
                =====================================
                -->

              <!-- 
            =====================================
             telCasa
            =====================================
            -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('telCasa')),
                      'is-valid': vs.valid(f('telCasa'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="telCasa"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Telefono de casa</small
                  >
                  <app-validacion-inputs
                    [campo]="f('telCasa')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END telCasa
              =====================================
              -->

              <!-- 
              =====================================
               email
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('email')),
                      'is-valid': vs.valid(f('email'))
                    }"
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Correo electronico</small
                  >
                  <app-validacion-inputs
                    [campo]="f('email')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                  =====================================
                   END email
                  =====================================
                  -->

              <!-- 
                  =====================================
                   domicilio
                  =====================================
                  -->
              <div class="col-12">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('domicilio')),
                      'is-valid': vs.valid(f('domicilio'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="domicilio"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Domicilio completo</small
                  >
                  <app-validacion-inputs
                    [campo]="f('domicilio')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                  =====================================
                   END domicilio
                  =====================================
                  -->
            </div>

            <div class="row">
              <div class="col-12">
                <hr />
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h3>Documentacion</h3>
              </div>
            </div>

            <div class="row">
              <!-- 
              =====================================
                rfc
              =====================================
              -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('rfc')),
                      'is-valid': vs.valid(f('rfc'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="rfc"
                  />
                  <small id="helpId" class="form-text text-muted">RFC</small>
                  <app-validacion-inputs
                    [campo]="f('rfc')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
                END rfc
              =====================================
              -->

              <!-- 
              =====================================
                curp
              =====================================
              -->
              <div class="col-12 col-md-6 ">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('curp')),
                      'is-valid': vs.valid(f('curp'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="curp"
                  />
                  <small id="helpId" class="form-text text-muted">CURP</small>
                  <app-validacion-inputs
                    [campo]="f('curp')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                =====================================
                  END curp
                =====================================
                -->

              <!-- 
                =====================================
                  numeroDeCuenta
                =====================================
                -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('numeroDeCuenta')),
                      'is-valid': vs.valid(f('numeroDeCuenta'))
                    }"
                    type="string"
                    class="form-control"
                    formControlName="numeroDeCuenta"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Numero de cuenta</small
                  >
                  <app-validacion-inputs
                    [campo]="f('numeroDeCuenta')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                            =====================================
                             END numeroDeCuenta
                            =====================================
                            -->

              <!-- 
                            =====================================
                             numeroDeSeguridadSocial
                            =====================================
                            -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('numeroDeSeguridadSocial')),
                      'is-valid': vs.valid(f('numeroDeSeguridadSocial'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="numeroDeSeguridadSocial"
                  />
                  <small id="helpId" class="form-text text-muted">NSS</small>
                  <app-validacion-inputs
                    [campo]="f('numeroDeSeguridadSocial')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                =====================================
                    END numeroDeSeguridadSocial
                =====================================
                -->
            </div>

            <div class="row">
              <div class="col-12">
                <hr />
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h3>Contacto de emergencia</h3>
              </div>
            </div>

            <div class="row">
              <!-- 
            =====================================
             nombreEmergencia
            =====================================
            -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('nombreEmergencia')),
                      'is-valid': vs.valid(f('nombreEmergencia'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="nombreEmergencia"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Llamar en caso de emergencia a</small
                  >
                  <app-validacion-inputs
                    [campo]="f('nombreEmergencia')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
            =====================================
             END nombreEmergencia
            =====================================
            -->

              <!-- 
            =====================================
             telEmergencia
            =====================================
            -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('telEmergencia')),
                      'is-valid': vs.valid(f('telEmergencia'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="telEmergencia"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Numero de emergencia</small
                  >
                  <app-validacion-inputs
                    [campo]="f('telEmergencia')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
            =====================================
             END telEmergencia
            =====================================
          -->
              <!-- 
          =====================================
           parentescoEmergencia
          =====================================
          -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('parentescoEmergencia')),
                      'is-valid': vs.valid(f('parentescoEmergencia'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="parentescoEmergencia"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Parentesco</small
                  >
                  <app-validacion-inputs
                    [campo]="f('parentescoEmergencia')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
          =====================================
           END parentescoEmergencia
          =====================================
          -->
            </div>

            <div class="row">
              <div class="col-12">
                <hr />
              </div>
            </div>

            <button
              (click)="submit(formulario.value, formulario.invalid, $event)"
              [ngClass]="{ active: !formulario.invalid }"
              class="text-white btn btn-success mr-3"
              role="button"
            >
              <i class="fas fa-save    "></i> Guardar
            </button>
            <a
              data-toggle="modal"
              data-target="#crearModificarEmpleadoModal"
              (click)="cancelar()"
              class="text-white btn btn-danger active"
              role="button"
            >
              <i class="fas fa-times    "></i> Cancelar</a
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
