<!--
=====================================
 Encabezado
=====================================
-->
<div class="row fadeIn animated">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class=""><strong>Empleados</strong> existentes</h1>

          <div class="d-flex align-items-center">
            <div class="mr-3">
              <app-buscador-paciente
                [cbObservable]="cbObservable"
                [tiempoDeEspera]="1000"
                (resultado)="resultadoDeBusqueda($event)"
                (cancelado)="cancelado()"
                (error)="error($event)"
              ></app-buscador-paciente>
            </div>

            <a
              (click)="crear()"
              data-toggle="modal"
              data-target="#crearModificarEmpleadoModal"
              class="btn btn-success text-white active mr-3"
            >
              <i class="fas fa-plus"></i> Crear empleado</a
            >
            <!-- <a
              data-toggle="collapse"
              data-target="#filtros"
              class="btn btn-primary text-white"
            >
              <i class="fas fa-filter"></i> Filtros
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
=====================================
 END Encabezado
=====================================
-->

<!--
=====================================
 Filtros
=====================================
-->

<!-- <div id="filtros" class="row collapse">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <app-empleado-filtros
          (obtenerFiltros)="this.empleadoFiltrosComponent = $event"
        >
        </app-empleado-filtros>
      </div>
    </div>
  </div>
</div> -->

<!--
=====================================
 END Filtros
=====================================
-->

<!--
=====================================
 tabla
=====================================
-->

<div class="row">
  <div class="col-12">
    <paginador
      #paginadorOriginal
      class="pull-right"
      [totalDeElementos]="totalDeElementos"
      [campoDeOrdenamiento]="'nombres'"
      [tipoDeOrden]="1"
      (actualizarConsulta)="actualizarConsulta($event)"
      [cargando]="cargando"
    ></paginador>
  </div>
</div>

<div *ngIf="empleados.length > 0" class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>NOM</th>
              <th>CHE</th>
              <th>Nombre</th>
              <th>Puesto</th>
              <th>Sueldo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleados">
              <td class="fit align-middle">
                <a
                  title="Ver detalle"
                  class=" "
                  href="javascript:void(0)"
                  role="button"
                  data-toggle="modal"
                  data-target="#detalleEmpleado"
                  (click)="empleadoDetalle = empleado"
                >
                  <div
                    class="image-cropper image-rounded"
                    style="width: 50px; height: 50px;"
                  >
                    <img
                      class="profile-pic"
                      [src]="empleado.fotografia | imagen: 'empleados'"
                    />
                  </div>
                </a>
              </td>
              <td class="fit align-middle">
                <a
                  title="editar"
                  class="btn btn-success btn-xs mr-1"
                  href="javascript:void(0)"
                  role="button"
                  data-toggle="modal"
                  data-target="#crearModificarEmpleadoModal"
                  (click)="modificar(empleado)"
                >
                  <i class="fas fa-edit"></i>
                </a>
                <a
                  title="Abrir modal de eventos"
                  class="btn btn-info btn-xs mr-1"
                  href="javascript:void(0)"
                  role="button"
                  data-toggle="modal"
                  data-target="#botonesEventos"
                  (click)="empleadoSeleccionado = empleado"
                >
                  <i class="fas fa-calendar"></i>
                </a>

                <a
                  title="Editar fecha ingreso"
                  class="btn btn-secondary btn-xs mr-1"
                  href="javascript:void(0)"
                  role="button"
                  data-toggle="modal"
                  data-target="#editarFechaIngreso"
                  *ngIf="
                    permisos['empleado:ingreso:modificar'] | contieneElPermiso
                  "
                  (click)="empleadoSeleccionadoParaModificar = empleado"
                >
                  <i class="fas fa-calendar"></i>
                  Ingreso
                </a>
              </td>
              <td title="Numero de nomina" class="fit align-middle">
                {{ empleado.idNomina }}
              </td>
              <td title="Numero de checador" class="fit align-middle">
                {{ empleado.idChecador }}
              </td>
              <td title="Nombre completo del empleado" class="align-middle">
                {{ empleado.nombreCompleto() }}
              </td>
              <td
                title="Puesto en el que se desempena este empleado"
                class="fit align-middle"
              >
                <ng-container *ngIf="empleado.puestoActualTexto">
                  <!-- <a
                    (click)="asiganarDetalleDePuesto(empleado.puestoActualTexto)"
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#puestoDetalleModal"
                    class="btn btn-primary btn-xs "
                  >
                    <i class="fas fa-eye    "></i>
                  </a> -->

                  {{ empleado.puestoActualTexto }}
                </ng-container>

                <span *ngIf="!empleado.puestoActualTexto">
                  Sin puesto definido
                </span>
              </td>
              <td class="align-middle fit">
                ${{ empleado.sueldoActual | number: '4.2-4' }}
              </td>
              <td class="align-middle fit">
                <a
                  class="btn btn-danger btn-xs"
                  href="javascript:void(0)"
                  role="button"
                  (click)="eliminar(empleado)"
                >
                  <i class="fas fa-times"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--
  =====================================
   END tabla
  =====================================
  -->
</div>
<!--
  =====================================
   No empleados
  =====================================
  -->
<div *ngIf="empleados.length === 0" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="display-1">No hay <b>empleados</b> para mostrar</h1>
      </div>
    </div>
  </div>
</div>
<!--
=====================================
 END No empleados
=====================================
-->

<!--
=====================================
  Detalle empleado
=====================================
  -->
<div
  class="modal fade"
  id="detalleEmpleado"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header h-25">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-empleado-detalle
          [empleado]="empleadoDetalle"
          (detallePuesto)="asiganarDetalleDePuesto($event)"
          (permisoActualizado)="cargarEmpleados()"
        ></app-empleado-detalle>
      </div>
    </div>
  </div>
</div>

<!--
  =====================================
   END Detalle
  =====================================
  -->

<!--
  =====================================
   Crear editar
  =====================================
  -->

<div
  class="modal fade"
  id="crearModificarEmpleadoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-empleado-crear-modificar
          (esteComponente)="componenteCrearModificar = $event"
          (guardar)="guardar($event)"
        ></app-empleado-crear-modificar>
      </div>
    </div>
  </div>
</div>

<!--
  =====================================
   END Crear editar
  =====================================
  -->

<!--
  =====================================
   Detalle puesto
  =====================================
  -->

<!-- Modal -->
<div
  class="modal fade"
  id="puestoDetalleModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-puestos-detalle [puesto]="puestoDetalle">`</app-puestos-detalle>
      </div>
    </div>
  </div>
</div>

<!--
  =====================================
   END Detalle puesto
  =====================================
  -->

<!--
  =====================================
   Contenedor de modales para crear eventos de empleado
  =====================================
  -->

<app-empleado-eventos-crear-modal
  [empleado]="empleadoSeleccionado"
  (guardado)="cargarEmpleados()"
  (esteComponente)="mec = $event"
>
</app-empleado-eventos-crear-modal>

<!--
  =====================================
   END Contenedor de modales para crear eventos de empleado
  =====================================
  -->
<div
  class="modal fade"
  id="botonesEventos"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar un evento</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div *ngFor="let dato of botonesEventos" class="col-12 col-sm-4 mt-3">
            <!--
                =====================================
                 Generacion de botonera para eventos
                =====================================
                -->
            <a
              title="EVENTO: {{ dato.title }}"
              (click)="dato.cb(); empleadoSeleccionado = empleadoSeleccionado"
              class="btn btn-sm w-100 mr-1 {{ dato.class }}"
              href="javascript:void(0)"
              data-toggle="modal"
              [attr.data-target]="idAgregarEventoModal"
              data-dismiss="modal"
            >
              {{ dato.text }}
            </a>

            <!--
                =====================================
                 END Generacion de botonera para eventos
                =====================================
                -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<!--
=====================================
Modificar Ingreso
=====================================
-->

<div
  class="modal fade"
  id="editarFechaIngreso"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  let
  eml
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">
          Modificar fecha de ingreso de
          {{ empleadoSeleccionadoParaModificar?.nombres }}
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="modificandoIngreso" class="row">
          <div class="col-12 text-center">
            <h1 class="display-1"><i class="fas fa-sync fa-spin-fast"></i></h1>
          </div>
        </div>
        <div *ngIf="!modificandoIngreso" class="col-18 col-sm-12 col-md-16">
          <input
            type="date"
            class="input"
            [(ngModel)]="nuevaFechaIngresoEmpleado"
          />
          <small id="helpId" class="form-text text-muted">Nueva fecha</small>
        </div>
      </div>

      <!--
      =====================================
      END Modificar Ingreso
      =====================================
      -->

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="modificarIngreso()"
        >
          Guardar
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
