<app-qr-scanner></app-qr-scanner>

<div class="row animated tada" *ngIf="_qrScannerService.lecturaCorrecta">
    <div class="col-12">
        <div class="card border-dark">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        <h3 class="box-title m-b-0"><strong>Seleccion</strong></h3>
                        <p class="text-white m-b-30 font-13"> Registra los datos de la órden </p>

                    </div>
                    <div class="col-6">
                        <h2>
                            <strong>
                            {{ linea.modeloCompleto | modeloCompleto }}
                        </strong>
                            <app-nivel-urgencia [nivel]="orden?.nivelDeUrgencia"></app-nivel-urgencia>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 ">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">


                                        <form (ngSubmit)="onSubmit(formulario.value, formulario.valid, $event)" [formGroup]="formulario">

                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="quebrados" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getQuebrados), 'is-valid':_validacionesService.valid(getQuebrados)}" type="number" placeholder="Quebrados">
                                                        <app-validacion-inputs [campo]="getQuebrados"></app-validacion-inputs>
                                                    </div>

                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="reves" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getReves), 'is-valid':_validacionesService.valid(getReves)}" type="number" placeholder="Reves">
                                                        <app-validacion-inputs [campo]="getReves"></app-validacion-inputs>
                                                    </div>

                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="despostillado" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getDespostillado), 'is-valid':_validacionesService.valid(getDespostillado)}" type="number" placeholder="Despostillado">
                                                        <app-validacion-inputs [campo]="getDespostillado"></app-validacion-inputs>
                                                    </div>

                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="sinLaser" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getSinLaser), 'is-valid':_validacionesService.valid(getSinLaser)}" type="number" placeholder="Sin laser">
                                                        <app-validacion-inputs [campo]="getSinLaser"></app-validacion-inputs>
                                                    </div>

                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="sinHoyos" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getSinHoyos), 'is-valid':_validacionesService.valid(getSinHoyos)}" type="number" placeholder="Sin hoyos">
                                                        <app-validacion-inputs [campo]="getSinHoyos"></app-validacion-inputs>
                                                    </div>

                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="efectoMalo" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getEfectoMalo), 'is-valid':_validacionesService.valid(getEfectoMalo)}" type="number" placeholder="Efecto malo">
                                                        <app-validacion-inputs [campo]="getEfectoMalo"></app-validacion-inputs>
                                                    </div>

                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="otros" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getOtros), 'is-valid':_validacionesService.valid(getOtros)}" type="text" placeholder="Otros defectos">
                                                        <app-validacion-inputs [campo]="getOtros"></app-validacion-inputs>
                                                    </div>

                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input formControlName="descripcionDeOtro" class="form-control form-control-lg" [ngClass]="{'is-invalid': _validacionesService.invalid(getDescripcionDeOtro), 'is-valid':_validacionesService.valid(getDescripcionDeOtro)}" type="number" placeholder="Descripcion de defecto diferente">
                                                        <app-validacion-inputs [campo]="getDescripcionDeOtro"></app-validacion-inputs>
                                                    </div>

                                                </div>

                                            </div>






                                            <h3>Seleccionado por:</h3>
                                            <ng-container *ngFor="let usuario of usuarios; let i = index">
                                                <input type="radio" [id]="i" formControlName="seleccionadoPor" [value]="usuario._id">
                                                <label [for]="i">{{usuario.nombre}}</label>
                                            </ng-container>






                                            <br>

                                            <button type="submit" [ngClass]="{'btn-success': formulario.valid, 'btn-outline-dark': formulario.invalid}" [disabled]="formulario.invalid" class="btn  btn-lg mr-3 "><i class="fa fa-save "></i> Guardar</button>
                                            <button (click)="limpiar() " class="btn btn-danger btn-lg mr-3 "><i class="fa fa-times "></i> Escannear de nuevo</button>

                                            <br>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-lista-de-ordenes *ngIf="_qrScannerService.leyendo "> </app-lista-de-ordenes>