.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
}

.li,
.esconde-sobrante {
  width: 90px;
  background-color: #fff;
  transition: all 300ms ease-in;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.li.working {
  background-color: rgb(230, 230, 230);
}

li:hover {
  width: 300px;
  background-color: #eee;
}

li:hover .esconde-sobrante {
  width: 300px;
  background-color: #eee;
  overflow: hidden;
}

.timestamp {
  font-size: 10px;
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #d6dce0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 10px;
}
.status:before {
  padding-top: 1px;
  padding-right: 1px;
  color: #fff;
  text-align: center;
  content: '✔';
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  transition: all 200ms ease-in;
}
.working:before {
  padding-top: -1px;
  padding-right: -1px;
  /* text-align: center; */
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  content: '✔';
  animation-name: desvanecer;
  animation-timing-function:  ease-in-out;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}

@keyframes desvanecer {
  0% {
    background-color: #66dc71;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #66dc71;
  }
}

.li.complete .status {
  border-top: 2px solid #66dc71;
}
.li.complete .status:before {
  background-color: #66dc71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #383838;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 70px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}
