<div
  *ngIf="!ordenConsultada"
  class="d-flex justify-content-center align-items-center fadeIn animated w-100"
>
  <h1 class="display-1">
    <i class="fas fa-sync fa-spin"></i>
  </h1>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ul
          [id]="ordenConsultada._id"
          *ngIf="ordenConsultada"
          class="timeline"
          id="timeline"
        >
          <!-- 
        =====================================
         Trabajado
        =====================================
        -->
          <ng-container
            *ngFor="let ruta of ordenConsultada?.ruta; let i = index"
          >
            <li
              *ngIf="!ruta.ubicacionActual && ignorarHasta > ruta.consecutivo"
              [id]="'listo' + i"
              class="li complete"
            >
              <div class="timestamp">
                <span class="author esconde-sobrante">
                  {{
                    encontrarProceso(ruta.idProceso)?.departamento | titlecase
                  }}
                  <hr />
                  {{ encontrarProceso(ruta.idProceso)?.nombre }}
                </span>
                <span
                  title="Orden iniciada el {{
                    (ruta.entrada ? ruta.entrada : ruta.recepcion)
                      | fecha: 'LLLL'
                  }}"
                  class="date"
                >
                  <i class="fas fa-arrow-right"></i>
                  {{
                    (ruta.entrada ? ruta.entrada : ruta.recepcion) | fecha: 'L'
                  }}
                </span>
              </div>

              <a
                (click)="
                  cargarDetalle(ruta, encontrarProceso(ruta.idProceso).nombre)
                "
                href="javascript:void(0)"
              >
                <div class="status">
                  <h4
                    class="esconde-sobrante"
                    title="Orden terminada el {{
                      (ruta.salida ? ruta.salida : ruta.recepcion)
                        | fecha: 'LLLL'
                    }}"
                  >
                    <i class="fas fa-clock"></i>
                    <!-- Aqui comparamos contra la salida -->
                    {{
                      (ruta.entrada ? ruta.entrada : ruta.recepcion)
                        | fechaDiferencia: ruta.salida
                    }}

                    <br />

                    {{ ruta.salida | fecha: 'L' }}
                    <i class="fas fa-arrow-right"></i>
                  </h4>
                </div>
              </a>
            </li>

            <li *ngIf="ruta.ubicacionActual" class="li">
              <div class="timestamp">
                <span class="author esconde-sobrante"
                  >{{
                    encontrarProceso(ruta.idProceso)?.departamento | titlecase
                  }}
                  <hr />

                  {{ encontrarProceso(ruta.idProceso)?.nombre }}
                </span>
                <span
                  title="Orden recibida el {{
                    ruta.entrada
                      ? ruta.entrada
                      : (ruta.recepcion | fecha: 'LLLL')
                  }}"
                  class="date esconde-sobrante"
                >
                  <i class="fas fa-arrow-right"></i>
                  {{
                    (ruta?.entrada ? ruta?.entrada : ruta?.recepcion)
                      | fecha: 'L'
                  }}
                </span>
              </div>

              <a
                (click)="
                  cargarDetalle(ruta, encontrarProceso(ruta.idProceso).nombre)
                "
                href="javascript:void(0)"
              >
                <div class="status working">
                  <h4
                    class="esconde-sobrante"
                    title="En proceso {{
                      ordenConsultada.fechaFolio | tiempoTranscurridoInformal
                    }}
                  "
                  >
                    <i class="fas fa-clock"></i>

                    {{
                      ordenConsultada.fechaFolio | tiempoTranscurridoInformal
                    }}

                    <br />

                    <app-tiempo-transcurrido
                      [inicio]="ordenConsultada.fechaFolio"
                    ></app-tiempo-transcurrido>
                    <i class="fas fa-arrow-right"></i>
                  </h4>
                </div>
              </a>
            </li>

            <li
              [id]="'pendiente' + i"
              *ngIf="ruta.consecutivo > ignorarHasta"
              class="li"
            >
              <div class="timestamp">
                <span class="author esconde-sobrante">
                  {{
                    encontrarProceso(ruta.idProceso)?.departamento | titlecase
                  }}
                  <hr />

                  {{ encontrarProceso(ruta.idProceso)?.nombre }}
                </span>
                <span title="Sin procesar en este departamento" class="date">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </div>

              <a
                (click)="
                  cargarDetalle(ruta, encontrarProceso(ruta.idProceso).nombre)
                "
                href="javascript:void(0)"
              >
                <div class="status">
                  <h4 class="esconde-sobrante">
                    <i class="fas fa-time"></i>

                    <br />

                    <i class="fas fa-arrow-right animated"></i>
                  </h4>
                </div>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row fadeIn animated" *ngIf="rutaSeg">
  <div class="col-12">
    <div class="row bg-light-gray">
      <div class="col-12 col-sm-6">
        <h3>
          <span class="font-weight-bolder">Departamento:</span>
          {{ encontrarDepartamento(rutaSeg?.departamento)?.nombre }}
        </h3>
      </div>
      <div class="col-12 col-sm-6">
        <h3>
          <span class="font-weight-bolder">Proceso:</span>
          {{ procesoSeleccionado }}
        </h3>
      </div>
      <div class="col-12 col-sm-6">
        <h5>
          <span class="font-weight-bolder">Estatus:</span>
          <ng-container *ngIf="rutaSeg.recibida">
            Recibida
            <i class="fas fa-check text-success"></i>
          </ng-container>

          <span *ngIf="!rutaSeg.recibida && rutaSeg.ubicacionActual">
            Por recibir:
            <i class="fas fa-exclamation tada animated infinite"></i>
          </span>
        </h5>
      </div>
      <div class="col-12 col-sm-6">
        <h5>
          <span class="font-weight-bolder">Hora de recepcion:</span>
          {{
            (rutaSeg.entrada ? rutaSeg.entrada : rutaSeg.recepcion)
              | fecha: 'LLL'
          }}
        </h5>
      </div>
      <div class="col-12 col-sm-6">
        <h5>
          <span class="font-weight-bolder">Hora de salida:</span>
          {{ rutaSeg.salida | fecha: 'LLL' }}
        </h5>
      </div>
      <div class="col-12 col-sm-6">
        <h5>
          <span class="font-weight-bolder">Tiempo de proceso:</span>
          {{
            (rutaSeg.entrada ? rutaSeg.entrada : rutaSeg.recepcion)
              | fechaDiferencia: rutaSeg.salida:false
          }}
        </h5>
      </div>
      <div class="col-12 col-sm-6">
        <h5>
          <span class="font-weight-bolder">Piezas solicitadas:</span>
          {{ ordenConsultada.piezasTeoricas | number: '0.0' }}
        </h5>
      </div>

      <!-- 
        =====================================
         Detalle trabajado
        =====================================
        -->

      <div class="col-12 mt-5">
        <div class="card shadow">
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th
                    class="font-weight-bold"
                    *ngFor="
                      let th of esteDepartamento(rutaSeg.idDepartamento)
                        .inputsFormulario
                    "
                  >
                    {{ th.label }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    *ngFor="
                      let th of esteDepartamento(rutaSeg.idDepartamento)
                        .inputsFormulario
                    "
                  >
                    <ng-container [ngSwitch]="th.type">
                      <ng-container *ngSwitchCase="'number'">
                        {{ obtenerDatos(rutaSeg, th.key) | number }}
                      </ng-container>

                      <ng-container *ngSwitchCase="'text'">
                        {{ obtenerDatos(rutaSeg, th.key) }}
                      </ng-container>
                      <ng-container *ngSwitchDefault></ng-container>
                    </ng-container>

                    {{ th.suffix }}
                  </td>
                </tr>
              </tbody>
            </table>

            Operacion realizada por:
            <span class="font-weight-bold">
              {{ obtenerUsuario(rutaSeg?.datos?.user) }}
            </span>
          </div>
        </div>
      </div>
      <!-- 
        =====================================
         END Detalle trabajado
        =====================================
        -->
    </div>
  </div>
</div>
