<!-- 
=====================================
 Lista de pedidos en producción.
=====================================
-->
<div *ngIf="!folioLinea" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <span>
                        <h1 > Folio <strong>{{folio?.numeroDeFolio}}</strong>  del cliente <strong>{{cliente?.nombre}}</strong> </h1>
                        <h6 class="card-subtitle">Pedidos que estan actualmente en el folio. </h6>

                    </span>
                    <span>
                        <button (click)="agregarPedido()" class="btn btn-outline-success"><i class="fa fa-plus"></i> Agregar pedido a este folio.</button>
                    </span>
                </div>
                asdfasdfasdfasdf
                <h1 class="display-1" *ngIf="0 >= folio?.folioLineas.length">Este folio <strong> no tiene</strong> pedidos.</h1>

                <div class="table-resp;onsive" *ngIf="folio?.folioLineas.length >0">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th>Modelo</th>
                                <th>Cantidad</th>
                                <th>Prioridad</th>
                                <th>Laser del cliente</th>
                                <th class="align-middle text-center">Surtir de almacen</th>
                                <th>Observaciones</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let linea of folio?.folioLineas" [ngClass]="{'animated zoomOut': linea.eliminar}">
                                <td class="align-middle">
                                    {{linea.modeloCompleto | modeloCompleto}}
                                </td>

                                <td class="align-middle">{{linea.cantidad | number:'1.0-0'}}</td>

                                <td class="align-middle">
                                    <app-nivel-urgencia [nivel]="linea.nivelDeUrgencia"></app-nivel-urgencia>
                                </td>

                                <td class="align-middle">{{linea?.laserCliente?.laser}}</td>
                                <td class="text-center align-middle text-success"> <i *ngIf="linea?.almacen" class="fa fa-check fa-2x"></i></td>
                                <td> {{linea.observaciones}}</td>
                                <td><button (click)="modificar(linea)" class="btn btn-dark"><i class="fa fa-edit"></i></button></td>
                                <td><button (click)="eliminarLinea( linea )" class="btn btn-danger"><i class="fa fa-times"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 
        =====================================
         END de Lista de pedidos en producción.
        =====================================
        -->

<!-- 
=====================================
Registro de lineas
=====================================
-->

<div class="row" *ngIf="!folioLinea">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="card bg-light-inverse">
                    <div class="card-header bg-info">
                        <h4 class="m-b-0 ">
                            <a (click)="mostrandoInfoFolio = !mostrandoInfoFolio" class="text-white" data-toggle="collapse" href="#collapse-info">
                                <i *ngIf="!mostrandoInfoFolio" class="fa fa-plus"></i>
                                <i *ngIf="mostrandoInfoFolio" class="fa fa-minus"></i> Detalle de folio
                            </a>
                        </h4>

                    </div>
                    <div class="card-body collapse show" id="collapse-info">
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <h3 class="box-title">Cliente</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Nombre:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{cliente?.nombre}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Código administración:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{cliente?.sae}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>


                                <!--/row-->
                                <h3 class="box-title">Folio</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Numero de folio:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{folio?.numeroDeFolio}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Fecha de creación:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{folio?.fechaFolio | fecha}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Fecha de entrega:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{folio?.fechaEntrega | fecha }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Vendedor:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{folio?.vendedor.nombre}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Observaciones:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> {{folio?.observaciones}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="folioLinea">
    <div class="col-12">
        <div class="card">
            <div class="card-body" [ngClass]="{'animated pulse': modificandoLinea}">
                <h1 class="d-flex justify-content-between align-items-center animated fadeInDown">
                    <span *ngIf="!modificandoLinea">Nuevo pedido </span>
                    <span *ngIf="modificandoLinea">Modificar pedido. </span>
                    <span>

                         Folio <strong>{{folio.numeroDeFolio}}</strong> Cliente <strong>{{cliente?.nombre}}</strong>
                    </span>
                </h1>


                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar()" class=" m-t-40">

                    <div class="row ">
                        <div class="col-4">

                            <app-buscador-rapido [input]="true"></app-buscador-rapido>
                        </div>
                        <div class="col-8">
                            <app-buscador-rapido [lista]="true"></app-buscador-rapido>
                        </div>
                    </div>

                    <ng-container *ngIf="folioLinea.modeloCompleto">

                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="form-group">

                                    <input [(ngModel)]="folioLinea.cantidad" name="cantidad" class="form-control" placeholder="Cantidad de pedido" type="text" mask="separator">
                                    <span class="help-block text-muted">
                                        <small>Cantidad.</small>
                                    </span>

                                </div>

                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="form-check " *ngFor="let nivel of nivelDeUrgencia">
                                    <input [(ngModel)]="folioLinea.nivelDeUrgencia" name="nivelDeUrgencia" [value]="nivel.nivel" [class]="'form-check-input ' + nivel.class" type="radio" [id]="'exampleRadios1'+nivel.nivel">
                                    <label class="form-check-label" [for]="'exampleRadios1'+nivel.nivel">
                                        {{nivel.nivel}}
                                    </label>
                                </div>


                                <span class="help-block text-muted">
                                    <small>Prioridad</small>
                                </span>

                            </div>
                            <div class="col-12 col-lg-6">

                                <div class="form-check">
                                    <input name="almacen" class="form-check-input" type="checkbox" id="laserado" [(ngModel)]="laserarPedido" [checked]="laserarPedido">
                                    <label class="form-check-label" for="laserado">
                                        Laserado 
                                    </label>
                                </div>
                                <div class="form-group">
                                    <select [disabled]="!laserarPedido" [ngModel]="laserSeleccionado" (ngModelChange)="seleccionarLaserado( $event );" name="folioLinea.laserCliente" class="form-control">
                                        <option value="" disabled selected>Seleccionar marca laser</option>
                                        <option [ngValue]="laser._id"  *ngFor='let laser of cliente?.laserados'   >{{laser.laser}}</option>
                                    </select>
                                    <span class="help-block text-muted">
                                        <small  >Laser cliente. </small>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <a (click)="nuevaMarcaLaser()" class="btn btn-outline-dark">
                                        <i class="fa fa-plus"> </i> Añadir nuevo marca laser al cliente
                                    </a>
                                </div>

                                <div class="form-check">
                                    <input (click)="soloParaProductoTerminado()" [(ngModel)]="folioLinea.almacen" [checked]="folioLinea.almacen" name="folioLinea.almacen" class="form-check-input" type="checkbox" id="surtirAlmacen">
                                    <label class="form-check-label" for="surtirAlmacen">
                                              Surtir desde almacen. 
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row m t-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea [(ngModel)]="folioLinea.observaciones" name="folioLinea.observaciones" class="form-control" type="text-box" id="observaciones"></textarea>
                                    <span class="help-block text-muted">
                                                                    <small>Observaciones.</small>
                                                                </span>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h3>Procesos agregados</h3>
                                <hr>
                                <app-organizador-drag-and-drop [listaOrdenable]='true'></app-organizador-drag-and-drop>
                            </div>

                            <div class="col-6">
                                <h3>Procesos disponibles</h3>
                                <hr>
                                <app-paginador></app-paginador>
                                <app-organizador-drag-and-drop [listaDeElementos]='true'></app-organizador-drag-and-drop>
                                <app-paginador></app-paginador>
                            </div>

                        </div>

                        <ng-container *ngIf="folioLinea.cantidad > 0">
                            <h3>Colores para teñido <a (click)="agregarColorTenido()" *ngIf="1>folioLinea.coloresTenidos.length" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a></h3>
                            <ng-container *ngIf="folioLinea.coloresTenidos.length > 0">

                                <div *ngFor="let item of folioLinea.coloresTenidos; let i =index; trackBy:trackByFn" class="col-lg-12 mb-1">
                                    <div class="input-group ">
                                        <input [name]="'color'+i" [(ngModel)]="folioLinea.coloresTenidos[i].color" type="text" class="form-control" placeholder="Color de teñido">
                                        <input (input)="calcularSumaTenido()" [name]="'cantidad'+i" [(ngModel)]="folioLinea.coloresTenidos[i].cantidad" type="text" mask="separator" class="form-control" placeholder="Cantidad">
                                        <span class="input-group-btn">
                                            <button (click)="eliminarColorTenido(i)" class="btn btn-outline-danger" type="button"><i class="fa fa-times"></i></button>
                                            <button *ngIf="(i+1) === folioLinea.coloresTenidos.length " (click)="agregarColorTenido()" class="btn btn-outline-success" type="button"><i class="fa fa-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                            <div *ngIf="sumaTenidoSuperaCantidad" class="alert alert-danger mt-2" role="alert">
                                <i class="fa fa-exclamation-circle infinite animated fadeIn"></i> La cantidad a teñir supera la cantidad del pedido.
                            </div>

                        </ng-container>



                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"> </i> 
                                <span *ngIf="modificandoLinea"> Guardar modificaciones</span>
                                <span *ngIf="!modificandoLinea"> Guardar</span>
                            </button>
                            <a *ngIf="!modificandoLinea" class="btn btn-danger ml-2 text-white" (click)="cancelarModificacion()"><i class="fa fa-times"></i> Cancelar</a>
                            <button *ngIf="modificandoLinea" (click)="cancelarModificacion()" class="btn btn-danger ml-2">
                                <i class="fa fa-times"> </i> 
                                <span > Cancelar</span>
                            </button>
                        </div>
                    </ng-container>

                </form>
            </div>
        </div>
    </div>
</div>