w<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <h1
              [ngClass]="{
                'text-dark animated fadeIn': modoRecibir,
                'text-secondary': !modoRecibir
              }"
              class="d-flex justify-content-between"
            >
              <b>{{ tituloDelDepartamento }}</b>
            </h1>
          </div>
          <div class="col-12 col-md-6 text-md-right">
            <h1
              [ngClass]="{
                'text-dark': modoRecibir,
                'text-secondary': !modoRecibir
              }"
            >
              <span *ngIf="modoRecibir">Recibir material</span>
              <span *ngIf="!modoRecibir">Registrar material</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!mostrandoFormulario" class="row animated fadeIn">
  <div class="col-12">
    <div class="card shadow" [ngClass]="{ 'bg-dark': modoRecibir }">
      <div class="card-body text-center">
        <div class="row">
          <zxing-scanner
            class="col-12 col-md-6"
            (camerasNotFound)="camerasNotFoundHandler($event)"
            (scanSuccess)="scanSuccessHandler($event)"
            (scanError)="scanErrorHandler($event)"
          ></zxing-scanner>

          <div class="col-12 col-md-6 text-center">
            <h1 [ngClass]="{ 'text-white': modoRecibir }">
              Estas listo para
              <b>
                <span *ngIf="!modoRecibir"> registrar </span>
                <span *ngIf="modoRecibir"> recibir </span>
              </b>

              una orden.
            </h1>

            <p [ngClass]="{ 'text-white': modoRecibir }">
              Si lo que quieres es

              <span *ngIf="modoRecibir"> registrar </span>
              <span *ngIf="!modoRecibir"> recibir </span>

              , pulsa el boton:
            </p>

            <a
              (click)="modoRecibir = !modoRecibir"
              class="btn"
              [ngClass]="{
                'btn-info': !modoRecibir,
                'btn-success': modoRecibir
              }"
              href="javascript:void(0)"
              role="button"
            >
              <span *ngIf="modoRecibir">
                <i class="fas fa-save"></i> Registrar ordenes
              </span>
              <span *ngIf="!modoRecibir">
                <i class="fas fa-check"></i> Recibir ordenes</span
              >
            </a>

            <h1 class="display-1 mt-5 mb-5" *ngIf="keys(cargando).length > 0">
              <i
                [ngClass]="{ 'text-white': modoRecibir }"
                class="fas fa-sync fa-spin-fast"
              ></i>
            </h1>

            <br />
            <br />
            <br />
            <a
              *ngIf="modoRecibir && estaEstacion?.recibirTodo"
              (click)="recibirTodo()"
              class="btn btn-outline-info"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-check-double"></i> Recibir todo
            </a>
            <a
              *ngIf="!modoRecibir && estaEstacion?.registrarTodo"
              (click)="registrarTodo()"
              class="btn btn-outline-dark"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-reply-all"></i>

              Registrar todo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrandoFormulario" class="row animated fadeIn">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <app-dynamic-form
          [modoCreador]="false"
          [datos]="datos"
          [cancelarCB]="cancelarCB"
          (guardar)="submit($event)"
        >
        </app-dynamic-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <app-ordenes-por-departamento-en-procesos
          [idDepartamento]="idDepartamento"
          [actualizar]="actualizarLista"
        ></app-ordenes-por-departamento-en-procesos>
      </div>
    </div>
  </div>
</div>
