<div class="row">
  <div class="col-12">
    <h2>
      Bono para <b>{{ empleado?.nombreCompleto() }}</b>
    </h2>
    <hr />
  </div>

  <form [formGroup]="formulario" class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for=""></label>
          <select
            #select
            (change)="tipo($event.target.value)"
            class="form-control"
            name=""
            id=""
          >
            <option selected disabled>Selecciona un tipo de bono</option>

            <option value="porAsistencia">Asistencia</option>
            <option value="porPuntualidad">Puntualidad</option>
            <option value="porProductividad">Productividad</option>
            <option value="porResultados">Resultados</option>
            <option value="ayudaEscolarEventual">Ayuda escolar eventual</option>
            <option value="otros">otros</option>
          </select>
          <small id="helpId" class="form-text text-muted">Tipo de bono</small>
          <app-validacion-inputs [campo]="formulario"></app-validacion-inputs>
        </div>
      </div>

      <!-- 
      =====================================
       porAsistencia
      =====================================
      -->
      <div *ngIf="porAsistencia" class="col-12 col-sm-6">
        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid': vs.invalid(f('porAsistencia')),
              'is-valid': vs.valid(f('porAsistencia'))
            }"
            type="number"
            class="form-control"
            formControlName="porAsistencia"
          />
          <small id="helpId" class="form-text text-muted"
            >Bono por asistencia</small
          >
          <app-validacion-inputs
            [campo]="f('porAsistencia')"
          ></app-validacion-inputs>
        </div>
      </div>
      <!-- 
      =====================================
       END porAsistencia
      =====================================
      -->

      <!-- 
      =====================================
       porPuntualidad
      =====================================
      -->
      <div *ngIf="porPuntualidad" class="col-12 col-sm-6">
        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid': vs.invalid(f('porPuntualidad')),
              'is-valid': vs.valid(f('porPuntualidad'))
            }"
            type="number"
            class="form-control"
            formControlName="porPuntualidad"
          />
          <small id="helpId" class="form-text text-muted"
            >Por puntualidad</small
          >
          <app-validacion-inputs
            [campo]="f('porPuntualidad')"
          ></app-validacion-inputs>
        </div>
      </div>
      <!-- 
      =====================================
       END porPuntualidad
      =====================================
      -->

      <!-- 
      =====================================
       porProductividad
      =====================================
      -->
      <div *ngIf="porProductividad" class="col-12 col-sm-6">
        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid': vs.invalid(f('porProductividad')),
              'is-valid': vs.valid(f('porProductividad'))
            }"
            type="number"
            class="form-control"
            formControlName="porProductividad"
          />
          <small id="helpId" class="form-text text-muted"
            >Por puntualidad</small
          >
          <app-validacion-inputs
            [campo]="f('porProductividad')"
          ></app-validacion-inputs>
        </div>
      </div>
      <!-- 
      =====================================
       END porProductividad
      =====================================
      -->

      <!-- 
      =====================================
       porResultados
      =====================================
      -->
      <div *ngIf="porResultados" class="col-12 col-sm-6">
        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid': vs.invalid(f('porResultados')),
              'is-valid': vs.valid(f('porResultados'))
            }"
            type="number"
            class="form-control"
            formControlName="porResultados"
          />
          <small id="helpId" class="form-text text-muted">Por resultados</small>
          <app-validacion-inputs
            [campo]="f('porResultados')"
          ></app-validacion-inputs>
        </div>
      </div>
      <!-- 
      =====================================
       END porResultados
      =====================================
      -->

      <!-- 
      =====================================
       ayudaEscolarEventual
      =====================================
      -->
      <div *ngIf="ayudaEscolarEventual" class="col-12 col-sm-6">
        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid': vs.invalid(f('ayudaEscolarEventual')),
              'is-valid': vs.valid(f('ayudaEscolarEventual'))
            }"
            type="number"
            class="form-control"
            formControlName="ayudaEscolarEventual"
          />
          <small id="helpId" class="form-text text-muted"
            >Ayuda escolar eventual</small
          >
          <app-validacion-inputs
            [campo]="f('ayudaEscolarEventual')"
          ></app-validacion-inputs>
        </div>
      </div>
      <!-- 
      =====================================
       END ayudaEscolarEventual
      =====================================
      -->

      <ng-container *ngIf="otros" formGroupName="otros">
        <!-- 
        =====================================
         otros.cantidad
        =====================================
        -->
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('otros.cantidad')),
                'is-valid': vs.valid(f('otros.cantidad'))
              }"
              type="number"
              class="form-control"
              formControlName="cantidad"
            />
            <small id="helpId" class="form-text text-muted">Cantidad</small>
            <app-validacion-inputs
              [campo]="f('otros.cantidad')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
        =====================================
         END otros.cantidad
        =====================================
        -->

        <!-- 
        =====================================
         otros.motivo
        =====================================
        -->
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <input
              [ngClass]="{
                'is-invalid': vs.invalid(f('otros.motivo')),
                'is-valid': vs.valid(f('otros.motivo'))
              }"
              type="text"
              class="form-control"
              formControlName="motivo"
            />
            <small id="helpId" class="form-text text-muted">Motivo</small>
            <app-validacion-inputs
              [campo]="f('otros.motivo')"
            ></app-validacion-inputs>
          </div>
        </div>
        <!-- 
        =====================================
         END otros.motivo
        =====================================
        -->
      </ng-container>

      <div class="col-12">
        <hr />
      </div>

      <div class="col-12">
        <button
          (click)="submit($event, formulario.invalid, formulario.value)"
          data-toggle="modal"
          [attr.data-target]="'#' + idModal"
          
          class="text-white btn btn-success mr-3 active"
          role="button"
        >
          <i class="fas fa-save    "></i> Guardar
        </button>
        <a
          data-toggle="modal"
          [attr.data-target]="'#' + idModal"
          (click)="cancelar()"
          class="text-white btn btn-danger active"
          role="button"
        >
          <i class="fas fa-times    "></i> Cancelar</a
        >
      </div>
    </div>
  </form>
</div>
