<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class=" card-body d-flex justify-content-between align-items-center">
        <h1 class="">Revision de <strong>folios</strong> a produccion</h1>

        <a (click)="this.cargarFolios()" class="btn btn-secondary btn-sm ">
          <i *ngIf="keys(cargando).length > 0" class="fas fa-sync fa-spin"></i>
          Actualizar</a
        >
      </div>
    </div>
  </div>
</div>



<div
  *ngIf="folios.length === 0 && keys(cargando).length === 0"
  class="row animated fadeIn"
>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="display-1 ">
          No hay <strong>folios</strong> pendientes de revision
        </h1>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="folios.length > 0 && keys(cargando).length === 0"
  class="row animated fadeIn faster"
>
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th title="Numero consecutivo del folio">
                <i class="fas fa-question-circle    "></i> FOL
              </th>
              <th title="El cliente al que se le surtira el folio">
                <i class="fas fa-question-circle    "></i> CLIENTE
              </th>
              <th title="El vendedor que genera el folio">
                <i class="fas fa-question-circle    "></i> VENDEDOR
              </th>
              <th
                title="Fecha de entrega a produccion. Es la fecha en la que el vendedor termina de hacer cambios al folio y lo entrega a produccion."
              >
                <i class="fas fa-question-circle    "></i> FEP
              </th>
              <th title=""><i class="fas fa-question-circle    "></i> TPZ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fol of folios">
              <td>
                <a
                  (click)="retornarAVendedor(fol.idFolio)"
                  title="Retornar control al vendedor. Esto elimina la fecha de entrega a produccion y hace que el vendedor pueda modificar el folio de nuevo"
                  type="button"
                  class="btn btn-warning btn-sm"
                >
                  <i class="fas fa-arrow-circle-left "></i>
                </a>
              </td>
              <td>
                <a
                  data-toggle="modal"
                  data-target="#detalleFolio"
                  (click)="cargarDetalle(fol.idFolio)"
                  href="javascrip:void(0)"
                >
                  {{ fol.folio }}
                </a>
              </td>
              <td>{{ fol.cliente }}</td>
              <td>{{ fol.vendedor }}</td>
              <td
                [title]="
                  fol.fechaDeEntregaAProduccion | fecha: 'LLLL' | titlecase
                "
              >
                {{ fol.fechaDeEntregaAProduccion | date: 'dd/MM/yyyy' }}
              </td>
              <td class="text-right">{{ fol.totalDePiezas | number }}</td>
              <td>
                <button
                  title="Generar las ordenes de este folio"
                  type="button"
                  class="btn btn-primary btn-sm"
                  [routerLink]="['/folios/revision/' + fol.idFolio]"
                >
                  <i class="fas fa-file-contract     "></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="keys(cargando).length > 0" class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center">
        <h1 class="display-1">
          <i class="fas fa-sync  fa-spin-fast  "></i>
        </h1>

        <h2 *ngFor="let key of keys(cargando)">{{ cargando[key] }}</h2>
      </div>
    </div>
  </div>
</div>

<!-- 
=====================================
 MODAL FOLIO DETALLE
=====================================
-->

<app-folios-detalle-abstracto
  [folio]="folioParaDetalle"
></app-folios-detalle-abstracto>

<!-- 
=====================================
 END MODAL FOLIO DETALLE
=====================================
-->
