<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title"> Folios en <strong>producción</strong> </h1>
                <h6 class="card-subtitle">Folios que estan actualmente en producción. Para consultar los folios terminados ve al <strong><a [routerLink]="['/folios/historial']"> historial</a>.</strong> </h6>
                <app-pre-loader></app-pre-loader>
                <app-paginador></app-paginador>
                <hr>
                <div class='d-flex justify-content-between align-items-center '>


                    <div class="d-flex justify-content-between align-items-center">
                        <span class="mr-3">

                            <app-buscador-rapido [input]='true'> </app-buscador-rapido>
                        </span>
                        <span>

                            <app-buscador-rapido [lista]='true'> </app-buscador-rapido>
                        </span>

                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="d-flex align-items-center">Pulsa alguna de las etiquetas para filtrar.</h6>

                        <button (click)="filtrar('')" *ngIf="filtrando" class="btn btn-outline-inverse btn-sm mr-2"><i class="fa fa-times"></i> Borrar filtro </button>
                        <ng-container *ngFor="let f of filtros">
                            <span class="mr-2 pointer" (click)="filtrar(f)">
                                <app-nivel-urgencia [nivel]="f" [atenuar]=' filtrando && f!==filtro' ></app-nivel-urgencia>
                            </span>
                        </ng-container>
                    </div>

                </div>
                <hr>
                <ng-container *ngIf="folios.length ===0">
                    <h1 class="display-1">
                        <strong>No hay</strong> folios pendientes
                        <span *ngIf="filtrando"> para
                            <app-nivel-urgencia [nivel]='filtro' ></app-nivel-urgencia> 
                        </span>.
                    </h1>

                </ng-container>
                <div class="fadeIn animated slow" *ngIf="folios.length !==0">
                    <table class="table fit">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    <h5><strong>Folio</strong></h5>
                                </th>
                                <th>
                                    <h5><strong>Cliente</strong></h5>
                                </th>
                                <!-- <th>Fecha Folio</th> -->
                                <th>
                                    <h5><strong>Fecha de Entrega</strong></h5>
                                </th>
                                <th>
                                    <h5><strong>Importancia</strong></h5>
                                </th>
                                <!-- <th>Vendedor</th> -->
                                <th>
                                    <h5><strong>Observaciones</strong></h5>
                                </th>
                                <th>
                                    <h5><strong>% Progreso </strong></h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let fol of folios">
                                <tr [ngClass]="{'animated zoomOut': fol.eliminar}">
                                    <td class=" align-middle fit">
                                        <h6><strong>
                                            <a data-toggle="collapse" (click)="fol.mostrandoInfo= !fol.mostrandoInfo" [href]="'#'+fol._id" class="btn btn-link text-inverse bt-lg">
                                                <i class="fa" [ngClass]="{ 'fa-angle-right': !fol.mostrandoInfo,
                                                    'fa-angle-down': fol.mostrandoInfo }"></i>
                                            </a>
                                        </strong></h6>
                                    </td>
                                    <td class="aling-middle fit">
                                        <button class="btn " [routerLink]="['/ordenes/imprecion/', fol._id]" [ngClass]="{ 
                                            'btn-outline-warning': !fol.impreso,
                                            'btn-warning': fol.impreso
                                        }">
                                            <i class="fa fa-print"></i>
                                        </button>
                                    </td>
                                    <td class="align-middle align-content-center fit ">
                                        <h6><strong>{{fol.numeroDeFolio}}</strong></h6>
                                    </td>
                                    <td class="align-middle align-content-center fit">{{fol.cliente.nombre}}</td>
                                    <!-- <td class="align-middle align-content-center w-auto"><span class="text-muted"><i class="fa fa-clock-o"></i> {{fol.fechaFolio | fecha}}</span> </td> -->
                                    <td class="align-middle align-content-center fit"><span class="text-muted"><i class="fa fa-clock-o"></i> {{fol.fechaEntrega | fecha: ' DD/MM/YY ' }}</span> </td>
                                    <td class="align-middle text-center  align-content-center fit">
                                        <span class="mr-2 pointer" (click)="filtrar(fol.nivelDeUrgencia)">
                                            <app-nivel-urgencia [nivel]="fol.nivelDeUrgencia"></app-nivel-urgencia>
                                        </span>
                                    </td>
                                    <!-- <td class="align-middle  align-content-center w-auto">{{fol.vendedor.nombre}}</td> -->
                                    <td class="align-middle   align-content-center fit">{{fol.observaciones}}</td>
                                    <td>
                                        <app-progress-bar [nivel]='fol.nivelDeUrgencia' [porcentaje]='fol.porcentajeAvance'></app-progress-bar>
                                    </td>
                                </tr>
                                <tr class="collapse" [id]="fol._id">
                                    <td colspan="8">
                                        <div class="card mb-3">
                                            <div class="card-header bg-dark">
                                                <h4 class="m-b-0 text-white">Detalles del Folio {{fol.numeroDeFolio}}</h4>
                                            </div>
                                            <div class="card-body bg-light-inverse">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-body">
                                                        <hr class="m-t-0 m-b-40">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="control-label text-right col-md-3">Nombre:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{fol.cliente.nombre}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="control-label text-right col-md-3">Vendedor:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{fol.vendedor.nombre}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="control-label text-right col-md-3">Fecha de folio:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{fol.fechaFolio | fecha }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="control-label text-right col-md-3">Fecha de entrega:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static"> {{fol.fechaEntrega | fecha }} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="control-label text-right col-md-3">Nivel de urgencia:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static">
                                                                            <app-nivel-urgencia [nivel]="fol.nivelDeUrgencia"></app-nivel-urgencia>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="control-label text-right col-md-3">Observaciones:</label>
                                                                    <div class="col-md-9">
                                                                        <p class="form-control-static">
                                                                            {{fol.observaciones}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="control-label text-right col-md-3">Progreso del folio:</label>
                                                                    <div class="col-md-9">
                                                                        <app-progress-bar [nivel]='fol.nivelDeUrgencia' [porcentaje]='fol.porcentajeAvance'></app-progress-bar>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-12" id="Usage">
                                            <div class="card ">
                                                <div class="card-body ">

                                                    <h4 class="card-title "> Pedidos del folio </h4>
                                                    <h6 class="card-subtitle ">Pedidos que estan actualmente en el folio. </h6>
                                                    <app-pre-loader></app-pre-loader>
                                                    <div class="table-responsive ">
                                                        <table class="table table-hover table-borderless ">
                                                            <thead>
                                                                <tr>
                                                                    <th> </th>
                                                                    <th>Modelo</th>
                                                                    <th>Cantidad</th>
                                                                    <th>Prioridad</th>
                                                                    <th>Laser del cliente</th>
                                                                    <th>%</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngFor="let linea of fol.folioLineas">
                                                                    <tr>
                                                                        <ng-container *ngIf="!linea.terminado">

                                                                            <td class="fit ">
                                                                                <a data-toggle="collapse" (click)="linea.mostrandoInfo= !linea.mostrandoInfo" [href]="'#'+linea._id" class="btn btn-outline-inverse btn-xs">
                                                                                    <i class="fa" [ngClass]="{ 'fa-plus': !linea.mostrandoInfo,
                                                                                                'fa-minus': linea.mostrandoInfo }"></i>
                                                                                </a>
                                                                            </td>
                                                                            <td class="align-middle fit ">
                                                                                {{linea.modeloCompleto | modeloCompleto}}
                                                                            </td>

                                                                            <td class="align-middle fit ">{{linea.cantidad | number}}</td>

                                                                            <td class="align-middle fit ">
                                                                                <app-nivel-urgencia [nivel]="linea.nivelDeUrgencia "></app-nivel-urgencia>
                                                                            </td>

                                                                            <td class="align-middle fit ">{{linea.laserCliente?.laser}}</td>
                                                                            <td class="align-middle ">
                                                                                <app-progress-bar [nivel]='linea.nivelDeUrgencia' [porcentaje]='linea.porcentajeAvance'></app-progress-bar>
                                                                            </td>
                                                                        </ng-container>
                                                                        <ng-container *ngIf="linea.terminado">
                                                                            <td> {{linea.modeloCompleto | modeloCompleto}}</td>
                                                                            <td colspan="5"> Pedido terminado.</td>
                                                                        </ng-container>
                                                                    </tr>
                                                                    <!-- <tr [id]="linea._id" class="collapse show"> -->
                                                                    <tr [id]="linea._id" class="collapse">
                                                                        <td colspan="6">
                                                                            <div class="col-12 ">
                                                                                <div class="card ">
                                                                                    <div class="card-body ">
                                                                                        <h4 class="card-title "> Ordenes del folio </h4>
                                                                                        <h6 class="card-subtitle ">Ordenes en producción. </h6>
                                                                                        <div class="table-responsive ">
                                                                                            <table class="table table-hover table-borderless ">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th>#</th>
                                                                                                        <th>Departamento actual </th>
                                                                                                        <th>Siguiente departameto </th>
                                                                                                        <th>Prioridad</th>
                                                                                                        <th>Pz</th>
                                                                                                        <th>UNI</th>
                                                                                                        <th>Observaciones</th>
                                                                                                        <th>%</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr [ngClass]="{'bg-inverse': orden.terminada}" *ngFor="let orden of linea.ordenes ">
                                                                                                        <td class="fit ">{{orden.numeroDeOrden}}</td>
                                                                                                        <ng-container *ngIf="!orden.terminada">
                                                                                                            <td class="fit ">{{orden.ubicacionActual.departamento.nombre}}</td>
                                                                                                            <td class="fit " *ngIf="orden.siguienteDepartamento">{{orden?.siguienteDepartamento?.departamento?.nombre }}</td>

                                                                                                        </ng-container>
                                                                                                        <ng-container *ngIf="orden.terminada">
                                                                                                            <td class="fit ">TERMINADA</td>
                                                                                                            <td class="fit "></td>
                                                                                                        </ng-container>

                                                                                                        <td class="fit ">
                                                                                                            <app-nivel-urgencia [nivel]="orden.nivelDeUrgencia "></app-nivel-urgencia>
                                                                                                        </td>
                                                                                                        <td class="fit text-right">{{orden.piezasTeoricas | number}}</td>
                                                                                                        <td class="fit text-center">{{orden.unidad | number}}</td>
                                                                                                        <td>{{orden.observaciones}}</td>
                                                                                                        <td>
                                                                                                            <app-progress-bar [nivel]="orden.nivelDeUrgencia " [porcentaje]='orden.porcentajeAvance'></app-progress-bar>

                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </ng-container>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <app-paginador></app-paginador>
            </div>
        </div>
    </div>
</div>