<ng-container *ngIf="keys(cargando).length === 0; else cargandoTemplate">
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="justify-content-between d-flex aling-items-center">
            <h1 *ngIf="cliente?._id">{{ cliente.nombre }}</h1>
            <h1>
              <span class="text-success" *ngIf="!cliente?._id">
                <i class="fas fa-plus-square    "></i> Crear
                <b>cliente</b> </span
              ><span class="text-warning" *ngIf="cliente?._id">
                <i class="fas fa-pen-square"></i> Modificar <b>cliente</b>
              </span>
            </h1>
          </div>

          <hr />
          <form [formGroup]="formulario">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('sae')),
                      'is-valid': vs.valid(f('sae'))
                    }"
                    formControlName="sae"
                    type="text"
                    class="form-control"
                    aria-describedby="helpId"
                  />
                  <small id="helpId" class="form-text text-muted">sae</small>
                  <app-validacion-inputs
                    [campo]="f('sae')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input
                    formControlName="nombre"
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('nombre')),
                      'is-valid': vs.valid(f('nombre'))
                    }"
                    type="text"
                    class="form-control"
                    aria-describedby="helpId"
                  />
                  <small id="helpId" class="form-text text-muted">Nombre</small>
                  <app-validacion-inputs
                    [campo]="f('nombre')"
                  ></app-validacion-inputs>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <h3>Asignar marcas laser</h3>
                <div class="form-group">
                  <input #inputLaser type="text" class="form-control" />

                  <a
                    (click)="
                      crearNuevaMarcaLaser(inputLaser.value);
                      inputLaser.value = ''
                    "
                    href="javascript:void(0)"
                    class="btn btn-success btn-sm mt-3 "
                    ><i class="fas fa-check"> </i> Agregar</a
                  >
                </div>
              </div>

              <div class="col-6">
                <h3>Marcas laser asignadas</h3>
                <ul class="list-group">
                  <li
                    class="list-group-item"
                    *ngFor="
                      let laser of fa('laserados').controls;
                      let i = index
                    "
                  >
                    <ng-container formArrayName="laserados">
                      <ng-container [formGroupName]="i">

                        
                        <span class="pull-left">{{
                          fa('laserados')?.at(i).value
                        }}</span>
                        <span class="pull-right"
                          ><a
                            (click)="eliminarMarcaLaser(i)"
                            class="btn btn-xs btn-danger text-white"
                            ><i class="fas fa-times"></i></a
                        ></span>
                      </ng-container>
                    </ng-container>
                  </li>
                  <li
                    *ngIf="fa('laserados').controls.length === 0"
                    class="list-group-item list-group-item-dark text-white"
                  >
                    <span class="pull-left"
                      ><i class="fas fa-exclamation-circle"></i> No hay marcas
                      registradas</span
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <app-validacion-inputs
                  [campo]="formulario"
                ></app-validacion-inputs>

                <br />
                <br />

                <button
                  (click)="submit(formulario.value, formulario.invalid, $event)"
                  class="text-white btn btn-success mr-3 active"
                  role="button"
                  [disabled]="keys(cargando).length > 0"
                >
                  <i class="fas fa-save    "></i> Guardar
                </button>
                <a
                  (click)="location.back()"
                  class="text-white btn btn-danger active"
                  role="button"
                >
                  <i class="fas fa-times    "></i> Cancelar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div
          class="card-body d-flex justify-content-between align-items-center text-center"
        >
          <h1 class="display-1">
            <i class="fas fa-sync fa-spin   "></i>
            <h2 *ngFor="let dato of cargando | keyvalue">{{ dato.value }}</h2>
          </h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
