<ng-container *ngIf="!editando">
  <div
    class="row animated  faster"
    [ngClass]="{ fadeOutUp: animando, fadeInDown: !animando }"
  >
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h1 class=""><strong>Clientes</strong> existentes</h1>

            <div class="d-flex  align-items-center ">
              <input
                #inputBusqueda
                (keyup)="buscarCliente(inputBusqueda.value)"
                type="text"
                class="form-control mr-3"
                name="busquedaDecliente"
                id="busquedaDecliente"
                aria-describedby="busquedadeclientehelp"
                placeholder="Buscar un cliente"
              />
            </div>
            <button
              (click)="crearCliente()"
              type="button"
              class="btn btn-outline-primary"
            >
              <i class="fa fa-plus"></i> Crear nuevo
            </button>
          </div>
          <hr />

          <app-paginador></app-paginador>

          <table class="table table-hover table-borderless">
            <thead class="">
              <tr>
                <th class="fit"></th>

                <th
                  class="fit"
                  title="El codigo que referencia el id con el sistema ASPEL SAE"
                >
                  sae
                </th>
                <th title="El nombre del cliente">Nombre</th>
                <th title="Los laserados autorizados para este cliente">
                  Laserados
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td class="fit">
                  <a
                    (click)="clienteDetalle = cliente"
                    class="btn  text-white btn-primary btn-xs mr-1"
                    role="button"
                    data-toggle="modal"
                    data-target="#clienteDetalle"
                  >
                    <i class="fas fa-eye    "></i>
                  </a>
                  <a
                    (click)="modificarCliente(cliente)"
                    class="btn  text-white btn-success btn-xs mr-1"
                    role="button"
                  >
                    <i class="fas fa-edit    "></i>
                  </a>
                  <a
                    (click)="eliminarCliente(cliente)"
                    class="btn  text-white btn-danger btn-xs mr-1"
                    role="button"
                  >
                    <i class="fas fa-times    "></i>
                  </a>
                </td>
                <td>{{ cliente.sae }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>
                  <ng-container
                    *ngFor="let laser of cliente.laserados; let i = index"
                  >
                    {{ laser.laser }}
                    <span *ngIf="cliente.laserados.length - 1! !== i">,</span>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
          <app-paginador></app-paginador>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-clientes-crear-modificar
  (esteComponente)="cargarComponente($event)"
  (guardado)="animar = true"
  (cancelado)="animar = true"
>
</app-clientes-crear-modificar>


<!-- Modal -->
<div
  class="modal fade"
  id="clienteDetalle"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-clientes-detalle [cliente]="clienteDetalle"></app-clientes-detalle>
      </div>
    </div>
  </div>
</div>
