
<ng-container *ngIf="cliente">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Detalle de <strong>Cliente</strong></h3>
    <h1><strong>{{cliente.nombre}}</strong> | {{cliente.sae}}</h1>
  
  </div>
  
  <hr>

  <ng-container *ngIf="cliente.laserados.length === 0">
    Este cliente no tiene marcas laser asignadas.
  </ng-container>
  
  <ng-container *ngIf="cliente.laserados.length !== 0">

    <h3>Marcas laser del cliente</h3>
    <ul class="list-group">
      <li *ngFor="let laser of cliente.laserados" class="list-group-item">{{laser.laser}}</li>
    </ul>
  </ng-container>
  

</ng-container>


<h1 *ngIf="!cliente">No has seleccionado un cliente</h1>









