<div class="row">
  <div class="col-12">
    <div class="card p-0 m-0">
      <div class="card-body p-1 m-1 b-b">
        <a
          (click)="sinDistracciones()"
          class="btn btn-outline-primary btn-sm"
          href="javascript:void(0)"
          role="button"
        >
          <span *ngIf="!utilidadesService.fullScreen.ocultarMarcoDeApp"
            ><i class="fas fa-expand"></i
          ></span>
          <span *ngIf="utilidadesService.fullScreen.ocultarMarcoDeApp"
            ><i class="fas fa-compress"></i>
          </span>
        </a>

        <span class="ml-2"
          >Cajero: <b>{{ nombreDeUsuario }}</b></span
        >

        <span class="float-right">{{ hora | fecha: 'LLLL' }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1 h-100 pl-3">
  <div class="col-12 h-100">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 text-center">
        <div class="form-group">
          <input
            id="input-scanner"
            #inputScanner
            type="text"
            class="form-control mw-100"
            aria-describedby="helpId"
            placeholder="Escanea o ingresa un codigo"
            (keyup.enter)="buscarCodigo(inputScanner.value)"
            (keyup.space)="buscarCodigo(inputScanner.value)"
            (keyup.arrowright)="modoEdicion(0, 0, true)"
            (focus)="usuarioOcupado = false"
            [disabled]="cargando"
            autocomplete="ÑÖcompletes"
          />
        </div>

        <small class="text-muted">Total:</small>
        <h1 id="total" class="text-center font-weight-bold">
          $ {{ obtenerTotal() | number: '0.2' }}
        </h1>

        <small class="text-muted">Su pago:</small>
        <ng-container *ngIf="obtenerTotal() > 0">
          <div class="form-group">
            <input
              #inputEfectivo
              [formControl]="inputEfectivoFC"
              id="efectivo"
              type="text"
              class="form-control"
              placeholder="Efectivo"
              (focus)="this.usuarioOcupado = true"
              (keyup.enter)="cobrar(inputEfectivoFC.value)"
              mask="separator.2"
              thousandSeparator=","
              autocomplete="chrome-off"
            />
          </div>

          <small *ngIf="cambio >= 0" class="text-muted">Cambio:</small>

          <h1 id="cambio" class="text-center">
            $ {{ cambio | number: '0.2' }}
          </h1>
          <ng-container *ngIf="0 > cambio">
            <small class="text-muted">
              <i class="fas fa-exclamation-circle text-warning"></i>
              Pendiente por pagar
            </small>
          </ng-container>

          <hr />

          <a
            title="Volver a imprimir ticket"
            class="btn btn-warning"
            href="javascript:void(0)"
            role="button"
            ><i class="fas fa-print"></i
          ></a>
        </ng-container>
      </div>
      <div class="col-12 col-md-8 col-lg-8 contenedor-tabla">
        <table class="table table-hover table-striped table-sm">
          <thead>
            <tr>
              <th>Cant</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let linea of nota; let i = index">
              <td
                (click)="modoEdicion(0, i)"
                id="table-cantidad"
                class="aling-middle"
              >
                <ng-template #texto0>
                  {{ linea.cantidad }}
                </ng-template>
                <input
                  *ngIf="
                    matris.x + '_' + matris.y === '0_' + i && editando;
                    else texto0
                  "
                  #inputCantidad
                  [id]="'xy' + '0' + i"
                  (keyup.arrowright)="modoEdicion(matris.x + 1, matris.y)"
                  (keyup.arrowleft)="modoEdicion(matris.x - 1, matris.y)"
                  (keyup.arrowup)="modoEdicion(matris.x, matris.y - 1)"
                  (keyup.arrowdown)="modoEdicion(matris.x, matris.y + 1)"
                  (keyup.escape)="salirModoEdicion()"
                  (keyup.delete)="eliminarLinea(0, i)"
                  [(ngModel)]="linea.cantidad"
                  type="text"
                  (keypress)="soloNumeros(inputCantidad, $event)"
                  (keyup.enter)="salirModoEdicion()"
                  (blur)="salirModoEdicion()"
                />
              </td>
              <td class="aling-middle">
                {{ linea.sku?.nombreCompleto }}
              </td>
              <td
                (click)="modoEdicion(1, i)"
                id="table-precio"
                class="justify-content-between"
              >
                <ng-template #texto1>
                  ${{ linea.precio | number: '0.2' }}
                </ng-template>
                <input
                  *ngIf="
                    matris.x + '_' + matris.y === '1_' + i && editando;
                    else texto1
                  "
                  #inputPrecio
                  [id]="'xy' + '1' + i"
                  (keyup.arrowright)="modoEdicion(matris.x + 1, matris.y)"
                  (keyup.arrowleft)="modoEdicion(matris.x - 1, matris.y)"
                  (keyup.arrowup)="modoEdicion(matris.x, matris.y - 1)"
                  (keyup.arrowdown)="modoEdicion(matris.x, matris.y + 1)"
                  (keyup.escape)="salirModoEdicion()"
                  (keyup.delete)="eliminarLinea(1, i)"
                  [(ngModel)]="linea.precio"
                  type="text"
                  (keypress)="soloNumeros(inputPrecio, $event)"
                  (keyup.enter)="salirModoEdicion()"
                  (blur)="salirModoEdicion()"
                />
              </td>
              <td class="justify-content-between">
                ${{ linea.precio * linea.cantidad | number: '0.2' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
