.contenedor-tabla {
  overflow-x: scroll;
  height: 100vh;
  padding-bottom: 5vh;
}

th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#input-scanner {
  text-align: center;
  font-weight: bold;
}

#total{
  color: rgb(206, 0, 0);
}

#efectivo {
  font-size: 26pt;
  text-align: center;
  color: rgb(11, 0, 163);
  font-weight: bold;
  
}
