.contenedor-tabla {
  overflow-x: scroll;
  height: 100vh;
  padding-bottom: 5vh;
}

th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#input-scanner {
  text-align: center;
  font-weight: bold;
}

#total {
  color: rgb(33, 44, 192);
}

#efectivo {
  font-size: 26pt;
  text-align: center;
  color: rgb(40, 39, 46);
  font-weight: bold;
}

#cambio {
  color: rgb(148, 0, 0);
  font-weight: bold;
}

td > input {
  font-weight: bold;
  border: none;
  width: 100%;
}

#table-cantidad{
  max-width: 30px;
}
#table-precio{
  max-width: 40px;
}
