<ng-container *ngIf="_s.generarComponente">
    <h1>
        Agregar proceso:</h1>
    <h3>Agregados</h3>
    <div class="list-group">
        <a class="bg-success text-white list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
            <strong> Define la ruta especial para este modelo.</strong>
        </a>
        <ng-container *ngFor="let proc of _s.modeloCompleto.familiaDeProcesos.procesos, let i = index;">

            <a class="w-100 bg-info text-white list-group-item list-group-item-action flex-column align-items-center  animated fadeIn">
                <div class="d-flex w-100 justify-content-between">
                    <span>
                    {{proc.orden}}-<strong> {{proc.proceso.nombre}}</strong> 
                </span>
                    <small> <strong>{{proc.proceso.departamento.nombre}}</strong></small>

                </div>
            </a>

            <div dnd-sortable-container [sortableData]="_s?.arreglosDrop[proc._id]?.arreglo" dnd-draggable [dragEnabled]="true" dnd-droppable [dropZones]="['']">
                <ng-container *ngFor="let proc2 of _s.arreglosDrop[proc._id].arreglo; let i_a = index;">

                    <a *ngIf="!proc2.dragEnable" class=" bg-light-info text-inverse list-group-item  flex-column align-items-center animated fadeIn">
                        <div class="d-flex w-100 justify-content-between">
                            <span>
                                {{proc2.orden}}<strong> {{proc2.proceso.nombre}}</strong>
                            </span>

                            <small> <strong>{{proc2.proceso.departamento.nombre}}</strong></small>

                        </div>
                    </a>

                    <a *ngIf="proc2.dragEnable" dnd-sortable (onDropSuccess)="_s.reordenarProcesos(  )" [sortableIndex]="i_a" dnd-draggable [dragEnabled]="true" [dropZones]="['']" class=" text-inverse list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                        <div class="d-flex w-100 justify-content-between">
                            <span>
                            <i class="fa fa-bars"></i> {{proc2.orden}}<strong> {{proc2.proceso.nombre}}</strong>
                        </span>
                            <span class="text-right">
                            <small> <strong>{{proc2.proceso.departamento.nombre}}</strong></small> 
                            <a (click)="_s.eliminarProceso(_s.arreglosDrop[proc._id].arreglo, i_a)" class="text-white btn btn-danger btn-sm ml-3"><i class="fa fa-times"></i></a>

                        </span>
                        </div>
                    </a>

                </ng-container>
                <a *ngIf="!(_s.arreglosDrop[proc?._id]?.arreglo?.length>0)" class="list-group-item bg-light-extra text-muted flex-column align-items-center animated fadeIn">
                    <small>Arrastra un proceso para agregarlo.</small>
                </a>
            </div>
        </ng-container>


    </div>


    <h3>Disponibles</h3>
    <hr>
    <h5>Normales</h5>
    <div class="list-group">
        <ng-container *ngFor="let proceso of _s.procesosNormales, let i = index;">
            <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <span>
                              <strong class="text-inverse"> {{proceso.nombre}} </strong>
                          </span>
                    <a (click)="_s.agregarProceso( proceso )" class="btn text-white btn-success btn-sm"><i class="fa fa-plus"></i></a>
                </div>
            </a>
        </ng-container>
    </div>
    <br>
    <h5>Especiales</h5>
    <div class="list-group">
        <ng-container *ngFor="let proceso of _s.procesosEspeciales, let i = index;">
            <a class="list-group-item list-group-item-action flex-column align-items-center animated fadeIn">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <span>
                              <strong class="text-inverse"> {{proceso.nombre}} </strong>
                          </span>
                    <a (click)="_s.agregarProceso( proceso )" class="btn text-white btn-success btn-sm"><i class="fa fa-plus"></i></a>
                </div>
            </a>
        </ng-container>
    </div>

</ng-container>