<div class="modal fade" [id]="idModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- 
        =====================================
         curso
        =====================================
        -->
        <app-empleado-evento-agregar-curso
          *ngIf="eventoSeleccionado === 0"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-evento-agregar-curso>
        <!-- 
        =====================================
         END curso
        =====================================
        -->

        <!-- 
        =====================================
        vacaciones
        =====================================
        -->

        <app-empleado-agregar-vacaciones
          *ngIf="eventoSeleccionado === 1"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-vacaciones>

        <!-- 
        =====================================
        END vacaciones
        =====================================
        -->
        <!-- 
        =====================================
        cambio-de-sueldo
        =====================================
        -->

        <app-empleado-agregar-cambios-de-sueldo
          *ngIf="eventoSeleccionado === 2"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-cambios-de-sueldo>

        <!-- 
        =====================================
        END cambio-de-sueldo
        =====================================
        -->

        <!-- 
        =====================================
         puesto
        =====================================
        -->
        <app-empleado-agregar-puesto
          *ngIf="eventoSeleccionado === 3"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-puesto>
        <!-- 
        =====================================
         END puesto
        =====================================
        -->
        <!-- 
        =====================================
         felicitacion-por-escrito
        =====================================
        -->
        <app-empleado-agregar-felicitacion-por-escrito
          *ngIf="eventoSeleccionado === 4"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-felicitacion-por-escrito>
        <!-- 
        =====================================
         END felicitacion-por-escrito
        =====================================
        -->
        <!-- 
        =====================================
         amonestacion-por-escrito
        =====================================
        -->
        <app-empleado-agregar-amonestacion-por-escrito
          *ngIf="eventoSeleccionado === 5"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-amonestacion-por-escrito>
        <!-- 
        =====================================
         END amonestacion-por-escrito
        =====================================
        -->
        <!-- 
        =====================================
         castigo
        =====================================
        -->
        <app-empleado-agregar-castigo
          *ngIf="eventoSeleccionado === 6"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-castigo>
        <!-- 
        =====================================
         END castigo
        =====================================
        -->
        <!-- 
        =====================================
         permiso
        =====================================
        -->
        <app-empleado-agregar-permiso
          *ngIf="eventoSeleccionado === 7"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-permiso>
        <!-- 
        =====================================
         END permiso
        =====================================
        -->

        <!-- 
        =====================================
         bono
        =====================================
        -->
        <app-empleado-agregar-bono
          *ngIf="eventoSeleccionado === 8"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-bono>
        <!-- 
        =====================================
         END bono
        =====================================
        -->
        <!-- 
        =====================================
         estatus-laboral
        =====================================
        -->
        <app-empleado-agregar-estatus-laboral
          *ngIf="eventoSeleccionado === 9"
          [empleado]="empleado"
          [idModal]="idModal"
          (guardado)="guardar()"
        >
        </app-empleado-agregar-estatus-laboral>
        <!-- 
        =====================================
         END estatus-laboral
        =====================================
        -->
      </div>
    </div>
  </div>
</div>
