<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row d-flex justify-content-between align-items-baseline">
                    <div class="col-auto">
                        <div class="h1">Pedidos pendientes por trabajar en Laser </div>
                    </div>

                    <div *ngIf="reporteLaser" class="col-auto text-right">
                        <h5>Total de piezas disponibles: <strong>{{reporteLaser.totalDePiezasDisponibles | number}}</strong></h5>
                        <h5>Total de piezas por surtir: <strong>{{reporteLaser.totalDePiezasPorSurtir | number}}</strong></h5>
                        <h5>Total de piezas pendientes de departamentos: <strong>{{reporteLaser.totalDePiezasConDepartamentosPendientes | number}}</strong></h5>
                        Ultima Actualizacion: <strong>{{ultimaActualizacion | date: 'hh:mm:ss' }}</strong>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered table-hover ">
                            <thead class='bg-dark text-white fit text-center '>
                                <tr>

                                    <th>CLIENTE</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="La fecha en que se creo el folio." class="fas fa-question-circle   "></i>F.PED</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="El numero de pedido." class="fas fa-question-circle   "></i>PED</th>
                                    <th> MOD</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="Define si el modelo es de baston." class="fas fa-question-circle   "></i>B</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="La marca laser que llevara el boton." class="fas fa-question-circle   "></i>M.L.</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="El nivel de urgencia del pedido. " class="fas fa-question-circle   "></i>PRIORIDAD</th>
                                    <th> OBSERVACIONES</th>
                                    <th> <i data-toggle="tooltip" data-placement="top" title="La cantidad de boton pendiente para terminar el pedido." class="fas fa-question-circle   "></i>Piezas</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="mostrarReporte">
                                <tr *ngFor="let keyPedido of keys(reporteLaser.pedidos)">
                                    <td class='fit text-center'>{{ reporteLaser.pedidos[keyPedido].cliente.nombre }}</td>
                                    <td class='fit text-center'>{{ reporteLaser.pedidos[keyPedido].fechaPedido | fecha}}</td>
                                    <td class='fit text-center'>{{ keyPedido }}</td>
                                    <td class='fit text-center'>{{ reporteLaser.pedidos[keyPedido].modeloCompleto | modeloCompleto}}</td>
                                    <td class='fit text-center'><span *ngIf=" reporteLaser.pedidos[keyPedido].esBaston"><strong>B</strong></span></td>
                                    <td class='fit text-center'>
                                        <ng-container *ngIf=" reporteLaser.pedidos[keyPedido].laserCliente">
                                            {{ reporteLaser.pedidos[keyPedido].laserCliente.laser}}
                                        </ng-container>

                                    </td>
                                    <td class='fit text-center'>
                                        <app-nivel-urgencia [nivel]=' reporteLaser.pedidos[keyPedido].prioridad'></app-nivel-urgencia>
                                    </td>
                                    <td class='fit text-center'>{{ reporteLaser.pedidos[keyPedido].observaciones}}</td>
                                    <td class='fit text-center'>
                                        {{ reporteLaser.pedidos[keyPedido].totalDePiezasDelPedido | number }}
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>