<div class="table-responsive">
  <table
    id="myTable2"
    class="table table-bordered tabla-delgada table-hover fixed_header "
  >
    <thead class=" font-weight-bold text-center">
      <tr>
        <td title="Nombre" (click)="sort('nombre')">Nombre</td>
        <td title="Presentacion del producto" (click)="sort('presentacion')">
          Presentacion
        </td>
        <td title="Stock minimo" (click)="sort('stockMinimo')">Min</td>
        <td title="Stock maximo" (click)="sort('stockMaximo')">Max</td>
        <td title="Existencia" (click)="sort('existencia')">Exi</td>
        <td title="Material en camino" (click)="sort('enCamino')">EnC</td>
        <td>7</td>
        <td>30</td>
        <td>365</td>

        <td class="no-print"></td>
      </tr>
    </thead>
    <tbody class="">
      <ng-container *ngFor="let reporte of articulos; let i = index">
        <tr>
          <td
            class="text-center align-items-center text-wrap"
            title="Nombre {{ reporte.nombre }}"
          >
            {{ reporte.nombre }}
          </td>
          <td
            class="text-center align-items-center"
            title="Presentacion {{ reporte.presentacion }}"
          >
            {{ reporte.presentacion }}
          </td>
          <td
            class="text-center align-items-center fit"
            title="Stock minimo {{ reporte.stockMinimo }}"
          >
            {{ reporte.stockMinimo | number: '0.0-3' }}
          </td>
          <td
            class="text-center align-items-center fit"
            title="Stock maximo {{ reporte.stockMaximo }}"
          >
            {{ reporte.stockMaximo | number: '0.0-3' }}
          </td>
          <td
            class="text-center align-items-center fit"
            title="Existencia {{ reporte.existencia }}"
          >
            {{ reporte.existencia | number: '0.0-3' }}
          </td>
          <td
            class="text-center align-items-center fit"
            title="Material requisado en camino: {{
              sumaEnTransito(reporte.enTransito)
            }}"
          >
            {{ sumaEnTransito(reporte.enTransito) }}
          </td>
          <td
            class="text-center align-items-center fit"
            title="Salidas de los ultimos 7 dias: {{
              sumSalida(reporte._7) | number: '0.0-3'
            }}"
          >
            <a
              data-toggle="modal"
              data-target="#detalleDeSalidas"
              (click)="detSal(reporte._7, 7, reporte)"
              href="javascript:void(0)"
            >
              {{ sumSalida(reporte._7) | number: '0.0-3' }}
            </a>
          </td>
          <td
            class="text-center align-items-center fit"
            title="Salidas de los ultimos 30 dias: {{
              sumSalida(reporte._30) | number: '0.0-3'
            }}"
          >
            <a
              data-toggle="modal"
              data-target="#detalleDeSalidas"
              (click)="detSal(reporte._30, 30, reporte)"
              href="javascript:void(0)"
            >
              {{ sumSalida(reporte._30) | number: '0.0-3' }}
            </a>
          </td>
          <td
            class="text-center align-items-center fit"
            title="Salidas de los ultimos 365 dias: {{
              sumSalida(reporte._365) | number: '0.0-3'
            }}"
          >
            <a
              data-toggle="modal"
              data-target="#detalleDeSalidas"
              (click)="detSal(reporte._365, 365, reporte)"
              href="javascript:void(0)"
            >
              {{ sumSalida(reporte._365) | number: '0.0-3' }}
            </a>
          </td>
          <td class="text-nowrap">
            <a
              *ngIf="reporte.enTransito.length > 0"
              class="no-print"
              href="javascript:voit(0)"
              data-toggle="collapse"
              [attr.data-target]="'#a' + i"
            >
              <i class="fas fa-eye    "></i>

              En transito
            </a>
          </td>
        </tr>

        <tr [id]="'a' + i" class=" collapse">
          <td colspan="20">
            <div class="row">
              <div class="col-12 bg-white">
                <table class="table  shadow">
                  <thead>
                    <tr>
                      <th>
                        <a
                          class="no-print btn btn-secondary btn-sm"
                          href="javascript:voit(0)"
                          data-toggle="collapse"
                          [attr.data-target]="'#a' + i"
                        >
                          <i class="fas fa-eye-slash    "></i>

                          Ocultar
                        </a>
                      </th>
                      <th>Folio</th>
                      <th>Cantidad</th>
                      <th>Entregado</th>
                      <th>Solicito</th>
                      <th>Desde</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let req of reporte.enTransito">
                      <td></td>
                      <td>{{ req.folio }}</td>
                      <td>{{ req.cantidad | number: '0.0-3' }}</td>
                      <td>
                        {{ req.cantidadEntregadaALaFecha | number: '0.0-3' }}
                      </td>
                      <td>{{ req.usuario }}</td>
                      <td>{{ req.createdAt | fecha: 'LLLL' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
