<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input id="file-upload" type="file" accept=".csv" (change)="fileUpload($event)">

                <br>
                <hr>


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">INDICADOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let empleado of empleados">

                            <tr>

                                <td>{{empleado.id}}</td>
                                <td>{{empleado.nombre}}</td>
                                <td class="row">
                                    <ng-container *ngFor="let dia of objectKeys(empleado.dias); let i = index">

                                        <div class="card col-4 ">
                                            <div class="card-header text-white" [ngClass]="{
                                                'bg-info': empleado.dias[dia].esSabado,
                                                'bg-inverse': !empleado.dias[dia].esSabado
                                            }">
                                                <div class="d-flex align-content-center justify-content-between">
                                                    <a (click)=" empleado.dias[dia].visible =  !empleado.dias[dia].visible" class="btn btn-inverse btn-small text-white" data-toggle="collapse" [href]="'#diaColapsible_'+empleado.id+i">
                                                        <i class="fa " [ngClass]="{'fa-minus':  empleado.dias[dia].visible , 'fa-plus':  !empleado.dias[dia].visible  }"></i> {{empleado.dias[dia].dia | date:'EEEE d/M/yy'}}
                                                    </a>

                                                    <span *ngIf="empleado.dias[dia].checadas.length === ( empleado.dias[dia].esSabado ? 4: 6)" class="mr-3 text-success">
                                                        <i  class="fa fa-check fa-2x"></i>
                                                    </span>
                                                    <span *ngIf="empleado.dias[dia].checadas.length !== ( empleado.dias[dia].esSabado ? 4: 6)" class="mr-3 text-danger">
                                                        <i  class="fa fa-times fa-2x"></i>
                                                    </span>

                                                </div>
                                            </div>
                                            <div [id]="'diaColapsible_'+empleado.id+i" class="collapse">
                                                <ul class="list-group list-group-flush w-100">
                                                    <li *ngFor="let checada of empleado.dias[dia].checadas" class="list-group-item bg-dark text-white ">{{checada}}</li>

                                                </ul>

                                            </div>
                                        </div>




                                    </ng-container>

                                </td>
                            </tr>

                        </ng-container>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>