

  <div class="input-group ">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i *ngIf="!buscando" class="fas fa-search"> 
          <span *ngIf="debug"> Lupa</span>  </i>
        <i *ngIf="buscando" class="fas fa-cog fa-spin  "> 
          <span *ngIf="debug"> Buscando</span>  </i>
      </span>
    </div>
    <input
      #esteInput
      (keyup)="buscar(esteInput.value)"
      type="text"
      class="form-control"
      placeholder="Buscar"
    />
  </div>


<pre *ngIf="debug">
  <b>DEBUG: </b>
  <span class="text-center" *ngFor="let x of ob.getOwnPropertyNames(this)"  > <b>{{x}}</b>: {{this[x]}} 
     </span>
  


</pre>
