@media print {
    @page {
      margin: 5mm;
  
      size: 66 279mm;
    }
  
    .orden {
      width: 100%;
      max-height: 70mm;
      min-height: 70mm;
      height: 70mm;
  
      position: relative;
  
      page-break-inside: avoid;
      -webkit-region-break-inside: avoid;
      margin-bottom: 4mm;
    }
  
    .orden-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .salto-de-pagina {
      position: relative;
      page-break-inside: avoid;
      page-break-after: always;
    }
  }
  