<ng-container *ngIf="reporte">
  <div class="d-flex aling-items-center justify-content-between">
    <h1>
      <b>{{ reporte.nombre }}</b>
    </h1>
    <h3>Detalle de <b>reporte</b></h3>
  </div>

  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3><b>Descripcion:</b></h3>
      <p>{{ reporte.descripcion }}</p>
    </div>

    <div class="col-12">
      <ul class="list-group shadow">
        <li class="list-group-item bg-dark text-white">
          Articulos de este reporte
        </li>
        <a
        title=" Ver detalle de {{articulo.nombre}}"
          (click)="detalleArticulo(articulo._id)"
          href="javascript:void(0)"
          *ngFor="let articulo of reporte.articulos"
          class="list-group-item"
          data-toggle="modal"
          data-target="#detalleArticuloModal"
        >
          {{ articulo.nombre }}
        </a>
      </ul>
    </div>
  </div>
</ng-container>

<div *ngIf="!reporte" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 class="display-1">No has seleccionado un <b>reporte</b></h1>
      </div>
    </div>
  </div>
</div>
