<div
  *ngIf="keys(cargando).length === 0; else cargandoTemplate"
  class="row animated fadeIn"
>
  <div class="col-12">
    <div class="card">
      <div class="card-body shadow">
        <div class="d-flex aling-items-center justify-content-between">
          <h1>{{ detalle.nombre }}</h1>
          <h3>Detalle<b> articulo</b></h3>
        </div>

        <hr />

        <div class="row">
          <div class="col-6">
            <h6><b>Codigo de localizacion: </b></h6>
            {{ detalle?.codigoLocalizacion }} <br />
            <h6><b>Codigo interno: </b></h6>
            {{ detalle?.codigoInterno }} <br />
            <h6><b>codigoProveedor: </b></h6>
            {{ detalle?.codigoProveedor }} <br />
            <h6><b>Almacen: </b></h6>
            {{ detalle.almacen.nombre }}
          </div>
          <div class="col-6">
            <h6 title="La forma en que se recibe para ser almacenado">
              <i class="fas fa-question-circle"></i>
              <b>
                Presentacion en que se almacena y/o compra:
              </b>
            </h6>
            {{ detalle.presentacion }} <br />
            <h6
              title="La unidad en la que almacen va a estar surtiendo este producto"
            >
              <i class="fas fa-question-circle"></i>

              <b>Unidades en las que se surte: </b>
            </h6>
            {{ detalle.unidad }} <br />
            <h6
              title="Factor de conversion de una unidad a kg. Este valor se utiliza para generar el inventario del almacen  en kg"
            >
              <i class="fas fa-question-circle"></i>
              <b> kg por unidad: </b>
            </h6>
            {{ detalle.kgPorUnidad | number }} <br />
            <h6><b>Descripcion: </b></h6>
            {{ detalle.descripcion }}
          </div>

          <div class="col-12">
            <h6><b>Observaciones: </b></h6>
            <p>{{ detalle.observaciones }}</p>
          </div>
        </div>

        <hr />

        <br />

        <h1 class="display-3">
          Existencia: <b>{{ detalle.existencia | number }}</b>
          <small class="text-muted"> ({{ detalle.unidad }})</small>
        </h1>
        <h4>
          Existencia en kg: <b>{{ existenciaEnKg(detalle) | number }}</b>
        </h4>
        Minimo {{ detalle.stockMinimo | number }}( {{ detalle.unidad }}) |
        Maximo {{ detalle.stockMaximo | number }} ({{ detalle.unidad }})

        <hr />
        <div class="row">
          <div class="col-6 table-responsive app-lista-scroll">
            <h3><b>Entradas</b></h3>

            <table class="table">
              <thead class="app-lista-scroll-encabezado">
                <tr [appOrdenadorDeColumnas]="detalle.entradas">
                  <th data-ordenar="fecha">Fecha</th>
                  <th data-ordenar="cantidad">Cantidad</th>
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let entrada of detalle.entradas; let i = index"
                >
                  <tr *ngIf="i % 10 === 0 && i > 0" class="repetir-encabezado">
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Observaciones</th>
                  </tr>
                  <tr>
                    <td title="{{ entrada.fecha | fecha: 'LLL' }}">
                      {{ entrada.fecha | date: 'dd/MM/yy' }}
                    </td>
                    <td>{{ entrada.cantidad | number }} {{detalle.unidad}}</td>
                    <td>{{ entrada.observaciones }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="col-6 table-responsive app-lista-scroll">
            <h3><b>Salidas</b></h3>

            <table class="table">
              <thead class="app-lista-scroll-encabezado">
                <tr [appOrdenadorDeColumnas]="detalle.salidas">
                  <th data-ordenar="fecha">Fecha</th>
                  <th data-ordenar="cantidad">Cantidad</th>
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let salida of detalle.salidas; let i = index"
                >
                  <tr *ngIf="i % 10 === 0 && i > 0" class="repetir-encabezado">
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Observaciones</th>
                  </tr>
                  <tr>
                    <td title="{{ salida.fecha | fecha: 'LLL' }}">
                      {{ salida.fecha | date: 'dd/MM/yy' }}
                    </td>
                    <td>{{ salida.cantidad | number }} {{detalle.unidad}}</td>
                    <td>{{ salida.observaciones }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="col-12">
            <a
              *ngIf="mostrarBtnRegresar"
              (click)="location.back()"
              class="btn btn-info"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-arrow-left"></i> Regresar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body d-flex text-center">
          <h1 class="display-1 w-100 text-center">
            <i class="fas fa-sync fa-spin-fast"></i>
            <h2 *ngFor="let dato of cargando | keyvalue">{{ dato.value }}</h2>
          </h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
