<span *ngIf=" s.totalDeElementos === 0" class="text-muted text-right w-100"><small><strong>No hay elementos para mostrar.</strong></small></span>
<span *ngIf=" s.porHoja[0] >s.totalDeElementos && s.totalDeElementos !== 0" class="text-muted text-right w-100"><small><strong>Mostrando todos los elementos existentes.</strong></small></span>
<nav *ngIf="s.totalDeElementos > s.porHoja[0] && s.totalDeElementos">
    <ul class="pagination pagination-sm justify-content-end align-items-center">
        <small class="mr-3"><strong>{{s.totalDeElementos}}</strong> elementos.</small>
        <li class="page-item pointer" [ngClass]="{'disabled': 0=== s.desde }">
            <a (click)="s.cambiarPagina( (-1 *s.limite))" class="page-link " aria-label="Previous ">
                <i class="fas fa-arrow-circle-left "></i>
            </a>
        </li>
        <li class="page-item disabled text-center" style="width: 100px;">
            <span class="page-link " aria-label="Next ">
                {{s.actual}} de {{s.total}}
            </span>
        </li>
        <li class="page-item pointer " [ngClass]="{'disabled': s.actual === s.total }">
            <a (click)="s.cambiarPagina(s.limite)" class="page-link " aria-label="Next ">
                <i class="fas fa-arrow-circle-right "></i>
            </a>
        </li>
        <li class="page-item disabled "><a class="page-link "><small>Elem/Pag</small></a></li>
        <li *ngFor="let lim of s.porHoja" class="page-item pointer" [ngClass]="{'active': lim === s.limite}"><a (click)="s.cambiarCantidad(lim)" class="page-link ">{{lim}}</a></li>
    </ul>
</nav>