<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <h3>Filtrar</h3>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a
              class="btn btn-outline-secondary btn-sm mr-1"
              href="javascript:void(0)"
              role="button"
              (click)="imprimirVarios()"
              [ngClass]="{ active: imprimiendoVarios }"
            >
              <i class="fas fa-print mr-1"></i>
              <i class="fas fa-check-double"></i>
              Imprimir varios</a
            >

            <a
              *ngIf="imprimiendoVarios"
              class="btn btn-warning btn-sm mr-1"
              href="javascript:void(0)"
              role="button"
              (click)="imprimirSeleccionados()"
            >
              <i class="fas fa-print mr-1"></i>

              Imprimir {{ listaPorImprimir.length }} pedido(s)</a
            >
            <a
              class="btn btn-outline-secondary btn-sm"
              href="javascript:void(0)"
              role="button"
              (click)="cargarPedidos()"
            >
              <i
                *ngIf="keys(cargando).length > 0"
                class="fas fa-sync fa-spin-fast"
              ></i>
              Actualizar</a
            >

            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#reporteTiemposDeProceso"
            >
              Reporte de tiempos de proceso
            </button>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <input
                #input
                (keyup)="filtrar(input.value)"
                type="text"
                class="form-control"
                placeholder="Filtrar pedidos"
              />
            </div>
          </div>
        </div>
        <hr class="thin" />
      </div>
    </div>
  </div>
</div>

<div
  class="row animated fadeIn"
  *ngIf="keys(cargando).length === 0; else cargandoTemplate"
>
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead>
            <tr [appOrdenadorDeColumnas]="pedidos">
              <th></th>
              <th data-ordenar="folio">PED</th>
              <th data-ordenar="cliente">CLI</th>
              <th data-ordenar="vendedor">VEN</th>
              <th data-ordenar="sku">MOD</th>
              <th data-ordenar="laserCliente">Laser</th>
              <th data-ordenar="fechaDeEntregaAProduccion">FEP</th>
              <th data-ordenar="cantidadSolicitadaPedido">TPZ</th>
              <th data-ordenar="porcentajeAvancePedido">%PRO</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let pedido of pedidos; let i = index">
              <tr
                *ngIf="i % 10 === 0 && i > 0 && mostrar.length >= 10"
                class="repetir-encabezado"
              >
                <td></td>
                <td>PED</td>
                <td>CLI</td>
                <td>VEN</td>
                <td>MOD</td>
                <td>Laser</td>
                <td>FEP</td>

                <td>TPZ</td>
                <td>%PRO</td>
              </tr>

              <tr
                [ngStyle]="{
                  display: this.mostrar.includes(pedido.pedido) ? '' : 'none'
                }"
              >
                <td class="text-nowrap">
                  <a
                    (click)="imprimirFolio(pedido.idFolio, pedido.idPedido)"
                    class="btn btn-xs mr-1"
                    href="javascript:void(0)"
                    role="button"
                    [ngClass]="{
                      'btn-warning': pedido.impreso,
                      'btn-outline-warning': !pedido.impreso
                    }"
                  >
                    <i class="fas fa-print"></i
                  ></a>

                  <div
                    *ngIf="imprimiendoVarios"
                    (click)="agregarPedido(pedido.idFolio, pedido)"
                    class="btn-group mr-1"
                  >
                    <label class="btn btn-xs btn-info">
                      <i
                        *ngIf="
                          existeRegistroImprimir(
                            pedido.idFolio,
                            pedido.idPedido
                          )
                        "
                        class="fas fa-check"
                      ></i>
                      <i
                        *ngIf="
                          !existeRegistroImprimir(
                            pedido.idFolio,
                            pedido.idPedido
                          )
                        "
                        class="fas fa-check text-info"
                      ></i>
                    </label>
                  </div>

                  <button
                    data-toggle="modal"
                    data-target="#detalleFolio"
                    (click)="detalleFolio(pedido.idFolio)"
                    class="btn btn-primary btn-xs"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                </td>
                <td class="text-nowrap">{{ pedido.pedido }}</td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.vendedor }}</td>
                <td>{{ pedido.sku }}</td>
                <td class="font-weight-bolder">
                  <b>{{ pedido.laserCliente }}</b>
                </td>
                <td
                  title="{{ pedido.fechaDeEntregaAProduccion | fecha: 'LLL' }}"
                >
                  {{ pedido.fechaDeEntregaAProduccion | date: 'dd/MM/yy' }}
                </td>
                <td>{{ pedido.cantidadSolicitadaPedido | number }}</td>

                <td style="font-size: 12px;">
                  <app-tiempo-transcurrido
                    [inicio]="pedido.fechaDeEntregaAProduccion"
                  >
                  </app-tiempo-transcurrido>

                  <app-progress-bar
                    [porcentaje]="pedido.porcentajeAvancePedido"
                  >
                  </app-progress-bar>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body text-center">
          <h1 class="display-1"><i class="fas fa-sync fa-spin-fast"></i></h1>

          <h2 *ngFor="let keyvalue of cargando | keyvalue">
            {{ keyvalue.value }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-folios-detalle-abstracto [folio]="folioDetalle">
</app-folios-detalle-abstracto>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="reporteTiemposDeProceso"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reporte de tiempos de proceso</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <input
              #limiteInferiorIn
              type="date"
              class="form-control"
              (change)="limiteInferior = limiteInferiorIn.value"
            />
            <small id="helpId" class="form-text text-muted"
              >Limite inferior</small
            >
          </div>
          <div class="form-group">
            <input
              #limiteSuperiorIn
              type="date"
              class="form-control"
              (change)="limiteSuperior = limiteSuperiorIn.value"
            />
            <small id="helpId" class="form-text text-muted"
              >Limite superior
            </small>
          </div>

          <button
            [disabled]="generandoReporteTiemposDeProceso"
            (click)="generarReporteTiemposDeProceso()"
            class="btn btn-primary"
          >
            <i class="fas fa-file-excel"></i>
            Generar
            <i
              *ngIf="generandoReporteTiemposDeProceso"
              class="fas fa-sync fa-spin-fast"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

>
