<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <h3>Filtrar</h3>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a
              class="btn btn-outline-secondary"
              href="javascript:void(0)"
              role="button"
              (click)="cargarPedidos()"
            >
              <i
                *ngIf="keys(cargando).length > 0"
                class="fas fa-sync fa-spin-fast"
              ></i>
              Actualizar</a
            >
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <input
                #input
                (keyup)="filtrar(input.value)"
                type="text"
                class="form-control"
                placeholder="Filtrar pedidos"
              />
            </div>
          </div>
        </div>
        <hr class="thin" />
      </div>
    </div>
  </div>
</div>

<div
  class="row animated fadeIn"
  *ngIf="keys(cargando).length === 0; else cargandoTemplate"
>
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead>
            <tr [appOrdenadorDeColumnas]="pedidos">
              <th></th>
              <th data-ordenar="folio">PED</th>
              <th data-ordenar="cliente">CLI</th>
              <th data-ordenar="vendedor">VEN</th>
              <th data-ordenar="sku">MOD</th>
              <th data-ordenar="laserCliente">Laser</th>
              <th data-ordenar="fechaDeEntregaAProduccion">FEP</th>
              <th data-ordenar="cantidadSolicitadaPedido">TPZ</th>
              <th data-ordenar="porcentajeAvancePedido">%PRO</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let pedido of pedidos; let i = index">
              <tr
                *ngIf="i % 10 === 0 && i > 0 && mostrar.length >= 10"
                class="repetir-encabezado"
              >
                <td></td>
                <td>PED</td>
                <td>CLI</td>
                <td>VEN</td>
                <td>MOD</td>
                <td>Laser</td>
                <td>FEP</td>

                <td>TPZ</td>
                <td>%PRO</td>
              </tr>

              
              <tr
                [ngStyle]="{
                  display: this.mostrar.includes(pedido.pedido) ? '' : 'none'
                }"
              >
                <td class="text-nowrap">
                  <a
                    class="btn btn-warning btn-xs mr-1"
                    href="javascript:void(0)"
                    role="button"
                    ><i class="fas fa-print"></i
                  ></a>
                  <button
                    data-toggle="modal"
                    data-target="#detalleFolio"
                    (click)="detalleFolio(pedido.idFolio)"
                    class="btn btn-primary btn-xs"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                </td>
                <td class="text-nowrap">{{ pedido.pedido }}</td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.vendedor }}</td>
                <td>{{ pedido.sku }}</td>
                <td>{{ pedido.laserCliente }}</td>
                <td
                  title="{{ pedido.fechaDeEntregaAProduccion | fecha: 'LLL' }}"
                >
                  {{ pedido.fechaDeEntregaAProduccion | date: 'dd/MM/yy' }}
                
                </td>
                <td>{{ pedido.cantidadSolicitadaPedido | number }}</td>

                <td style="font-size: 12px;">
                  <app-tiempo-transcurrido
                    [inicio]="pedido.fechaDeEntregaAProduccion"
                  >
                  </app-tiempo-transcurrido>
  
                  <app-progress-bar [porcentaje]="pedido.porcentajeAvancePedido">
                  </app-progress-bar>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body text-center">
          <h1 class="display-1"><i class="fas fa-sync fa-spin-fast"></i></h1>

          <h2 *ngFor="let keyvalue of cargando | keyvalue">
            {{ keyvalue.value }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-folios-detalle-abstracto [folio]="folioDetalle">
</app-folios-detalle-abstracto>
