<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <h3>Vendedor: {{ usuario?.nombre }}</h3>

            <a class="btn btn-primary" role="button" [routerLink]="['crear']">
              <i class="fas fa-plus-circle"></i> Crear
            </a>
          </div>
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <!-- <codice-buscador
              (termino)="termino = $event"
              (escucharCarga)="estaCargandoBuscador = $event"
            >
            </codice-buscador> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card shadow">
    <div *ngIf="pedidos?.length > 0" class="row">
      <div class="col-12">
        <div class="card shadow">
          <div class="card-body">
            <codice-buscador
              (termino)="terminoDeBusqueda = $event"
              (escucharCarga)="cargandoBuscador = $event"
              [encodeURIComponent]="false"
            >
            </codice-buscador>

            <span *ngIf="articulosQueNoSeMuestran > 0">
              Folios ocultos: {{ articulosQueNoSeMuestran }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pedido-global-card
    [pedidos]="pedidos"
    (detalle)="detalle($event)"
    (editar)="editar($event)"
    (eliminar)="eliminar($event)"
    (compartir)="compartir($event)"
    (subirNube)="subirNube($event)"

    [terminoDeBusqueda]="terminoDeBusqueda"
    (articulosQueNoSeMuestran)="articulosQueNoSeMuestran = $event"
  >
  </app-pedido-global-card>
</div>
