<ng-container *ngIf="keys(cargando).length === 0; else cargandoTemplate">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="justify-content-between d-flex aling-items-center w-100">
            <h1 *ngIf="usuario?._id">{{ usuario.nombre }}</h1>
            <h1>
              <span class="text-success" *ngIf="!usuario?._id">
                <i class="fas fa-plus-square"></i> Crear <b>usuario</b> </span
              ><span class="text-warning" *ngIf="usuario?._id">
                <i class="fas fa-pen-square"></i> Modificar <b>usuario</b>
              </span>
            </h1>
          </div>

          <hr />
          <form [formGroup]="formulario">
            <div class="row">
              <!-- 
              =====================================
               usuario
              =====================================
              -->

              <!-- 
              =====================================
               nombre
              =====================================
              -->
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('nombre')),
                      'is-valid': vs.valid(f('nombre'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="nombre"
                  />
                  <small id="helpId" class="form-text text-muted">nombre</small>
                  <app-validacion-inputs
                    [campo]="f('nombre')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END nombre
              =====================================
              -->

              <!-- 
              =====================================
               email
              =====================================
              -->
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('email')),
                      'is-valid': vs.valid(f('email'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="email"
                  />
                  <small id="helpId" class="form-text text-muted">Correo</small>
                  <app-validacion-inputs
                    [campo]="f('email')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END email
              =====================================
              -->

              <!-- 
              =====================================
               password
              =====================================
              -->
              <div class="ccol-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('password')),
                      'is-valid': vs.valid(f('password'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="password"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Contrasena</small
                  >
                  <app-validacion-inputs
                    [campo]="f('password')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
              =====================================
               END password
              =====================================
              -->

              <!-- 
            =====================================
             END usuario
            =====================================
            -->

              <!-- 
            =====================================
             empleado
            =====================================
            -->
              <div class="col-6">
                <div class="form-group">
                  <app-data-list
                    (ejecutarBusquedaDeItems)="
                      ejecutarOperacionesDeBusqueda($event)
                    "
                    (elementoSeleccionado)="seleccionado($event)"
                    [cargarModifcacion]="empleadoParaModificacion"
                    [valid]="vs.valid(f('empleado'))"
                    [invalid]="vs.invalid(f('empleado'))"
                    (touched)="f('empleado').markAsTouched()"
                  ></app-data-list>

                  <small id="helpId" class="form-text text-muted"
                    >Empleado relacionado a usuario</small
                  >
                  <app-validacion-inputs
                    [campo]="f('empleado')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
            =====================================
             END empleado
            =====================================
            --></div>

            <div class="row">
              <div class="col-12 text-right">
                <br />
                <br />

                <button
                  (click)="submit(formulario.value, formulario.invalid, $event)"
                  class="text-white btn btn-success mr-3 active"
                  role="button"
                  [disabled]="keys(cargando).length > 0"
                >
                  <i class="fas fa-save"></i> Guardar
                </button>
                <a
                  (click)="location.back()"
                  class="text-white btn btn-danger active"
                  role="button"
                >
                  <i class="fas fa-times"></i> Cancelar</a
                >
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <hr />
              </div>
            </div>

            <div class="row">
              <h1 class="display-3 col-auto">Permisos</h1>

              <div class="col-auto">
                <a
                  (click)="inputFiltrador.setValue('')"
                  name="limpiarBusqueda"
                  id="limpiarBusqueda"
                  class="btn btn-danger btn-sm"
                  href="javascript:void(0)"
                  role="button"
                  ><i class="fa fa-times-circle" aria-hidden="true"></i
                ></a>
              </div>
              <div class="form-group col-12 col-md-6 col-lg-3">
                <input
                  type="text"
                  class="form-control"
                  name="filtroPermisos"
                  id="filtroPermisos"
                  aria-describedby="Filtro para permisos"
                  [formControl]="inputFiltrador"
                />
                <small id="Filtro para permisos" class="form-text text-muted"
                  >Filtrar permisos</small
                >
              </div>
            </div>

            <div class="row">
              <div
                *ngFor="let par of permisosOrdenados | keyvalue"
                class="col-12 col-md-6"
              >
                <hr
                  class="mt-3 animated fadeIn"
                  *ngIf="par.value.concat('').includes(terminoBuscado)"
                />
                <h4
                  class="w-100 d-flex justify-content-between animated fadeIn"
                >
                  <span
                    [ngClass]="{
                      sutil: keys(permisos).length !== mostrarPermisos.length
                    }"
                    >{{ par.key }}</span
                  >
                  <a
                    [ngClass]="{
                      'btn-sm': keys(permisos).length !== mostrarPermisos.length
                    }"
                    (click)="agregarGrupo(par.value, par.key)"
                    class="btn btn-outline-primary btn-sm"
                    href="javascript:void(0)"
                    role="button"
                  >
                    <i class="fas fa-plus-circle"></i> Agregar todos</a
                  >
                </h4>

                <div
                  *ngFor="let per of par.value; let i = index"
                  class="form-check animated fadeIn"
                  [style.display]="mostrarPermisos.includes(per) ? '' : 'none'"
                >
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="{{ i + par.key }}"
                    [checked]="permisosExistentes?.includes(per)"
                    (change)="agregarQuitarPermiso(per, $event.target.checked)"
                  />
                  <label class="form-check-label" for="{{ i + par.key }}">
                    {{ per }}
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <br />
                <br />

                <button
                  (click)="submit(formulario.value, formulario.invalid, $event)"
                  class="text-white btn btn-success mr-3 active"
                  role="button"
                  [disabled]="keys(cargando).length > 0"
                >
                  <i class="fas fa-save"></i> Guardar
                </button>
                <a
                  (click)="location.back()"
                  class="text-white btn btn-danger active"
                  role="button"
                >
                  <i class="fas fa-times"></i> Cancelar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div
          class="card-body d-flex justify-content-between align-items-center text-center"
        >
          <h1 class="display-1">
            <i class="fas fa-sync fa-spin"></i>
            <h2 *ngFor="let dato of cargando | keyvalue">{{ dato.value }}</h2>
          </h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
