<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <a
              class="btn btn-primary"
              href="javascript:void(0)"
              role="button"
              routerLink="crear"
            >
              <i class="fas fa-plus-circle"></i> Crear
            </a>
          </div>
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <codice-buscador
              (termino)="termino = $event"
              (escucharCarga)="estaCargandoBuscador = $event"
            >
            </codice-buscador>
            <span
              *ngFor="let tag of etiquetasParaFiltrarse"
              [codice-tag]="tag"
              [codice-tag-click]="etiquetaEliminarDeFiltro(tag)"
              [codice-tag-click-icon-class]="[
                'fas',
                'fa-times-circle',
                'mr-1',
                'text-danger'
              ]"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!cargando; else cargaTemplate" class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body table-responsive">
        <div *ngFor="let contacto of contactos" class="row">
          <div class="col-12 col-md-4 mt-1">
            <a
              (click)="detalle(contacto)"
              class="btn btn-info mr-1"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-search"></i
            ></a>

            <a
              (click)="editar(contacto)"
              class="btn btn-primary mr-1"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-edit"></i
            ></a>

            <a
              (click)="eliminar(contacto)"
              class="btn btn-danger mr-1"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-times"></i
            ></a>

            <a
              (click)="abrirModalEtiqueta(contacto)"
              class="btn btn-outline-secondary mr-1"
              href="javascript:void(0)"
              role="button"
            >
              <i class="fas fa-tag"></i
            ></a>
          </div>

          <div class="col-12 col-md-4 mt-1">
            {{ contacto.razonSocial }}

            <br />
            <small class="text-muted font-10">Razón social </small>
          </div>
          <div class="col-12 col-md-4 mt-1">
            {{ contacto.nombre }}

            <br />
            <small class="text-muted font-10">Nombre</small>
          </div>
          <div class="col-12 col-md-4 mt-1">
            {{ contacto.esCliente ? 'Cliente ' : '' }}
            {{ contacto.esProveedor ? 'Proveedor ' : '' }}
            <br />
            <small class="text-muted font-10">Tipo contacto</small>
          </div>

          <div class="col-12 col-md-4 mt-1">
            {{ obtenerPrimerContacto(contacto)?.nombre }} <br />
            <small class="text-muted font-10">Enlace</small>
          </div>
          <div class="col-12 col-md-4 mt-1">
            {{ obtenerPrimerContacto(contacto)?.correo[0] }} <br />
            <small class="text-muted font-10">Correo enlace</small>
          </div>
          <div class="col-12 col-md-4 mt-1">
            <span
              *ngFor="let etiqueta of contacto.etiquetas; let i = index"
              [codice-tag]="etiqueta"
              [codice-tag-click]="filtrarPorEtiquetas(etiqueta)"
              [codice-tag-click-icon-class]="obtenerIconoDeEtiqueta(etiqueta)"
            >
            </span>
            <br />
            <small class="text-muted font-10">Etiquetas</small>
          </div>

          <div class="col-12"><hr /></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargaTemplate>
  <div class="row">
    <div class="col-12">
      <div style="width: 200px" class="text-center">
        <codice-ux-precarga></codice-ux-precarga>
      </div>
    </div>
  </div>
</ng-template>

<codice-modal [id]="idModalEtiqueta">
  <div class="row">
    <div class="col-12">
      <h1>Agregar etiqueta</h1>
    </div>
    <div *ngIf="contactoSeleccionado && !cargandoEtiquetas" class="col-12">
      <small class="text-muted">
        {{ contactoSeleccionado.nombre }}
      </small>
    </div>
    <hr />
  </div>

  <codice-etiquetas-editor
    *ngIf="contactoSeleccionado && !cargandoEtiquetas"
    [existentes]="contactoSeleccionado.etiquetas"
    (guardar)="etiquetaGuardar(contactoSeleccionado, $event)"
    (eliminar)="etiquetaEliminar(contactoSeleccionado, $event)"
  >
  </codice-etiquetas-editor>

  <div *ngIf="cargandoEtiquetas" class="col-12">
    <h1 class="display-1"><i class="fas fa-spin-fast fa-sync"></i></h1>
  </div>
</codice-modal>
