<app-crear-modificar [mostrarCrearModificar]='mostrarCrearModificar' [crearModificar]='crearModificar' [esModificacion]='this.idModificar' [nombreElemento]='"color"' [esMasculino]='true'>
    <ng-container *ngIf="mostrarCrearModificar">

        <form (ngSubmit)="onSubmit(formulario.value, formulario.valid, $event)" [formGroup]="formulario">

            <div class="row">
                <div class="form-group col-12 col-md-6 col-lg-4">
                    <input formControlName="color" type="text" class="form-control" [ngClass]="{'is-invalid': _validacionesService.invalid(color_FB), 'is-valid':_validacionesService.valid(color_FB)}" name="color" id="color" placeholder="Ingresa el nombre del color">
                    <small id="El color del equipo" class="form-text text-muted">Ingresa el nombre del color</small>
                    <app-validacion-inputs [campo]="color_FB"></app-validacion-inputs>
                </div>


            </div>

            <a (click)="cancelar()" class="btn btn-danger mr-3 text-white" role="button">Cancelar</a>
            <!-- <button [disabled]='formulario.invalid' class="btn btn-success mr-3 text-white" role="button"> -->
            <button [disabled]='formulario.invalid || desactivarBotonEnGuardado ' class="btn btn-success mr-3 text-white" role="button">
                    <span *ngIf="this.idModificar"> <i class="fas fa-edit "></i>  Guardar cambios</span>
                    <span *ngIf="!this.idModificar"> <i class="fas fa-save "></i>  Guardar</span>
        </button>

        </form>

    </ng-container>
</app-crear-modificar>