<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="reporte; else noHayReporte">
                    <h1>Ordenes disponibles</h1>

                    <table class="table table-bordered table-condensed table-hover  ">
                        <thead class='bg-dark text-white text-center h-25'>
                            <tr>
                                <th>Cliente</th>
                                <th>Pedido</th>
                                <th>F. Ped</th>
                                <th>Modelo</th>
                                <th>B</th>
                                <th>Marca Laser</th>
                                <th>Prioridad Mayor</th>
                                <th>ORDENES DISPONIBLES</th>
                                <th>Desglose</th>
                                <th>Observaciones</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let keyPedido of keys(reporte.contenedorDePedidos.pedido)">
                                <td> {{reporte.contenedorDePedidos.pedido[keyPedido].cliente}}</td>
                                <td>{{keyPedido}}</td>
                                <td>{{reporte.contenedorDePedidos.pedido[keyPedido].fechaDePedido | date}}</td>
                                <td>{{reporte.contenedorDePedidos.pedido[keyPedido].modeloCompleto | modeloCompleto}}</td>
                                <td>
                                    <strong *ngIf="reporte.contenedorDePedidos.pedido[keyPedido].modeloCompleto.esBaston">B</strong>
                                </td>
                                <td>
                                    <ng-container *ngIf="reporte.contenedorDePedidos.pedido[keyPedido].laserCliente">
                                        {{reporte.contenedorDePedidos.pedido[keyPedido].laserCliente.laser}}

                                    </ng-container>

                                </td>
                                <td>
                                    <app-nivel-urgencia [nivel]='reporte.contenedorDePedidos.pedido[keyPedido].prioridadMayor'></app-nivel-urgencia>
                                </td>
                                <td>{{reporte.contenedorDePedidos.pedido[keyPedido].ordenes.length}} | {{reporte.contenedorDePedidos.pedido[keyPedido].cantidadDePrioridadMayor}} de prioridad mayor

                                </td>

                                <td>
                                    <span *ngFor="let keyPaso of keys(reporte.contenedorDePedidos.pedido[keyPedido].ordenesDisponibles)">
                                    Paso {{keyPaso}}: <strong>{{reporte.contenedorDePedidos.pedido[keyPedido].ordenesDisponibles[keyPaso]}} </strong>
                                    {{reporte.contenedorDePedidos.pedido[keyPedido].ordenesDisponibles[keyPaso]>1? 'ordenes disponibles': 'orden disponible'}}
                                    <ng-container *ngIf="keys(reporte.contenedorDePedidos.pedido[keyPedido].ordenesDisponibles).pop() !== keyPaso ">
                                      <br>
                                      <hr>
  
                                    </ng-container>
                                    
  
  
                                </span>
                                </td>
                                <td>{{reporte.contenedorDePedidos.pedido[keyPedido].observaciones}}</td>

                            </tr>
                        </tbody>
                    </table>

                </ng-container>

                <ng-template #noHayReporte>
                    <h1 class='display-1'>No hay ordenes <strong>disponibles.</strong> </h1>
                    Puedes revisar el reporte a detalle para ver las ordenes pendientes.
                </ng-template>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="reporte; else noHayReporte">
                    <h1>Ordenes trabajando</h1>

                    <table class="table table-bordered table-condensed table-hover  ">
                        <thead class='bg-dark text-white text-center h-25'>
                            <tr>
                                <th>Maquina</th>
                                <th>Cliente</th>
                                <th>F. Ped</th>
                                <th>Modelo</th>
                                <th>B</th>
                                <th>Marca Laser</th>
                                <th>Prioridad</th>
                                <th>Hora de inicio</th>
                                <th>Tiempo transcurrido</th>
                                <th>Observaciones</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let keyMaquina of keys(reporte.contenedorDePedidosTrabajando.maquina)">
                                <td><strong>{{keyMaquina}}</strong></td>
                                <td> {{reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].cliente}}</td>
                                <td>{{reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].fechaDePedido | date}}</td>
                                <td>{{reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].modeloCompleto | modeloCompleto}}</td>
                                <td>
                                    <strong *ngIf="reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].modeloCompleto.esBaston">B</strong>
                                </td>
                                <td>
                                    <ng-container *ngIf="reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].laserCliente">
                                        {{reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].laserCliente.laser}}

                                    </ng-container>

                                </td>
                                <td>
                                    <app-nivel-urgencia [nivel]='reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].prioridadMayor'></app-nivel-urgencia>
                                </td>
                                <td>
                                    {{formatearFecha(reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].ordenTrabajando.ubicacionActual.recepcion) | fecha: 'LLL' }}
                                </td>


                                <td>
                                    <!-- Este es para ejecutar la funcion para este dato -->
                                    {{calcularFecha( reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].ordenTrabajando.ubicacionActual.recepcion, keyMaquina ) }}
                                    <ng-container *ngIf="mostrarDiferenciaDeHora">

                                        {{objetoContenedorDeTiempos[keyMaquina].transcurrido | date:'HH:mm:ss'}}
                                    </ng-container>

                                </td>
                                <td>{{reporte.contenedorDePedidosTrabajando.maquina[keyMaquina].observaciones}}</td>

                            </tr>
                        </tbody>
                    </table>

                </ng-container>

                <ng-template #noHayReporte>
                    <h1 class='display-1'>No hay ordenes <strong>disponibles.</strong> </h1>
                    Puedes revisar el reporte a detalle para mas informacion.
                </ng-template>


            </div>
        </div>
    </div>
</div>