<div class="justify-content-between d-flex aling-items-center">
  <h1 *ngIf="proveedor?._id">{{ proveedor.nombre }}</h1>
  <h1>
    <span class="text-success" *ngIf="!proveedor?._id">
      <i class="fas fa-plus-square    "></i> Crear <b>proveedor</b> </span
    ><span class="text-warning" *ngIf="proveedor?._id">
      <i class="fas fa-pen-square"></i> Modificar <b>proveedor</b>
    </span>
  </h1>
</div>

<form [formGroup]="formulario">
  <div class="row">
    <!-- 
    =====================================
     nombre
    =====================================
    -->
    <div class="col-4">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(nombre_FB),
            'is-valid': vs.valid(nombre_FB)
          }"
          type="text"
          class="form-control"
          formControlName="nombre"
        />
        <small id="helpId" class="form-text text-muted"
          >Nombre del proveedor</small
        >
        <app-validacion-inputs [campo]="nombre_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END nombre
    =====================================
    -->

    <!-- 
    =====================================
     razonSocial
    =====================================
    -->
    <div class="col-4">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(razonSocial_FB),
            'is-valid': vs.valid(razonSocial_FB)
          }"
          type="text"
          class="form-control"
          formControlName="razonSocial"
        />
        <small id="helpId" class="form-text text-muted">Razon social</small>
        <app-validacion-inputs [campo]="razonSocial_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END razonSocial
    =====================================
    -->

    <!-- 
    =====================================
     tiempoDeEntregaEstimadoEnDias
    =====================================
    -->
    <div class="col-2">
      <div class="form-group">
        <input
          title="El tiempo de entrega en dias corridos. Una estimacion que el proveedor debe de dar y poder cumplir el 90% de las veces. Tambien se le llama Order Lead time (OLT)"
          [ngClass]="{
            'is-invalid': vs.invalid(tiempoDeEntregaEstimadoEnDias_FB),
            'is-valid': vs.valid(tiempoDeEntregaEstimadoEnDias_FB)
          }"
          type="number"
          class="form-control"
          formControlName="tiempoDeEntregaEstimadoEnDias"
        />
        <small id="helpId" class="form-text text-muted"
          >Tiempo de entrega estimado en dias corridos</small
        >
        <app-validacion-inputs
          [campo]="tiempoDeEntregaEstimadoEnDias_FB"
        ></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END tiempoDeEntregaEstimadoEnDias
    =====================================
    -->

    <!-- 
    =====================================
     rfc
    =====================================
    -->
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid': vs.invalid(rfc_FB),
            'is-valid': vs.valid(rfc_FB)
          }"
          type="text"
          class="form-control"
          formControlName="rfc"
        />
        <small id="helpId" class="form-text text-muted">RFC</small>
        <app-validacion-inputs [campo]="rfc_FB"></app-validacion-inputs>
      </div>
    </div>
    <!-- 
    =====================================
     END rfc
    =====================================
    -->

    <!-- 
    =====================================
    Domicilios
    =====================================
    -->

    <div class="col-12">
      <hr />
    </div>

    <!-- 
    =====================================
     Array domicilios 
    =====================================
    -->
    <ng-container formArrayName="domicilios">
      <ng-container
        *ngFor="let domicilio of domicilios_FB.controls; let i = index"
      >
        <ng-container [formGroupName]="i">
          <div class="d-flex justify-content-between align-items-center col-12">
            <h3>Domicilio</h3>

            <a
              (click)="eliminarDomicilio(i)"
              class=" btn btn-danger btn-xs text-white"
              ><i class="fas fa-times"></i> Eliminar</a
            >
          </div>

          <!-- 
=====================================
 domicilio - calle
=====================================
-->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_calle(i)),
                  'is-valid': vs.valid(domicilio_FB_calle(i))
                }"
                type="text"
                class="form-control"
                formControlName="calle"
              />
              <small id="helpId" class="form-text text-muted">Calle</small>
              <app-validacion-inputs
                [campo]="domicilio_FB_calle(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - calle
=====================================
-->

          <!-- 
=====================================
 domicilio - numeroInterior
=====================================
-->
          <div class="col-2">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_numeroInterior(i)),
                  'is-valid': vs.valid(domicilio_FB_numeroInterior(i))
                }"
                type="text"
                class="form-control"
                formControlName="numeroInterior"
              />
              <small id="helpId" class="form-text text-muted"
                >Numero interior</small
              >
              <app-validacion-inputs
                [campo]="domicilio_FB_numeroInterior(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - numeroInterior
=====================================
-->

          <!-- 
=====================================
 domicilio - numeroExterior
=====================================
-->
          <div class="col-2">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_numeroExterior(i)),
                  'is-valid': vs.valid(domicilio_FB_numeroExterior(i))
                }"
                type="text"
                class="form-control"
                formControlName="numeroExterior"
              />
              <small id="helpId" class="form-text text-muted"
                >Numero exterior</small
              >
              <app-validacion-inputs
                [campo]="domicilio_FB_numeroExterior(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - numeroExterior
=====================================
-->

          <!-- 
=====================================
 domicilio - colonia
=====================================
-->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_colonia(i)),
                  'is-valid': vs.valid(domicilio_FB_colonia(i))
                }"
                type="text"
                class="form-control"
                formControlName="colonia"
              />
              <small id="helpId" class="form-text text-muted">Colonia</small>
              <app-validacion-inputs
                [campo]="domicilio_FB_colonia(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - colonia
=====================================
-->

          <!-- 
=====================================
 domicilio - codigoPostal
=====================================
-->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_codigoPostal(i)),
                  'is-valid': vs.valid(domicilio_FB_codigoPostal(i))
                }"
                type="text"
                class="form-control"
                formControlName="codigoPostal"
              />
              <small id="helpId" class="form-text text-muted">CP</small>
              <app-validacion-inputs
                [campo]="domicilio_FB_codigoPostal(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - codigoPostal
=====================================
-->

          <!-- 
=====================================
 domicilio - ciudad
=====================================
-->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_ciudad(i)),
                  'is-valid': vs.valid(domicilio_FB_ciudad(i))
                }"
                type="text"
                class="form-control"
                formControlName="ciudad"
              />
              <small id="helpId" class="form-text text-muted">Ciudad</small>
              <app-validacion-inputs
                [campo]="domicilio_FB_ciudad(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - ciudad
=====================================
-->

          <!-- 
=====================================
 domicilio - estado
=====================================
-->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_estado(i)),
                  'is-valid': vs.valid(domicilio_FB_estado(i))
                }"
                type="text"
                class="form-control"
                formControlName="estado"
              />
              <small id="helpId" class="form-text text-muted">Estado</small>
              <app-validacion-inputs
                [campo]="domicilio_FB_estado(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - estado
=====================================
-->

          <!-- 
=====================================
 domicilio - pais
=====================================
-->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_pais(i)),
                  'is-valid': vs.valid(domicilio_FB_pais(i))
                }"
                type="text"
                class="form-control"
                formControlName="pais"
              />
              <small id="helpId" class="form-text text-muted">pais</small>
              <app-validacion-inputs
                [campo]="domicilio_FB_pais(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - pais
=====================================
-->

          <!-- 
=====================================
 domicilio - urlMaps
=====================================
-->
          <div class="col-6">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(domicilio_FB_urlMaps(i)),
                  'is-valid': vs.valid(domicilio_FB_urlMaps(i))
                }"
                type="text"
                class="form-control"
                formControlName="urlMaps"
              />
              <small id="helpId" class="form-text text-muted"
                >Url Google Maps</small
              >
              <app-validacion-inputs
                [campo]="domicilio_FB_urlMaps(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
=====================================
 END domicilio - urlMaps
=====================================
-->

          <div class="col-12">
            <hr />
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- 
    =====================================
     END Array domicilios 
    =====================================
    -->

    <div class="col-12">
      <a
        (click)="addDomicilio()"
        title="Agregar un domicilio"
        class="btn btn-primary btn-xs text-white"
        role="button"
      >
        <i class="fas fa-plus-circle"></i> Domicilio</a
      >
    </div>
    <div class="col-12">
      <hr />
    </div>

    <!-- 
    =====================================
     END Domicilios
    =====================================
    -->

    <!-- 
    =====================================
     contactos
    =====================================
    -->

    <!-- 
      =====================================
       Array contactos 
      =====================================
      -->
    <ng-container formArrayName="contactos">
      <ng-container *ngFor="let dummy of contactos_FB.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="d-flex justify-content-between align-items-center col-12">
            <h3>Contacto</h3>

            <a
              (click)="eliminarContacto(i)"
              class=" btn btn-danger btn-xs text-white"
              ><i class="fas fa-times"></i> Eliminar</a
            >
          </div>

          <!-- 
        =====================================
         contacto - nombre
        =====================================
        -->
          <div class="col-6">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(contacto_FB_nombre(i)),
                  'is-valid': vs.valid(contacto_FB_nombre(i))
                }"
                type="text"
                class="form-control"
                formControlName="nombre"
              />
              <small id="helpId" class="form-text text-muted">Nombre</small>
              <app-validacion-inputs
                [campo]="contacto_FB_nombre(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
        =====================================
         END contacto - nombre
        =====================================
        -->

          <!-- 
        =====================================
         contacto - telefono
        =====================================
        -->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(contacto_FB_telefono(i)),
                  'is-valid': vs.valid(contacto_FB_telefono(i))
                }"
                type="text"
                class="form-control"
                formControlName="telefono"
              />
              <small id="helpId" class="form-text text-muted">Telefono</small>
              <app-validacion-inputs
                [campo]="contacto_FB_telefono(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
        =====================================
         END contacto - telefono
        =====================================
        -->

          <!-- 
        =====================================
         contacto - correo
        =====================================
        -->
          <div class="col-6">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(contacto_FB_correo(i)),
                  'is-valid': vs.valid(contacto_FB_correo(i))
                }"
                type="email"
                class="form-control"
                formControlName="correo"
              />
              <small id="helpId" class="form-text text-muted"
                >Correo electronico</small
              >
              <app-validacion-inputs
                [campo]="contacto_FB_correo(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
        =====================================
         END contacto - correo
        =====================================
        -->

          <!-- 
        =====================================
         contacto - puesto
        =====================================
        -->
          <div class="col-4">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(contacto_FB_puesto(i)),
                  'is-valid': vs.valid(contacto_FB_puesto(i))
                }"
                type="text"
                class="form-control"
                formControlName="puesto"
              />
              <small id="helpId" class="form-text text-muted"
                >Puesto del contacto</small
              >
              <app-validacion-inputs
                [campo]="contacto_FB_puesto(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
        =====================================
         END contacto - puesto
        =====================================
        -->

          <div class="col-12">
            <hr />
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- 
      =====================================
       END Array contactos 
      =====================================
      -->

    <div class="col-12">
      <a
        (click)="addContacto()"
        title="Agregar un contacto"
        class="btn btn-primary btn-xs text-white"
        role="button"
      >
        <i class="fas fa-plus-circle"></i> Contacto</a
      >
    </div>
    <div class="col-12">
      <hr />
    </div>

    <!-- 
    =====================================
     END contactos
    =====================================
    -->

    <!-- 
    =====================================
     Articulos
    =====================================
    -->

    <!-- 
    =====================================
     Array relacionArticulos 
    =====================================
    -->
    <ng-container formArrayName="relacionArticulos">
      <div *ngIf="relacionArticulos_FB.controls.length > 0" class="col-12">
        <h3>Relacion con articulos</h3>
      </div>
      <ng-container
        *ngFor="let dummy of relacionArticulos_FB.controls; let i = index"
      >
        <ng-container [formGroupName]="i">
          <div *ngIf="i > 0" class="col-12">
            <hr />
          </div>

          <!-- 
          =====================================
           Boton eliminar
          =====================================
          -->

          <div class="col-6 col-sm-2 col-lg-1">
            <a
              (click)="eliminarRelacioniArticulo(i)"
              class=" btn btn-danger btn-xs text-white"
              ><i class="fas fa-times"></i> Eliminar</a
            >
          </div>

          <!-- 
          =====================================
           END Boton eliminar
          =====================================
          -->
          <!-- 
              =====================================
               relacionArticulo - precioUnitario
              =====================================
              -->

          <div class="col-12 col-sm-5 col-lg-3">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(
                    relacionArticulo_FB_precioUnitario(i)
                  ),
                  'is-valid': vs.valid(relacionArticulo_FB_precioUnitario(i))
                }"
                type="number"
                class="form-control"
                formControlName="precioUnitario"
              />
              <small id="helpId" class="form-text text-muted"
                >Precio unitario</small
              >
              <app-validacion-inputs
                [campo]="relacionArticulo_FB_precioUnitario(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
              =====================================
               END relacionArticulo - precioUnitario
              =====================================
              -->

          <!-- 
              =====================================
               relacionArticulo - divisa
              =====================================
              -->
          <div class="col-12 col-sm-5 col-lg-3">
            <div class="form-group">
              <select
                [ngClass]="{
                  'is-invalid': vs.invalid(relacionArticulo_FB_divisa(i)),
                  'is-valid': vs.valid(relacionArticulo_FB_divisa(i))
                }"
                class="form-control"
                formControlName="divisa"
              >
                <option *ngFor="let divisa of divisas" [value]="divisa._id">
                  {{ divisa.nombre }}</option
                >
              </select>

              <small id="helpId" class="form-text text-muted">Divisa</small>
              <app-validacion-inputs
                [campo]="relacionArticulo_FB_divisa(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
              =====================================
               END relacionArticulo - divisa
              =====================================
              -->

          <!-- 
            =====================================
             relacionArticulo - item
            =====================================
            -->
          <div class="col-12 col-sm-6 col-lg-5">
            <div class="form-group">
              <app-data-list
                (ejecutarBusquedaDeItems)="
                  ejecutarOperacionesDeBusquedaArticulos($event)
                "
                (elementoSeleccionado)="articuloSeleccionado($event, i)"
                [valid]="vs.valid(relacionArticulo_FB_item(i))"
                [invalid]="vs.invalid(relacionArticulo_FB_item(i))"
                (touched)="relacionArticulo_FB_item(i).markAsTouched()"
                [cargarModifcacion]="cargarModificacionDeItem(i)"
              ></app-data-list>
              <input
                type="hidden"
                class="form-control"
                formControlName="item"
              />
              <small id="helpId" class="form-text text-muted">Articulo</small>
              <app-validacion-inputs
                [campo]="relacionArticulo_FB_item(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
            =====================================
             END relacionArticulo - item
            =====================================
            -->

          <div class="col-sm-12 col-lg-1"></div>

          <!-- 
            =====================================
             relacionArticulo - tiempoDeEntregaEnDias
            =====================================
            -->
          <div class="col-6 col-sm-3 col-lg-2">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(
                    relacionArticulo_FB_tiempoDeEntregaEnDias(i)
                  ),
                  'is-valid': vs.valid(
                    relacionArticulo_FB_tiempoDeEntregaEnDias(i)
                  )
                }"
                type="number"
                class="form-control"
                formControlName="tiempoDeEntregaEnDias"
              />
              <small id="helpId" class="form-text text-muted"
                >Tiempo de entrega en dias aproximado</small
              >
              <app-validacion-inputs
                [campo]="relacionArticulo_FB_tiempoDeEntregaEnDias(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
            =====================================
             END relacionArticulo - tiempoDeEntregaEnDias
            =====================================
            -->

          <!-- 
            =====================================
             relacionArticulo - prioridad
            =====================================
            -->
          <div class="col-6 col-sm-5 col-lg-3">
            <div class="form-group">
              <select
                formControlName="prioridad"
                [ngClass]="{
                  'is-invalid': vs.invalid(relacionArticulo_FB_prioridad(i)),
                  'is-valid': vs.valid(relacionArticulo_FB_prioridad(i))
                }"
                class="form-control"
              >
                <option value="1">Mejor proveedor</option>
                <option value="2">Proveedor regular</option>
                <option value="3">Ultima opcion</option>
              </select>

              <small id="helpId" class="form-text text-muted"
                >Prioridad del proveedor para este articulo</small
              >
              <app-validacion-inputs
                [campo]="relacionArticulo_FB_prioridad(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
            =====================================
             END relacionArticulo - prioridad
            =====================================
            -->
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- 
    =====================================
     END Array relacionArticulos 
    =====================================
    -->

    <div class="col-12">
      <a
        (click)="addRelacionArticulo()"
        title="Agregar una relacion con un articulo"
        class="btn btn-primary btn-xs text-white"
        role="button"
      >
        <i class="fas fa-plus-circle"></i> Articulo</a
      >
    </div>
    <div class="col-12">
      <hr />
    </div>

    <!-- 
    =====================================
     END Articulos
    =====================================
    -->

    <!-- 
    =====================================
     Metodos de pago aceptados
    =====================================
    -->
    <div class="col-12">
      <h3>Metodos de pago</h3>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <input #inputMetodoDePago type="text" class="form-control valid" />
          <a
            (click)="agregarMetodoDePago(inputMetodoDePago.value)"
            class="btn btn-success text-white"
            role="button"
          >
            <i class="fas fa-plus-circle"></i
          ></a>
        </div>
        <small id="helpId" class="form-text text-muted"
          >Ingresa metodo de pago</small
        >
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="list-group">
        <a class="text-white list-group-item list-group-item-action active"
          >Metodos de pago aceptados</a
        >

        <a
          *ngIf="metodosDePagoAceptados_FB.controls.length === 0"
          class="list-group-item list-group-item-action bg-dark text-white list-group-item-dark disabled"
          >No hay metodos de pago aceptados</a
        >
        <a
          *ngFor="
            let metodo of metodosDePagoAceptados_FB.controls;
            let i = index
          "
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ metodo.value }}</span>
            <a
              (click)="eliminarMetodoDePago(i)"
              class="btn btn-danger btn-sm text-white"
              role="button"
            >
              <i class="fas fa-times-circle"></i
            ></a>
          </div>
        </a>
      </div>
    </div>

    <!-- 
    =====================================
     END Metodos de pago aceptados
    =====================================
    -->

    <div class="col-12">
      <hr />
    </div>

    <!-- 
    =====================================
     Condiciones de pago
    =====================================
    -->
    <div class="col-12">
      <h3>Condiciones de pago</h3>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <input #inputCondicionesDePago type="text" class="form-control" />
          <a
            (click)="agregarCondicionesDePago(inputCondicionesDePago.value)"
            class="btn btn-success text-white"
            role="button"
          >
            <i class="fas fa-plus-circle"></i
          ></a>
        </div>
        <small id="helpId" class="form-text text-muted"
          >Ingresa condicion de pago</small
        >
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="list-group">
        <a class="text-white list-group-item list-group-item-action active"
          >Condiciones de pago</a
        >

        <a
          *ngIf="condicionesDePago_FB.controls.length === 0"
          class="list-group-item list-group-item-action bg-dark text-white list-group-item-dark disabled"
          >No hay Condiciones de pago</a
        >
        <a
          *ngFor="let metodo of condicionesDePago_FB.controls; let i = index"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ metodo.value }}</span>
            <a
              (click)="eliminarCondicionesDePago(i)"
              class="btn btn-danger btn-sm text-white"
              role="button"
            >
              <i class="fas fa-times-circle"></i
            ></a>
          </div>
        </a>
      </div>
    </div>

    <!-- 
    =====================================
     END Condiciones de pago
    =====================================
    -->
    <!-- 
    =====================================
     Formas de pago
    =====================================
    -->
    <div class="col-12">
      <h3>Formas de pago</h3>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <input #inputFormasDePago type="text" class="form-control" />
          <a
            (click)="agregarFormasDePago(inputFormasDePago.value)"
            class="btn btn-success text-white"
            role="button"
          >
            <i class="fas fa-plus-circle"></i
          ></a>
        </div>
        <small id="helpId" class="form-text text-muted"
          >Ingresa forma de pago</small
        >
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="list-group">
        <a class="text-white list-group-item list-group-item-action active"
          >Formas de pago</a
        >

        <a
          *ngIf="formasDePago_FB.controls.length === 0"
          class="list-group-item list-group-item-action bg-dark text-white list-group-item-dark disabled"
          >No hay Formas de pago</a
        >
        <a
          *ngFor="let metodo of formasDePago_FB.controls; let i = index"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ metodo.value }}</span>
            <a
              (click)="eliminarFormasDePago(i)"
              class="btn btn-danger btn-sm text-white"
              role="button"
            >
              <i class="fas fa-times-circle"></i
            ></a>
          </div>
        </a>
      </div>
    </div>

    <!-- 
    =====================================
     END Formas de pago
    =====================================
    -->

    <div class="col-12">
      <hr />
    </div>

    <!-- 
    =====================================
     Cuentas
    =====================================
    -->
    <!-- 
    =====================================
     Array cuentas 
    =====================================
    -->

    <div *ngIf="cuentas_FB.controls.length > 0" class="col-12">
      <hr />
    </div>
    <ng-container formArrayName="cuentas">
      <ng-container *ngFor="let dummy of cuentas_FB.controls; let i = index">
        <ng-container [formGroupName]="i">
          <!-- 
        =====================================
         cuentas - clabe
        =====================================
        -->
          <div class="col-12 col-sm-6 col-lg-5">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(cuentas_FB_clabe(i)),
                  'is-valid': vs.valid(cuentas_FB_clabe(i))
                }"
                type="text"
                class="form-control"
                formControlName="clabe"
              />
              <small id="helpId" class="form-text text-muted">Clabe</small>
              <app-validacion-inputs
                [campo]="cuentas_FB_clabe(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
        =====================================
         END cuentas - clabe
        =====================================
        -->

          <!-- 
        =====================================
         cuentas - banco
        =====================================
        -->
          <div class="col-12 col-sm-6 col-lg-5">
            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': vs.invalid(cuentas_FB_banco(i)),
                  'is-valid': vs.valid(cuentas_FB_banco(i))
                }"
                type="text"
                class="form-control"
                formControlName="banco"
              />
              <small id="helpId" class="form-text text-muted">Banco</small>
              <app-validacion-inputs
                [campo]="cuentas_FB_banco(i)"
              ></app-validacion-inputs>
            </div>
          </div>
          <!-- 
        =====================================
         END cuentas - banco
        =====================================
        -->

          <!-- 
        =====================================
         Boton para eliminar
        =====================================
        -->
          <div class="col-12 col-lg-2 mb-3 mb-sm-0">
            <a
              (click)="eliminarRelacionCuenta(i)"
              class=" btn btn-danger btn-xs text-white mr-3"
              ><i class="fas fa-times"></i> Eliminar</a
            >
          </div>
          <!-- 
        =====================================
         END Boton para eliminar
        =====================================
        -->
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- 
    =====================================
     END Array cuentas 
    =====================================
    -->

    <div class="col-12">
      <a
        (click)="addRelacionCuenta()"
        title="Agregar una relacion con una cuenta"
        class="btn btn-primary btn-xs text-white"
        role="button"
      >
        <i class="fas fa-plus-circle"></i> Cuenta</a
      >
    </div>
    <div class="col-12">
      <hr />
    </div>
    <!-- 
    =====================================
     END Cuentas
    =====================================
    -->
    <br />
  </div>

  <br />

  <button
    (click)="submit(formulario.value, formulario.valid, $event)"
    [disabled]="formulario.invalid"
    class="text-white btn btn-success mr-3"
    role="button"
  >
    <i class="fas fa-save    "></i> Guardar
  </button>
  <a
    data-toggle="modal"
    data-target="#crearModificarProveedorModal"
    (click)="cancelar()"
    class="text-white btn btn-danger"
    role="button"
  >
    <i class="fas fa-times    "></i> Cancelar</a
  >
</form>
