<app-general [cbCrear]='cbCrear()' [cbBuscar]='cbBuscar()' [mostrarLista]='mostrarLista' [crearModificar]='crearModificar' [paginador]='_paginadorService'>
    <ng-container *ngIf="mostrarLista">

        <!-- 
      =====================================
       BODY
      =====================================
      -->
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th class='text-center'>Requiere produccion</th>

                    <th>Observaciones</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let elemento of elementos">
                    <td><button (click)="mostrarDetalle(elemento._id)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalDetalle" role="button"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                    <td>{{elemento.nombre}}</td>
                    <td>{{elemento.departamento.nombre}}</td>
                    <td class="text-center">

                        <i *ngIf="elemento.requiereProduccion" class="fa fa-check text-info fa-2x"></i>
                        <i *ngIf="!elemento.requiereProduccion" class="fa fa-times text-danger  fa-2x"></i>

                    </td>
                    <td>{{elemento.observaciones}}</td>

                    <td><a (click)="editar( elemento._id, componenteCrearModificar )" class="btn btn-success btn-sm"><i class="fas fa-edit text-white    "></i></a></td>
                    <td><a (click)="eliminar( elemento._id)" class="btn btn-danger btn-sm"><i class="fas fa-times  text-white "></i></a></td>
                </tr>

            </tbody>
        </table>

        <!-- 
      =====================================
       END BODY
      =====================================
      -->

    </ng-container>
</app-general>

<!-- 
=====================================
Importante fuera de app-general
=====================================
-->

<app-procesos-crear-modificar #componenteCrearModificar [cbAnimar]='this.cbAnimar' [cbCargarElementos]='this.cbCargarElementos' [idModificar]='this.idModificar' [mostrarCrearModificar]='this.mostrarCrearModificar' [crearModificar]='this.crearModificar'></app-procesos-crear-modificar>
<app-procesos-detalle [detalleElemento]='elementoDetalle'> </app-procesos-detalle>
<!-- 
=====================================
END Importante fuera de app-general
=====================================
-->