<ng-container *ngIf="cargado(); else cargandoTemplate">
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="justify-content-between d-flex aling-items-center">
            <h1 *ngIf="proceso?._id">{{ proceso.nombre }}</h1>
            <h1>
              <span class="text-success" *ngIf="!proceso?._id">
                <i class="fas fa-plus-square    "></i> Crear
                <b>proceso</b> </span
              ><span class="text-warning" *ngIf="proceso?._id">
                <i class="fas fa-pen-square"></i> Modificar <b>proceso</b>
              </span>
            </h1>
          </div>

          <hr />

          <form [formGroup]="formulario">
            <div class="row">
              <!-- 
                      =====================================
                       nombre
                      =====================================
                      -->
              <div class="col-6">
                <div class="form-group">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('nombre')),
                      'is-valid': vs.valid(f('nombre'))
                    }"
                    type="text"
                    class="form-control"
                    formControlName="nombre"
                  />
                  <small id="helpId" class="form-text text-muted"
                    >Nombre del proceso</small
                  >
                  <app-validacion-inputs
                    [campo]="f('nombre')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                      =====================================
                       END nombre
                      =====================================
                      -->

              <!-- 
                      =====================================
                       departamento
                      =====================================
                      -->
              <div class="col-6">
                <div class="form-group">
                  <select
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('departamento')),
                      'is-valid': vs.valid(f('departamento'))
                    }"
                    class="form-control"
                    formControlName="departamento"
                    class="form-control"
                  >
                    <option *ngFor="let dep of departamentos" [ngValue]="dep._id">{{
                      dep.nombre
                    }}</option>
                  </select>

                  <small id="helpId" class="form-text text-muted"
                    >Departamento</small
                  >
                  <app-validacion-inputs
                    [campo]="f('departamento')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                      =====================================
                       END departamento
                      =====================================
                      -->

              <!-- 
                      =====================================
                       observaciones
                      =====================================
                      -->
              <div class="col-6">
                <div class="form-group">
                  <textarea
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('observaciones')),
                      'is-valid': vs.valid(f('observaciones'))
                    }"
                    class="form-control"
                    formControlName="observaciones"
                    cols="10"
                    rows="10"
                  ></textarea>
                  <small id="helpId" class="form-text text-muted"
                    >Observaciones</small
                  >
                  <app-validacion-inputs
                    [campo]="f('observaciones')"
                  ></app-validacion-inputs>
                </div>
              </div>
              <!-- 
                      =====================================
                       END observaciones
                      =====================================
                      -->
              <!-- 
                      =====================================
                       requiereProduccion
                      =====================================
                      -->
              <div class="col-6">
                <div class="form-check">
                  <input
                    [ngClass]="{
                      'is-invalid': vs.invalid(f('requiereProduccion')),
                      'is-valid': vs.valid(f('requiereProduccion'))
                    }"
                    type="checkbox"
                    formControlName="requiereProduccion"
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Requiere produccion</label
                  >
                </div>

                <app-validacion-inputs
                  [campo]="f('requiereProduccion')"
                ></app-validacion-inputs>
              </div>
              <!-- 
                      =====================================
                       END requiereProduccion
                      =====================================
                      -->
            </div>

            <div cdkDropListGroup class="row">
              <!-- 
            =====================================
             Maquinas disponibles
            =====================================
            -->
              <div class="col-6">
                <ul class="list-group">
                  <li
                    class="list-group-item  active d-flex justify-content-between align-items-center"
                  >
                    Maquinas

                    <div class="form-group d-flex align-items-center">
                      <input
                        type="text"
                        class="form-control"
                        #inputB
                        (keyup)="filtrar(inputB.value)"
                        placeholder="Filtrar maquinas"
                      />
                    </div>

                    <i
                      *ngIf="filtroActivo"
                      class="fas fa-search  animated zoomIn infinite  "
                    ></i>
                  </li>

                  <div
                    id="maquinas"
                    cdkDropList
                    [cdkDropListData]="maquinas"
                    (cdkDropListDropped)="drop($event)"
                    style="overflow-y: auto; max-height: 400px ;"
                  >
                    <ng-container *ngFor="let maquina of maquinas">
                      <li
                        cdkDrag
                        href="javascript:void(0)"
                        class="list-group-item "
                        [ngClass]="{
                          'no-mostrar': filtroActivo
                            ? !mostrar.includes(maquina._id)
                            : false
                        }"
                      >
                        {{ maquina.nombre }} -
                        {{ maquina.clave }}
                      </li>
                    </ng-container>
                    <li
                      *ngIf="maquinas.length === 0"
                      href="javascript:void(0)"
                      class="list-group-item "
                    >
                      Sin maquinas para seleccionar
                    </li>
                  </div>
                </ul>
              </div>

              <!-- 
            =====================================
             END Maquinas disponibles
            =====================================
            -->
              <!-- 
            =====================================
             Maquinas seleccionadas
            =====================================
            -->

              <div class="col-6">
                <ul class="list-group">
                  <li class="list-group-item active">Maquinas seleccionadas</li>

                  <div
                    id="maquinasSeleccionadas"
                    cdkDropList
                    [cdkDropListData]="maquinasSeleccionadas"
                    (cdkDropListDropped)="drop($event)"
                    style="overflow-y: auto; max-height: 400px;"
                  >
                    <li
                      cdkDrag
                      *ngFor="let maquina of maquinasSeleccionadas"
                      class="list-group-item"
                    >
                      {{ maquina.nombre }} -
                      {{ maquina.clave }}
                    </li>
                    <li
                      *ngIf="maquinasSeleccionadas.length === 0"
                      class="list-group-item disabled"
                    >
                      No has seleccionado maquinas
                    </li>
                  </div>
                </ul>
              </div>

              <!-- 
            =====================================
             END Maquinas seleccionadas
            =====================================
            --></div>

            <div class="row">
              <div class="col-12">
                <app-validacion-inputs
                  [campo]="formulario"
                ></app-validacion-inputs>

                <br />
                <br />

                <button
                  (click)="submit(formulario.value, formulario.invalid, $event)"
                  class="text-white btn btn-success mr-3 active"
                  role="button"
                >
                  <i class="fas fa-save    "></i> Guardar
                </button>
                <a
                  data-toggle="modal"
                  data-target="#crearReporteModal"
                  (click)="cancelar()"
                  class="text-white btn btn-danger active"
                  role="button"
                >
                  <i class="fas fa-times    "></i> Cancelar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #cargandoTemplate>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card shadow">
        <div
          class="card-body d-flex justify-content-between align-items-center text-center"
        >
          <h1 class="display-1">
            <i class="fas fa-sync fa-spin   "></i>
            <h2 *ngFor="let dato of object(cargando)">{{ cargando[dato] }}</h2>
          </h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
