<table id="myTable2" class="table tabla-delgada table-hover fixed_header">
  <thead class=" font-weight-bold" >
    <tr>
      <td (click)="sort(0)" >Modelo</td>
      <td (click)="sort(1)">Stock minimo</td>
      <td (click)="sort(2)">Stock maximo</td>
      <td (click)="sort(3)">Existencia</td>
      <td (click)="sort(4)">Pedir</td>
      <td (click)="sort(5)">En transito</td>
      <td class="no-print"></td>
    </tr>
  </thead>
  <tbody class="">
    <ng-container *ngFor="let reporte of reportes; let i = index">
      <tr>
        <td title="Modelo">{{ reporte.nombreCompleto }}</td>
        <td title="Stock minimo">{{ reporte.stockMinimo | number }}</td>
        <td title="Stock maximo">{{ reporte.stockMaximo | number }}</td>
        <td title="Existencia">{{ reporte.existencia | number }}</td>
        <td title="Pedir">{{ reporte.pedir | number }}</td>
        <td title="En transito">{{ reporte.enTransito | number }}</td>
        <td>
          <a
            *ngIf="reporte.ordenesEnTransito.length > 0"
            class="no-print"
            href="javascript:voit(0)"
            data-toggle="collapse"
            [attr.data-target]="'#a' + i"
          >
            <i class="fas fa-eye    "></i>

            Ordenes
          </a>
        </td>
      </tr>
      <tr [id]="'a' + i" class=" collapse">
        <td colspan="10">
          <div class="row">
            <div class="col-12 bg-white">
              <table class="table  shadow">
                <thead>
                  <tr>
                    <th>
                      <a
                        *ngIf="reporte.ordenesEnTransito.length > 0"
                        class="no-print btn btn-secondary btn-sm"
                        href="javascript:voit(0)"
                        data-toggle="collapse"
                        [attr.data-target]="'#a' + i"
                      >
                        <i class="fas fa-eye-slash    "></i>

                        Ocultar
                      </a>
                    </th>
                    <th>Orden</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let orden of reporte.ordenesEnTransito">
                    <td></td>
                    <td>{{ orden.orden }}</td>
                    <td>{{ orden.cliente.nombre }}</td>
                    <td>{{ orden.vendedor.nombre }}</td>
                    <td>{{ orden.cantidad | number }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
