<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <a
              class="btn btn-primary"
              href="javascript:void(0)"
              role="button"
              routerLink="crear"
            >
              <i class="fas fa-plus-circle"></i> Crear
            </a>
          </div>
          <div class="col-12 mt-2 mt-md-0 col-md-6">
            <codice-buscador
              (termino)="termino = $event"
              (escucharCarga)="estaCargandoBuscador = $event"
            >
            </codice-buscador>

            <span
              *ngFor="let tag of etiquetasFiltrandose"
              [codice-tag]="tag"
              [codice-tag-click]="eliminarEtiqueta(tag)"
              [codice-tag-click-icon-class]="[
                'fas',
                'fa-times-circle',
                'mr-1',
                'text-danger'
              ]"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <app-sku-lista
      (etiquetasFiltrandose)="etiquetasFiltrandose = $event"
      [etiquetasParaFiltrarse]="etiquetasFiltrandose"
      [termino]="termino"
      (estaCargando)="cargando = $event"
    >
    </app-sku-lista>
  </div>
</div>
